//
// Footer
// --------------------------------------------------

// OGL symbol and descriptive text
//
// Proper sizing and positioning to give an attractive and usable licensing statement for the Open Government License

.footer-ogl {
  .ogl-symbol {
    a {
      background: $footer-ogl-symbol-a-background;
      background-repeat:   no-repeat;
      background-position: 50% 0;
    }
  }
}
