//
// Grid
// --------------------------------------------------

// Grid visibility
//

.visible-col-1,
.visible-col-2,
.visible-col-3,
.visible-col-4,
.visible-col-5,
.visible-col-6,
.visible-col-7,
.visible-col-8,
.visible-col-9,
.visible-col-10,
.visible-col-11,
.visible-col-12,
.visible-col-13,
.visible-col-14,
.visible-col-15,
.visible-col-16,
.visible-col-17,
.visible-col-18,
.visible-col-19,
.visible-col-20,
.visible-col-21,
.visible-col-22,
.visible-col-23,
.visible-col-24 {
  padding-top: 15px;
  padding-bottom: 15px;
}

.visible-col-1 {
  background: #2E358B;
}

.visible-col-2 {
  background: #D53880;
}

.visible-col-3 {
  background: #B10E1E;
}

.visible-col-4 {
  background: #F47738;
}

.visible-col-5 {
  background: #006435;
}

.visible-col-6 {
  background: #005EA5;
}

.visible-col-7 {
background: #6F72AF;
}

.visible-col-8 {
background: #F499BE;
}

.visible-col-9 {
background: #DF3034;
}

.visible-col-10 {
background: #FFBF47;
}

.visible-col-11 {
background: #85994B;
}

.visible-col-12 {
  background: #2B8CC4;
}

.visible-col-13 {
  background: #2E358B;
}

.visible-col-14 {
  background: #D53880;
}

.visible-col-15 {
  background: #B10E1E;
}

.visible-col-16 {
  background: #F47738;
}

.visible-col-17 {
  background: #006435;
}

.visible-col-18 {
  background: #005EA5;
}

.visible-col-19 {
background: #6F72AF;
}

.visible-col-20 {
background: #F499BE;
}

.visible-col-21 {
background: #DF3034;
}

.visible-col-22 {
background: #FFBF47;
}

.visible-col-23 {
background: #85994B;
}

.visible-col-24 {
  background: #2B8CC4;
}
