//
// Navbar
// --------------------------------------------------

.simulated-state-uncollapsed {
  position: relative;
  float: right;
  padding: 9px 10px;
  margin-top: 8px;
  margin-right: 15px;
  margin-bottom: 8px;
  background-color: transparent;
  background-image: none;
  border-color: #222;
  border: 1px solid transparent;
  border-radius: 0;

  &:hover, &:focus {
    background-color: #555;
  }

  &:focus {
    outline: 0;
  }

  .bsk-icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
    background-color: #fff;
  }
}

.simulated-state-uncollapsed .bsk-icon-bar + .bsk-icon-bar {
  margin-top: 4px; }
