//
// Typography
// --------------------------------------------------

// Font faces
//

.ff-open-sans-light {
  font-family: "Open Sans";
  font-weight: 300;
}

.ff-open-sans-regular {
  font-family: "Open Sans";
  font-weight: normal;
}

.ff-open-sans-bold {
  font-family: "Open Sans";
  font-weight: bold;
}

.ff-gill-sans-light {
  font-family: "Gill Sans";
  font-weight: 100;
}

.ff-gill-sans-book  {
  font-family: "Gill Sans";
  font-weight: 200;
}

.ff-gill-sans-roman {
  font-family: "Gill Sans";
  font-weight: 300;
}

.ff-menlo-regular {
  font-family: Menlo;
}

.ff-helvetica-neue-regular {
  font-family: "Helvetica Neue";
}
