{% extends "layouts/sample.layout.njk" %}

{% set sample_href = "0001--list-unordered.html" %}
{% set sample_number = "#0001" %}
{% set sample_title = "unordered list" %}
{% set sample_markup = "ul" %}

{% block sample %}
<h4>Regular</h4>
<ul>
  <li>Popcorn</li>
  <li>Jelly</li>
  <li>Oat cakes</li>
</ul>

<h4 class="bsk-tb-margin-top">Nested</h4>
<ul>
  <li>Popcorn</li>
  <li>Jelly</li>
  <li>Oat cakes</li>
  <li>
    Sesame snaps
    <ul>
      <li>Chocolate cake</li>
      <li>
        <ul>
          <li>Sherbet</li>
          <li>Toffee apples</li>
        </ul>
      </li>
    </ul>
  </li>
</ul>
{% endblock %}
