{% extends "layouts/sample.layout.njk" %}

{% set sample_href = "0002--ol.html" %}
{% set sample_number = "#0002" %}
{% set sample_title = "ordered list" %}
{% set sample_markup = "ol" %}

{% block sample %}
<ol>
  <li>Popcorn</li>
  <li>Jelly</li>
  <li>Oat cakes</li>
</ol>

<h4 class="bsk-tb-margin-top bsk-tb-sample-sub-heading">Nested</h4>
<ol>
  <li>Popcorn</li>
  <li>Jelly</li>
  <li>Oat cakes</li>
  <li>
    Sesame snaps
    <ol>
      <li>Chocolate cake</li>
      <li>
        <ol>
          <li>Sherbet</li>
          <li>Toffee apples</li>
        </ol>
      </li>
    </ol>
  </li>
</ol>

<h4 class="bsk-tb-margin-top bsk-tb-sample-sub-heading">Nested, ordered/unordered mix</h4>
<ol>
  <li>Popcorn</li>
  <li>Jelly</li>
  <li>Oat cakes</li>
  <li>
    Sesame snaps
    <ul>
      <li>Chocolate cake</li>
      <li>
        <ol>
          <li>Sherbet</li>
          <li>Toffee apples</li>
        </ol>
      </li>
    </ul>
  </li>
</ol>
{% endblock %}
