{% extends "layouts/sample.layout.njk" %}

{% set sample_href = "0003--list-unstyled.html" %}
{% set sample_number = "#0003" %}
{% set sample_title = "unstyled list" %}
{% set sample_markup = "ul.list-unstyled" %}

{% block sample %}
<h4>Regular</h4>
<p class="text-info">Class <strong>is not</strong> supported with ordered lists.</p>
<ul class="list-unstyled">
  <li>Popcorn</li>
  <li>Jelly</li>
  <li>Oat cakes</li>
</ul>

<h4 class="bsk-tb-margin-top">Nested</h4>
<p class="text-info">Class <strong>is</strong> supported with nested unordered lists but will appear flattened.</p>
<p class="text-info">Class <strong>not applied</strong> to nested lists.</p>
<ul class="list-unstyled">
  <li>Popcorn</li>
  <li>Jelly</li>
  <li>Oat cakes</li>
  <li>
    Sesame snaps
    <ul>
      <li>Chocolate cake</li>
      <li>
        <ul>
          <li>Sherbet</li>
          <li>Toffee apples</li>
        </ul>
      </li>
    </ul>
  </li>
</ul>

<p class="text-info">Class <strong>applied</strong> to nested lists.</p>
<ul class="list-unstyled">
  <li>Popcorn</li>
  <li>Jelly</li>
  <li>Oat cakes</li>
  <li>
    Sesame snaps
    <ul class="list-unstyled">
      <li>Chocolate cake</li>
      <li>
        <ul class="list-unstyled">
          <li>Sherbet</li>
          <li>Toffee apples</li>
        </ul>
      </li>
    </ul>
  </li>
</ul>

<h4 class="bsk-tb-margin-top">Nested, unstyled/ordered/unordered mix</h4>
<ul class="list-unstyled">
  <li>Popcorn</li>
  <li>Jelly</li>
  <li>Oat cakes</li>
  <li>
    Sesame snaps
    <ol>
      <li>Chocolate cake</li>
      <li>
        <ul>
          <li>Sherbet</li>
          <li>Toffee apples</li>
        </ul>
      </li>
    </ol>
  </li>
</ul>
{% endblock %}
