{% extends "layouts/sample.layout.njk" %}

{% set sample_href = "0004--ul-inline.html" %}
{% set sample_number = "#0004" %}
{% set sample_title = "inline list" %}
{% set sample_markup = "ul.bsk-list-inline" %}

{% block sample %}
<p class="bsk-text-info">Class <strong>is not</strong> supported with ordered lists.</p>
<ul class="bsk-list-inline">
  <li>Popcorn</li>
  <li>Jelly</li>
  <li>Oat cakes</li>
</ul>

<h4 class="bsk-tb-margin-top bsk-tb-sample-sub-heading">Nested</h4>
<p class="bsk-text-info">Class <strong>is not</strong> supported with nested lists.</p>
<p class="bsk-text-info">Class <strong>not applied</strong> to nested lists.</p>
<ul class="bsk-list-inline">
  <li>Popcorn</li>
  <li>Jelly</li>
  <li>Oat cakes</li>
  <li>
    Sesame snaps
    <ul>
      <li>Chocolate cake</li>
      <li>
        <ul>
          <li>Sherbet</li>
          <li>Toffee apples</li>
        </ul>
      </li>
    </ul>
  </li>
</ul>

<p class="bsk-text-info">Class <strong>applied</strong> to nested lists.</p>
<ul class="bsk-list-inline">
  <li>Popcorn</li>
  <li>Jelly</li>
  <li>Oat cakes</li>
  <li>
    Sesame snaps
    <ul class="bsk-list-inline">
      <li>Chocolate cake</li>
      <li>
        <ul class="bsk-list-inline">
          <li>Sherbet</li>
          <li>Toffee apples</li>
        </ul>
      </li>
    </ul>
  </li>
</ul>
{% endblock %}
