{% extends "layouts/sample.layout.njk" %}

{% set sample_href = "0008--dl-dl-bsk-dl-bsk-striped.html" %}
{% set sample_number = "#0008" %}
{% set sample_title = "large striped description list" %}
{% set sample_markup = "dl.bsk-dl-lg.bsk-dl-striped" %}

{% block sample %}
<dl class="bsk-dl-lg bsk-dl-striped">
  <dt>Emperor Penguin</dt>
  <dd>Aptenodytes forsteri</dd>
  <dt>King Penguin</dt>
  <dd>Aptenodytes patagonicus</dd>
  <dt>Adelie Penguin</dt>
  <dd>Pygoscelis adeliae</dd>
  <dt>Chinstrap Penguin</dt>
  <dd>Pygoscelis antarctica</dd>
  <dt>Gentoo Penguin</dt>
  <dd>Pygoscelis papua</dd>
</dl>
{% endblock %}
