{% extends "layouts/sample.layout.njk" %}

{% set sample_href = "0010--dl-dl-bsk-dl-horizontal-dl-bsk-horizontal-lg-dl-bsk-striped.html" %}
{% set sample_number = "#0010" %}
{% set sample_title = "bas style kit striped large horizontal description list" %}
{% set sample_markup = "dl.dl-bsk.dl-horizontal.dl-bsk-horizontal-lg.dl-bsk-striped" %}

{% block sample %}
<dl class="dl-bsk dl-horizontal dl-bsk-horizontal-lg dl-bsk-striped">
  <dt>Emperor Penguin</dt>
  <dd>Aptenodytes forsteri</dd>
  <dt>King Penguin</dt>
  <dd>Aptenodytes patagonicus</dd>
  <dt>Adelie Penguin</dt>
  <dd>Pygoscelis adeliae</dd>
  <dt>Chinstrap Penguin</dt>
  <dd>Pygoscelis antarctica</dd>
  <dt>Gentoo Penguin</dt>
  <dd>Pygoscelis papua</dd>
</dl>
{% endblock %}
