{% extends "layouts/sample.layout.njk" %}

{% set sample_href = "0013--fonts.html" %}
{% set sample_number = "#0013" %}
{% set sample_title = "font faces" %}

{% block sample %}
<p class="text-info">See the <strong><a href="https://style-kit.web.bas.ac.uk/core/type/#bas-brand-font">Style Kit documentation</a></strong>
for where these fonts are used.</p>

<table class="table table-responsive">
  <thead>
    <tr>
      <th>Font Family</th>
      <th>Variant</th>
      <th>Font Weight</th>
      <th>Sample</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Default (Open Sans)</td>
      <td>Regular</td>
      <td>Light (300)</td>
      <td><span class="bsk-tb-ff-open-sans-light">Open Sans regular light</span></td>
    </tr>
    <tr>
      <td>Default (Open Sans)</td>
      <td>Italics</td>
      <td>Light (300)</td>
      <td><em class="bsk-tb-ff-open-sans-light">Open Sans italics light</em></td>
    </tr>
    <tr>
      <td>Default (Open Sans)</td>
      <td>Regular</td>
      <td>Regular</td>
      <td><span class="bsk-tb-ff-open-sans-regular">Open Sans regular regular</span></td>
    </tr>
    <tr>
      <td>Default (Open Sans)</td>
      <td>Italics</td>
      <td>Regular</td>
      <td><em class="bsk-tb-ff-open-sans-regular">Open Sans italics regular</em></td>
    </tr>
    <tr>
      <td>Default (Open Sans)</td>
      <td>Regular</td>
      <td>Bold</td>
      <td><strong class="bsk-tb-ff-open-sans-bold">Open Sans regular bold</strong></td>
    </tr>
    <tr>
      <td>Default (Open Sans)</td>
      <td>Italics</td>
      <td>Bold</td>
      <td><strong class="bsk-tb-ff-open-sans-bold"><em>Open Sans italics bold</em></strong></td>
    </tr>
    <tr>
      <td>Brand (Gill Sans)</td>
      <td>Regular</td>
      <td>Light (100)</td>
      <td><span class="bsk-tb-ff-gill-sans-light">Gill Sans regular light</span></td>
    </tr>
    <tr>
      <td>Brand (Gill Sans)</td>
      <td>Italics</td>
      <td>Light (100)</td>
      <td><em class="bsk-tb-ff-gill-sans-light">Gill Sans italics light</em></td>
    </tr>
    <tr>
      <td>Brand (Gill Sans)</td>
      <td>Regular</td>
      <td>Book (200)</td>
      <td><span class="bsk-tb-ff-gill-sans-book">Gill Sans regular book</span></td>
    </tr>
    <tr>
      <td>Brand (Gill Sans)</td>
      <td>Italics</td>
      <td>Book (200)</td>
      <td><em class="bsk-tb-ff-gill-sans-book">Gill Sans italics book</em></td>
    </tr>
    <tr>
      <td>Brand (Gill Sans)</td>
      <td>Regular</td>
      <td>Roman (300)</td>
      <td><span class="bsk-tb-ff-gill-sans-roman">Gill Sans regular roman</span></td>
    </tr>
    <tr>
      <td>Brand (Gill Sans)</td>
      <td>Italics</td>
      <td>Roman (300)</td>
      <td><em class="bsk-tb-ff-gill-sans-roman">Gill Sans italics roman</em></td>
    </tr>
    <tr>
      <td>Monotype (Menlo)</td>
      <td>Regular</td>
      <td>Regular</td>
      <td><span class="bsk-tb-ff-menlo-regular">Menlo regular regular</span></td>
    </tr>
  </tbody>
</table>
{% endblock %}
