{% extends "layouts/sample.layout.njk" %}

{% set sample_href = "0016--paragraph-lead.html" %}
{% set sample_number = "#0016" %}
{% set sample_title = "lead paragraph text" %}
{% set sample_markup = "p.lead" %}

{% block sample %}
<p class="bsk-lead">There are dozens of us! DOZENS!</p>

<h4 class="bsk-tb-margin-top bsk-tb-sample-sub-heading">Split line, (<code>br</code> seperated)</h4>
<p class="bsk-lead">That coat costs more than your house! <br /> There are dozens of us! DOZENS!</p>

<h4 class="bsk-tb-margin-top bsk-tb-sample-sub-heading">Text block (approx 300 characters)</h4>
<p class="bsk-lead">Ann certainly has a great deal of Mass. I hate the Wetlands. They're stupid and wet, and there are bugs everywhere, and I think I maced a crane. This show was cancelled. I mean, COME ON. I could use a leather jacket for when I'm on my hog and have to go into a controlled slide.</p>

<h4 class="bsk-tb-margin-top bsk-tb-sample-sub-heading">Mixed single line</h4>
<p><span class="bsk-lead">There are dozens of us! DOZENS!</span> There are dozens of us! DOZENS!</p>

<h4 class="bsk-tb-margin-top bsk-tb-sample-sub-heading">Mixed split line, (<code>br</code> seperated)</h4>
<p><span class="bsk-lead">That coat costs more than your house!</span> <br /> There are dozens of us! DOZENS!</p>

<h4 class="bsk-tb-margin-top bsk-tb-sample-sub-heading">Mixed text block (approx 300 characters)</h4>
<p><span class="bsk-lead">Ann certainly has a great deal of Mass.</span> I hate the Wetlands. They're stupid and wet, and there are bugs everywhere, and I think I maced a crane. This show was cancelled. I mean, COME ON. I could use a leather jacket for when I'm on my hog and have to go into a controlled slide.</p>

<h4 class="bsk-tb-margin-top bsk-tb-sample-sub-heading">Mixed multiple text block</h4>
<p class="bsk-lead">Ann certainly has a great deal of Mass.I hate the Wetlands. They're stupid and wet, and there are bugs everywhere, and I think I maced a crane. This show was cancelled. I mean, COME ON. I could use a leather jacket for when I'm on my hog and have to go into a controlled slide.</p>
<p>Ann certainly has a great deal of Mass.I hate the Wetlands. They're stupid and wet, and there are bugs everywhere, and I think I maced a crane. This show was cancelled. I mean, COME ON. I could use a leather jacket for when I'm on my hog and have to go into a controlled slide.</p>
{% endblock %}
