{% extends "layouts/sample.layout.njk" %}

{% set sample_href = "0017--font-comparisons.html" %}
{% set sample_number = "#0017" %}
{% set sample_title = "font face comparisons" %}

{% block sample %}
<div>
  <h2 class="bsk-tb-ff-open-sans-light">Heading 2</h2>
  <h2 class="bsk-tb-ff-open-sans-regular">Heading 2</h2>
  <h2 class="bsk-tb-ff-open-sans-bold">Heading 2</h2>
  <h2 class="bsk-tb-ff-gill-sans-light">Heading 2</h2>
  <h2 class="bsk-tb-ff-gill-sans-book">Heading 2</h2>
  <h2 class="bsk-tb-ff-gill-sans-roman">Heading 2</h2>
  <h2 class="bsk-tb-ff-menlo-regular">Heading 2</h2>

  <h3 class="bsk-tb-ff-open-sans-light">Heading 3</h3>
  <h3 class="bsk-tb-ff-open-sans-regular">Heading 3</h3>
  <h3 class="bsk-tb-ff-open-sans-bold">Heading 3</h3>
  <h3 class="bsk-tb-ff-gill-sans-light">Heading 3</h3>
  <h3 class="bsk-tb-ff-gill-sans-book">Heading 3</h3>
  <h3 class="bsk-tb-ff-gill-sans-roman">Heading 3</h3>
  <h3 class="bsk-tb-ff-menlo-regular">Heading 3</h3>

  <h4 class="bsk-tb-ff-open-sans-light">Heading 4</h4>
  <h4 class="bsk-tb-ff-open-sans-regular">Heading 4</h4>
  <h4 class="bsk-tb-ff-open-sans-bold">Heading 4</h4>
  <h4 class="bsk-tb-ff-gill-sans-light">Heading 4</h4>
  <h4 class="bsk-tb-ff-gill-sans-book">Heading 4</h4>
  <h4 class="bsk-tb-ff-gill-sans-roman">Heading 4</h4>
  <h4 class="bsk-tb-ff-menlo-regular">Heading 4</h4>

  <p class="bsk-tb-ff-open-sans-light">Paragraph text</p>
  <p class="bsk-tb-ff-open-sans-regular">Paragraph text</p>
  <p class="bsk-tb-ff-open-sans-bold">Paragraph text</p>
  <p class="bsk-tb-ff-gill-sans-light">Paragraph text</p>
  <p class="bsk-tb-ff-gill-sans-book">Paragraph text</p>
  <p class="bsk-tb-ff-gill-sans-roman">Paragraph text</p>
  <p class="bsk-tb-ff-menlo-regular">Paragraph text</p>
</div>
{% endblock %}
