{% extends "layouts/sample.layout.njk" %}

{% set sample_href = "0020--font-open-sans-bold.html" %}
{% set sample_number = "#0020" %}
{% set sample_title = "open sans bold font face" %}

{% block sample %}
<h1 class="bsk-tb-ff-open-sans-bold">Heading 1</h1>
<h2 class="bsk-tb-ff-open-sans-bold">Heading 2</h2>
<h3 class="bsk-tb-ff-open-sans-bold">Heading 3</h3>
<h4 class="bsk-tb-ff-open-sans-bold">Heading 4</h4>
<h5 class="bsk-tb-ff-open-sans-bold">Heading 5</h5>
<h6 class="bsk-tb-ff-open-sans-bold">Heading 6</h6>
<p class="bsk-tb-ff-open-sans-bold">Paragraph text</p>
<p class="bsk-tb-ff-open-sans-bold">Paragraph block - Ann certainly has a great deal of Mass. I hate the Wetlands. They're stupid and wet, and there are bugs everywhere, and I think I maced a crane. This show was cancelled. I mean, COME ON. I could use a leather jacket for when I'm on my hog and have to go into a controlled slide.</p>
<p class="bsk-tb-ff-open-sans-bold">0 1 2 3 4 5 6 7 8 9 A B C D E F G H I J K L M N O P Q R S T U V W X Y Z a b c d e f g h i j k l m n o p q r s t u v w x y z</p>
{% endblock %}
