{% extends "layouts/sample.layout.njk" %}

{% set sample_href = "0026--bold.html" %}
{% set sample_number = "#0026" %}
{% set sample_title = "bold" %}
{% set sample_markup = "strong" %}

{% block sample %}
<p><strong>There are dozens of us! DOZENS!</strong></p>

<h4 class="bsk-tb-margin-top bsk-tb-sample-sub-heading">Mixed single line</h4>
<p><strong>There are dozens of us! DOZENS!</strong> There are dozens of us! DOZENS!</p>

<h4 class="bsk-tb-margin-top bsk-tb-sample-sub-heading">Mixed text block (approx 300 characters)</h4>
<p>Ann certainly has a great deal of Mass. I hate the Wetlands. They're stupid and wet, and there are bugs everywhere, and I think I maced a crane. <strong>This show was cancelled</strong>. I mean, COME ON. I could use a leather jacket for when I'm on my hog and have to go into a controlled slide.</p>
{% endblock %}
