{% extends "layouts/sample.layout.njk" %}

{% set sample_href = "0029--marked.html" %}
{% set sample_number = "#0029" %}
{% set sample_title = "marked" %}
{% set sample_markup = "marked" %}

{% block sample %}
<p><mark>There are dozens of us! DOZENS!</mark></p>

<h4 class="bsk-tb-margin-top bsk-tb-sample-sub-heading">Text block (approx 300 characters)</h4>
<p><mark>Ann certainly has a great deal of Mass. I hate the Wetlands. They're stupid and wet, and there are bugs everywhere, and I think I maced a crane. This show was cancelled. I mean, COME ON. I could use a leather jacket for when I'm on my hog and have to go into a controlled slide.</mark></p>

<h4 class="bsk-tb-margin-top bsk-tb-sample-sub-heading">Mixed single line</h4>
<p><mark>There are dozens of us! DOZENS!</mark> There are dozens of us! DOZENS!</p>

<h4 class="bsk-tb-margin-top bsk-tb-sample-sub-heading">Mixed text block (approx 300 characters)</h4>
<p>Ann certainly has a great deal of Mass. I hate the Wetlands. They're stupid and wet, and there are bugs everywhere, and I think I maced a crane. <mark>This show was cancelled</mark>. I mean, COME ON. I could use a leather jacket for when I'm on my hog and have to go into a controlled slide.</p>
{% endblock %}
