{% extends "layouts/sample.layout.njk" %}

{% set sample_href = "0035--abbrevation.html" %}
{% set sample_number = "#0035" %}
{% set sample_title = "abbrevation" %}
{% set sample_markup = "abbrevation" %}

{% block sample %}
<p class="bsk-text-capitalize">Ann <abbr title="attribute">certainly</abbr> has a great deal of Mass. I hate the Wetlands.</p>

<p class="bsk-text-capitalize">Ann <abbr title="attribute" class="bsk-initialism">certainly</abbr> has a great deal of Mass. I hate the Wetlands.</p>
{% endblock %}
