{% extends "layouts/sample.layout.njk" %}

{% set sample_href = "0037--blockquote.html" %}
{% set sample_number = "#0037" %}
{% set sample_title = "blockquote" %}
{% set sample_markup = "blockquote" %}

{% block sample %}
<blockquote>Ann certainly has a great deal of Mass.</blockquote>

<h4 class="bsk-tb-margin-top bsk-tb-sample-sub-heading">Reversed (<code>.blockquote-reverse</code>)</h4>
<blockquote class="blockquote-reverse">Ann certainly has a great deal of Mass.</blockquote>

<h4 class="bsk-tb-margin-top bsk-tb-sample-sub-heading">With citation (<code>cite</code> in a <code>footer</code>)</h4>
<blockquote>
  Ann certainly has a great deal of Mass.
  <footer>Michael Bluth in <cite title="Source Title">Arrested Development</cite></footer>
</blockquote>
{% endblock %}
