{% extends "layouts/sample.layout.njk" %}

{% set sample_href = "0039--text-alignment-center.html" %}
{% set sample_number = "#0039" %}
{% set sample_title = "centred text alignment" %}
{% set sample_markup = ".bsk-text-center" %}

{% block sample %}
<p class="bsk-text-center">There are dozens of us! DOZENS!</p>

<p class="bsk-text-center">Ann certainly has a great deal of Mass. I hate the Wetlands. They're stupid and wet, and there are bugs everywhere, and I think I maced a crane. This show was cancelled. I mean, COME ON. I could use a leather jacket for when I'm on my hog and have to go into a controlled slide.</p>

<div class="bsk-row">
  <div class="bsk-col-md-6 bsk-text-center">
    <p>Ann certainly has a great deal of Mass. I hate the Wetlands. They're stupid and wet, and there are bugs everywhere, and I think I maced a crane. This show was cancelled. I mean, COME ON. I could use a leather jacket for when I'm on my hog and have to go into a controlled slide.</p>
  </div>
</div>
{% endblock %}
