{% extends "layouts/sample.layout.njk" %}

{% set sample_href = "0040--text-alignment-justify.html" %}
{% set sample_number = "#0040" %}
{% set sample_title = "justified text alignment" %}
{% set sample_markup = ".text-justify" %}

{% block sample %}
<p class="text-justify">There are dozens of us! DOZENS!</p>

<p class="text-justify">Ann certainly has a great deal of Mass. I hate the Wetlands. They're stupid and wet, and there are bugs everywhere, and I think I maced a crane. This show was cancelled.. I mean, COME ON. I could use a leather jacket for when I'm on my hog and have to go into a controlled slide.</p>

<div class="row">
  <div class="col-md-6 text-justify">
    <p>Ann certainly has a great deal of Mass. I hate the Wetlands. They're stupid and wet, and there are bugs everywhere, and I think I maced a crane. This show was cancelled.. I mean, COME ON. I could use a leather jacket for when I'm on my hog and have to go into a controlled slide.</p>
  </div>
</div>
{% endblock %}
