{% extends "layouts/sample.layout.njk" %}

{% set sample_href = "0042--text-transformation-title-case.html" %}
{% set sample_number = "#0042" %}
{% set sample_title = "title case text transformation" %}
{% set sample_markup = ".text-capitalize" %}

{% block sample %}
<p class="text-capitalize">There are dozens of us! DOZENS!</p>
{% endblock %}
