{% extends "layouts/sample.layout.njk" %}

{% set sample_href = "0043--text-transformation-upper-case.html" %}
{% set sample_number = "#0043" %}
{% set sample_title = "upper case text transformation" %}
{% set sample_markup = ".text-uppercase" %}

{% block sample %}
<p class="text-uppercase">There are dozens of us! DOZENS!</p>
{% endblock %}
