{% extends "layouts/sample.layout.njk" %}

{% set sample_href = "0044--code-inline.html" %}
{% set sample_number = "#0044" %}
{% set sample_title = "inline code" %}
{% set sample_markup = "code" %}

{% block sample %}
<p>Using the <code>map()</code> function...</p>
{% endblock %}
