{% extends "layouts/sample.layout.njk" %}

{% set sample_href = "0045--code-block.html" %}
{% set sample_number = "#0045" %}
{% set sample_title = "code block" %}
{% set sample_markup = "pre" %}

{% block sample %}
<pre>var samplesArray = sampleFiles.map((sample) => {
  // Split 0000-name.ext into [0000, name.ext]
  var sampleSplit = sample.split('--');
  if (sampleSplit.length != 2) {
  util.log(util.colors.red('Sample file [' + sample + '] could not be processed because it doesn\'t fit the expected name format'));
  return sample;
}</pre>
{% endblock %}
