{% extends "layouts/sample.layout.njk" %}

{% set sample_href = "0046--code-variable.html" %}
{% set sample_number = "#0046" %}
{% set sample_title = "code variable" %}
{% set sample_markup = "var" %}

{% block sample %}
<p><var>e</var> = <var>m</var><var>c<sup>2</sup></var></p>
{% endblock %}
