{% extends "layouts/sample.layout.njk" %}

{% set sample_href = "0047--code-input.html" %}
{% set sample_number = "#0047" %}
{% set sample_title = "code input" %}
{% set sample_markup = "kbd" %}

{% block sample %}
<p>To quit press <kbd>ctrl</kbd> + <kbd>c</kbd>.</p>
{% endblock %}
