{% extends "layouts/sample.layout.njk" %}

{% set sample_href = "0048--code-sample.html" %}
{% set sample_number = "#0048" %}
{% set sample_title = "code sample (output)" %}
{% set sample_markup = "samp" %}

{% block sample %}
<samp>['0000', 'sample']</samp>
{% endblock %}
