{% extends "layouts/sample.layout.njk" %}

{% import "macros/grid.njk" as grid %}

{% set sample_href = "0049--grid-standard-basic.html" %}
{% set sample_number = "#0049" %}
{% set sample_title = "standard basic grid system" %}
{% set sample_markup = "col-*" %}

{% set grid_columns=12 %}

{% block sample %}
<h4 class="bsk-tb-sample-sub-heading">Equal-width columns</h4>
<div class="container">
  <p class="text-info">Using the medium grid size with the alternative grid, in a fixed-width container.</p>
  {{ grid.bsk_tb_grid_equal_width_columns_v1(grid_columns) }}
</div>
{% endblock %}
