{% extends "layouts/sample.layout.njk" %}

{% import "macros/grid.njk" as grid %}

{% set sample_href = "0050--grid-24-basic.html" %}
{% set sample_number = "#0050" %}
{% set sample_title = "basic 24 column grid system" %}
{% set sample_markup = ".bsk-col-24-md-*" %}

{% set grid_columns=24 %}
{% set column_grid='bsk-col-24-md' %}

{% block sample %}
<div class="bsk-container">
  <p class="bsk-text-info">Using the medium 24 column grid, in a fixed-width container.</p>
  {{ grid.bsk_tb_grid_equal_width_columns_v1(grid_columns, column_grid) }}
</div>
{% endblock %}
