{% extends "layouts/sample.layout.njk" %}

{% import "macros/grid.njk" as grid %}

{% set sample_href = "0050--grid-alt-basic.html" %}
{% set sample_number = "#0050" %}
{% set sample_title = "alt basic grid system" %}
{% set sample_markup = ".col-bsk-md-*" %}

{% set grid_columns=24 %}
{% set column_grid='col-bsk-md' %}

{% block sample %}
<div class="container">
  <p class="text-info">Using the medium alternative grid, in a fixed-width container.</p>
  {{ grid.bsk_tb_grid_equal_width_columns_v1(grid_columns, column_grid) }}
</div>
{% endblock %}
