{% extends "layouts/sample.layout.njk" %}

{% import "macros/grid.njk" as grid %}

{% set sample_href = "0053--grid-standard-sizes.html" %}
{% set sample_number = "#0053" %}
{% set sample_title = "mixed standard grid system" %}
{% set sample_markup = "col-*-*" %}

{% block sample %}
<h4 class="bsk-tb-sample-sub-heading">Multiple grid sizes</h4>
<div class="container bsk-tb-visible-container">
  <div class="row">
    <p class="text-info">6 columns at multiple grid sizes:</p>
    <ul class="list-inline">
      <li>@ <code>xs</code> each item is <em>12</em> columns wide</li>
      <li>@ <code>sm</code> each item is <em>6</em> columns wide</li>
      <li>@ <code>md</code> each item is <em>4</em> columns wide</li>
      <li>@ <code>lg</code> each item is <em>3</em> columns wide</li>
      <li>@ <code>xl</code> each item is <em>1</em> columns wide</li>
    </ul>
    <div class="col-xl-1 col-lg-3 col-md-4 col-sm-6 col-xs-12 bsk-tb-visible-col-1"></div>
    <div class="col-xl-1 col-lg-3 col-md-4 col-sm-6 col-xs-12 bsk-tb-visible-col-2"></div>
    <div class="col-xl-1 col-lg-3 col-md-4 col-sm-6 col-xs-12 bsk-tb-visible-col-3"></div>
    <div class="col-xl-1 col-lg-3 col-md-4 col-sm-6 col-xs-12 bsk-tb-visible-col-4"></div>
    <div class="col-xl-1 col-lg-3 col-md-4 col-sm-6 col-xs-12 bsk-tb-visible-col-5"></div>
    <div class="col-xl-1 col-lg-3 col-md-4 col-sm-6 col-xs-12 bsk-tb-visible-col-6"></div>
  </div>
</div>
{% endblock %}
