{% extends "layouts/sample.layout.njk" %}

{% import "macros/grid.njk" as grid %}

{% set sample_href = "0054--grid-24-sizes.html" %}
{% set sample_number = "#0054" %}
{% set sample_title = "mixed 24 column grid system" %}
{% set sample_markup = ".bsk-col-24-*-*" %}

{% block sample %}
<div class="bsk-container bsk-tb-visible-container">
  <div class="bsk-row">
    <p class="bsk-text-info">6 columns at multiple grid sizes:</p>
    <ul class="bsk-list-inline">
      <li>@ <code>xs</code> each item is <em>24</em> columns wide</li>
      <li>@ <code>sm</code> each item is <em>12</em> columns wide</li>
      <li>@ <code>md</code> each item is <em>6</em> columns wide</li>
      <li>@ <code>lg</code> each item is <em>3</em> columns wide</li>
      <li>@ <code>xl</code> each item is <em>1</em> columns wide</li>
    </ul>
    <div class="bsk-col-24-xl-1 bsk-col-24-lg-3 bsk-col-24-md-6 bsk-col-24-sm-12 bsk-col-24-xs-24 bsk-tb-visible-col-1"></div>
    <div class="bsk-col-24-xl-1 bsk-col-24-lg-3 bsk-col-24-md-6 bsk-col-24-sm-12 bsk-col-24-xs-24 bsk-tb-visible-col-2"></div>
    <div class="bsk-col-24-xl-1 bsk-col-24-lg-3 bsk-col-24-md-6 bsk-col-24-sm-12 bsk-col-24-xs-24 bsk-tb-visible-col-3"></div>
    <div class="bsk-col-24-xl-1 bsk-col-24-lg-3 bsk-col-24-md-6 bsk-col-24-sm-12 bsk-col-24-xs-24 bsk-tb-visible-col-4"></div>
    <div class="bsk-col-24-xl-1 bsk-col-24-lg-3 bsk-col-24-md-6 bsk-col-24-sm-12 bsk-col-24-xs-24 bsk-tb-visible-col-5"></div>
    <div class="bsk-col-24-xl-1 bsk-col-24-lg-3 bsk-col-24-md-6 bsk-col-24-sm-12 bsk-col-24-xs-24 bsk-tb-visible-col-6"></div>
  </div>
</div>
{% endblock %}
