{% extends "layouts/sample.layout.njk" %}

{% import "macros/grid.njk" as grid %}

{% set sample_href = "0055--grid-12-nested.html" %}
{% set sample_number = "#0055" %}
{% set sample_title = "nested 12 column grid system" %}
{% set sample_markup = ".bsk-col-12-md-* .bsk-col-12-md-*" %}

{% block sample %}
<div class="bsk-container bsk-tb-visible-container">
  <div class="bsk-row">
    <div class="bsk-col-12-md-12 bsk-tb-visible-col-9">
      <div class="bsk-col-12-md-6 bsk-tb-visible-col-10">
        <div class="bsk-col-12-md-3 bsk-tb-visible-col-11">
          <div class="bsk-col-12-md-1 bsk-tb-visible-col-12"></div>
          <div class="bsk-col-12-md-1 bsk-tb-visible-col-12"></div>
          <div class="bsk-col-12-md-1 bsk-tb-visible-col-12"></div>
        </div>
        <div class="bsk-col-12-md-3 bsk-tb-visible-col-11">
          <div class="bsk-col-12-md-1 bsk-tb-visible-col-12"></div>
          <div class="bsk-col-12-md-1 bsk-tb-visible-col-12"></div>
          <div class="bsk-col-12-md-1 bsk-tb-visible-col-12"></div>
        </div>
        <div class="bsk-col-12-md-3 bsk-tb-visible-col-11">
          <div class="bsk-col-12-md-1 bsk-tb-visible-col-12"></div>
          <div class="bsk-col-12-md-1 bsk-tb-visible-col-12"></div>
          <div class="bsk-col-12-md-1 bsk-tb-visible-col-12"></div>
        </div>
        <div class="bsk-col-12-md-3 bsk-tb-visible-col-11">
          <div class="bsk-col-12-md-1 bsk-tb-visible-col-12"></div>
          <div class="bsk-col-12-md-1 bsk-tb-visible-col-12"></div>
          <div class="bsk-col-12-md-1 bsk-tb-visible-col-12"></div>
        </div>
      </div>
      <div class="bsk-col-12-md-6 bsk-tb-visible-col-10">
        <div class="bsk-col-12-md-3 bsk-tb-visible-col-11">
          <div class="bsk-col-12-md-1 bsk-tb-visible-col-12"></div>
          <div class="bsk-col-12-md-1 bsk-tb-visible-col-12"></div>
          <div class="bsk-col-12-md-1 bsk-tb-visible-col-12"></div>
        </div>
        <div class="bsk-col-12-md-3 bsk-tb-visible-col-11">
          <div class="bsk-col-12-md-1 bsk-tb-visible-col-12"></div>
          <div class="bsk-col-12-md-1 bsk-tb-visible-col-12"></div>
          <div class="bsk-col-12-md-1 bsk-tb-visible-col-12"></div>
        </div>
        <div class="bsk-col-12-md-3 bsk-tb-visible-col-11">
          <div class="bsk-col-12-md-1 bsk-tb-visible-col-12"></div>
          <div class="bsk-col-12-md-1 bsk-tb-visible-col-12"></div>
          <div class="bsk-col-12-md-1 bsk-tb-visible-col-12"></div>
        </div>
        <div class="bsk-col-12-md-3 bsk-tb-visible-col-11">
          <div class="bsk-col-12-md-1 bsk-tb-visible-col-12"></div>
          <div class="bsk-col-12-md-1 bsk-tb-visible-col-12"></div>
          <div class="bsk-col-12-md-1 bsk-tb-visible-col-12"></div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
