{% extends "layouts/sample.layout.njk" %}

{% import "macros/grid.njk" as grid %}

{% set sample_href = "0055--grid-standard-nested.html" %}
{% set sample_number = "#0055" %}
{% set sample_title = "standard nested grid system" %}
{% set sample_markup = ".col-md-* .col-md-*" %}

{% block sample %}
<div class="container bsk-tb-visible-container">
  <div class="row">
    <div class="col-md-12 bsk-tb-visible-col-9">
      <div class="col-md-6 bsk-tb-visible-col-10">
        <div class="col-md-3 bsk-tb-visible-col-11">
          <div class="col-md-1 bsk-tb-visible-col-12"></div>
          <div class="col-md-1 bsk-tb-visible-col-12"></div>
          <div class="col-md-1 bsk-tb-visible-col-12"></div>
        </div>
        <div class="col-md-3 bsk-tb-visible-col-11">
          <div class="col-md-1 bsk-tb-visible-col-12"></div>
          <div class="col-md-1 bsk-tb-visible-col-12"></div>
          <div class="col-md-1 bsk-tb-visible-col-12"></div>
        </div>
        <div class="col-md-3 bsk-tb-visible-col-11">
          <div class="col-md-1 bsk-tb-visible-col-12"></div>
          <div class="col-md-1 bsk-tb-visible-col-12"></div>
          <div class="col-md-1 bsk-tb-visible-col-12"></div>
        </div>
        <div class="col-md-3 bsk-tb-visible-col-11">
          <div class="col-md-1 bsk-tb-visible-col-12"></div>
          <div class="col-md-1 bsk-tb-visible-col-12"></div>
          <div class="col-md-1 bsk-tb-visible-col-12"></div>
        </div>
      </div>
      <div class="col-md-6 bsk-tb-visible-col-10">
        <div class="col-md-3 bsk-tb-visible-col-11">
          <div class="col-md-1 bsk-tb-visible-col-12"></div>
          <div class="col-md-1 bsk-tb-visible-col-12"></div>
          <div class="col-md-1 bsk-tb-visible-col-12"></div>
        </div>
        <div class="col-md-3 bsk-tb-visible-col-11">
          <div class="col-md-1 bsk-tb-visible-col-12"></div>
          <div class="col-md-1 bsk-tb-visible-col-12"></div>
          <div class="col-md-1 bsk-tb-visible-col-12"></div>
        </div>
        <div class="col-md-3 bsk-tb-visible-col-11">
          <div class="col-md-1 bsk-tb-visible-col-12"></div>
          <div class="col-md-1 bsk-tb-visible-col-12"></div>
          <div class="col-md-1 bsk-tb-visible-col-12"></div>
        </div>
        <div class="col-md-3 bsk-tb-visible-col-11">
          <div class="col-md-1 bsk-tb-visible-col-12"></div>
          <div class="col-md-1 bsk-tb-visible-col-12"></div>
          <div class="col-md-1 bsk-tb-visible-col-12"></div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
