{% extends "layouts/sample.layout.njk" %}

{% set sample_href = "0057--container.html" %}
{% set sample_number = "#0057" %}
{% set sample_title = "fixed width container" %}
{% set sample_markup = ".bsk-container" %}

{% block sample %}
<div class="bsk-container">
  <div class="bsk-tb-visible-col-1"></div>
</div>
{% endblock %}
