{% extends "layouts/sample.layout.njk" %}

{% set sample_href = "0058--container-fluid.html" %}
{% set sample_number = "#0058" %}
{% set sample_title = "fluid container" %}
{% set sample_markup = ".container-fluid" %}

{% block sample %}
<div class="container-fluid">
  <div class="bsk-tb-visible-col-1"></div>
</div>
{% endblock %}
