{% extends "layouts/sample.layout.njk" %}

{% set sample_href = "0059--float-left.html" %}
{% set sample_number = "#0059" %}
{% set sample_title = "left float" %}
{% set sample_markup = ".pull-left" %}

{% block sample %}
<div class="col-md-3 pull-left bsk-tb-visible-col-1"></div>
<div class="clearfix"></div>
{% endblock %}
