{% extends "layouts/sample.layout.njk" %}

{% set sample_href = "0059--float-left.html" %}
{% set sample_number = "#0059" %}
{% set sample_title = "left float" %}
{% set sample_markup = ".bsk-pull-left" %}

{% block sample %}
<div class="bsk-col-md-3 bsk-pull-left bsk-tb-visible-col-1"></div>
<div class="bsk-clearfix"></div>
{% endblock %}
