{% extends "layouts/sample.layout.njk" %}

{% set sample_href = "0060--float-right.html" %}
{% set sample_number = "#0060" %}
{% set sample_title = "right float" %}
{% set sample_markup = ".pull-right" %}

{% block sample %}
<div class="col-md-3 pull-right bsk-tb-visible-col-1"></div>
<div class="clearfix"></div>
{% endblock %}
