{% extends "layouts/sample.layout.njk" %}

{% set sample_href = "0060--float-right.html" %}
{% set sample_number = "#0060" %}
{% set sample_title = "right float" %}
{% set sample_markup = ".bsk-pull-right" %}

{% block sample %}
<div class="bsk-col-12-md-3 bsk-pull-right bsk-tb-visible-col-1"></div>
<div class="bsk-clearfix"></div>
{% endblock %}
