{% extends "layouts/sample.layout.njk" %}

{% set sample_href = "0061--position-center.html" %}
{% set sample_number = "#0061" %}
{% set sample_title = "centred block" %}
{% set sample_markup = ".bsk-center-block" %}

{% block sample %}
<div class="bsk-center-block bsk-tb-visible-col-1" style="width:40%"></div>
{% endblock %}
