{% extends "layouts/sample.layout.njk" %}

{% set sample_href = "0064--visibility-invisible.html" %}
{% set sample_number = "#0064" %}
{% set sample_title = "invisible visibility" %}
{% set sample_markup = ".bsk-invisible" %}

{% block sample %}
<div class="bsk-tb-visible-col-1"></div>
<div class="bsk-tb-visible-col-2 bsk-invisible"></div>
<div class="bsk-tb-visible-col-3"></div>
{% endblock %}
