{% extends "layouts/sample.layout.njk" %}

{% set sample_href = "0065--visibility-sr-only.html" %}
{% set sample_number = "#0065" %}
{% set sample_title = "screen reader visibility" %}
{% set sample_markup = "bsk-sr-only" %}

{% block sample %}
<div class="bsk-tb-visible-col-1"></div>
<div class="bsk-tb-visible-col-2 bsk-sr-only"></div>
<div class="bsk-tb-visible-col-3"></div>
{% endblock %}
