{% extends "layouts/sample.layout.njk" %}

{% set sample_href = "0066--visibility-breakpoints-visible-block.html" %}
{% set sample_number = "#0066" %}
{% set sample_title = "visbility: responsible breakpoints visible block" %}
{% set sample_markup = ".visible-*-block" %}

{% block sample %}
<p class="text-info">Visible combinations are shown in <strong class="text-success">green</strong>.
The active breakpoint is indicated in the header.</p>
<table class="table">
  <thead>
    <tr>
      <th></th>
      <th>
        <span class="hidden-xs text-muted"><i class="fa fa-square-o" aria-hidden="true"></i> Extra Small</span>
        <span class="hidden-sm hidden-md hidden-lg hidden-xl visible-xs-inline text-success">
          <i class="fa fa-check-square" aria-hidden="true"></i> <span class="sr-only">Active breakpoint</span> Extra Small
        </span>
      </th>
      <th>
        <span class="hidden-sm text-muted"><i class="fa fa-square-o" aria-hidden="true"></i> Small</span>
        <span class="hidden-xs hidden-md hidden-lg hidden-xl visible-sm-inline text-success">
          <i class="fa fa-check-square" aria-hidden="true"></i> <span class="sr-only">Active breakpoint</span> Small
        </span>
      </th>
      <th>
        <span class="hidden-md text-muted"><i class="fa fa-square-o" aria-hidden="true"></i> Medium</span>
        <span class="hidden-xs hidden-sm hidden-lg hidden-xl visible-md-inline text-success">
          <i class="fa fa-check-square" aria-hidden="true"></i> <span class="sr-only">Active breakpoint</span> Medium
        </span>
      </th>
      <th>
        <span class="hidden-lg text-muted"><i class="fa fa-square-o" aria-hidden="true"></i> Large</span>
        <span class="hidden-xs hidden-sm hidden-md hidden-xl visible-lg-inline text-success">
          <i class="fa fa-check-square" aria-hidden="true"></i> <span class="sr-only">Active breakpoint</span> Large
        </span>
      </th>
      <th>
        <span class="hidden-xl text-muted"><i class="fa fa-square-o" aria-hidden="true"></i> Extra Large</span>
        <span class="hidden-xs hidden-sm hidden-md hidden-lg visible-xl-inline text-success">
          <i class="fa fa-check-square" aria-hidden="true"></i> <span class="sr-only">Active breakpoint</span> Extra Large
        </span>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th><code>.visible-xs-block</code></th>
      <td class="hidden-xs"><span class="text-muted"><i class="fa fa-eye" aria-hidden="true"></i> Visible</span></td>
      <td class="hidden-sm hidden-md hidden-lg hidden-xl visible-xs-block"><span class="text-success"><i class="fa fa-eye" aria-hidden="true"></i> Visible</span></td>
      <td><span class="text-muted"><i class="fa fa-low-vision" aria-hidden="true"></i> Hidden</span></td>
      <td><span class="text-muted"><i class="fa fa-low-vision" aria-hidden="true"></i> Hidden</span></td>
      <td><span class="text-muted"><i class="fa fa-low-vision" aria-hidden="true"></i> Hidden</span></td>
      <td><span class="text-muted"><i class="fa fa-low-vision" aria-hidden="true"></i> Hidden</span></td>
    </tr>
    <tr>
      <th><code>.visible-sm-*</code></th>
      <td><span class="text-muted"><i class="fa fa-low-vision" aria-hidden="true"></i> Hidden</span></td>
      <td class="hidden-sm"><span class="text-muted"><i class="fa fa-eye" aria-hidden="true"></i> Visible</span></td>
      <td class="hidden-xs hidden-md hidden-lg hidden-xl visible-sm-block"><span class="text-success"><i class="fa fa-eye" aria-hidden="true"></i> Visible</span></td>
      <td><span class="text-muted"><i class="fa fa-low-vision" aria-hidden="true"></i> Hidden</span></td>
      <td><span class="text-muted"><i class="fa fa-low-vision" aria-hidden="true"></i> Hidden</span></td>
      <td><span class="text-muted"><i class="fa fa-low-vision" aria-hidden="true"></i> Hidden</span></td>
    </tr>
    <tr>
      <th><code>.visible-md-*</code></th>
      <td><span class="text-muted"><i class="fa fa-low-vision" aria-hidden="true"></i> Hidden</span></td>
      <td><span class="text-muted"><i class="fa fa-low-vision" aria-hidden="true"></i> Hidden</span></td>
      <td class="hidden-md"><span class="text-muted"><i class="fa fa-eye" aria-hidden="true"></i> Visible</span></td>
      <td class="hidden-xs hidden-sm hidden-lg hidden-xl visible-md-block"><span class="text-success"><i class="fa fa-eye" aria-hidden="true"></i> Visible</span></td>
      <td><span class="text-muted"><i class="fa fa-low-vision" aria-hidden="true"></i> Hidden</span></td>
      <td><span class="text-muted"><i class="fa fa-low-vision" aria-hidden="true"></i> Hidden</span></td>
    </tr>
    <tr>
      <th><code>.visible-lg-*</code></th>
      <td><span class="text-muted"><i class="fa fa-low-vision" aria-hidden="true"></i> Hidden</span></td>
      <td><span class="text-muted"><i class="fa fa-low-vision" aria-hidden="true"></i> Hidden</span></td>
      <td><span class="text-muted"><i class="fa fa-low-vision" aria-hidden="true"></i> Hidden</span></td>
      <td class="hidden-lg"><span class="text-muted"><i class="fa fa-eye" aria-hidden="true"></i> Visible</span></td>
      <td class="hidden-xs hidden-sm hidden-md hidden-xl visible-lg-block"><span class="text-success"><i class="fa fa-eye" aria-hidden="true"></i> Visible</span></td>
      <td><span class="text-muted"><i class="fa fa-low-vision" aria-hidden="true"></i> Hidden</span></td>
    </tr>
    <tr>
      <th><code>.visible-xl-*</code></th>
      <td><span class="text-muted"><i class="fa fa-low-vision" aria-hidden="true"></i> Hidden</span></td>
      <td><span class="text-muted"><i class="fa fa-low-vision" aria-hidden="true"></i> Hidden</span></td>
      <td><span class="text-muted"><i class="fa fa-low-vision" aria-hidden="true"></i> Hidden</span></td>
      <td><span class="text-muted"><i class="fa fa-low-vision" aria-hidden="true"></i> Hidden</span></td>
      <td class="hidden-xl"><span class="text-muted"><i class="fa fa-eye" aria-hidden="true"></i> Visible</span></td>
      <td class="hidden-xs hidden-sm hidden-md hidden-lg visible-xl-block"><span class="text-success"><i class="fa fa-eye" aria-hidden="true"></i> Visible</span></td>
    </tr>
  </tbody>
</table>
{% endblock %}
