{% extends "layouts/sample.layout.njk" %}

{% set sample_href = "0070--clearfix.html" %}
{% set sample_number = "#0070" %}
{% set sample_title = "clearfix" %}
{% set sample_markup = ".bsk-clearfix" %}

{% block sample %}
<p class="bsk-text-info">Two right floated items <strong>with</strong> a clearfix item inbetween.</p>
<p class="bsk-text-info">When working correctly, the items will appear stacked vertically.</p>
<div class="bsk-col-md-3 bsk-pull-right bsk-tb-visible-col-1"></div>
<div class="bsk-clearfix"></div>
<div class="bsk-col-md-3 bsk-pull-right bsk-tb-visible-col-2"></div>

<!-- required for internal use -->
<div class="bsk-clearfix"></div>

<p class="bsk-text-info">Two right floated items <strong>without</strong> a clearfix item inbetween.</p>
<div class="bsk-col-md-3 bsk-pull-right bsk-tb-visible-col-1"></div>
<div class="bsk-col-md-3 bsk-pull-right bsk-tb-visible-col-2"></div>

<!-- required for internal use -->
<div class="bsk-clearfix"></div>
{% endblock %}
