{% extends "layouts/sample.layout.njk" %}

{% set sample_href = "0079--table-rows-contextual-info.html" %}
{% set sample_number = "#0079" %}
{% set sample_title = "table row with information context" %}
{% set sample_markup = "tr.info" %}

{% block sample %}
<table class="table">
  <tr><td>standard row</td></tr>
  <tr class="info"><td>information row</td></tr>
</table>
{% endblock %}
