{% extends "layouts/sample.layout.njk" %}

{% set sample_href = "0081--button-primary.html" %}
{% set sample_number = "#0081" %}
{% set sample_title = "primary button" %}
{% set sample_markup = ".btn.btn-bsk.btn-primary" %}

{% block sample %}
<p class="text-info"><code>button</code> with various contents</p>
<p><button class="btn btn-bsk btn-primary" type="submit"><!-- no value --></button></p>
<p><button class="btn btn-bsk btn-primary" type="submit">Primary button button</button></p>
<p><button class="btn btn-bsk btn-primary" type="submit">Da da da da da da da da BATMAN!</button></p>
<p><button class="btn btn-bsk btn-primary" type="submit">Button with a <br /> line break</button></p>

<p class="text-info"><code>input</code></p>
<input class="btn btn-bsk btn-primary" type="button" value="Primary input button">

<p class="text-info"><code>a</code></p>
<a class="btn btn-bsk btn-primary" href="#" role="button">Primary link button</a>
{% endblock %}
