{% extends "layouts/sample.layout.njk" %}

{% set sample_href = "0084--button-contextual-danger.html" %}
{% set sample_number = "#0084" %}
{% set sample_title = "dangerous contextual button" %}
{% set sample_markup = ".bsk-btn.bsk-btn-danger" %}

{% block sample %}
<p class="bsk-text-info"><code>button</code> with various contents</p>
<p><button class="bsk-btn bsk-btn-danger" type="submit"><!-- no value --></button></p>
<p><button class="bsk-btn bsk-btn-danger" type="submit">Danger button button</button></p>
<p><button class="bsk-btn bsk-btn-danger" type="submit">Da da da da da da da da BATMAN!</button></p>
<p><button class="bsk-btn bsk-btn-danger" type="submit">Button with a <br /> line break</button></p>

<p class="bsk-text-info"><code>input</code></p>
<input class="bsk-btn bsk-btn-danger" type="button" value="Danger input button">

<p class="bsk-text-info"><code>a</code></p>
<a class="bsk-btn bsk-btn-danger" href="#" role="button">Danger link button</a>
{% endblock %}
