{% extends "layouts/sample.layout.njk" %}

{% set sample_href = "0085--button-contextual-info.html" %}
{% set sample_number = "#0085" %}
{% set sample_title = "information contextual button" %}
{% set sample_markup = ".btn.btn-bsk.btn-info" %}

{% block sample %}
<p class="text-info"><code>button</code> with various contents</p>
<p><button class="btn btn-bsk btn-info" type="submit"><!-- no value --></button></p>
<p><button class="btn btn-bsk btn-info" type="submit">Information button button</button></p>
<p><button class="btn btn-bsk btn-info" type="submit">Da da da da da da da da BATMAN!</button></p>
<p><button class="btn btn-bsk btn-info" type="submit">Button with a <br /> line break</button></p>

<p class="text-info"><code>input</code></p>
<input class="btn btn-bsk btn-info" type="button" value="Information input button">

<p class="text-info"><code>a</code></p>
<a class="btn btn-bsk btn-info" href="#" role="button">Information link button</a>
{% endblock %}
