{% extends "layouts/sample.layout.njk" %}

{% set sample_href = "0086--button-link.html" %}
{% set sample_number = "#0086" %}
{% set sample_title = "link style buttons" %}
{% set sample_markup = ".btn.btn-bsk.btn-link" %}

{% block sample %}
<p class="text-info"><code>button</code> with various contents</p>
<p><button class="btn btn-bsk btn-link" type="submit"><!-- no value --></button></p>
<p><button class="btn btn-bsk btn-link" type="submit">Link button button</button></p>
<p><button class="btn btn-bsk btn-link" type="submit">Da da da da da da da da BATMAN!</button></p>
<p><button class="btn btn-bsk btn-link" type="submit">Link button button with a <br /> line break</button></p>

<p class="text-info"><code>input</code></p>
<input class="btn btn-bsk btn-link" type="button" value="Link input button">

<p class="text-info"><code>a</code></p>
<a class="btn btn-bsk btn-link" href="#" role="button">Link link button</a>
{% endblock %}
