{% extends "layouts/sample.layout.njk" %}

{% set sample_href = "0088--button-state-disabled.html" %}
{% set sample_number = "#0088" %}
{% set sample_title = "active state buttons" %}
{% set sample_markup = ".bsk-btn.bsk-btn-*+(.bsk-)disabled" %}

{% block sample %}
<p class="bsk-text-info"><code>button</code></p>
<p><button class="bsk-btn bsk-btn-default" disabled>Disabled default button button</button></p>
<p><button class="bsk-btn bsk-btn-primary" disabled>Disabled primary button button</button></p>
<p><button class="bsk-btn bsk-btn-success" disabled>Disabled successful button button</button></p>
<p><button class="bsk-btn bsk-btn-warning" disabled>Disabled warning button button</button></p>
<p><button class="bsk-btn bsk-btn-danger" disabled>Disabled dangerous button button</button></p>
<p><button class="bsk-btn bsk-btn-info" disabled>Disabled information button button</button></p>

<p class="bsk-text-info"><code>input</code></p>
<input class="bsk-btn bsk-btn-default" type="button" value="Disabled input button" disabled>

<p class="bsk-text-info"><code>a</code></p>
<a class="bsk-btn bsk-btn-default bsk-disabled" href="#" role="button">Disabled link button</a>
{% endblock %}
