{% extends "layouts/sample.layout.njk" %}

{% set sample_href = "0087--button-state-active.html" %}
{% set sample_number = "#0087" %}
{% set sample_title = "active state buttons" %}
{% set sample_markup = ".bsk-btn.bsk-btn-default.bsk-btn-*" %}

{% block sample %}
<p><button class="bsk-btn bsk-btn-default bsk-btn-lg">Large Button</button></p>
<p><button class="bsk-btn bsk-btn-default">Regular Button</button></p>
<p><button class="bsk-btn bsk-btn-default bsk-btn-sm">Small Button</button></p>
<p><button class="bsk-btn bsk-btn-default bsk-btn-xs">Extra-Small Button</button></p>
{% endblock %}
