{% extends "layouts/sample.layout.njk" %}

{% set sample_href = "0091--colours-standard-greyscale.html" %}
{% set sample_number = "#0091" %}
{% set sample_title = "Standard greyscale colours" %}

{% block sample %}
<p class="bsk-text-info">White - <var>$bsk-colour-std-white</var> - <code>#FFFFFF</code></p>
<div class="bsk-tb-colour-swatch bsk-tb-colour-swatch-bsk-colour-std-white"></div>

<p class="bsk-text-info">Grey lighter - <var>$bsk-colour-std-grey-lighter</var> - <code>#EEEEEE</code></p>
<div class="bsk-tb-colour-swatch bsk-tb-colour-swatch-bsk-colour-std-grey-lighter"></div>

<p class="bsk-text-info">Grey light - <var>$bsk-colour-std-grey-light</var> - <code>#999999</code></p>
<div class="bsk-tb-colour-swatch bsk-tb-colour-swatch-bsk-colour-std-grey-lighter"></div>

<p class="bsk-text-info">Grey base - <var>$bsk-colour-std-grey-base</var> - <code>#777777</code></p>
<div class="bsk-tb-colour-swatch bsk-tb-colour-swatch-bsk-colour-std-grey-base"></div>

<p class="bsk-text-info">Grey dark - <var>$bsk-colour-std-grey-dark</var> - <code>#555555</code></p>
<div class="bsk-tb-colour-swatch bsk-tb-colour-swatch-bsk-colour-std-grey-dark"></div>

<p class="bsk-text-info">Grey darker - <var>$bsk-colour-std-grey-darker</var> - <code>#333333</code></p>
<div class="bsk-tb-colour-swatch bsk-tb-colour-swatch-bsk-colour-std-grey-darker"></div>

<p class="bsk-text-info">Black - <var>$bsk-colour-std-black</var> - <code>#000000</code></p>
<div class="bsk-tb-colour-swatch bsk-tb-colour-swatch-bsk-colour-std-black"></div>

<div class="bsk-tb-colour-swatch"></div>
{% endblock %}
