{% extends "layouts/sample.layout.njk" %}

{% set sample_href = "0091--colours-scheme-greyscale.html" %}
{% set sample_number = "#0091" %}
{% set sample_title = "Standard greyscale colour scheme" %}

{% block sample %}
<p class="bsk-text-info">Grey lighter - <var>$grey-lighter</var> - <code>#EEEEEE</code></p>
<div class="bsk-tb-colour-swatch bsk-tb-colour-swatch-EEEEEE"></div>

<p class="bsk-text-info">Grey light - <var>$grey-light</var> - <code>#777777</code></p>
<div class="bsk-tb-colour-swatch bsk-tb-colour-swatch-777777"></div>

<p class="bsk-text-info">Grey - <var>$grey</var> - <code>#555555</code></p>
<div class="bsk-tb-colour-swatch bsk-tb-colour-swatch-555555"></div>

<p class="bsk-text-info">Grey dark - <var>$grey-dark</var> - <code>#333333</code></p>
<div class="bsk-tb-colour-swatch bsk-tb-colour-swatch-333333"></div>

<p class="bsk-text-info">Grey darker - <var>$grey-darker</var> - <code>#222222</code></p>
<div class="bsk-tb-colour-swatch bsk-tb-colour-swatch-222222"></div>
{% endblock %}
