{% extends "layouts/sample.layout.njk" %}

{% set sample_href = "0092--colours-scheme-brand.html" %}
{% set sample_number = "#0092" %}
{% set sample_title = "Standard greyscale colour scheme" %}

{% block sample %}
<p class"bsk-text-info">BAS grey lighter - <var>$bsk-grey-lighter</var> - <code>#F4F6F9</code></p>
<div class="bsk-tb-colour-swatch bsk-tb-colour-swatch-F4F6F9"></div>

<p class"bsk-text-info">BAS grey light - <var>$bsk-grey-light</var> - <code>#E7EBF1</code></p>
<div class="bsk-tb-colour-swatch bsk-tb-colour-swatch-E7EBF1"></div>

<p class"bsk-text-info">BAS blue light - <var>$bsk-blue-light</var> - <code>#77CCFF</code></p>
<div class="bsk-tb-colour-swatch bsk-tb-colour-swatch-77CCFF"></div>

<p class"bsk-text-info">BAS blue - <var>$bsk-blue</var> - <code>#006AAA</code></p>
<div class="bsk-tb-colour-swatch bsk-tb-colour-swatch-006AAA"></div>

<p class"bsk-text-info">BAS blue-dark - <var>$bsk-blue</var> - <code>#003A5D</code></p>
<div class="bsk-tb-colour-swatch bsk-tb-colour-swatch-003A5D"></div>

<p class"bsk-text-info">BAS red - <var>$bsk-red</var> - <code>#B93E14</code></p>
<div class="bsk-tb-colour-swatch bsk-tb-colour-swatch-B93E14"></div>

<p class"bsk-text-info">BAS brand - <var>$bsk-bas-turquoise</var> - <code>#0DA59F</code></p>
<div class="bsk-tb-colour-swatch bsk-tb-colour-swatch-0DA59F"></div>
{% endblock %}
