{% extends "layouts/sample.layout.njk" %}

{% set sample_href = "0092--colours-standard.html" %}
{% set sample_number = "#0092" %}
{% set sample_title = "Standard colours" %}

{% block sample %}
<div class="bsk-row">
  <div class="bsk-col-12-md-2">
    <div class="bsk-tb-colour-swatch bsk-tb-colour-swatch-bsk-colour-std-yellow-lighter"></div>
  </div>
  <div class="bsk-col-12-md-2">
    <div class="bsk-tb-colour-swatch bsk-tb-colour-swatch-bsk-colour-std-yellow-light"></div>
  </div>
  <div class="bsk-col-12-md-2">
    <div class="bsk-tb-colour-swatch bsk-tb-colour-swatch-bsk-colour-std-yellow-base"></div>
  </div>
  <div class="bsk-col-12-md-2">
    <div class="bsk-tb-colour-swatch bsk-tb-colour-swatch-bsk-colour-std-yellow-dark"></div>
  </div>
  <div class="bsk-col-12-md-2">
    <div class="bsk-tb-colour-swatch bsk-tb-colour-swatch-bsk-colour-std-yellow-darker"></div>
  </div>
</div>
<div class="bsk-row">
  <div class="bsk-col-12-md-2">
    <p class="bsk-text-info">Yellow lighter - <var>$bsk-colour-std-yellow-lighter</var> - <code>#FFE9C0</code></p>
  </div>
  <div class="bsk-col-12-md-2">
    <p class="bsk-text-info">Yellow light - <var>$bsk-colour-std-yellow-light</var> - <code>#FFD484</code></p>
  </div>
  <div class="bsk-col-12-md-2">
    <p class="bsk-text-info">Yellow - <var>$bsk-colour-std-yellow-base</var> - <code>#FFBF47</code></p>
  </div>
  <div class="bsk-col-12-md-2">
    <p class="bsk-text-info">Yellow dark - <var>$bsk-colour-std-yellow-dark</var> - <code>#AB8030</code></p>
  </div>
  <div class="bsk-col-12-md-2">
    <p class="bsk-text-info">Yellow darker <var>$bsk-colour-std-yellow-darker</var> - <code>#574118</code></p>
  </div>
</div>

<div class="bsk-row">
  <div class="bsk-col-12-md-2">
    <div class="bsk-tb-colour-swatch bsk-tb-colour-swatch-bsk-colour-std-orange-lighter"></div>
  </div>
  <div class="bsk-col-12-md-2">
    <div class="bsk-tb-colour-swatch bsk-tb-colour-swatch-bsk-colour-std-orange-light"></div>
  </div>
  <div class="bsk-col-12-md-2">
    <div class="bsk-tb-colour-swatch bsk-tb-colour-swatch-bsk-colour-std-orange-base"></div>
  </div>
  <div class="bsk-col-12-md-2">
    <div class="bsk-tb-colour-swatch bsk-tb-colour-swatch-bsk-colour-std-orange-dark"></div>
  </div>
  <div class="bsk-col-12-md-2">
    <div class="bsk-tb-colour-swatch bsk-tb-colour-swatch-bsk-colour-std-orange-darker"></div>
  </div>
</div>
<div class="bsk-row">
  <div class="bsk-col-12-md-2">
    <p class="bsk-text-info">Orange lighter - <var>$bsk-colour-std-orange-lighter</var> - <code>#FBD1BB</code></p>
  </div>
  <div class="bsk-col-12-md-2">
    <p class="bsk-text-info">Orange light - <var>$bsk-colour-std-orange-light</var> - <code>#F8A47A</code></p>
  </div>
  <div class="bsk-col-12-md-2">
    <p class="bsk-text-info">Orange - <var>$bsk-colour-std-orange-base</var> - <code>#F47738</code></p>
  </div>
  <div class="bsk-col-12-md-2">
    <p class="bsk-text-info">Orange dark - <var>$bsk-colour-std-orange-dark</var> - <code>#A35026</code></p>
  </div>
  <div class="bsk-col-12-md-2">
    <p class="bsk-text-info">Orange darker <var>$bsk-colour-std-orange-darker</var> - <code>#532813</code></p>
  </div>
</div>

<div class="bsk-row">
  <div class="bsk-col-12-md-2">
    <div class="bsk-tb-colour-swatch bsk-tb-colour-swatch-bsk-colour-std-red-lighter"></div>
  </div>
  <div class="bsk-col-12-md-2">
    <div class="bsk-tb-colour-swatch bsk-tb-colour-swatch-bsk-colour-std-red-light"></div>
  </div>
  <div class="bsk-col-12-md-2">
    <div class="bsk-tb-colour-swatch bsk-tb-colour-swatch-bsk-colour-std-red-base"></div>
  </div>
  <div class="bsk-col-12-md-2">
    <div class="bsk-tb-colour-swatch bsk-tb-colour-swatch-bsk-colour-std-red-dark"></div>
  </div>
  <div class="bsk-col-12-md-2">
    <div class="bsk-tb-colour-swatch bsk-tb-colour-swatch-bsk-colour-std-red-darker"></div>
  </div>
</div>
<div class="bsk-row">
  <div class="bsk-col-12-md-2">
    <p class="bsk-text-info">Red lighter - <var>$bsk-colour-std-red-lighter</var> - <code>#E4ADB3</code></p>
  </div>
  <div class="bsk-col-12-md-2">
    <p class="bsk-text-info">Red light - <var>$bsk-colour-std-red-light</var> - <code>#CB5E68</code></p>
  </div>
  <div class="bsk-col-12-md-2">
    <p class="bsk-text-info">Red - <var>$bsk-colour-std-red-base</var> - <code>#B10E1E</code></p>
  </div>
  <div class="bsk-col-12-md-2">
    <p class="bsk-text-info">Red dark - <var>$bsk-colour-std-red-dark</var> - <code>#770914</code></p>
  </div>
  <div class="bsk-col-12-md-2">
    <p class="bsk-text-info">Red darker <var>$bsk-colour-std-red-darker</var> - <code>#3C050A</code></p>
  </div>
</div>

<div class="bsk-row">
  <div class="bsk-col-12-md-2">
    <div class="bsk-tb-colour-swatch bsk-tb-colour-swatch-bsk-colour-std-aircraft-red-lighter"></div>
  </div>
  <div class="bsk-col-12-md-2">
    <div class="bsk-tb-colour-swatch bsk-tb-colour-swatch-bsk-colour-std-aircraft-red-light"></div>
  </div>
  <div class="bsk-col-12-md-2">
    <div class="bsk-tb-colour-swatch bsk-tb-colour-swatch-bsk-colour-std-aircraft-red-base"></div>
  </div>
  <div class="bsk-col-12-md-2">
    <div class="bsk-tb-colour-swatch bsk-tb-colour-swatch-bsk-colour-std-aircraft-red-dark"></div>
  </div>
  <div class="bsk-col-12-md-2">
    <div class="bsk-tb-colour-swatch bsk-tb-colour-swatch-bsk-colour-std-aircraft-red-darker"></div>
  </div>
</div>
<div class="bsk-row">
  <div class="bsk-col-12-md-2">
    <p class="bsk-text-info">Aircraft Red lighter - <var>$bsk-colour-std-aircraft-red-lighter</var> - <code>#EEA8BA</code></p>
  </div>
  <div class="bsk-col-12-md-2">
    <p class="bsk-text-info">Aircraft Red light - <var>$bsk-colour-std-aircraft-red-light</var> - <code>#DD5476</code></p>
  </div>
  <div class="bsk-col-12-md-2">
    <p class="bsk-text-info">Aircraft Red - <var>$bsk-colour-std-aircraft-red-base</var> - <code>#CC0033</code></p>
  </div>
  <div class="bsk-col-12-md-2">
    <p class="bsk-text-info">Aircraft Red dark - <var>$bsk-colour-std-aircraft-red-dark</var> - <code>#890022</code></p>
  </div>
  <div class="bsk-col-12-md-2">
    <p class="bsk-text-info">Aircraft Red darker <var>$bsk-colour-std-aircraft-red-darker</var> - <code>#450011</code></p>
  </div>
</div>

<div class="bsk-row">
  <div class="bsk-col-12-md-2">
    <div class="bsk-tb-colour-swatch bsk-tb-colour-swatch-bsk-colour-std-baby-pink-lighter"></div>
  </div>
  <div class="bsk-col-12-md-2">
    <div class="bsk-tb-colour-swatch bsk-tb-colour-swatch-bsk-colour-std-baby-pink-light"></div>
  </div>
  <div class="bsk-col-12-md-2">
    <div class="bsk-tb-colour-swatch bsk-tb-colour-swatch-bsk-colour-std-baby-pink-base"></div>
  </div>
  <div class="bsk-col-12-md-2">
    <div class="bsk-tb-colour-swatch bsk-tb-colour-swatch-bsk-colour-std-baby-pink-dark"></div>
  </div>
  <div class="bsk-col-12-md-2">
    <div class="bsk-tb-colour-swatch bsk-tb-colour-swatch-bsk-colour-std-baby-pink-darker"></div>
  </div>
</div>
<div class="bsk-row">
  <div class="bsk-col-12-md-2">
    <p class="bsk-text-info">Baby Pink lighter - <var>$bsk-colour-std-baby-pink-lighter</var> - <code>#FBDCE9</code></p>
  </div>
  <div class="bsk-col-12-md-2">
    <p class="bsk-text-info">Baby Pink light - <var>$bsk-colour-std-baby-pink-light</var> - <code>#F8BBD3</code></p>
  </div>
  <div class="bsk-col-12-md-2">
    <p class="bsk-text-info">Baby Pink - <var>$bsk-colour-std-baby-pink-base</var> - <code>#F499BE</code></p>
  </div>
  <div class="bsk-col-12-md-2">
    <p class="bsk-text-info">Baby Pink dark - <var>$bsk-colour-std-baby-pink-dark</var> - <code>#A3677F</code></p>
  </div>
  <div class="bsk-col-12-md-2">
    <p class="bsk-text-info">Baby Pink darker <var>$bsk-colour-std-baby-pink-darker</var> - <code>#533441</code></p>
  </div>
</div>

<div class="bsk-row">
  <div class="bsk-col-12-md-2">
    <div class="bsk-tb-colour-swatch bsk-tb-colour-swatch-bsk-colour-std-pink-lighter"></div>
  </div>
  <div class="bsk-col-12-md-2">
    <div class="bsk-tb-colour-swatch bsk-tb-colour-swatch-bsk-colour-std-pink-light"></div>
  </div>
  <div class="bsk-col-12-md-2">
    <div class="bsk-tb-colour-swatch bsk-tb-colour-swatch-bsk-colour-std-pink-base"></div>
  </div>
  <div class="bsk-col-12-md-2">
    <div class="bsk-tb-colour-swatch bsk-tb-colour-swatch-bsk-colour-std-pink-dark"></div>
  </div>
  <div class="bsk-col-12-md-2">
    <div class="bsk-tb-colour-swatch bsk-tb-colour-swatch-bsk-colour-std-pink-darker"></div>
  </div>
</div>
<div class="bsk-row">
  <div class="bsk-col-12-md-2">
    <p class="bsk-text-info">Pink lighter - <var>$bsk-colour-std-pink-lighter</var> - <code>#F1BBD4</code></p>
  </div>
  <div class="bsk-col-12-md-2">
    <p class="bsk-text-info">Pink light - <var>$bsk-colour-std-pink-light</var> - <code>#E37AAA</code></p>
  </div>
  <div class="bsk-col-12-md-2">
    <p class="bsk-text-info">Pink - <var>$bsk-colour-std-pink-base</var> - <code>#D53880</code></p>
  </div>
  <div class="bsk-col-12-md-2">
    <p class="bsk-text-info">Pink dark - <var>$bsk-colour-std-pink-dark</var> - <code>#8F2656</code></p>
  </div>
  <div class="bsk-col-12-md-2">
    <p class="bsk-text-info">Pink darker <var>$bsk-colour-std-pink-darker</var> - <code>#48132C</code></p>
  </div>
</div>

<div class="bsk-row">
  <div class="bsk-col-12-md-2">
    <div class="bsk-tb-colour-swatch bsk-tb-colour-swatch-bsk-colour-std-fuschia-lighter"></div>
  </div>
  <div class="bsk-col-12-md-2">
    <div class="bsk-tb-colour-swatch bsk-tb-colour-swatch-bsk-colour-std-fuschia-light"></div>
  </div>
  <div class="bsk-col-12-md-2">
    <div class="bsk-tb-colour-swatch bsk-tb-colour-swatch-bsk-colour-std-fuschia-base"></div>
  </div>
  <div class="bsk-col-12-md-2">
    <div class="bsk-tb-colour-swatch bsk-tb-colour-swatch-bsk-colour-std-fuschia-dark"></div>
  </div>
  <div class="bsk-col-12-md-2">
    <div class="bsk-tb-colour-swatch bsk-tb-colour-swatch-bsk-colour-std-fuschia-darker"></div>
  </div>
</div>
<div class="bsk-row">
  <div class="bsk-col-12-md-2">
    <p class="bsk-text-info">Fuschia lighter - <var>$bsk-colour-std-fuschia-lighter</var> - <code>#DAB7D7</code></p>
  </div>
  <div class="bsk-col-12-md-2">
    <p class="bsk-text-info">Fuschia light - <var>$bsk-colour-std-fuschia-light</var> - <code>#B571AF</code></p>
  </div>
  <div class="bsk-col-12-md-2">
    <p class="bsk-text-info">Fuschia - <var>$bsk-colour-std-fuschia-base</var> - <code>#912B88</code></p>
  </div>
  <div class="bsk-col-12-md-2">
    <p class="bsk-text-info">Fuschia dark - <var>$bsk-colour-std-fuschia-dark</var> - <code>#611D5B</code></p>
  </div>
  <div class="bsk-col-12-md-2">
    <p class="bsk-text-info">Fuschia darker <var>$bsk-colour-std-fuschia-darker</var> - <code>#310F2E</code></p>
  </div>
</div>

<div class="bsk-row">
  <div class="bsk-col-12-md-2">
    <div class="bsk-tb-colour-swatch bsk-tb-colour-swatch-bsk-colour-std-mauve-lighter"></div>
  </div>
  <div class="bsk-col-12-md-2">
    <div class="bsk-tb-colour-swatch bsk-tb-colour-swatch-bsk-colour-std-mauve-light"></div>
  </div>
  <div class="bsk-col-12-md-2">
    <div class="bsk-tb-colour-swatch bsk-tb-colour-swatch-bsk-colour-std-mauve-base"></div>
  </div>
  <div class="bsk-col-12-md-2">
    <div class="bsk-tb-colour-swatch bsk-tb-colour-swatch-bsk-colour-std-mauve-dark"></div>
  </div>
  <div class="bsk-col-12-md-2">
    <div class="bsk-tb-colour-swatch bsk-tb-colour-swatch-bsk-colour-std-mauve-darker"></div>
  </div>
</div>
<div class="bsk-row">
  <div class="bsk-col-12-md-2">
    <p class="bsk-text-info">Mauve lighter - <var>$bsk-colour-std-mauve-lighter</var> - <code>#CECFE4</code></p>
  </div>
  <div class="bsk-col-12-md-2">
    <p class="bsk-text-info">Mauve light - <var>$bsk-colour-std-mauve-light</var> - <code>#9FA1C9</code></p>
  </div>
  <div class="bsk-col-12-md-2">
    <p class="bsk-text-info">Mauve - <var>$bsk-colour-std-mauve-base</var> - <code>#6F72AF</code></p>
  </div>
  <div class="bsk-col-12-md-2">
    <p class="bsk-text-info">Mauve dark - <var>$bsk-colour-std-mauve-dark</var> - <code>#4A4C75</code></p>
  </div>
  <div class="bsk-col-12-md-2">
    <p class="bsk-text-info">Mauve darker <var>$bsk-colour-std-mauve-darker</var> - <code>#26273C</code></p>
  </div>
</div>

<div class="bsk-row">
  <div class="bsk-col-12-md-2">
    <div class="bsk-tb-colour-swatch bsk-tb-colour-swatch-bsk-colour-std-blue-lighter"></div>
  </div>
  <div class="bsk-col-12-md-2">
    <div class="bsk-tb-colour-swatch bsk-tb-colour-swatch-bsk-colour-std-blue-light"></div>
  </div>
  <div class="bsk-col-12-md-2">
    <div class="bsk-tb-colour-swatch bsk-tb-colour-swatch-bsk-colour-std-blue-base"></div>
  </div>
  <div class="bsk-col-12-md-2">
    <div class="bsk-tb-colour-swatch bsk-tb-colour-swatch-bsk-colour-std-blue-dark"></div>
  </div>
  <div class="bsk-col-12-md-2">
    <div class="bsk-tb-colour-swatch bsk-tb-colour-swatch-bsk-colour-std-blue-darker"></div>
  </div>
</div>
<div class="bsk-row">
  <div class="bsk-col-12-md-2">
    <p class="bsk-text-info">Blue lighter - <var>$bsk-colour-std-blue-lighter</var> - <code>#A8BCC8</code></p>
  </div>
  <div class="bsk-col-12-md-2">
    <p class="bsk-text-info">Blue light - <var>$bsk-colour-std-blue-light</var> - <code>#547B92</code></p>
  </div>
  <div class="bsk-col-12-md-2">
    <p class="bsk-text-info">Blue - <var>$bsk-colour-std-blue-base</var> - <code>#003A5D</code></p>
  </div>
  <div class="bsk-col-12-md-2">
    <p class="bsk-text-info">Blue dark - <var>$bsk-colour-std-blue-dark</var> - <code>#00273E</code></p>
  </div>
  <div class="bsk-col-12-md-2">
    <p class="bsk-text-info">Blue darker <var>$bsk-colour-std-blue-darker</var> - <code>#001420</code></p>
  </div>
</div>

<div class="bsk-row">
  <div class="bsk-col-12-md-2">
    <div class="bsk-tb-colour-swatch bsk-tb-colour-swatch-bsk-colour-std-sky-blue-lighter"></div>
  </div>
  <div class="bsk-col-12-md-2">
    <div class="bsk-tb-colour-swatch bsk-tb-colour-swatch-bsk-colour-std-sky-blue-light"></div>
  </div>
  <div class="bsk-col-12-md-2">
    <div class="bsk-tb-colour-swatch bsk-tb-colour-swatch-bsk-colour-std-sky-blue-base"></div>
  </div>
  <div class="bsk-col-12-md-2">
    <div class="bsk-tb-colour-swatch bsk-tb-colour-swatch-bsk-colour-std-sky-blue-dark"></div>
  </div>
  <div class="bsk-col-12-md-2">
    <div class="bsk-tb-colour-swatch bsk-tb-colour-swatch-bsk-colour-std-sky-blue-darker"></div>
  </div>
</div>
<div class="bsk-row">
  <div class="bsk-col-12-md-2">
    <p class="bsk-text-info">Sky Blue lighter - <var>$bsk-colour-std-sky-blue-lighter</var> - <code>#B7D8EB</code></p>
  </div>
  <div class="bsk-col-12-md-2">
    <p class="bsk-text-info">Sky Blue light - <var>$bsk-colour-std-sky-blue-light</var> - <code>#71B2D7</code></p>
  </div>
  <div class="bsk-col-12-md-2">
    <p class="bsk-text-info">Sky Blue - <var>$bsk-colour-std-sky-blue-base</var> - <code>#2B8CC4</code></p>
  </div>
  <div class="bsk-col-12-md-2">
    <p class="bsk-text-info">Sky Blue dark - <var>$bsk-colour-std-sky-blue-dark</var> - <code>#1D5E83</code></p>
  </div>
  <div class="bsk-col-12-md-2">
    <p class="bsk-text-info">Sky Blue darker <var>$bsk-colour-std-sky-blue-darker</var> - <code>#0F3043</code></p>
  </div>
</div>

<div class="bsk-row">
  <div class="bsk-col-12-md-2">
    <div class="bsk-tb-colour-swatch bsk-tb-colour-swatch-bsk-colour-std-turquoise-lighter"></div>
  </div>
  <div class="bsk-col-12-md-2">
    <div class="bsk-tb-colour-swatch bsk-tb-colour-swatch-bsk-colour-std-turquoise-light"></div>
  </div>
  <div class="bsk-col-12-md-2">
    <div class="bsk-tb-colour-swatch bsk-tb-colour-swatch-bsk-colour-std-turquoise-base"></div>
  </div>
  <div class="bsk-col-12-md-2">
    <div class="bsk-tb-colour-swatch bsk-tb-colour-swatch-bsk-colour-std-turquoise-dark"></div>
  </div>
  <div class="bsk-col-12-md-2">
    <div class="bsk-tb-colour-swatch bsk-tb-colour-swatch-bsk-colour-std-turquoise-darker"></div>
  </div>
</div>
<div class="bsk-row">
  <div class="bsk-col-12-md-2">
    <p class="bsk-text-info">Turquoise lighter - <var>$bsk-colour-std-turquoise-lighter</var> - <code>#B6DFDC</code></p>
  </div>
  <div class="bsk-col-12-md-2">
    <p class="bsk-text-info">Turquoise light - <var>$bsk-colour-std-turquoise-light</var> - <code>#6FC0B9</code></p>
  </div>
  <div class="bsk-col-12-md-2">
    <p class="bsk-text-info">Turquoise - <var>$bsk-colour-std-turquoise-base</var> - <code>#28A197</code></p>
  </div>
  <div class="bsk-col-12-md-2">
    <p class="bsk-text-info">Turquoise dark - <var>$bsk-colour-std-turquoise-dark</var> - <code>#1B6C65</code></p>
  </div>
  <div class="bsk-col-12-md-2">
    <p class="bsk-text-info">Turquoise darker <var>$bsk-colour-std-turquoise-darker</var> - <code>#0E3733</code></p>
  </div>
</div>

<div class="bsk-row">
  <div class="bsk-col-12-md-2">
    <div class="bsk-tb-colour-swatch bsk-tb-colour-swatch-bsk-colour-std-green-lighter"></div>
  </div>
  <div class="bsk-col-12-md-2">
    <div class="bsk-tb-colour-swatch bsk-tb-colour-swatch-bsk-colour-std-green-light"></div>
  </div>
  <div class="bsk-col-12-md-2">
    <div class="bsk-tb-colour-swatch bsk-tb-colour-swatch-bsk-colour-std-green-base"></div>
  </div>
  <div class="bsk-col-12-md-2">
    <div class="bsk-tb-colour-swatch bsk-tb-colour-swatch-bsk-colour-std-green-dark"></div>
  </div>
  <div class="bsk-col-12-md-2">
    <div class="bsk-tb-colour-swatch bsk-tb-colour-swatch-bsk-colour-std-green-darker"></div>
  </div>
</div>
<div class="bsk-row">
  <div class="bsk-col-12-md-2">
    <p class="bsk-text-info">Green lighter - <var>$bsk-colour-std-green-lighter</var> - <code>#BBDAC0</code></p>
  </div>
  <div class="bsk-col-12-md-2">
    <p class="bsk-text-info">Green light - <var>$bsk-colour-std-green-light</var> - <code>#79B682</code></p>
  </div>
  <div class="bsk-col-12-md-2">
    <p class="bsk-text-info">Green - <var>$bsk-colour-std-green-base</var> - <code>#379245</code></p>
  </div>
  <div class="bsk-col-12-md-2">
    <p class="bsk-text-info">Green dark - <var>$bsk-colour-std-green-dark</var> - <code>#25622E</code></p>
  </div>
  <div class="bsk-col-12-md-2">
    <p class="bsk-text-info">Green darker <var>$bsk-colour-std-green-darker</var> - <code>#133217</code></p>
  </div>
</div>

<div class="bsk-row">
  <div class="bsk-col-12-md-2">
    <div class="bsk-tb-colour-swatch bsk-tb-colour-swatch-bsk-colour-std-nerc-green-lighter"></div>
  </div>
  <div class="bsk-col-12-md-2">
    <div class="bsk-tb-colour-swatch bsk-tb-colour-swatch-bsk-colour-std-nerc-green-light"></div>
  </div>
  <div class="bsk-col-12-md-2">
    <div class="bsk-tb-colour-swatch bsk-tb-colour-swatch-bsk-colour-std-nerc-green-base"></div>
  </div>
  <div class="bsk-col-12-md-2">
    <div class="bsk-tb-colour-swatch bsk-tb-colour-swatch-bsk-colour-std-nerc-green-dark"></div>
  </div>
  <div class="bsk-col-12-md-2">
    <div class="bsk-tb-colour-swatch bsk-tb-colour-swatch-bsk-colour-std-nerc-green-darker"></div>
  </div>
</div>
<div class="bsk-row">
  <div class="bsk-col-12-md-2">
    <p class="bsk-text-info">NERC Green lighter - <var>$bsk-colour-std-nerc-green-lighter</var> - <code>#E2E6BB</code></p>
  </div>
  <div class="bsk-col-12-md-2">
    <p class="bsk-text-info">NERC Green light - <var>$bsk-colour-std-nerc-green-light</var> - <code>#C6CD79</code></p>
  </div>
  <div class="bsk-col-12-md-2">
    <p class="bsk-text-info">NERC Green - <var>$bsk-colour-std-nerc-green-base</var> - <code>#AAB437</code></p>
  </div>
  <div class="bsk-col-12-md-2">
    <p class="bsk-text-info">NERC Green dark - <var>$bsk-colour-std-nerc-green-dark</var> - <code>#727925</code></p>
  </div>
  <div class="bsk-col-12-md-2">
    <p class="bsk-text-info">NERC Green darker <var>$bsk-colour-std-nerc-green-darker</var> - <code>#3A3D13</code></p>
  </div>
</div>

<div class="bsk-row">
  <div class="bsk-col-12-md-2">
    <div class="bsk-tb-colour-swatch bsk-tb-colour-swatch-bsk-colour-std-brown-lighter"></div>
  </div>
  <div class="bsk-col-12-md-2">
    <div class="bsk-tb-colour-swatch bsk-tb-colour-swatch-bsk-colour-std-brown-light"></div>
  </div>
  <div class="bsk-col-12-md-2">
    <div class="bsk-tb-colour-swatch bsk-tb-colour-swatch-bsk-colour-std-brown-base"></div>
  </div>
  <div class="bsk-col-12-md-2">
    <div class="bsk-tb-colour-swatch bsk-tb-colour-swatch-bsk-colour-std-brown-dark"></div>
  </div>
  <div class="bsk-col-12-md-2">
    <div class="bsk-tb-colour-swatch bsk-tb-colour-swatch-bsk-colour-std-brown-darker"></div>
  </div>
</div>
<div class="bsk-row">
  <div class="bsk-col-12-md-2">
    <p class="bsk-text-info">Brown lighter - <var>$bsk-colour-std-brown-lighter</var> - <code>#E6D7BE</code></p>
  </div>
  <div class="bsk-col-12-md-2">
    <p class="bsk-text-info">Brown light - <var>$bsk-colour-std-brown-light</var> - <code>#CDAF7F</code></p>
  </div>
  <div class="bsk-col-12-md-2">
    <p class="bsk-text-info">Brown - <var>$bsk-colour-std-brown-base</var> - <code>#B58840</code></p>
  </div>
  <div class="bsk-col-12-md-2">
    <p class="bsk-text-info">Brown dark - <var>$bsk-colour-std-brown-dark</var> - <code>#795B2B</code></p>
  </div>
  <div class="bsk-col-12-md-2">
    <p class="bsk-text-info">Brown darker <var>$bsk-colour-std-brown-darker</var> - <code>#3E2E16</code></p>
  </div>
</div>

<p class="bsk-text-info">(Spacer)</p>
<div class="bsk-tb-colour-swatch"></div>
{% endblock %}
