{% extends "layouts/sample.layout.njk" %}

{% set sample_href = "0093-colours-bas-brand.html" %}
{% set sample_number = "#0093" %}
{% set sample_title = "BAS brand colour" %}

{% block sample %}
<p class"text-info">BAS blue - <var>$bsk-blue</var> - <code>#006AAA</code></p>
<div class="bsk-tb-colour-swatch bsk-tb-colour-swatch-006AAA"></div>
{% endblock %}
