{% extends "layouts/sample.layout.njk" %}

{% set sample_href = "0094--colours-action-default.html" %}
{% set sample_number = "#0094" %}
{% set sample_title = "Default action colour" %}

{% block sample %}
<p class"text-info">Default action (background) - <var>$btn-bsk-default-bg</var> - <code>#C3C3C3</code></p>
<div class="bsk-tb-colour-swatch bsk-tb-colour-swatch-C3C3C3"></div>

<p class"text-info">Default action (border) - <var>$btn-bsk-default-border</var> - <code>#8C8C8C</code></p>
<div class="bsk-tb-colour-swatch bsk-tb-colour-swatch-8C8C8C"></div>
{% endblock %}
