{% extends "layouts/sample.layout.njk" %}

{% set sample_href = "0094--colours-action-default.html" %}
{% set sample_number = "#0094" %}
{% set sample_title = "Default action colour" %}

{% block sample %}
<p class="bsk-text-info">Default action (background) - <var>$btn-default-bg</var> - <code>#EEEEEE</code></p>
<div class="bsk-tb-colour-swatch bsk-tb-colour-swatch-bsk-colour-std-grey-lighter"></div>

<p class="bsk-text-info">Default action (border) - <var>$btn-default-border</var> - <code>#EEEEEE</code></p>
<p class="bsk-text-info">Intentionally the same as the default action (background)</p>
<div class="bsk-tb-colour-swatch bsk-tb-colour-swatch-bsk-colour-std-grey-lighter"></div>
{% endblock %}
