{% extends "layouts/sample.layout.njk" %}

{% set sample_href = "0095--colours-action-primary.html" %}
{% set sample_number = "#0095" %}
{% set sample_title = "Primary action colour" %}

{% block sample %}
<p class"bsk-text-info">Primary action (background) - <var>$btn-bsk-primary-bg</var> - <code>#0DA59F</code></p>
<div class="bsk-tb-colour-swatch bsk-tb-colour-swatch-0DA59F"></div>

<p class"bsk-text-info">Primary action (border) - <var>$btn-bsk-primary-border</var> - <code>#0B8D88</code></p>
<div class="bsk-tb-colour-swatch bsk-tb-colour-swatch-0B8D88"></div>
{% endblock %}
