{% extends "layouts/sample.layout.njk" %}

{% set sample_href = "0095--colours-action-primary.html" %}
{% set sample_number = "#0095" %}
{% set sample_title = "Primary action colour" %}

{% block sample %}
<p class="bsk-text-info">Primary action (background) - <var>$btn-primary-bg</var> - <code>#28A197</code></p>
<div class="bsk-tb-colour-swatch bsk-tb-colour-swatch-bsk-colour-std-turquoise-base"></div>

<p class="bsk-text-info">Primary action (border) - <var>$btn-primary-border</var> - <code>#28A197</code></p>
<div class="bsk-tb-colour-swatch bsk-tb-colour-swatch-bsk-colour-std-turquoise-base"></div>
{% endblock %}
