{% extends "layouts/sample.layout.njk" %}

{% set sample_href = "0096-colours-action-typography.html" %}
{% set sample_number = "#0096" %}
{% set sample_title = "Page typography colours" %}

{% block sample %}
<p class"text-info">Page text - <var>$page-text</var> - <code>#333333</code></p>
<div class="bsk-tb-colour-swatch bsk-tb-colour-swatch-333333"></div>

<p class"text-info">Link colour - <var>$link-color</var> - <code>#007AC3</code></p>
<div class="bsk-tb-colour-swatch bsk-tb-colour-swatch-007AC3"></div>
{% endblock %}
