{% extends "layouts/sample.layout.njk" %}

{% set sample_href = "0096--colours-action-typography.html" %}
{% set sample_number = "#0096" %}
{% set sample_title = "Page typography colours" %}

{% block sample %}
<p class="bsk-text-info">Page text - <var>$page-text</var> - <code>#333333</code></p>
<div class="bsk-tb-colour-swatch bsk-tb-colour-swatch-bsk-colour-std-grey-darker"></div>

<p class="bsk-text-info">Link colour - <var>$link-color</var> - <code>#2B8CC4</code></p>
<div class="bsk-tb-colour-swatch bsk-tb-colour-swatch-bsk-colour-std-sky-blue-base"></div>
{% endblock %}
