{% extends "layouts/sample.layout.njk" %}

{% set sample_href = "0097--colours-page-background.html" %}
{% set sample_number = "#0097" %}
{% set sample_title = "Page background colour" %}

{% block sample %}
<p class="bsk-text-info">Page background - <var>$page-background</var> - <code>#FFFFFF</code></p>
<div class="bsk-tb-colour-swatch bsk-tb-colour-swatch-bsk-colour-std-white"></div>
{% endblock %}
