{% extends "layouts/sample.layout.njk" %}

{% import "macros/form.njk" as form %}

{% set sample_href = "0099--form-control-input-password.html" %}
{% set sample_number = "#0099" %}
{% set sample_title = "Password input form control" %}
{% set sample_markup = 'input[type="password"].form-control' %}

{% block sample %}
{{ form.bsk_tb_form_control_input_v1(type="password") }}
{% endblock %}
