{% extends "layouts/sample.layout.njk" %}

{% import "macros/form.njk" as form %}

{% set sample_href = "0101--form-control-input-number.html" %}
{% set sample_number = "#0101" %}
{% set sample_title = "Number input form control" %}
{% set sample_markup = 'input[type="number"].form-control' %}

{% block sample %}
{{ form.bsk_tb_form_control_input_v1(type="number", values=[12, "Two"]) }}
{% endblock %}
