{% extends "layouts/sample.layout.njk" %}

{% import "macros/form.njk" as form %}

{% set sample_href = "0103--form-control-input-date.html" %}
{% set sample_number = "#0103" %}
{% set sample_title = "Date input form control" %}
{% set sample_markup = 'input[type="date"].form-control' %}

{% block sample %}
{{ form.bsk_tb_form_control_input_v1(type="date", values=["1991-12-22", "1991", "1991-12", "1991-W16"]) }}
{% endblock %}
