{% extends "layouts/sample.layout.njk" %}

{% import "macros/form.njk" as form %}

{% set sample_href = "0104--form-control-input-month.html" %}
{% set sample_number = "#0104" %}
{% set sample_title = "Month input form control" %}
{% set sample_markup = 'input[type="month"].form-control' %}

{% block sample %}
{{ form.bsk_tb_form_control_input_v1(type="month", values=["1991-12", "1991-12-22", "1991-Dec"]) }}
{% endblock %}
