{% extends "layouts/sample.layout.njk" %}

{% import "macros/form.njk" as form %}

{% set sample_href = "0107--form-control-input-url.html" %}
{% set sample_number = "#0107" %}
{% set sample_title = "URL input form control" %}
{% set sample_markup = 'input[type="url"].form-control' %}

{% block sample %}
{{ form.bsk_tb_form_control_input_v1(type="url", values=["https://www.bas.ac.uk", "invalid [url]"]) }}
{% endblock %}
