{% extends "layouts/sample.layout.njk" %}

{% import "macros/form.njk" as form %}

{% set sample_href = "0108--form-control-input-search.html" %}
{% set sample_number = "#0108" %}
{% set sample_title = "Search input form control" %}
{% set sample_markup = 'input[type="search"].form-control' %}

{% block sample %}
{{ form.bsk_tb_form_control_input_v1(type="search") }}
{% endblock %}
