{% extends "layouts/sample.layout.njk" %}

{% import "macros/form.njk" as form %}

{% set sample_href = "0110--form-control-input-color.html" %}
{% set sample_number = "#0110" %}
{% set sample_title = "Color input form control" %}
{% set sample_markup = 'input[type="color"].form-control' %}

{% block sample %}
{{ form.bsk_tb_form_control_input_v1(type="color", values=["#0DA59F", "black", "surprise!"]) }}
{% endblock %}
