{% extends "layouts/sample.layout.njk" %}

{% import "macros/form.njk" as form %}

{% set sample_href = "0111--form-control-textarea.html" %}
{% set sample_number = "#0111" %}
{% set sample_title = "Textarea form control" %}
{% set sample_markup = 'textarea.bsk-form-control' %}

{% block sample %}
<form>
  <fieldset class="bsk-form-group">
    <label class="bsk-control-label">Textarea</label>
    <textarea class="bsk-form-control"></textarea>
  </fieldset>
</form>

<p class="bsk-text-info">Textarea input with a single line <code>value</code></p>
<form>
  <fieldset class="bsk-form-group">
    <label class="bsk-control-label">Textarea</label>
    <textarea class="bsk-form-control">Value ...</textarea>
  </fieldset>
</form>

<p class="bsk-text-info">Textarea input with a newline-line <code>value</code></p>
<form>
  <fieldset class="bsk-form-group">
    <label class="bsk-control-label">Textarea</label>
    <textarea class="bsk-form-control">
    That coat costs more than your house!
    There are dozens of us! DOZENS!
    </textarea>
  </fieldset>
</form>

<p class="bsk-text-info">Textarea input with the <code>placeholder</code> attribute</p>
<form>
  <fieldset class="bsk-form-group">
    <label class="bsk-control-label">Textarea input</label>
    <textarea class="bsk-form-control" placeholder="Placeholder"></textarea>
  </fieldset>
</form>

<p class="bsk-text-info">Textarea input with a <code>placeholder</code> attribute and single line <code>value</code></p>
<form>
  <fieldset class="bsk-form-group">
    <label class="bsk-control-label">Textarea</label>
    <textarea class="bsk-form-control" placeholder="Placeholder">Value ...</textarea>
  </fieldset>
</form>

<h4 class="bsk-tb-margin-top bsk-tb-sample-sub-heading">Disabled state</h4>
<p class="bsk-text-info">Textarea with the <code>disabled</code> attribute</p>
<form>
  <fieldset class="bsk-form-group">
    <label class="bsk-control-label">Textarea</label>
    <textarea class="bsk-form-control" disabled></textarea>
  </fieldset>
</form>

<p class="bsk-text-info">Textarea with a <code>disabled</code> and <code>value</code> attribute</p>
<form>
  <fieldset class="bsk-form-group">
    <label class="bsk-control-label">Textarea</label>
    <textarea class="bsk-form-control" disabled>Value ...</textarea>
  </fieldset>
</form>

<h4 class="bsk-tb-margin-top bsk-tb-sample-sub-heading">Required state</h4>
<p class="bsk-text-info">Textarea with the <code>required</code> attribute</p>
<form>
  <fieldset class="bsk-form-group">
    <label class="bsk-control-label">Textarea</label>
    <textarea class="bsk-form-control" required></textarea>
  </fieldset>
</form>

<h4 class="bsk-tb-margin-top bsk-tb-sample-sub-heading">Readonly state</h4>
<p class="bsk-text-info">Textarea with the <code>readonly</code> attribute</p>
<form>
  <fieldset class="bsk-form-group">
    <label class="bsk-control-label">Textarea</label>
    <textarea class="bsk-form-control" readonly></textarea>
  </fieldset>
</form>

<p class="bsk-text-info">Textarea with a <code>readonly</code> and <code>value</code> attribute</p>
<form>
  <fieldset class="bsk-form-group">
    <label class="bsk-control-label">Textarea</label>
    <textarea class="bsk-form-control" readonly>Value ...</textarea>
  </fieldset>
</form>

<h4 class="bsk-tb-margin-top bsk-tb-sample-sub-heading">Focus state (simulated)</h4>
<form>
  <fieldset class="bsk-form-group">
    <label class="bsk-control-label">Textarea input</label>
    <textarea class="bsk-form-control bsk-tb-simulated-state-focus"></textarea>
  </fieldset>
</form>

<h4 class="bsk-tb-margin-top bsk-tb-sample-sub-heading">Validation states</h4>
<p class="bsk-text-info">Textarea input with the <code>.has-success</code>
(<strong class="bsk-text-success">Success</strong>) validation state statically applied.</p>
<form>
  <fieldset class="bsk-form-group bsk-has-success">
    <label class="bsk-control-label">Textarea input</label>
    <textarea class="bsk-form-control"></textarea>
  </fieldset>
</form>

<p class="bsk-text-info">Textarea with the <code>.has-warning</code>
(<strong class="bsk-text-warning">Warning</strong>) validation state statically applied.</p>
<form>
  <fieldset class="bsk-form-group bsk-has-warning">
    <label class="bsk-control-label">Textarea input</label>
    <textarea class="bsk-form-control"></textarea>
  </fieldset>
</form>

<p class="bsk-text-info">Textarea input with the <code>.has-error</code>
(<strong class="bsk-text-danger">Error</strong>) validation state statically applied.</p>
<form>
  <fieldset class="bsk-form-group bsk-has-error">
    <label class="bsk-control-label">Textarea input</label>
    <textarea class="bsk-form-control"></textarea>
  </fieldset>
</form>
{% endblock %}
