{% extends "layouts/sample.layout.njk" %}

{% import "macros/form.njk" as form %}

{% set sample_href = "0112--form-control-select.html" %}
{% set sample_number = "#0112" %}
{% set sample_title = "Select form control" %}
{% set sample_markup = 'select.bsk-form-control' %}

{% block sample %}
<form>
  <fieldset class="bsk-form-group">
    <label class="bsk-control-label">Select</label>
    <select class="bsk-form-control">
      <option value="option-1">Option 1</option>
      <option value="option-2">Option 2</option>
      <option value="option-3">Option 3</option>
    </select>
  </fieldset>
</form>

<p class="bsk-text-info">Select input with a single option selected</p>
<form>
  <fieldset class="bsk-form-group">
    <label class="bsk-control-label">Select</label>
    <select class="bsk-form-control">
      <option value="option-1">Option 1</option>
      <option value="option-2" selected>Option 2</option>
      <option value="option-3">Option 3</option>
    </select>
  </fieldset>
</form>

<h4 class="bsk-tb-margin-top bsk-tb-sample-sub-heading">Required state</h4>
<p class="bsk-text-info">Select input with the <code>required</code> attribute</p>
<form>
  <fieldset class="bsk-form-group">
    <label class="bsk-control-label">Select</label>
    <select class="bsk-form-control" required>
      <option value="option-1">Option 1</option>
      <option value="option-2">Option 2</option>
      <option value="option-3">Option 3</option>
    </select>
  </fieldset>
</form>

<h4 class="bsk-tb-margin-top bsk-tb-sample-sub-heading">Disabled state</h4>
<p class="bsk-text-info">Select input with the <code>disabled</code> attribute</p>
<form>
  <fieldset class="bsk-form-group">
    <label class="bsk-control-label">Select</label>
    <select class="bsk-form-control" disabled>
      <option value="option-1">Option 1</option>
      <option value="option-2">Option 2</option>
      <option value="option-3">Option 3</option>
    </select>
  </fieldset>
</form>

<h4 class="bsk-tb-margin-top bsk-tb-sample-sub-heading">Readonly state</h4>
<p class="bsk-text-info">Select input with the <code>readonly</code> attribute</p>
<form>
  <fieldset class="bsk-form-group">
    <label class="bsk-control-label">Select</label>
    <select class="bsk-form-control" readonly>
      <option value="option-1">Option 1</option>
      <option value="option-2">Option 2</option>
      <option value="option-3">Option 3</option>
    </select>
  </fieldset>
</form>

<h4 class="bsk-tb-margin-top bsk-tb-sample-sub-heading">Focus state (simulated)</h4>
<form>
  <fieldset class="bsk-form-group">
    <label class="bsk-control-label">Select</label>
    <select class="bsk-form-control bsk-tb-simulated-state-focus">
      <option value="option-1">Option 1</option>
      <option value="option-2">Option 2</option>
      <option value="option-3">Option 3</option>
    </select>
  </fieldset>
</form>

<h4 class="bsk-tb-margin-top bsk-tb-sample-sub-heading">Validation states</h4>
<p class="bsk-text-info">Select input with the <code>.has-success</code>
(<strong class="bsk-text-success">Success</strong>) validation state statically applied.</p>
<form>
  <fieldset class="bsk-form-group bsk-has-success">
    <label class="bsk-control-label">Select</label>
    <select class="bsk-form-control">
      <option value="option-1">Option 1</option>
      <option value="option-2">Option 2</option>
      <option value="option-3">Option 3</option>
    </select>
  </fieldset>
</form>

<p class="bsk-text-info">Select input with the <code>.has-warning</code>
(<strong class="bsk-text-warning">Warning</strong>) validation state statically applied.</p>
<form>
  <fieldset class="bsk-form-group bsk-has-warning">
    <label class="bsk-control-label">Select</label>
    <select class="bsk-form-control">
      <option value="option-1">Option 1</option>
      <option value="option-2">Option 2</option>
      <option value="option-3">Option 3</option>
    </select>
  </fieldset>
</form>

<p class="bsk-text-info">Select input with the <code>.has-error</code>
(<strong class="bsk-text-danger">Error</strong>) validation state statically applied.</p>
<form>
  <fieldset class="bsk-form-group bsk-has-error">
    <label class="bsk-control-label">Select</label>
    <select class="bsk-form-control">
      <option value="option-1">Option 1</option>
      <option value="option-2">Option 2</option>
      <option value="option-3">Option 3</option>
    </select>
  </fieldset>
</form>
{% endblock %}
