{% extends "layouts/sample.layout.njk" %}

{% import "macros/form.njk" as form %}

{% set sample_href = "0119--form-control-button.html" %}
{% set sample_number = "#0119" %}
{% set sample_title = "Button form control" %}
{% set sample_markup = 'button.bsk-btn.bsk-btn-default' %}

{% block sample %}
<form>
  <button type="submit" class="bsk-btn bsk-btn-default">Submit</button>
</form>
{% endblock %}
