{% extends "layouts/sample.layout.njk" %}

{% import "macros/form.njk" as form %}

{% set sample_href = "0122--form-layout-group-multiple.html" %}
{% set sample_number = "#0122" %}
{% set sample_title = "From group layout" %}
{% set sample_markup = 'fieldset .bsk-form-group' %}

{% block sample %}
<form>
  <fieldset>
    <div class="bsk-form-group">
      <label class="bsk-control-label">Text input 1</label>
      <input type="text" class="bsk-form-control">
    </div>
    <div class="bsk-form-group">
      <label class="bsk-control-label">Text input 2</label>
      <input type="text" class="bsk-form-control">
    </div>
  </fieldset>
</form>

<p class="bsk-text-info">Using a <code>legend</code></p>
<form>
  <fieldset>
    <legend>Fieldset legend</legend>
    <div class="bsk-form-group">
      <label class="bsk-control-label">Text input 1</label>
      <input type="text" class="bsk-form-control">
    </div>
    <div class="bsk-form-group">
      <label class="bsk-control-label">Text input 2</label>
      <input type="text" class="bsk-form-control">
    </div>
  </fieldset>
</form>
{% endblock %}
