{% extends "layouts/sample.layout.njk" %}

{% import "macros/form.njk" as form %}

{% set sample_href = "0123--form-layout-horizontal.html" %}
{% set sample_number = "#0123" %}
{% set sample_title = "Horizontal form layout" %}
{% set sample_markup = 'form.bsk-form-horizontal' %}

{% block sample %}
<div class="bsk-container">
  <p class="bsk-text-info">Using the medium alternative grid, in a fixed-width container.
Each <code>.control-label</code> is 2 columns wide, each <code>.bsk-form-control</code> is 10 columns wide.</p>
  <form class="bsk-form-horizontal">
    <fieldset class="bsk-form-group">
      <label class="bsk-control-label bsk-col-12-md-2">Text input</label>
      <div class="bsk-col-12-md-10">
        <input type="text" class="bsk-form-control">
      </div>
    </fieldset>
  </form>
</div>

<div class="bsk-container">
  <p class="bsk-text-info">Using the medium alternative grid, in a fixed-width container.
Each <code>.bsk-radio-inline</code> is 10 columns wide, with a two column offset.</p>
  <form class="bsk-form-horizontal">
    <fieldset class="bsk-form-group">
      <div class="bsk-col-12-md-10 bsk-col-12-md-offset-2">
        <div class="bsk-radio-inline">
          <label class="bsk-control-label">
            <input type="radio" name="example-1" id="example-1-a" value="A">
              Option 1 (A)
          </label>
        </div>
        <div class="bsk-radio-inline">
          <label class="bsk-control-label">
            <input type="radio" name="example-1" id="example-1-b" value="B">
              Option 1 (B)
          </label>
        </div>
        <div class="bsk-radio-inline">
          <label class="bsk-control-label">
            <input type="radio" name="example-1" id="example-1-c" value="C">
              Option 1 (C)
          </label>
        </div>
      </div>
    </fieldset>
  </form>
</div>

<form class="bsk-form-horizontal">
  <div class="bsk-container">
    <p class="bsk-text-info">Using the medium alternative grid, in a fixed-width container.
Each <code>.control-label</code> is 2 columns wide, each <code>.bsk-form-control</code> is 10 columns wide.</p>
<p class="bsk-text-info"><code>fieldset</code> with multiple controls, using a <code>legend</code></p>
    <fieldset>
      <legend>Fieldset legend</legend>
      <div class="bsk-form-group">
        <label class="bsk-control-label bsk-col-12-md-2">Text input 1</label>
        <div class="bsk-col-12-md-10">
          <input type="text" class="form-control">
        </div>
      </div>
      <div class="bsk-form-group">
        <label class="bsk-control-label bsk-col-12-md-2">Text input 2</label>
        <div class="bsk-col-12-md-10">
          <input type="text" class="form-control">
        </div>
      </div>
    </fieldset>
  </div>
</form>
{% endblock %}
