{% extends "layouts/sample.layout.njk" %}

{% import "macros/form.njk" as form %}

{% set sample_href = "0130--img-shape-rounded.html" %}
{% set sample_number = "#0130" %}
{% set sample_title = "Rounded image" %}
{% set sample_markup = '.bsk-img-rounded' %}

{% block sample %}
<img class="bsk-img-rounded" src="https://placeholdit.imgix.net/~text?txtsize=50&amp;w=140&amp;h=140" alt="Rounded image">
{% endblock %}
