{% extends "layouts/sample.layout.njk" %}

{% import "macros/form.njk" as form %}

{% set sample_href = "0131--img-shape-circle.html" %}
{% set sample_number = "#0131" %}
{% set sample_title = "Circular image" %}
{% set sample_markup = '.bsk-img-circle' %}

{% block sample %}
<img class="bsk-img-circle" src="https://placeholdit.imgix.net/~text?txtsize=50&amp;w=140&amp;h=140" alt="Circular image">
{% endblock %}
