{% extends "layouts/sample.layout.njk" %}

{% import "macros/form.njk" as form %}

{% set sample_href = "0133--img-shape-responsive.html" %}
{% set sample_number = "#0133" %}
{% set sample_title = "Responsive image" %}
{% set sample_markup = '.img-responsive' %}

{% block sample %}
<img class="img-responsive" src="{{ main_base_path }}testbed/testbed-assets/img/responsive-image.jpg" alt="Sky at Halley VI research station">
{% endblock %}
