{% extends "layouts/sample.layout.njk" %}

{% set sample_href = "0134--alert-success.html" %}
{% set sample_number = "#0134" %}
{% set sample_title = "Successful alert" %}
{% set sample_markup = '.bsk-alert.bsk-alert-success' %}

{% block sample %}
<div class="bsk-alert bsk-alert-success" role="alert">Success alert</div>

<h4 class="bsk-tb-margin-top bsk-tb-sample-sub-heading">With alert link</h4>
<div class="bsk-alert bsk-alert-success" role="alert">Success alert with a <a href="#" class="bsk-alert-link">link</a></div>

<h4 class="bsk-tb-margin-top bsk-tb-sample-sub-heading">With contextual icon</h4>
<div class="bsk-alert bsk-alert-success" role="alert">
  <i class="fa fa-check text-success" aria-hidden="true"></i> Success alert
</div>

<h4 class="bsk-tb-margin-top bsk-tb-sample-sub-heading">With contextual conventional dismiss icons</h4>
<div class="bsk-alert bsk-alert-success" role="alert">
  <button type="button" class="bsk-close" data-dismiss="alert" aria-label="Close"><i class="fa fa-times-circle" aria-hidden="true"></i></button>
  <i class="fa fa-check text-success" aria-hidden="true"></i> Success alert
</div>
{% endblock %}
