{% extends "layouts/sample.layout.njk" %}

{% set sample_href = "0135--alert-warning.html" %}
{% set sample_number = "#0135" %}
{% set sample_title = "Warning alert" %}
{% set sample_markup = '.bsk-alert.bsk-alert-warning' %}

{% block sample %}
<div class="bsk-alert bsk-alert-warning" role="alert">Warning alert</div>

<h4 class="bsk-tb-margin-top bsk-tb-sample-sub-heading">With alert link</h4>
<div class="bsk-alert bsk-alert-warning" role="alert">Warning alert with a <a href="#" class="bsk-alert-link">link</a></div>

<h4 class="bsk-tb-margin-top bsk-tb-sample-sub-heading">With contextual icon</h4>
<div class="bsk-alert bsk-alert-warning" role="alert">
  <i class="fa fa-exclamation-triangle text-warning" aria-hidden="true"></i> Warning alert
</div>

<h4 class="bsk-tb-margin-top bsk-tb-sample-sub-heading">With contextual conventional dismiss icons</h4>
<div class="bsk-alert bsk-alert-warning" role="alert">
  <button type="button" class="bsk-close" data-dismiss="alert" aria-label="Close"><i class="fa fa-times-circle" aria-hidden="true"></i></button>
  <i class="fa fa-exclamation-triangle text-warning" aria-hidden="true"></i> Warning alert
</div>
{% endblock %}
