{% extends "layouts/sample.layout.njk" %}

{% set sample_href = "0138--badge.html" %}
{% set sample_number = "#0138" %}
{% set sample_title = "Badge" %}
{% set sample_markup = '.bsk-badge' %}

{% block sample %}
<p><a href="#"><span class="bsk-badge">42</span></a></p>

<h4 class="bsk-tb-margin-top bsk-tb-sample-sub-heading">Empty badges automatically hide</h4>
<p><a href="#">Unread notifications <span class="bsk-badge"><!-- Empty badges automatically hide --></span></a></p>
{% endblock %}
