{% extends "layouts/sample.layout.njk" %}

{% set sample_href = "0139--label-default.html" %}
{% set sample_number = "#0139" %}
{% set sample_title = "default label" %}
{% set sample_markup = ".label.label-default" %}

{% block sample %}
<p><span class="label label-default">Label</span></p>
{% endblock %}
