{% extends "layouts/sample.layout.njk" %}

{% set sample_href = "0140--label-success.html" %}
{% set sample_number = "#0140" %}
{% set sample_title = "success label" %}
{% set sample_markup = ".label.label-success" %}

{% block sample %}
<p><span class="label label-success">Label</span></p>
{% endblock %}
