{% extends "layouts/sample.layout.njk" %}

{% set sample_href = "0141--label-warning.html" %}
{% set sample_number = "#0141" %}
{% set sample_title = "warning label" %}
{% set sample_markup = ".bsk-label.bsk-label-warning" %}

{% block sample %}
<p><span class="bsk-label bsk-label-warning">Label</span></p>
{% endblock %}
