{% extends "layouts/sample.layout.njk" %}

{% set sample_href = "0142--label-danger.html" %}
{% set sample_number = "#0142" %}
{% set sample_title = "danger label" %}
{% set sample_markup = ".label.label-danger" %}

{% block sample %}
<p><span class="label label-danger">Label</span></p>
{% endblock %}
