{% extends "layouts/sample.layout.njk" %}

{% set sample_href = "0143--label-info.html" %}
{% set sample_number = "#0143" %}
{% set sample_title = "info label" %}
{% set sample_markup = ".bsk-label.bsk-label-info" %}

{% block sample %}
<p><span class="bsk-label bsk-label-info">Label</span></p>
{% endblock %}
