{% extends "layouts/sample.layout.njk" %}

{% set sample_href = "0144--header-default.html" %}
{% set sample_number = "#0144" %}
{% set sample_title = "header" %}
{% set sample_markup = ".bsk-header.bsk-header-default" %}

{% block sample %}
<header class="bsk-header bsk-header-default">
  <div class="bsk-header-container-fluid">
    <a href="#">
      <img class="bsk-header-img-logo" alt="British Antarctic Survey Logo" src="{{ main_base_path }}testbed/testbed-assets/img/bas-logo-full-white-transparent.png">
    </a>
  </div>
</header>
{% endblock %}
