{% extends "layouts/sample.layout.njk" %}

{% set sample_href = "0145--footer-default.html" %}
{% set sample_number = "#0145" %}
{% set sample_title = "footer" %}
{% set sample_markup = ".bsk-footer.bsk-footer-default" %}

{% block sample %}
<footer class="bsk-footer bsk-footer-default">
</footer>

<h4 class="bsk-tb-margin-top bsk-tb-sample-sub-heading">With simple content</h4>
<footer class="bsk-footer bsk-footer-default">
  <div class="bsk-container-fluid">
    Footer content
  </div>
</footer>

<h4 class="bsk-tb-margin-top bsk-tb-sample-sub-heading">With link lists grouped unequally with headings</h4>
<footer class="bsk-footer bsk-footer-default">
  <div class="bsk-container-fluid">
    <div class="bsk-row">
      <div class="bsk-col-md-3">
        <h3>Link list 1 (1 column)</h3>
        <ul class="bsk-list-unstyled">
          <li><a href="#">Link 1</a></li>
          <li><a href="#">Link 2</a></li>
          <li><a href="#">Link 3</a></li>
          <li><a href="#">Link 4</a></li>
          <li><a href="#">Link 5</a></li>
          <li><a href="#">Link 6</a></li>
        </ul>
      </div>
      <div class="bsk-col-md-6">
        <h3>Link list 2 (2 columns)</h3>
        <div class="bsk-col-md-3">
          <ul class="bsk-list-unstyled">
            <li><a href="#">Link 1</a></li>
            <li><a href="#">Link 2</a></li>
            <li><a href="#">Link 3</a></li>
            <li><a href="#">Link 4</a></li>
            <li><a href="#">Link 5</a></li>
            <li><a href="#">Link 6</a></li>
          </ul>
        </div>
        <div class="bsk-col-md-3">
          <ul class="bsk-list-unstyled">
            <li><a href="#">Link 1</a></li>
            <li><a href="#">Link 2</a></li>
            <li><a href="#">Link 3</a></li>
            <li><a href="#">Link 4</a></li>
            <li><a href="#">Link 5</a></li>
            <li><a href="#">Link 6</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
{% endblock %}
