{% extends "layouts/sample.layout.njk" %}

{% set sample_href = "0146--footer-divider.html" %}
{% set sample_number = "#0146" %}
{% set sample_title = "footer divder" %}
{% set sample_markup = ".bsk-footer-divder" %}

{% block sample %}
<footer class="bsk-footer bsk-footer-default">
  <div class="bsk-container-fluid">
    <div role="separator" class="bsk-footer-divider"></div>
  </div>
</footer>

<footer class="bsk-footer bsk-footer-default">
  <div class="bsk-container-fluid">
    Footer content above
    <div role="separator" class="bsk-footer-divider"></div>
    Footer content below
  </div>
</footer>
{% endblock %}
