{% extends "layouts/sample.layout.njk" %}

{% set sample_href = "0148--footer-policy-links.html" %}
{% set sample_number = "#0148" %}
{% set sample_title = "footer legal policies" %}
{% set sample_markup = ".footer-bsk-policy-links" %}

{% block sample %}
<footer class="footer-bsk footer-bsk-default">
  <div class="container-fluid">
    <div class="footer-bsk-policy-links">
      © (Year) NERC BAS
      <ul class="list-inline">
        <li><a href="#">Copyright</a></li>
        <li><a href="#">Privacy</a></li>
        <li><a href="#">Cookies</a></li>
      </ul>
    </div>
  </div>
</footer>

<h4 class="bsk-tb-margin-top bsk-tb-sample-sub-heading">With footer divider</h4>
<footer class="footer-bsk footer-bsk-default">
  <div class="container-fluid">
    Footer content above
    <div role="separator" class="footer-bsk-divider"></div>
    <div class="footer-bsk-policy-links">
      © (Year) NERC BAS
      <ul class="list-inline">
        <li><a href="#">Copyright</a></li>
        <li><a href="#">Privacy</a></li>
        <li><a href="#">Cookies</a></li>
      </ul>
    </div>
  </div>
</footer>

<h4 class="bsk-tb-margin-top bsk-tb-sample-sub-heading">With footer divider and OGL</h4>
<footer class="footer-bsk footer-bsk-default">
  <div class="container-fluid">
    Footer content above
    <div role="separator" class="footer-bsk-divider"></div>
    <div class="footer-bsk-ogl">
      <a class="ogl-symbol" rel="license" href="http://www.nationalarchives.gov.uk/doc/open-government-licence/"><img alt="Open Government Licence logo" src="{{ main_base_path }}testbed/testbed-assets/img/ogl-symbol-white.png"></a>
      <div class="ogl-text">All content is licensed under the <a href="http://www.nationalarchives.gov.uk/doc/open-government-licence/">Open Government Licence v3.0</a>, except where otherwise stated</div>
    </div>
    <div class="footer-bsk-policy-links">
      © (Year) NERC BAS
      <ul class="list-inline">
        <li><a href="#">Copyright</a></li>
        <li><a href="#">Privacy</a></li>
        <li><a href="#">Cookies</a></li>
      </ul>
    </div>
  </div>
</footer>
{% endblock %}
