{% extends "layouts/sample.layout.njk" %}

{% set sample_href = "0150--footer-layout-static-bottom.html" %}
{% set sample_number = "#0150" %}
{% set sample_title = "footer layout - static to bottom" %}
{% set sample_markup = ".bsk-footer-static-bottom" %}

{% block sample %}
<p class="bsk-text-info"><strong>Note</strong> this sample may break outside the default page layout.</p>
<footer class="bsk-footer bsk-footer-default bsk-footer-static-bottom">
  <div class="bsk-container-fluid">
    Footer content
  </div>
</footer>
{% endblock %}
