{% extends "layouts/sample.layout.njk" %}

{% set sample_href = "0151--well.html" %}
{% set sample_number = "#0151" %}
{% set sample_title = "well" %}
{% set sample_markup = ".well" %}

{% block sample %}
<div class="well">
  Well content
</div>
{% endblock %}
