{% extends "layouts/sample.layout.njk" %}

{% set sample_href = "0152--well-sizes.html" %}
{% set sample_number = "#0152" %}
{% set sample_title = "well sizes" %}
{% set sample_markup = ".well.well-*" %}

{% block sample %}
<div class="well well-lg">Large well</div>
<div class="well">Regular well</div>
<div class="well well-sm">Small well</div>
{% endblock %}
