{% extends "layouts/sample.layout.njk" %}

{% set sample_href = "0152--well-sizes.html" %}
{% set sample_number = "#0152" %}
{% set sample_title = "well sizes" %}
{% set sample_markup = ".bsk-well.bsk-well-*" %}

{% block sample %}
<div class="bsk-well bsk-well-lg">Large well</div>
<div class="bsk-well">Regular well</div>
<div class="bsk-well bsk-well-sm">Small well</div>
{% endblock %}
