{% extends "layouts/sample.layout.njk" %}

{% import "macros/panel.njk" as panel %}

{% set sample_href = "0156--panel-warning.html" %}
{% set sample_number = "#0156" %}
{% set sample_title = "warning panel" %}
{% set sample_markup = ".panel.panel-warning" %}

{% set _panel_modifier = "warning" %}

{% block sample %}
{{ panel.bsk_tb_panel_v1(panel_modifier=_panel_modifier) }}

<h4 class="bsk-tb-margin-top bsk-tb-sample-sub-heading">With panel body</h4>
{{ panel.bsk_tb_panel_v1(panel_modifier=_panel_modifier, with_body=true) }}

<h4 class="bsk-tb-margin-top bsk-tb-sample-sub-heading">With panel header (<code>h3</code>)</h4>
{{ panel.bsk_tb_panel_v1(panel_modifier=_panel_modifier, with_header=true) }}

<h4 class="bsk-tb-margin-top bsk-tb-sample-sub-heading">With panel header (<code>h3</code>) and panel header title</h4>
{{ panel.bsk_tb_panel_v1(panel_modifier=_panel_modifier, with_header=true, with_title=true) }}

<h4 class="bsk-tb-margin-top bsk-tb-sample-sub-heading">With panel header (<code>h3</code>) and body</h4>
{{ panel.bsk_tb_panel_v1(panel_modifier=_panel_modifier, with_header=true, with_body=true) }}

<h4 class="bsk-tb-margin-top bsk-tb-sample-sub-heading">With panel header (<code>h3</code>), header title and body</h4>
{{ panel.bsk_tb_panel_v1(panel_modifier=_panel_modifier, with_header=true, with_title=true, with_body=true) }}

<h4 class="bsk-tb-margin-top bsk-tb-sample-sub-heading">With panel footer</h4>
{{ panel.bsk_tb_panel_v1(panel_modifier=_panel_modifier, with_footer=true) }}

<h4 class="bsk-tb-margin-top bsk-tb-sample-sub-heading">With panel footer and body</h4>
{{ panel.bsk_tb_panel_v1(panel_modifier=_panel_modifier, with_footer=true, with_body=true) }}
{% endblock %}
