{% extends "layouts/sample.layout.njk" %}

{% import "macros/pagination.njk" as pagination %}

{% set sample_href = "0160--pagination.html" %}
{% set sample_number = "#0160" %}
{% set sample_title = "pagination" %}
{% set sample_markup = ".pagination" %}

{% block sample %}
<h4 class="bsk-tb-margin-top bsk-tb-sample-sub-heading">1 <code>a</code> item</h4>
<nav>
  <ul class="pagination">
    <li><a href="#">1</a></li>
  </ul>
</nav>

<h4 class="bsk-tb-margin-top bsk-tb-sample-sub-heading">2 <code>a</code> items</h4>
<nav>
  <ul class="pagination">
    <li><a href="#">First</a></li>
    <li><a href="#">Last</a></li>
  </ul>
</nav>

<h4 class="bsk-tb-margin-top bsk-tb-sample-sub-heading">12 <code>a</code> items</h4>
<nav>
  <ul class="pagination">
    <li><a href="#">First</a></li>
    {{ pagination.bsk_tb_pagination_items_v1(item_count=10) }}
    <li><a href="#">Last</a></li>
  </ul>
</nav>

<h4 class="bsk-tb-margin-top bsk-tb-sample-sub-heading">222 <code>a</code> items</h4>
<nav>
  <ul class="pagination">
    <li><a href="#">First</a></li>
    {{ pagination.bsk_tb_pagination_items_v1(item_count=220) }}
    <li><a href="#">Last</a></li>
  </ul>
</nav>
{% endblock %}
