{% extends "layouts/sample.layout.njk" %}

{% import "macros/pagination.njk" as pagination %}

{% set sample_href = "0161--pagination-state-active.html" %}
{% set sample_number = "#0161" %}
{% set sample_title = "active pagination state" %}
{% set sample_markup = ".pagination .active" %}

{% block sample %}
<nav>
  <ul class="pagination">
    <li class="active"><a href="#">1</a></li>
  </ul>
</nav>

<h4 class="bsk-tb-margin-top bsk-tb-sample-sub-heading">3 items, first active</h4>
<nav>
  <ul class="pagination">
    <li class="active"><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
  </ul>
</nav>

<h4 class="bsk-tb-margin-top bsk-tb-sample-sub-heading">3 items, second active</h4>
<nav>
  <ul class="pagination">
    <li><a href="#">1</a></li>
    <li class="active"><a href="#">2</a></li>
    <li><a href="#">3</a></li>
  </ul>
</nav>

<h4 class="bsk-tb-margin-top bsk-tb-sample-sub-heading">3 items, third active</h4>
<nav>
  <ul class="pagination">
    <li><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li class="active"><a href="#">3</a></li>
  </ul>
</nav>
{% endblock %}
