{% extends "layouts/sample.layout.njk" %}

{% import "macros/pagination.njk" as pagination %}

{% set sample_href = "0162--pagination-state-disabled.html" %}
{% set sample_number = "#0162" %}
{% set sample_title = "disabled pagination state" %}
{% set sample_markup = ".pagination .disabled" %}

{% block sample %}
<nav>
  <ul class="pagination">
    <li class="disabled"><a href="#">1</a></li>
  </ul>
</nav>

<h4 class="bsk-tb-margin-top bsk-tb-sample-sub-heading">3 items, first disabled</h4>
<nav>
  <ul class="pagination">
    <li class="disabled"><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
  </ul>
</nav>

<h4 class="bsk-tb-margin-top bsk-tb-sample-sub-heading">3 items, second disabled</h4>
<nav>
  <ul class="pagination">
    <li><a href="#">1</a></li>
    <li class="disabled"><a href="#">2</a></li>
    <li><a href="#">3</a></li>
  </ul>
</nav>

<h4 class="bsk-tb-margin-top bsk-tb-sample-sub-heading">3 items, third disabled</h4>
<nav>
  <ul class="pagination">
    <li><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li class="disabled"><a href="#">3</a></li>
  </ul>
</nav>
{% endblock %}
