{% extends "layouts/sample.layout.njk" %}

{% set sample_href = "0164--pager.html" %}
{% set sample_number = "#0164" %}
{% set sample_title = "pager sizes" %}
{% set sample_markup = ".bsk-pager .bsk-pager-*" %}

{% block sample %}
<h4 class="bsk-tb-margin-top bsk-tb-sample-sub-heading">Small pager</h4>
<nav>
  <ul class="bsk-pager bsk-pager-sm">
    <li><a href="#">Previous</a></li>
    <li><a href="#">Next</a></li>
  </ul>
</nav>

<h4 class="bsk-tb-margin-top bsk-tb-sample-sub-heading">Regular pager</h4>
<nav>
  <ul class="bsk-pager">
    <li><a href="#">Previous</a></li>
    <li><a href="#">Next</a></li>
  </ul>
</nav>

<h4 class="bsk-tb-margin-top bsk-tb-sample-sub-heading">Large pager</h4>
<nav>
  <ul class="bsk-pager bsk-pager-lg">
    <li><a href="#">Previous</a></li>
    <li><a href="#">Next</a></li>
  </ul>
</nav>
{% endblock %}
