{% extends "layouts/sample.layout.njk" %}

{% set sample_href = "0167--pager-layout-aligned.html" %}
{% set sample_number = "#0167" %}
{% set sample_title = "pager aliged links" %}
{% set sample_markup = ".bsk-pager {.bsk-previous|.bsk-next}" %}

{% block sample %}
<div class="bsk-container bsk-tb-visible-container">
<nav>
  <ul class="bsk-pager">
    <li class="bsk-previous"><a href="#">Previous</a></li>
    <li class="bsk-next"><a href="#">Next</a></li>
  </ul>
</nav>
</div>
{% endblock %}
