{% extends "layouts/sample.layout.njk" %}

{% set sample_href = "0168--breadcrumb.html" %}
{% set sample_number = "#0168" %}
{% set sample_title = "breadcrumb" %}
{% set sample_markup = ".breadcrumb" %}

{% block sample %}
<h4 class="bsk-tb-margin-top bsk-tb-sample-sub-heading">1 active item</h4>
<ol class="breadcrumb">
  <li class="active">Home</li>
</ol>

<h4 class="bsk-tb-margin-top bsk-tb-sample-sub-heading">3 items, 1 active</h4>
<ol class="breadcrumb">
  <li><a href="#">Home</a></li>
  <li><a href="#">Library</a></li>
  <li class="active">Data</li>
</ol>

<h4 class="bsk-tb-margin-top bsk-tb-sample-sub-heading">29 items, 1 active</h4>
<ol class="breadcrumb">
  <li><a href="#">One</a></li>
  <li><a href="#">Two</a></li>
  <li><a href="#">Three</a></li>
  <li><a href="#">Four</a></li>
  <li><a href="#">Five</a></li>
  <li><a href="#">Six</a></li>
  <li><a href="#">Seven</a></li>
  <li><a href="#">Eight</a></li>
  <li><a href="#">Nine</a></li>
  <li><a href="#">Ten</a></li>
  <li><a href="#">Eleven</a></li>
  <li><a href="#">Twelve</a></li>
  <li><a href="#">Thirteen</a></li>
  <li><a href="#">Fourteen</a></li>
  <li><a href="#">Fifteen</a></li>
  <li><a href="#">Sixteen</a></li>
  <li><a href="#">Seventeen</a></li>
  <li><a href="#">Eighteen</a></li>
  <li><a href="#">Nineteen</a></li>
  <li><a href="#">Twenty</a></li>
  <li><a href="#">Twenty One</a></li>
  <li><a href="#">Twenty Two</a></li>
  <li><a href="#">Twenty Three</a></li>
  <li><a href="#">Twenty Four</a></li>
  <li><a href="#">Twenty Five</a></li>
  <li><a href="#">Twenty Six</a></li>
  <li><a href="#">Twenty Seven</a></li>
  <li><a href="#">Twenty Eight</a></li>
  <li><a href="#">Twenty Nine</a></li>
  <li class="active">Thirty</li>
</ol>
{% endblock %}
