{% extends "layouts/sample.layout.njk" %}

{% set sample_href = "0169--jumbotron-default.html" %}
{% set sample_number = "#0169" %}
{% set sample_title = "default jumbotron" %}
{% set sample_markup = ".jumbotron.jumbotron-bsk.jumbotron-bsk-default" %}

{% block sample %}
<div class="jumbotron jumbotron-bsk jumbotron-bsk-default">
  Jumbotron content
</div>
{% endblock %}
