{% extends "layouts/sample.layout.njk" %}

{% set sample_href = "0169--jumbotron-default.html" %}
{% set sample_number = "#0169" %}
{% set sample_title = "default jumbotron" %}
{% set sample_markup = ".bsk-jumbotron.bsk-jumbotron-default" %}

{% block sample %}
<div class="bsk-jumbotron bsk-jumbotron-default">
  Jumbotron content
</div>
{% endblock %}
