{% extends "layouts/sample.layout.njk" %}

{% set sample_href = "0170--jumbotron-style-inverse.html" %}
{% set sample_number = "#0170" %}
{% set sample_title = "inverse jumbotron" %}
{% set sample_markup = ".bsk-jumbotron.bsk-jumbotron-inverse" %}

{% block sample %}
<div class="bsk-jumbotron bsk-jumbotron-inverse">
  Jumbotron content
</div>
{% endblock %}
