{% extends "layouts/sample.layout.njk" %}

{% set sample_href = "0170--jumbotron-style-inverse.html" %}
{% set sample_number = "#0170" %}
{% set sample_title = "inverse jumbotron" %}
{% set sample_markup = ".jumbotron.jumbotron-bsk.jumbotron-bsk-inverse" %}

{% block sample %}
<div class="jumbotron jumbotron-bsk jumbotron-bsk-inverse">
  Jumbotron content
</div>
{% endblock %}
