{% extends "layouts/sample.layout.njk" %}

{% set sample_href = "0171--jumbotron-sizes.html" %}
{% set sample_number = "#0171" %}
{% set sample_title = "jumbotron sizes" %}
{% set sample_markup = ".bsk-jumbotron.bsk-jumbotron-default.bsk-jumbotron-*" %}

{% block sample %}
<div class="bsk-jumbotron bsk-jumbotron-default">
  Regular jumbotron
</div>
<div class="bsk-jumbotron bsk-jumbotron-default bsk-jumbotron-lg bsk-tb-margin-top">
  Large jumbotron
</div>
<div class="bsk-jumbotron bsk-jumbotron-default bsk-jumbotron-xl bsk-tb-margin-top">
  Extra-large jumbotron
</div>
{% endblock %}
