{% extends "layouts/sample.layout.njk" %}

{% set sample_href = "0172--page-header.html" %}
{% set sample_number = "#0172" %}
{% set sample_title = "page header" %}
{% set sample_markup = ".page-header" %}

{% block sample %}
<h4 class="bsk-tb-margin-top bsk-tb-sample-sub-heading">H1 page-header</h4>
<div class="page-header">
  <h1>Example page header <small>Subtext for header</small></h1>
</div>

<h4 class="bsk-tb-margin-top bsk-tb-sample-sub-heading">H2 page-header</h4>
<div class="page-header">
  <h2>Example page header <small>Subtext for header</small></h2>
</div>

<h4 class="bsk-tb-margin-top bsk-tb-sample-sub-heading">H3 page-header</h4>
<div class="page-header">
  <h3>Example page header <small>Subtext for header</small></h3>
</div>

<h4 class="bsk-tb-margin-top bsk-tb-sample-sub-heading">H4 page-header</h4>
<div class="page-header">
  <h4>Example page header <small>Subtext for header</small></h4>
</div>

<h4 class="bsk-tb-margin-top bsk-tb-sample-sub-heading">H5 page-header</h4>
<div class="page-header">
  <h5>Example page header <small>Subtext for header</small></h5>
</div>

<h4 class="bsk-tb-margin-top bsk-tb-sample-sub-heading">H6 page-header</h4>
<div class="page-header">
  <h6>Example page header <small>Subtext for header</small></h6>
</div>

<h4 class="bsk-tb-margin-top bsk-tb-sample-sub-heading">Paragraph page-header</h4>
<div class="page-header">
  <p>Example page header</p>
</div>
{% endblock %}
