{% extends "layouts/sample.layout.njk" %}

{% set sample_href = "0174--responsive-embed-4-3.html" %}
{% set sample_number = "#0174" %}
{% set sample_title = "responsive embed 4:3" %}
{% set sample_markup = ".embed-responsive.embed-responsive-4by3" %}

{% block sample %}
<div class="embed-responsive embed-responsive-4by3">
    <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/32397612" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
</div>
{% endblock %}
