{% extends "layouts/sample.layout.njk" %}

{% set sample_href = "0176--thumbnail-style-inverse.html" %}
{% set sample_number = "#0176" %}
{% set sample_title = "inverse thumbnail" %}
{% set sample_markup = ".bsk-thumbnail.bsk-thumbnail-inverse" %}

{% block sample %}
<h4 class="bsk-tb-margin-top bsk-tb-sample-sub-heading"><code>div</code> element</h4>
<div class="bsk-row">
  <div class="bsk-col-12-md-4">
    <div class="bsk-thumbnail bsk-thumbnail-inverse">
      <img src="https://placeholdit.imgix.net/~text?txtsize=38&txt=400×250&w=400&h=250" alt="thumbnail">
    </div>
  </div>
</div>

<h4 class="bsk-tb-margin-top bsk-tb-sample-sub-inverse"><code>a</code> element</h4>
<div class="bsk-row">
  <div class="bsk-col-12-md-4">
    <a href="#" class="bsk-thumbnail bsk-thumbnail-inverse">
      <img src="https://placeholdit.imgix.net/~text?txtsize=38&txt=400×250&w=400&h=250" alt="thumbnail">
    </a>
  </div>
</div>

<h4 class="bsk-tb-margin-top bsk-tb-sample-sub-heading"><code>a</code> element with caption</h4>
<div class="bsk-row">
  <div class="bsk-col-12-md-4">
    <a href="#" class="bsk-thumbnail bsk-thumbnail-inverse">
      <img src="https://placeholdit.imgix.net/~text?txtsize=38&txt=400×250&w=400&h=250" alt="thumbnail">
      <div class="bsk-caption">Thumbnail caption</div>
    </a>
  </div>
</div>
{% endblock %}
