{% extends "layouts/sample.layout.njk" %}

{% set sample_href = "0177--social-media-static-symbol-twitter.html" %}
{% set sample_number = "#0177" %}
{% set sample_title = "static social media icon - Twitter" %}
{% set sample_markup = ".social-media-bsk-static.twitter" %}

{% block sample %}
<div class="social-media-bsk-static twitter">
  <i class="fa fa-3x fa-twitter-square"></i><span class="sr-only">Follow us on Twitter</span>
</div>
{% endblock %}
