{% extends "layouts/sample.layout.njk" %}

{% import "macros/pagination.njk" as pagination %}

{% set sample_href = "0180--social-media-static-symbol-rss.html" %}
{% set sample_number = "#0180" %}
{% set sample_title = "static social media icon - RSS" %}
{% set sample_markup = ".bsk-social-media-static.bsk-rss" %}

{% block sample %}
<div class="bsk-social-media-static bsk-rss">
  <i class="fa fa-3x fa-rss-square"></i><span class="bsk-sr-only">Follow us with RSS</span>
</div>
{% endblock %}
