{% extends "layouts/sample.layout.njk" %}

{% import "macros/pagination.njk" as pagination %}

{% set sample_href = "0180--social-media-static-symbol-rss.html" %}
{% set sample_number = "#0180" %}
{% set sample_title = "static social media icon - RSS" %}
{% set sample_markup = ".social-media-bsk-static.rss" %}

{% block sample %}
<div class="social-media-bsk-static rss">
  <i class="fa fa-3x fa-rss-square"></i><span class="sr-only">Follow us with RSS</span>
</div>
{% endblock %}
