{% extends "layouts/sample.layout.njk" %}

{% set sample_href = "0181--social-media-static-symbol-twitter.html" %}
{% set sample_number = "#0181" %}
{% set sample_title = "linked social media icon - Twitter" %}
{% set sample_markup = ".bsk-social-media-link.bsk-twitter" %}

{% block sample %}
<a href="#" class="bsk-social-media-link bsk-twitter">
  <i class="fa fa-3x fa-twitter-square"></i><span class="bsk-sr-only">Follow us on Twitter</span>
</a>
{% endblock %}
