{% extends "layouts/sample.layout.njk" %}

{% set sample_href = "0182--social-media-static-symbol-facebook.html" %}
{% set sample_number = "#0182" %}
{% set sample_title = "linked social media icon - Facebook" %}
{% set sample_markup = ".social-media-bsk-link.facebook" %}

{% block sample %}
<a href="#" class="social-media-bsk-link facebook">
  <i class="fa fa-3x fa-facebook-square"></i><span class="sr-only">Follow us on Facebook</span>
</a>
{% endblock %}
