{% extends "layouts/sample.layout.njk" %}

{% set sample_href = "0183--social-media-static-symbol-youtube.html" %}
{% set sample_number = "#0183" %}
{% set sample_title = "linked social media icon - YouTube" %}
{% set sample_markup = ".social-media-bsk-link.youtube" %}

{% block sample %}
<a href="#" class="social-media-bsk-link youtube">
  <i class="fa fa-3x fa-youtube-square"></i><span class="sr-only">Subscribe to us on YouTube</span>
</a>
{% endblock %}
