{% extends "layouts/sample.layout.njk" %}

{% set sample_href = "0184--social-media-static-symbol-rss.html" %}
{% set sample_number = "#0184" %}
{% set sample_title = "linked social media icon - RSS" %}
{% set sample_markup = ".social-media-bsk-link.rss" %}

{% block sample %}
<a href="#" class="social-media-bsk-link rss">
  <i class="fa fa-3x fa-rss-square"></i><span class="sr-only">Follow us with RSS</span>
</a>
{% endblock %}
