{% extends "layouts/sample.layout.njk" %}

{% set sample_href = "0185--social-media-layout-list-inline.html" %}
{% set sample_number = "#0185" %}
{% set sample_title = "Inline list of social media icons" %}
{% set sample_markup = ".bsk-social-media-list" %}

{% block sample %}
<ul class="bsk-list-inline bsk-social-media-bsk-list">
  <li><a href="#" class="bsk-social-media-link bsk-twitter"><i class="fa fa-3x fa-twitter-square"></i><span class="bsk-sr-only">Follow us on Twitter</span></a></li>
  <li><a href="#" class="bsk-social-media-link bsk-facebook"><i class="fa fa-3x fa-facebook-square"></i><span class="bsk-sr-only">Follow us on Facebook</span></a></li>
  <li><a href="#" class="bsk-social-media-link bsk-youtube"><i class="fa fa-3x fa-youtube-square"></i><span class="bsk-sr-only">Subscribe to us on YouTube</span></a></li>
  <li><a href="#" class="bsk-social-media-link bsk-rss"><i class="fa fa-3x fa-rss-square"></i><span class="bsk-sr-only">Follow us with RSS</span></a></li>
</ul>
{% endblock %}
