{% extends "layouts/sample.layout.njk" %}

{% set sample_href = "0187--drop-down-button-split.html" %}
{% set sample_number = "#0187" %}
{% set sample_title = "split-button drop-down menu" %}
{% set sample_markup = ".bsk-dropdown .bsk-dropdown-menu" %}

{% block sample %}
<div class="bsk-btn-group">
  <button class="bsk-btn bsk-btn-default" type="button">Dropdown</button>
  <button class="bsk-btn bsk-btn-default bsk-dropdown-toggle" type="button">
    <span class="bsk-caret"></span>
    <span class="bsk-sr-only">Toggle Dropdown</span>
  </button>
  <ul class="bsk-dropdown-menu">
    <li><a href="#">Action</a></li>
    <li><a href="#">Another action</a></li>
  </ul>
</div>

<div class="bsk-tb-margin-top"></div>

<div class="bsk-btn-group">
  <button class="bsk-btn bsk-btn-default" type="button">Dropdown</button>
  <button class="bsk-btn bsk-btn-default bsk-dropdown-toggle" type="button">
    <span class="bsk-caret"></span>
    <span class="bsk-sr-only">Toggle Dropdown</span>
  </button>
  <ul class="bsk-dropdown-menu bsk-tb-simulated-state-open">
    <li><a href="#">Action</a></li>
    <li><a href="#">Another action</a></li>
  </ul>
</div>

<div class="bsk-tb-margin-top-ul"></div>
{% endblock %}
