{% extends "layouts/sample.layout.njk" %}

{% set sample_href = "0194--media-object.html" %}
{% set sample_number = "#0194" %}
{% set sample_title = "media object" %}
{% set sample_markup = ".bsk-media-object" %}

{% block sample %}
<h4 class="bsk-tb-margin-top bsk-tb-sample-sub-heading">With <code>h1</code></h4>
<div class="bsk-media">
  <div class="bsk-media-left">
    <a href="#"><img class="bsk-media-object" src="https://placeholdit.imgix.net/~text?txtsize=15&txt=Avatar&w=64&h=64" alt="Avatar"></a>
  </div>
  <div class="bsk-media-body">
    <h1 class="bsk-media-heading">Media heading</h1>
    <p>Ann certainly has a great deal of Mass. I hate the Wetlands. They're stupid and wet, and there are bugs everywhere, and I think I maced a crane. This show was cancelled. I mean, COME ON. I could use a leather jacket for when I'm on my hog and have to go into a controlled slide.</p>
  </div>
</div>

<h4 class="bsk-tb-margin-top bsk-tb-sample-sub-heading">With <code>h2</code></h4>
<div class="bsk-media">
  <div class="bsk-media-left">
    <a href="#"><img class="bsk-media-object" src="https://placeholdit.imgix.net/~text?txtsize=15&txt=Avatar&w=64&h=64" alt="Avatar"></a>
  </div>
  <div class="bsk-media-body">
    <h2 class="bsk-media-heading">Media heading</h2>
    <p>Ann certainly has a great deal of Mass. I hate the Wetlands. They're stupid and wet, and there are bugs everywhere, and I think I maced a crane. This show was cancelled. I mean, COME ON. I could use a leather jacket for when I'm on my hog and have to go into a controlled slide.</p>
  </div>
</div>

<h4 class="bsk-tb-margin-top bsk-tb-sample-sub-heading">With <code>h3</code></h4>
<div class="bsk-media">
  <div class="bsk-media-left">
    <a href="#"><img class="bsk-media-object" src="https://placeholdit.imgix.net/~text?txtsize=15&txt=Avatar&w=64&h=64" alt="Avatar"></a>
  </div>
  <div class="bsk-media-body">
    <h3 class="bsk-media-heading">Media heading</h3>
    <p>Ann certainly has a great deal of Mass. I hate the Wetlands. They're stupid and wet, and there are bugs everywhere, and I think I maced a crane. This show was cancelled. I mean, COME ON. I could use a leather jacket for when I'm on my hog and have to go into a controlled slide.</p>
  </div>
</div>

<h4 class="bsk-tb-margin-top bsk-tb-sample-sub-heading">With <code>h4</code></h4>
<div class="bsk-media">
  <div class="bsk-media-left">
    <a href="#"><img class="bsk-media-object" src="https://placeholdit.imgix.net/~text?txtsize=15&txt=Avatar&w=64&h=64" alt="Avatar"></a>
  </div>
  <div class="bsk-media-body">
    <h4 class="bsk-media-heading">Media heading</h4>
    <p>Ann certainly has a great deal of Mass. I hate the Wetlands. They're stupid and wet, and there are bugs everywhere, and I think I maced a crane. This show was cancelled. I mean, COME ON. I could use a leather jacket for when I'm on my hog and have to go into a controlled slide.</p>
  </div>
</div>

<h4 class="bsk-tb-margin-top bsk-tb-sample-sub-heading">With <code>h5</code></h4>
<div class="bsk-media">
  <div class="bsk-media-left">
    <a href="#"><img class="bsk-media-object" src="https://placeholdit.imgix.net/~text?txtsize=15&txt=Avatar&w=64&h=64" alt="Avatar"></a>
  </div>
  <div class="bsk-media-body">
    <h5 class="bsk-media-heading">Media heading</h5>
    <p>Ann certainly has a great deal of Mass. I hate the Wetlands. They're stupid and wet, and there are bugs everywhere, and I think I maced a crane. This show was cancelled. I mean, COME ON. I could use a leather jacket for when I'm on my hog and have to go into a controlled slide.</p>
  </div>
</div>

<h4 class="bsk-tb-margin-top bsk-tb-sample-sub-heading">With <code>h6</code></h4>
<div class="bsk-media">
  <div class="bsk-media-left">
    <a href="#"><img class="bsk-media-object" src="https://placeholdit.imgix.net/~text?txtsize=15&txt=Avatar&w=64&h=64" alt="Avatar"></a>
  </div>
  <div class="bsk-media-body">
    <h6 class="bsk-media-heading">Media heading</h6>
    <p>Ann certainly has a great deal of Mass. I hate the Wetlands. They're stupid and wet, and there are bugs everywhere, and I think I maced a crane. This show was cancelled. I mean, COME ON. I could use a leather jacket for when I'm on my hog and have to go into a controlled slide.</p>
  </div>
</div>
{% endblock %}
