{% extends "layouts/sample.layout.njk" %}

{% set sample_href = "0194--media-object.html" %}
{% set sample_number = "#0194" %}
{% set sample_title = "media object" %}
{% set sample_markup = ".media-object" %}

{% block sample %}
<h4 class="bsk-tb-margin-top bsk-tb-sample-sub-heading">With small avatar</h4>
<div class="media">
  <div class="media-left">
    <a href="#"><img class="media-object" src="https://placeholdit.imgix.net/~text?txtsize=15&txt=Avatar&w=32&h=32" alt="Avatar"></a>
  </div>
  <div class="media-body">
    <h4 class="media-heading">Media heading</h4>
    Media body
  </div>
</div>

<h4 class="bsk-tb-margin-top bsk-tb-sample-sub-heading">With large avatar</h4>
<div class="media">
  <div class="media-left">
    <a href="#"><img class="media-object" src="https://placeholdit.imgix.net/~text?txtsize=15&txt=Avatar&w=256&h=256" alt="Avatar"></a>
  </div>
  <div class="media-body">
    <h4 class="media-heading">Media heading</h4>
    Media body
  </div>
</div>
{% endblock %}
