{% extends "layouts/sample.layout.njk" %}

{% set sample_href = "0204--button-group-toolbar.html" %}
{% set sample_number = "#0204" %}
{% set sample_title = "button toolbar" %}
{% set sample_markup = ".btn-toolbar .btn-group" %}

{% block sample %}
<div class="btn-toolbar" role="toolbar">
  <div class="btn-group" role="group">
    <button type="button" class="btn btn-bsk btn-default">One</button>
    <button type="button" class="btn btn-bsk btn-default">Two</button>
    <button type="button" class="btn btn-bsk btn-default">Three</button>
  </div>

  <div class="btn-group" role="group">
    <button type="button" class="btn btn-bsk btn-default">Four</button>
  </div>

  <div class="btn-group" role="group">
    <button type="button" class="btn btn-bsk btn-default">Five</button>
    <button type="button" class="btn btn-bsk btn-default">Six</button>
    <button type="button" class="btn btn-bsk btn-default">Seven</button>
  </div>
</div>
{% endblock %}
