{% extends "layouts/sample.layout.njk" %}

{% set sample_href = "0206--button-group-layout-nested.html" %}
{% set sample_number = "#0206" %}
{% set sample_title = "nested button group" %}
{% set sample_markup = ".bsk-btn-group .bsk-btn-group" %}

{% block sample %}
<div class="bsk-btn-group" role="group" aria-label="Button group example 5">
  <button type="button" class="bsk-btn bsk-btn-default">One</button>
  <button type="button" class="bsk-btn bsk-btn-default">Two</button>
  <div class="bsk-btn-group" role="group" aria-label="Button group example 5 drop-down 1">
    <button type="button" class="bsk-btn bsk-btn-default bsk-dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Dropdown
      <span class="bsk-caret"></span>
    </button>
    <ul class="bsk-dropdown-menu">
      <li><a href="#">Action</a></li>
      <li><a href="#">Another action</a></li>
    </ul>
  </div>
</div>
{% endblock %}
