{% extends "layouts/sample.layout.njk" %}

{% set sample_href = "0207--button-group-layout-vertical.html" %}
{% set sample_number = "#0207" %}
{% set sample_title = "vertical button group" %}
{% set sample_markup = ".btn-group-vertical" %}

{% block sample %}
<div class="btn-group-vertical" role="group">
  <button type="button" class="btn btn-bsk btn-default">One</button>
  <button type="button" class="btn btn-bsk btn-default">Two</button>
  <button type="button" class="btn btn-bsk btn-default">Three</button>
</div>

<div class="bsk-tb-margin-top"></div>

<div class="btn-group-vertical" role="group">
  <button type="button" class="btn btn-bsk btn-default">One</button>
  <div class="btn-group" role="group">
    <button type="button" class="btn btn-bsk btn-default btn-sm dropdown-toggle">
      Dropdown
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu dropdown-menu-bsk">
      <li><a href="#">Action</a></li>
      <li><a href="#">Another action</a></li>
    </ul>
  </div>
  <button type="button" class="btn btn-bsk btn-default">Three</button>
</div>

<div class="bsk-tb-margin-top"></div>

<div class="btn-group-vertical" role="group">
  <button type="button" class="btn btn-bsk btn-default">One</button>
  <button type="button" class="btn btn-bsk btn-default">Two</button>
  <button type="button" class="btn btn-bsk btn-default">NA NA NA NA NA NA NA NA NA NA NA NA NA NA</button>
  <button type="button" class="btn btn-bsk btn-default">Batman!</button>
</div>

<div class="bsk-tb-margin-top"></div>

<div class="btn-group-vertical" role="group">
  <button type="button" class="btn btn-bsk btn-default">1 NA NA NA NA NA NA NA NA NA NA NA NA NA NA</button>
  <button type="button" class="btn btn-bsk btn-default">2 NA NA NA NA NA NA NA NA NA NA NA NA NA NA</button>
  <button type="button" class="btn btn-bsk btn-default">3 (x3) NA NA NA NA NA NA NA NA NA NA NA NA NA NA NA NA NA NA NA NA NA NA NA NA NA NA NA NA NA NA NA NA NA NA NA NA NA NA NA NA NA NA</button>
  <button type="button" class="btn btn-bsk btn-default">Batman!</button>
</div>

<h4 class="bsk-tb-margin-top bsk-tb-sample-sub-heading">Multiple sizes</h4>
<div class="btn-group-vertical" role="group">
  <button type="button" class="btn btn-bsk btn-default">One</button>
  <button type="button" class="btn btn-bsk btn-default btn-sm">Two</button>
  <button type="button" class="btn btn-bsk btn-default btn-lg">Three</button>
  <button type="button" class="btn btn-bsk btn-default">Four</button>
</div>
{% endblock %}
