{% extends "layouts/sample.layout.njk" %}

{% set sample_href = "0210--image-copyright-thumbnail.html" %}
{% set sample_number = "#0210" %}
{% set sample_title = "image copyright using a thumbnail" %}
{% set sample_markup = ".bsk-thumbail.bsk-image-copyright" %}

{% block sample %}
<figure class="bsk-thumbnail bsk-thumbnail-default bsk-image-copyright">
  <img class="bsk-image-copyright-image" src="https://placeholdit.imgix.net/~text?txtsize=38&txt=Media%20Item&w=800&h=500" alt="thumbnail">
  <figcaption class="bsk-image-copyright-attribution">
    Thumbnail caption <a href="#" class="bsk-image-copyright-attribution bsk-pull-right">Copyright holder</a>
  </figcaption>
</figure>
{% endblock %}
