{% extends "layouts/sample.layout.njk" %}

{% set sample_href = "0210--image-purchase-thumbnail.html" %}
{% set sample_number = "#0210" %}
{% set sample_title = "image purchase using a thumbnail" %}
{% set sample_markup = ".bsk-thumbail.bsk-image-purchase-no-caption .bsk-image-purchase" %}

{% block sample %}
<div class="bsk-thumbnail bsk-thumbnail-default bsk-image-purchase bsk-image-purchase-no-caption">
  <a href="#" class="bsk-image-purchase-symbol"><i class="fa fa-camera"></i></a>
  <img src="https://placeholdit.imgix.net/~text?txtsize=38&txt=Media%20Item&w=800&h=500" alt="thumbnail">
</div>
{% endblock %}
