{% extends "layouts/sample.layout.njk" %}

{% set sample_href = "0211--image-copyright-jumboton.html" %}
{% set sample_number = "#0211" %}
{% set sample_title = "image copyright using a jumbotron" %}
{% set sample_markup = ".bsk-jumbotron.bsk-image-copyright" %}

{% block sample %}
<div class="bsk-jumbotron bsk-jumbotron-default bsk-image-copyright">
  <h1>Jumbotron title</h1>
  <a href="#" class="bsk-image-copyright-attribution"><i class="fa fa-camera"></i> Copyright holder</a>
</div>
{% endblock %}
