{% extends "layouts/sample.layout.njk" %}

{% set sample_href = "0211--image-copyright-jumboton.html" %}
{% set sample_number = "#0211" %}
{% set sample_title = "image copyright using a jumbotron" %}
{% set sample_markup = ".bsk-jumbotron.bsk-jumbotron-default.bsk-image-copyright .bsk-jumboton-overlay" %}

{% block sample %}
<div class="bsk-jumbotron bsk-jumbotron-default bsk-image-copyright bsk-tb-jumbotron-background-image">
  <h1><span class="bsk-jumbotron-overlay">Jumbotron title</span></h1>
  <a href="#" class="bsk-image-copyright-attribution">Copyright holder</a>
</div>
{% endblock %}
