{% extends "layouts/sample.layout.njk" %}

{% set sample_href = "0211--image-purchase-jumboton.html" %}
{% set sample_number = "#0211" %}
{% set sample_title = "image purchase using a jumbotron" %}
{% set sample_markup = ".bsk-jumbotron.bsk-image-purchase" %}

{% block sample %}
<div class="bsk-jumbotron bsk-image-purchase">
  <a class="bsk-image-purchase-symbol" href="#"><i class="fa fa-camera fa-2x"></i></a>
  <h1><span class="bsk-text-overlay">Jumbotron caption</span></h1>
</div>
{% endblock %}
