{% extends "layouts/sample.layout.njk" %}

{% set sample_href = "0212--list-group.html" %}
{% set sample_number = "#0212" %}
{% set sample_title = "list group" %}
{% set sample_markup = ".list-group" %}

{% block sample %}
<ul class="list-group">
  <li class="list-group-item">List group item</li>
  <li class="list-group-item">Another list group item</li>
</ul>
{% endblock %}
