{% extends "layouts/sample.layout.njk" %}

{% set sample_href = "0214--list-group-item-contextual-success.html" %}
{% set sample_number = "#0214" %}
{% set sample_title = "success contextual list group item" %}
{% set sample_markup = ".list-group .list-group-item-success" %}

{% block sample %}
<ul class="list-group">
  <li class="list-group-item">List group item</li>
  <li class="list-group-item list-group-item-success">Success context group item</li>
</ul>
{% endblock %}
