{% extends "layouts/sample.layout.njk" %}

{% set sample_href = "0215--list-group-item-contextual-warning.html" %}
{% set sample_number = "#0215" %}
{% set sample_title = "warning contextual list group item" %}
{% set sample_markup = ".list-group .list-group-item-warning" %}

{% block sample %}
<ul class="list-group">
  <li class="list-group-item">List group item</li>
  <li class="list-group-item list-group-item-warning">Warning context group item</li>
</ul>
{% endblock %}
