{% extends "layouts/sample.layout.njk" %}

{% set sample_href = "0216--list-group-item-contextual-danger.html" %}
{% set sample_number = "#0216" %}
{% set sample_title = "danger contextual list group item" %}
{% set sample_markup = ".bsk-list-group .bsk-list-group-item-danger" %}

{% block sample %}
<ul class="bsk-list-group">
  <li class="bsk-list-group-item">List group item</li>
  <li class="bsk-list-group-item bsk-list-group-item-danger">Danger context group item</li>
</ul>
{% endblock %}
