{% extends "layouts/sample.layout.njk" %}

{% set sample_href = "0217--list-group-item-contextual-info.html" %}
{% set sample_number = "#0217" %}
{% set sample_title = "info contextual list group item" %}
{% set sample_markup = ".bsk-list-group .bsk-list-group-item-info" %}

{% block sample %}
<ul class="bsk-list-group">
  <li class="bsk-list-group-item">List group item</li>
  <li class="bsk-list-group-item bsk-list-group-item-info">Info context group item</li>
</ul>
{% endblock %}
