{% extends "layouts/sample.layout.njk" %}

{% set sample_href = "0218--list-group-item-button.html" %}
{% set sample_number = "#0218" %}
{% set sample_title = "button list group items" %}
{% set sample_markup = ".list-group" %}

{% block sample %}
<div class="list-group">
  <button type="button" class="list-group-item">List group item</button>
  <button type="button" class="list-group-item">Another list group item</button>
</div>
{% endblock %}
