{% extends "layouts/sample.layout.njk" %}

{% set sample_href = "0219--list-group-item-state-active.html" %}
{% set sample_number = "#0219" %}
{% set sample_title = "active list group item" %}
{% set sample_markup = ".bsk-list-group .bsk-list-group-item.bsk-active" %}

{% block sample %}
<ul class="bsk-list-group">
  <li class="bsk-list-group-item">List group item</li>
  <li class="bsk-list-group-item bsk-active">Active list group item</li>
  <li class="bsk-list-group-item">Another list group item</li>
</ul>
{% endblock %}
