{% extends "layouts/sample.layout.njk" %}

{% set sample_href = "0219--list-group-item-state-active.html" %}
{% set sample_number = "#0219" %}
{% set sample_title = "active list group item" %}
{% set sample_markup = ".list-group .list-group-item.active" %}

{% block sample %}
<ul class="list-group">
  <li class="list-group-item">List group item</li>
  <li class="list-group-item active">Active list group item</li>
  <li class="list-group-item">Another list group item</li>
</ul>
{% endblock %}
