{% extends "layouts/sample.layout.njk" %}

{% set sample_href = "0220--list-group-item-state-disabled.html" %}
{% set sample_number = "#0220" %}
{% set sample_title = "disabled list group item" %}
{% set sample_markup = ".bsk-list-group .bsk-list-group-item.bsk-disabled" %}

{% block sample %}
<ul class="bsk-list-group">
  <li class="bsk-list-group-item">List group item</li>
  <li class="bsk-list-group-item bsk-disabled">Disabled list group item</li>
  <li class="bsk-list-group-item">Another list group item</li>
</ul>
{% endblock %}
