{% extends "layouts/sample.layout.njk" %}

{% set sample_href = "0220--list-group-item-state-disabled.html" %}
{% set sample_number = "#0220" %}
{% set sample_title = "disabled list group item" %}
{% set sample_markup = ".list-group .list-group-item.disabled" %}

{% block sample %}
<ul class="list-group">
  <li class="list-group-item">List group item</li>
  <li class="list-group-item disabled">Disabled list group item</li>
  <li class="list-group-item">Another list group item</li>
</ul>
{% endblock %}
