{% extends "layouts/sample.layout.njk" %}

{% set sample_href = "0221--list-group-item-badge.html" %}
{% set sample_number = "#0221" %}
{% set sample_title = "badge list group items" %}
{% set sample_markup = ".bsk-list-group .bsk-badge" %}

{% block sample %}
<ul class="bsk-list-group">
  <li class="bsk-list-group-item">List group item with badge <span class="bsk-badge">4</span></li>
  <li class="bsk-list-group-item">Another list group item with a badge <span class="bsk-badge">4</span></li>
</ul>
{% endblock %}
