{% extends "layouts/sample.layout.njk" %}

{% set sample_href = "0221--list-group-item-badge.html" %}
{% set sample_number = "#0221" %}
{% set sample_title = "badge list group items" %}
{% set sample_markup = ".list-group" %}

{% block sample %}
<ul class="list-group">
  <li class="list-group-item">List group item with badge <span class="badge">4</span></li>
  <li class="list-group-item">Another list group item with a badge <span class="badge">4</span></li>
</ul>
{% endblock %}
