{% extends "layouts/sample.layout.njk" %}

{% set sample_href = "0225--pill-nav-state-disabled.html" %}
{% set sample_number = "#0225" %}
{% set sample_title = "disabled pill navigation item" %}
{% set sample_markup = ".bsk-nav.bsk-nav-pills .bsk-disabled" %}

{% block sample %}
<nav role="navigation">
  <ul class="bsk-nav bsk-nav-pills">
    <li role="presentation"><a href="#">Pill 1</a></li>
    <li role="presentation" class="bsk-disabled"><a href="#">Pill 2</a></li>
    <li role="presentation"><a href="#">Pill 3</a></li>
  </ul>
</nav>
{% endblock %}
