{% extends "layouts/sample.layout.njk" %}

{% set sample_href = "0226--pill-nav-layout-stacked.html" %}
{% set sample_number = "#0226" %}
{% set sample_title = "stacked pill navigation items" %}
{% set sample_markup = ".bsk-nav.bsk-nav-pills.bsk-nav-stacked" %}

{% block sample %}
<nav role="navigation">
  <ul class="bsk-nav bsk-nav-stacked bsk-nav-pills">
    <li role="presentation"><a href="#">Pill 1</a></li>
    <li role="presentation"><a href="#">Pill 3</a></li>
    <li role="presentation"><a href="#">Pill 3</a></li>
  </ul>
</nav>

<div class="bsk-tb-margin-top"></div>

<nav role="navigation">
  <ul class="bsk-nav bsk-nav-stacked bsk-nav-pills">
    <li role="presentation"><a href="#">Pill 1</a></li>
    <li role="presentation"><a href="#">NA NA NA NA NA NA NA NA NA NA NA NA NA NA</a></li>
    <li role="presentation"><a href="#">(x3) NA NA NA NA NA NA NA NA NA NA NA NA NA NA NA NA NA NA NA NA NA NA NA NA NA NA NA NA NA NA NA NA NA NA NA NA NA NA NA NA NA NA</a></li>
    <li role="presentation"><a href="#">Batman!</a></li>
  </ul>
</nav>

<div class="bsk-tb-margin-top"></div>

<nav role="navigation">
  <ul class="bsk-nav bsk-nav-stacked bsk-nav-pills">
    <li role="presentation"><a href="#">Pill 1</a></li>
    <li role="presentation"><a href="#">Pill 2</a></li>
    <li role="presentation" class="bsk-dropdown">
      <a href="#" class="bsk-dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
      Dropdown <span class="caret"></span></a>
      <ul class="bsk-dropdown-menu">
        <li><a href="#">Action</a></li>
        <li><a href="#">Another item</a></li>
      </ul>
    </li>
  </ul>
</nav>
{% endblock %}
