{% extends "layouts/sample.layout.njk" %}

{% set sample_href = "0229--tab-nav-drop-down.html" %}
{% set sample_number = "#0229" %}
{% set sample_title = "tab navigation with drop down" %}
{% set sample_markup = ".bsk-nav.bsk-nav-tabs." %}

{% block sample %}
<nav role="navigation">
  <ul class="bsk-nav bsk-nav-tabs">
    <li role="presentation"><a href="#">Tab 1</a></li>
    <li role="presentation"><a href="#">Tab 2</a></li>
    <li role="presentation" class="bsk-dropdown">
      <a href="#" class="bsk-dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
      Dropdown <span class="bsk-caret"></span></a>
      <ul class="bsk-dropdown-menu">
        <li><a href="#">Action</a></li>
        <li><a href="#">Another item</a></li>
      </ul>
    </li>
  </ul>
</nav>
{% endblock %}
