{% extends "layouts/sample.layout.njk" %}

{% set sample_href = "0230--tab-nav-state-active.html" %}
{% set sample_number = "#0230" %}
{% set sample_title = "tab navigation active state" %}
{% set sample_markup = ".bsk-nav.bsk-nav-tabs .bsk-active" %}

{% block sample %}
<nav role="navigation">
  <ul class="bsk-nav bsk-nav-tabs">
    <li role="presentation"><a href="#">Tab 1</a></li>
    <li role="presentation" class="bsk-active"><a href="#">Tab 2</a></li>
    <li role="presentation"><a href="#">Tab 3</a></li>
  </ul>
</nav>
{% endblock %}
