{% extends "layouts/sample.layout.njk" %}

{% set sample_href = "0231--tab-nav-state-disabled.html" %}
{% set sample_number = "#0231" %}
{% set sample_title = "disabled tab navigation item" %}
{% set sample_markup = ".bsk-nav.bsk-nav-tabs .bsk-disabled" %}

{% block sample %}
<nav role="navigation">
  <ul class="bsk-nav bsk-nav-tabs">
    <li role="presentation"><a href="#">Tab 1</a></li>
    <li role="presentation" class="bsk-disabled"><a href="#">Tab 2</a></li>
    <li role="presentation"><a href="#">Tab 3</a></li>
  </ul>
</nav>
{% endblock %}
