{% extends "layouts/sample.layout.njk" %}

{% set sample_href = "0232--tab-nav-layout-justified.html" %}
{% set sample_number = "#0232" %}
{% set sample_title = "justified tab navigation items" %}
{% set sample_markup = ".nav-tabs.nav-tabs-bsk.nav-justified" %}

{% block sample %}
<nav role="navigation">
  <ul class="nav nav-justified nav-tabs nav-tabs-bsk">
    <li role="presentation"><a href="#">Tab 1</a></li>
    <li role="presentation"><a href="#">Tab 3</a></li>
    <li role="presentation"><a href="#">Tab 3</a></li>
  </ul>
</nav>

<div class="bsk-tb-margin-top"></div>

<nav role="navigation">
  <ul class="nav nav-justified nav-tabs nav-tabs-bsk">
    <li role="presentation"><a href="#">Tab 1</a></li>
    <li role="presentation"><a href="#">NA NA NA NA NA NA NA NA NA NA NA NA NA NA</a></li>
    <li role="presentation"><a href="#">(x3) NA NA NA NA NA NA NA NA NA NA NA NA NA NA NA NA NA NA NA NA NA NA NA NA NA NA NA NA NA NA NA NA NA NA NA NA NA NA NA NA NA NA</a></li>
    <li role="presentation"><a href="#">Batman!</a></li>
  </ul>
</nav>

<div class="bsk-tb-margin-top"></div>

<nav role="navigation">
  <ul class="nav nav-justified nav-tabs nav-tabs-bsk">
    <li role="presentation"><a href="#">Tab 1</a></li>
    <li role="presentation"><a href="#">Tab 2</a></li>
    <li role="presentation" class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
      Dropdown <span class="caret"></span></a>
      <ul class="dropdown-menu dropdown-menu-bsk">
        <li><a href="#">Action</a></li>
        <li><a href="#">Another item</a></li>
      </ul>
    </li>
  </ul>
</nav>
{% endblock %}
