{% extends "layouts/sample.layout.njk" %}

{% set sample_href = "0233--conventional-icon-drop-down-caret.html" %}
{% set sample_number = "#0233" %}
{% set sample_title = "drop-down menu caret conventional icon" %}
{% set sample_markup = ".caret" %}

{% block sample %}
<span class="caret"></span>
{% endblock %}
