{% extends "layouts/sample.layout.njk" %}

{% set sample_href = "0234--conventional-icon-close.html" %}
{% set sample_number = "#0234" %}
{% set sample_title = "close conventional icon" %}
{% set sample_markup = ".fa.fa-times" %}

{% block sample %}
<i class="fa fa-times" aria-hidden="true"></i>
{% endblock %}
