{% extends "layouts/sample.layout.njk" %}

{% set sample_href = "0235--conventional-icon-image-purchase.html" %}
{% set sample_number = "#0235" %}
{% set sample_title = "image purchase conventional icon" %}
{% set sample_markup = ".fa.fa-camera" %}

{% block sample %}
<i class="fa fa-camera" aria-hidden="true"></i>
{% endblock %}
