{% extends "layouts/sample.layout.njk" %}

{% set sample_href = "0236--conventional-icon-context-success.html" %}
{% set sample_number = "#0236" %}
{% set sample_title = "success contextual conventional icon" %}
{% set sample_markup = ".fa.fa-check" %}

{% block sample %}
<i class="fa fa-check" aria-hidden="true"></i>
{% endblock %}
