{% extends "layouts/sample.layout.njk" %}

{% set sample_href = "0237--conventional-icon-context-warning.html" %}
{% set sample_number = "#0237" %}
{% set sample_title = "warning contextual conventional icon" %}
{% set sample_markup = ".fa.fa-exclamation-triangle" %}

{% block sample %}
<i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
{% endblock %}
