{% extends "layouts/sample.layout.njk" %}

{% set sample_href = "0238--conventional-icon-context-danger.html" %}
{% set sample_number = "#0238" %}
{% set sample_title = "danger contextual conventional icon" %}
{% set sample_markup = ".fa.fa-exclamation-circle" %}

{% block sample %}
<i class="fa fa-exclamation-circle" aria-hidden="true"></i>
{% endblock %}
