{% extends "layouts/sample.layout.njk" %}

{% set sample_href = "0239--conventional-icon-context-info.html" %}
{% set sample_number = "#0239" %}
{% set sample_title = "info contextual conventional icon" %}
{% set sample_markup = ".fa.fa-info" %}

{% block sample %}
<i class="fa fa-fw fa-info" aria-hidden="true"></i>
{% endblock %}
