{% extends "layouts/sample.layout.njk" %}

{% set sample_href = "0240--progress-bar.html" %}
{% set sample_number = "#0240" %}
{% set sample_title = "progress bar" %}
{% set sample_markup = ".progress .progress-bar" %}

{% block sample %}
<h4 class="bsk-tb-margin-top bsk-tb-sample-sub-heading">0%</h4>
<div class="progress"><div class="progress-bar" role="progressbar" style="width: 0%;"></div></div>

<h4 class="bsk-tb-margin-top bsk-tb-sample-sub-heading">25%</h4>
<div class="progress"><div class="progress-bar" role="progressbar" style="width: 25%;"></div></div>

<h4 class="bsk-tb-margin-top bsk-tb-sample-sub-heading">50%</h4>
<div class="progress"><div class="progress-bar" role="progressbar" style="width: 50%;"></div></div>

<h4 class="bsk-tb-margin-top bsk-tb-sample-sub-heading">75%</h4>
<div class="progress"><div class="progress-bar" role="progressbar" style="width: 75%;"></div></div>

<h4 class="bsk-tb-margin-top bsk-tb-sample-sub-heading">100%</h4>
<div class="progress"><div class="progress-bar" role="progressbar" style="width: 100%;"></div></div>

<h4 class="bsk-tb-margin-top bsk-tb-sample-sub-heading">110%</h4>
<div class="progress"><div class="progress-bar" role="progressbar" style="width: 110%;"></div></div>
{% endblock %}
