{% extends "layouts/sample.layout.njk" %}

{% set sample_href = "0243--progress-bar-conextual-warning.html" %}
{% set sample_number = "#0243" %}
{% set sample_title = "warning context progress bar" %}
{% set sample_markup = ".bsk-progress .bsk-progress-bar.bsk-progress-bar-warning" %}

{% block sample %}
<h4 class="bsk-tb-margin-top bsk-tb-sample-sub-heading">50%</h4>
<div class="bsk-progress"><div class="bsk-progress-bar bsk-progress-bar-warning" role="progressbar" style="width: 50%;"></div></div>
<div class="bsk-progress"><div class="bsk-progress-bar bsk-progress-bar-warning" role="progressbar" style="width: 50%;">50%</div></div>
{% endblock %}
