{% extends "layouts/sample.layout.njk" %}

{% set sample_href = "0242--progress-bar-conextual-info.html" %}
{% set sample_number = "#0242" %}
{% set sample_title = "info context progress bar" %}
{% set sample_markup = ".bsk-progress .bsk-progress-bar.bsk-progress-bar-info" %}

{% block sample %}
<h4 class="bsk-tb-margin-top bsk-tb-sample-sub-heading">50%</h4>
<div class="bsk-progress"><div class="bsk-progress-bar bsk-progress-bar-info" role="progressbar" style="width: 50%;"></div></div>
<div class="bsk-progress"><div class="bsk-progress-bar bsk-progress-bar-info" role="progressbar" style="width: 50%;">50%</div></div>
{% endblock %}
