{% extends "layouts/sample.layout.njk" %}

{% set sample_href = "0246--progress-bar-layout-stacked.html" %}
{% set sample_number = "#0246" %}
{% set sample_title = "stacked progress bar" %}
{% set sample_markup = ".bsk-progress .bsk-progress-bar" %}

{% block sample %}
<div class="bsk-progress">
  <div class="bsk-progress-bar" role="progressbar" style="width: 15%;">15% (15%)</div>
  <div class="bsk-progress-bar bsk-progress-bar-success" role="progressbar" style="width: 15%;">15% (30%)</div>
  <div class="bsk-progress-bar bsk-progress-bar-warning" role="progressbar" style="width: 15%;">15% (45%)</div>
  <div class="bsk-progress-bar bsk-progress-bar-danger" role="progressbar" style="width: 15%;">15% (60%)</div>
  <div class="bsk-progress-bar bsk-progress-bar-info" role="progressbar" style="width: 15%;">15% (75%)</div>
</div>
{% endblock %}
