{% extends "layouts/sample.layout.njk" %}

{% set sample_href = "0247--navbar.html" %}
{% set sample_number = "#0247" %}
{% set sample_title = "navbar" %}
{% set sample_markup = ".bsk-navbar" %}

{% block sample %}
<nav class="bsk-navbar">
  <div class="bsk-container-fluid">
  </div>
</nav>
{% endblock %}
