{% extends "layouts/sample.layout.njk" %}

{% set sample_href = "0247--navbar.html" %}
{% set sample_number = "#0247" %}
{% set sample_title = "navbar" %}
{% set sample_markup = ".navbar.navbar-bsk" %}

{% block sample %}
<nav class="navbar navbar-bsk">
  <div class="container-fluid">
  </div>
</nav>
{% endblock %}
