{% extends "layouts/sample.layout.njk" %}

{% set sample_href = "0248--navbar-layout-collapsed-items.html" %}
{% set sample_number = "#0248" %}
{% set sample_title = "navbar collapsed items" %}
{% set sample_markup = ".bsk-navbar .bsk-navbar-collapse" %}

{% block sample %}
<nav class="bsk-navbar">
  <div class="bsk-container-fluid">
    <div class="bsk-navbar-header">
      <button type="button" class="bsk-navbar-toggle bsk-collapsed" data-toggle="collapse" aria-expanded="false">
        <span class="bsk-sr-only">Toggle navigation</span>
        <span class="bsk-icon-bar"></span>
        <span class="bsk-icon-bar"></span>
        <span class="bsk-icon-bar"></span>
      </button>
    </div>
    <div class="bsk-collapse bsk-navbar-collapse">
      <ul class="bsk-nav bsk-navbar-nav">
        <li class="bsk-active"><a href="#">Item</a></li>
      </ul>
    </div>
  </div>
</nav>
{% endblock %}
