{% extends "layouts/sample.layout.njk" %}

{% set sample_href = "0249--navbar-component-collapse-menu.html" %}
{% set sample_number = "#0249" %}
{% set sample_title = "navbar collapsed items menu" %}
{% set sample_markup = ".bsk-navbar .bsk-navbar-toggle" %}

{% block sample %}
<p class="bsk-text-info"><strong>Note</strong> this sample uses a class that shadows <code>.navbar-toggle</code>,
but is not affected by it directly.</p>

<nav class="bsk-navbar">
  <div class="bsk-container-fluid">
    <div class="bsk-navbar-header">
      <button type="button" class="bsk-tb-simulated-state-uncollapsed bsk-collapsed" data-toggle="collapse" aria-expanded="false">
        <span class="bsk-sr-only">Toggle navigation</span>
        <span class="bsk-icon-bar"></span>
        <span class="bsk-icon-bar"></span>
        <span class="bsk-icon-bar"></span>
      </button>
    </div>
  </div>
</nav>
{% endblock %}
