{% extends "layouts/sample.layout.njk" %}

{% set sample_href = "0250--navbar-component-brand-text.html" %}
{% set sample_number = "#0250" %}
{% set sample_title = "navbar brand text" %}
{% set sample_markup = ".bsk-navbar .bsk-navbar-brand" %}

{% block sample %}
<h4 class="bsk-tb-margin-top bsk-tb-sample-sub-heading">Using <code>span</code></h4>
<nav class="bsk-navbar">
  <div class="bsk-container-fluid">
    <div class="bsk-navbar-header">
      <span class="bsk-navbar-brand">Site Name</span>
    </div>
  </div>
</nav>

<nav class="bsk-navbar">
  <div class="bsk-container-fluid">
    <div class="bsk-navbar-header">
      <span class="bsk-navbar-brand">NA NA NA NA NA NA NA NA NA NA NA NA NA NA NA NA NA NA NA NA NA NA NA NA NA NA NA NA NA
      NA NA NA NA NA NA NA NA NA NA NA NA NA, NA NA NA NA NA NA NA NA NA NA NA NA NA NA NA NA NA NA NA NA NA NA NA NA
      NA NA NA NA NA NA NA NA NA NA NA NA NA NA NA NA NA NA, BATMAN!</span>
    </div>
  </div>
</nav>

<h4 class="bsk-tb-margin-top bsk-tb-sample-sub-heading">Using <code>span</code> with <code>br</code></h4>
<nav class="bsk-navbar">
  <div class="bsk-container-fluid">
    <div class="bsk-navbar-header">
      <span class="bsk-navbar-brand">NA NA NA NA NA NA NA NA NA <br /> BATMAN!</span>
    </div>
  </div>
</nav>

<h4 class="bsk-tb-margin-top bsk-tb-sample-sub-heading">Using <code>a</code></h4>
<nav class="bsk-navbar">
  <div class="bsk-container-fluid">
    <div class="bsk-navbar-header">
      <a class="bsk-navbar-brand" href="#">Site Name</a>
    </div>
  </div>
</nav>

<h4 class="bsk-tb-margin-top bsk-tb-sample-sub-heading">Using <code>a</code> with item</h4>
<nav class="bsk-navbar">
  <div class="bsk-container-fluid">
    <div class="bsk-navbar-header">
      <a class="bsk-navbar-brand" href="#">Site Name</a>
    </div>
    <ul class="bsk-nav bsk-navbar-nav">
      <li><a href="#">Item</a></li>
    </ul>
  </div>
</nav>
{% endblock %}
