{% extends "layouts/sample.layout.njk" %}

{% set sample_href = "0251--navbar-component-brand-image.html" %}
{% set sample_number = "#0251" %}
{% set sample_title = "navbar brand image" %}
{% set sample_markup = ".navbar.navbar-bsk .navbar-brand" %}

{% block sample %}
<h4 class="bsk-tb-margin-top bsk-tb-sample-sub-heading">32 pixel image with regular navbar</h4>
<nav class="navbar navbar-bsk">
  <div class="container-fluid">
    <div class="navbar-header">
      <div class="navbar-brand bsk-tb-navbar-brand-image-32">
        <img src="https://placeholdit.imgix.net/~text?txtsize=15&txt=Logo&w=32&h=32">
      </div>
    </div>
  </div>
</nav>

<h4 class="bsk-tb-margin-top bsk-tb-sample-sub-heading">48 pixel image with regular navbar</h4>
<nav class="navbar navbar-bsk">
  <div class="container-fluid">
    <div class="navbar-header">
      <div class="navbar-brand bsk-tb-navbar-brand-image-48">
        <img src="https://placeholdit.imgix.net/~text?txtsize=15&txt=Logo&w=48&h=48">
      </div>
    </div>
  </div>
</nav>

<h4 class="bsk-tb-margin-top bsk-tb-sample-sub-heading">48 pixel image with large navbar</h4>
<nav class="navbar navbar-bsk navbar-bsk-lg bsk-tb-navbar-lg">
  <div class="container-fluid">
    <div class="navbar-header">
      <div class="navbar-brand bsk-tb-navbar-brand-image-48-lg">
        <img src="https://placeholdit.imgix.net/~text?txtsize=15&txt=Logo&w=48&h=48">
      </div>
    </div>
  </div>
</nav>

<h4 class="bsk-tb-margin-top bsk-tb-sample-sub-heading">64 pixel image with large navbar</h4>
<nav class="navbar navbar-bsk navbar-bsk-lg bsk-tb-navbar-lg">
  <div class="container-fluid">
    <div class="navbar-header">
      <div class="navbar-brand bsk-tb-navbar-brand-image-64">
        <img src="https://placeholdit.imgix.net/~text?txtsize=15&txt=Logo&w=64&h=64">
      </div>
    </div>
  </div>
</nav>

<h4 class="bsk-tb-margin-top bsk-tb-sample-sub-heading">96 pixel image with large navbar</h4>
<nav class="navbar navbar-bsk navbar-bsk-lg bsk-tb-navbar-lg">
  <div class="container-fluid">
    <div class="navbar-header">
      <div class="navbar-brand bsk-tb-navbar-brand-image-96">
        <img src="https://placeholdit.imgix.net/~text?txtsize=15&txt=Logo&w=96&h=96">
      </div>
    </div>
  </div>
</nav>

<h4 class="bsk-tb-margin-top bsk-tb-sample-sub-heading">128 pixel image with large navbar</h4>
<nav class="navbar navbar-bsk navbar-bsk-lg bsk-tb-navbar-lg">
  <div class="container-fluid">
    <div class="navbar-header">
      <div class="navbar-brand bsk-tb-navbar-brand-image-128">
        <img src="https://placeholdit.imgix.net/~text?txtsize=15&txt=Logo&w=128&h=128">
      </div>
    </div>
  </div>
</nav>
{% endblock %}
