{% extends "layouts/sample.layout.njk" %}

{% set sample_href = "0253--navbar-component-items.html" %}
{% set sample_number = "#0253" %}
{% set sample_title = "navbar items" %}
{% set sample_markup = ".bsk-navbar ul.bsk-navbar-nav a" %}

{% block sample %}
<nav class="bsk-navbar">
  <div class="bsk-container-fluid">
    <ul class="bsk-nav bsk-navbar-nav">
      <li><a href="#">Item</a></li>
    </ul>
  </div>
</nav>

<nav class="bsk-navbar">
  <div class="bsk-container-fluid">
    <ul class="bsk-nav bsk-navbar-nav">
      <li><a href="#">Item</a></li>
      <li><a href="#">Another item</a></li>
    </ul>
  </div>
</nav>
{% endblock %}
