{% extends "layouts/sample.layout.njk" %}

{% set sample_href = "0256--navbar-component-button-default.html" %}
{% set sample_number = "#0256" %}
{% set sample_title = "navbar primary button" %}
{% set sample_markup = ".bsk-navbar .bsk-btn.bsk-btn-primary.bsk-navbar-btn" %}

{% block sample %}
<nav class="bsk-navbar">
  <div class="bsk-container-fluid">
    <button class="bsk-btn bsk-btn-primary bsk-navbar-btn">Primary Action</button>
  </div>
</nav>

<nav class="bsk-navbar">
  <div class="bsk-container-fluid">
    <button class="bsk-btn bsk-btn-primary bsk-navbar-btn">Primary Action</button>
    <button class="bsk-btn bsk-btn-default bsk-navbar-btn">Action</button>
  </div>
</nav>

<nav class="bsk-navbar">
  <div class="bsk-container-fluid">
    <ul class="bsk-nav bsk-navbar-nav">
      <li><a href="#">Item</a></li>
    </ul>
    <button class="bsk-btn bsk-btn-primary bsk-navbar-btn">Primary Action</button>
  </div>
</nav>
{% endblock %}
