{% extends "layouts/sample.layout.njk" %}

{% set sample_href = "0258--navbar-component-button-contextual-warning.html" %}
{% set sample_number = "#0258" %}
{% set sample_title = "navbar warning context button" %}
{% set sample_markup = ".bsk-navbar .bsk-btn.bsk-btn-warning.bsk-navbar-btn" %}

{% block sample %}
<nav class="bsk-navbar">
  <div class="bsk-container-fluid">
    <button class="bsk-btn bsk-btn-warning bsk-navbar-btn">Warning Action</button>
  </div>
</nav>

<nav class="bsk-navbar">
  <div class="bsk-container-fluid">
    <button class="bsk-btn bsk-btn-warning bsk-navbar-btn">Warning Action</button>
    <button class="bsk-btn bsk-btn-default bsk-navbar-btn">Action</button>
  </div>
</nav>

<nav class="bsk-navbar">
  <div class="bsk-container-fluid">
    <ul class="bsk-nav bsk-navbar-nav">
      <li><a href="#">Item</a></li>
    </ul>
    <button class="bsk-btn bsk-btn-warning bsk-navbar-btn">Warning Action</button>
  </div>
</nav>
{% endblock %}
