{% extends "layouts/sample.layout.njk" %}

{% set sample_href = "0261--navbar-component-items-overflow.html" %}
{% set sample_number = "#0261" %}
{% set sample_title = "navbar overflowing items" %}
{% set sample_markup = ".navbar.navbar-bsk ul.navbar-nav a" %}

{% block sample %}
<h4 class="bsk-tb-margin-top bsk-tb-sample-sub-heading">Items only</h4>
<nav class="navbar navbar-bsk">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li><a href="#">Item one</a></li>
      <li><a href="#">Item two</a></li>
      <li><a href="#">Item three</a></li>
      <li><a href="#">Item four</a></li>
      <li><a href="#">Item five</a></li>
      <li><a href="#">Item six</a></li>
      <li><a href="#">Item seven</a></li>
      <li><a href="#">Item eight</a></li>
      <li><a href="#">Item nine</a></li>
      <li><a href="#">Item ten</a></li>
      <li><a href="#">Item eleven</a></li>
      <li><a href="#">Item twelve</a></li>
      <li><a href="#">Item thirteen</a></li>
      <li><a href="#">Item fourteen</a></li>
      <li><a href="#">Item fiftheen</a></li>
      <li><a href="#">Item sixteen</a></li>
      <li><a href="#">Item seventeen</a></li>
      <li><a href="#">Item eighteen</a></li>
      <li><a href="#">Item nineteen</a></li>
      <li><a href="#">Item twenty</a></li>
      <li><a href="#">Item twenty one</a></li>
      <li><a href="#">Item twenty two</a></li>
      <li><a href="#">Item twenty three</a></li>
      <li><a href="#">Item twenty four</a></li>
      <li><a href="#">Item twenty five</a></li>
      <li><a href="#">Item twenty six</a></li>
      <li><a href="#">Item twenty seven</a></li>
      <li><a href="#">Item twenty eight</a></li>
    </ul>
  </div>
</nav>

<h4 class="bsk-tb-margin-top bsk-tb-sample-sub-heading">With brand text</h4>
<nav class="navbar navbar-bsk">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Site Name</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="#">Item one</a></li>
      <li><a href="#">Item two</a></li>
      <li><a href="#">Item three</a></li>
      <li><a href="#">Item four</a></li>
      <li><a href="#">Item five</a></li>
      <li><a href="#">Item six</a></li>
      <li><a href="#">Item seven</a></li>
      <li><a href="#">Item eight</a></li>
      <li><a href="#">Item nine</a></li>
      <li><a href="#">Item ten</a></li>
      <li><a href="#">Item eleven</a></li>
      <li><a href="#">Item twelve</a></li>
      <li><a href="#">Item thirteen</a></li>
      <li><a href="#">Item fourteen</a></li>
      <li><a href="#">Item fiftheen</a></li>
      <li><a href="#">Item sixteen</a></li>
      <li><a href="#">Item seventeen</a></li>
      <li><a href="#">Item eighteen</a></li>
      <li><a href="#">Item nineteen</a></li>
      <li><a href="#">Item twenty</a></li>
      <li><a href="#">Item twenty one</a></li>
      <li><a href="#">Item twenty two</a></li>
      <li><a href="#">Item twenty three</a></li>
      <li><a href="#">Item twenty four</a></li>
      <li><a href="#">Item twenty five</a></li>
      <li><a href="#">Item twenty six</a></li>
      <li><a href="#">Item twenty seven</a></li>
      <li><a href="#">Item twenty eight</a></li>
    </ul>
  </div>
</nav>
{% endblock %}
