{% extends "layouts/sample.layout.njk" %}

{% set sample_href = "0263--navbar-component-form-submit.html" %}
{% set sample_number = "#0263" %}
{% set sample_title = "navbar form submit" %}
{% set sample_markup = ".navbar.navbar-bsk .navbar-form .btn.btn-bsk.btn-default.navbar-btn" %}

{% block sample %}
<nav class="navbar navbar-bsk">
  <div class="container-fluid">
    <form class="navbar-form">
      <button type="submit" class="btn btn-bsk btn-default navbar-btn">Submit</button>
    </form>
  </div>
</nav>

<h4 class="bsk-tb-margin-top bsk-tb-sample-sub-heading">With form field</h4>
<nav class="navbar navbar-bsk">
  <div class="container-fluid">
    <form class="navbar-form">
      <div class="form-group">
        <label class="control-label sr-only" for="navbar-form-inputs-example-1">Text input</label>
        <input id="navbar-form-inputs-example-1" type="text" class="form-control" placeholder="Text input">
      </div>
      <button type="submit" class="btn btn-bsk btn-default navbar-btn">Submit</button>
    </form>
  </div>
</nav>

<h4 class="bsk-tb-margin-top bsk-tb-sample-sub-heading">With item</h4>
<nav class="navbar navbar-bsk">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li><a href="#">Item</a></li>
    </ul>
    <form class="navbar-form">
      <div class="form-group">
        <label class="control-label sr-only" for="navbar-form-inputs-example-2">Text input</label>
        <input id="navbar-form-inputs-example-2" type="text" class="form-control" placeholder="Text input">
      </div>
      <button type="submit" class="btn btn-bsk btn-default navbar-btn">Submit</button>
    </form>
  </div>
</nav>
{% endblock %}
