{% extends "layouts/sample.layout.njk" %}

{% set sample_href = "0264--navbar-component-form-select.html" %}
{% set sample_number = "#0264" %}
{% set sample_title = "navbar form select" %}
{% set sample_markup = ".bsk-navbar .bsk-navbar-form select.bsk-form-control" %}

{% block sample %}
<nav class="bsk-navbar">
  <div class="bsk-container-fluid">
    <form class="bsk-navbar-form">
      <div class="bsk-form-group">
        <label class="bsk-control-label bsk-sr-only" for="navbar-form-inputs-example-1">Select input</label>
        <select class="bsk-form-control" id="navbar-form-inputs-example-1">
          <option value="option-1">Option 1</option>
          <option value="option-2">Option 2</option>
          <option value="option-3">Option 3</option>
        </select>
      </div>
    </form>
  </div>
</nav>

<h4 class="bsk-tb-margin-top bsk-tb-sample-sub-heading">With item</h4>
<nav class="bsk-navbar">
  <div class="bsk-container-fluid">
    <ul class="bsk-nav bsk-navbar-nav">
      <li><a href="#">Item</a></li>
    </ul>
    <form class="bsk-navbar-form">
      <div class="bsk-form-group">
        <label class="bsk-control-label bsk-sr-only" for="navbar-form-inputs-example-1">Select input</label>
        <select class="bsk-form-control" id="navbar-form-inputs-example-1">
          <option value="option-1">Option 1</option>
          <option value="option-2">Option 2</option>
          <option value="option-3">Option 3</option>
        </select>
      </div>
    </form>
  </div>
</nav>
{% endblock %}
