{% extends "layouts/sample.layout.njk" %}

{% set sample_href = "0265--navbar-component-form-radio-inline.html" %}
{% set sample_number = "#0265" %}
{% set sample_title = "navbar form inline radio options" %}
{% set sample_markup = ".bsk-navbar .bsk-navbar-form .bsk-radio-inline" %}

{% block sample %}
<nav class="bsk-navbar">
  <div class="bsk-container-fluid">
    <form class="bsk-navbar-form">
      <fieldset class="bsk-form-group">
        <div class="bsk-radio-inline">
          <label class="bsk-control-label">
            <input type="radio" name="form-radio-example-1" id="form-radio-example-1-a" value="A">
              Option 1 (A)
          </label>
        </div>
        <div class="bsk-radio-inline">
          <label class="bsk-control-label">
            <input type="radio" name="form-radio-example-1" id="form-radio-example-1-b" value="B">
              Option 1 (B)
          </label>
        </div>
        <div class="bsk-radio-inline">
          <label class="bsk-control-label">
            <input type="radio" name="form-radio-example-1" id="form-radio-example-1-c" value="C">
              Option 1 (C)
          </label>
        </div>
      </fieldset>
    </form>
  </div>
</nav>

<h4 class="bsk-tb-margin-top bsk-tb-sample-sub-heading">With item</h4>
<nav class="bsk-navbar">
  <div class="bsk-container-fluid">
    <ul class="bsk-nav bsk-navbar-nav">
      <li><a href="#">Item</a></li>
    </ul>
    <form class="bsk-navbar-form">
      <fieldset class="bsk-form-group">
        <div class="bsk-radio-inline">
          <label class="bsk-control-label">
            <input type="radio" name="form-radio-example-2" id="form-radio-example-2-a" value="A">
              Option 1 (A)
          </label>
        </div>
        <div class="bsk-radio-inline">
          <label class="bsk-control-label">
            <input type="radio" name="form-radio-example-2" id="form-radio-example-2-b" value="B">
              Option 1 (B)
          </label>
        </div>
        <div class="bsk-radio-inline">
          <label class="bsk-control-label">
            <input type="radio" name="form-radio-example-2" id="form-radio-example-2-c" value="C">
              Option 1 (C)
          </label>
        </div>
      </fieldset>
    </form>
  </div>
</nav>
{% endblock %}
