{% extends "layouts/sample.layout.njk" %}

{% set sample_href = "0268--navbar-component-link.html" %}
{% set sample_number = "#0268" %}
{% set sample_title = "navbar link" %}
{% set sample_markup = ".navbar .navbar-link" %}

{% block sample %}
<nav class="bsk-navbar">
  <div class="bsk-container-fluid">
    <a href="#" class="bsk-navbar-link">Link</a>
  </div>
</nav>

<h4 class="bsk-tb-margin-top bsk-tb-sample-sub-heading">With text</h4>
<nav class="bsk-navbar">
  <div class="bsk-container-fluid">
    <p class="bsk-navbar-text">Some text with a <a href="#" class="bsk-navbar-link">link</a></p>
  </div>
</nav>

<h4 class="bsk-tb-margin-top bsk-tb-sample-sub-heading">With item</h4>
<nav class="bsk-navbar">
  <div class="bsk-container-fluid">
    <ul class="bsk-nav bsk-navbar-nav">
      <li><a href="#">Item</a></li>
    </ul>
    <p class="bsk-navbar-text">Some text with a <a href="#" class="bsk-navbar-link">link</a></p>
  </div>
</nav>
{% endblock %}
