{% extends "layouts/sample.layout.njk" %}

{% set sample_href = "0269--navbar-sizes.html" %}
{% set sample_number = "#0260" %}
{% set sample_title = "navbar sizes" %}
{% set sample_markup = ".bsk-navbar .bsk-navbar-lg" %}

{% block sample %}
<nav class="bsk-navbar">
  <div class="bsk-container-fluid">
  </div>
</nav>

<nav class="bsk-navbar bsk-navbar-lg bsk-tb-navbar-lg">
  <div class="bsk-container-fluid">
  </div>
</nav>

<h4 class="bsk-tb-margin-top bsk-tb-sample-sub-heading">With item</h4>
<nav class="bsk-navbar">
  <div class="bsk-container-fluid">
    <ul class="bsk-nav bsk-navbar-nav">
      <li><a href="#">Item</a></li>
    </ul>
  </div>
</nav>

<nav class="bsk-navbar bsk-navbar-lg">
  <div class="bsk-container-fluid">
    <ul class="bsk-nav bsk-navbar-nav">
      <li><a href="#">Item</a></li>
    </ul>
  </div>
</nav>

{% endblock %}
