{% extends "layouts/sample.layout.njk" %}

{% set sample_href = "0271--navbar-state-items-disabled.html" %}
{% set sample_number = "#0271" %}
{% set sample_title = "disabled navbar item" %}
{% set sample_markup = ".navbar.navbar-bsk ul.navbar-nav li.disabled a" %}

{% block sample %}
<nav class="navbar navbar-bsk">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li><a href="#">Item</a></li>
      <li class="disabled"><a href="#">Disabled item</a></li>
      <li><a href="#">Another item</a></li>
    </ul>
  </div>
</nav>

<h4 class="bsk-tb-margin-top bsk-tb-sample-sub-heading">With drop-down item</h4>
<nav class="navbar navbar-bsk">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li><a href="#">Item</a></li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">
        Dropdown <span class="caret"></span></a>
        <ul class="dropdown-menu dropdown-menu-bsk">
          <li><a href="#">Action</a></li>
          <li class="disabled"><a href="#">Disabled Action</a></li>
          <li><a href="#">Another item</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
{% endblock %}
