{% extends "layouts/sample.layout.njk" %}

{% set sample_href = "0271--navbar-state-items-disabled.html" %}
{% set sample_number = "#0271" %}
{% set sample_title = "disabled navbar item" %}
{% set sample_markup = ".bsk-navbar ul.bsk-navbar-nav li.bsk-disabled a" %}

{% block sample %}
<nav class="bsk-navbar">
  <div class="bsk-container-fluid">
    <ul class="bsk-nav bsk-navbar-nav">
      <li><a href="#">Item</a></li>
      <li class="bsk-disabled"><a href="#">Disabled item</a></li>
      <li><a href="#">Another item</a></li>
    </ul>
  </div>
</nav>

<h4 class="bsk-tb-margin-top bsk-tb-sample-sub-heading">With drop-down item</h4>
<nav class="bsk-navbar">
  <div class="bsk-container-fluid">
    <ul class="bsk-nav bsk-navbar-nav">
      <li><a href="#">Item</a></li>
      <li class="bsk-dropdown">
        <a href="#" class="bsk-dropdown-toggle" data-toggle="dropdown" role="button">
        Dropdown <span class="bsk-caret"></span></a>
        <ul class="bsk-dropdown-menu">
          <li><a href="#">Action</a></li>
          <li class="bsk-disabled"><a href="#">Disabled Action</a></li>
          <li><a href="#">Another item</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
{% endblock %}
