{% extends "layouts/sample.layout.njk" %}

{% set sample_href = "0272--navbar-layout-collapsed-items.html" %}
{% set sample_number = "#0272" %}
{% set sample_title = "collapsed navbar items" %}
{% set sample_markup = ".bsk-navbar .bsk-collapse.bsk-navbar-collapse ul.bsk-navbar-nav" %}

{% block sample %}
<nav class="bsk-navbar">
  <div class="bsk-container-fluid">
    <div class="bsk-collapse bsk-navbar-collapse">
      <ul class="bsk-nav bsk-navbar-nav">
        <li><a href="#">Item 1</a></li>
        <li><a href="#">Item 2</a></li>
        <li><a href="#">Item 3</a></li>
        <li><a href="#">Item 4</a></li>
        <li><a href="#">Item 5</a></li>
        <li><a href="#">Item 6</a></li>
        <li><a href="#">Item 7</a></li>
        <li><a href="#">Item 8</a></li>
        <li><a href="#">Item 9</a></li>
        <li><a href="#">Item 10</a></li>
      </ul>
    </div>
  </div>
</nav>
{% endblock %}
