{% extends "layouts/sample.layout.njk" %}

{% set sample_href = "0273--navbar-alignment-left.html" %}
{% set sample_number = "#0273" %}
{% set sample_title = "left aligned navbar items" %}
{% set sample_markup = ".navbar.navbar-bsk ul.navbar-nav.navbar-left" %}

{% block sample %}
<nav class="navbar navbar-bsk">
  <div class="container-fluid">
    <ul class="nav navbar-nav navbar-left">
      <li><a href="#">Item</a></li>
    </ul>
  </div>
</nav>
{% endblock %}
