{% extends "layouts/sample.layout.njk" %}

{% set sample_href = "0275--navbar-layout-fixed-top.html" %}
{% set sample_number = "#0275" %}
{% set sample_title = "navbar fixed to top" %}
{% set sample_markup = ".bsk-navbar.bsk-navbar-fixed-top" %}

{% block sample %}
<p class="text-info"><strong>Note</strong> this sample may break outside the default page layout.</p>

<nav class="bsk-navbar bsk-navbar-fixed-top">
  <div class="bsk-container-fluid">
  </div>
</nav>
{% endblock %}
