{% extends "layouts/sample.layout.njk" %}

{% set sample_href = "0275--navbar-layout-fixed-top.html" %}
{% set sample_number = "#0275" %}
{% set sample_title = "navbar fixed to top" %}
{% set sample_markup = ".navbar.navbar-bsk.navbar-fixed-top" %}

{% block sample %}
<p class="text-info"><strong>Note</strong> this sample may break outside the default page layout.</p>

<nav class="navbar navbar-fixed-top navbar-bsk">
  <div class="container-fluid">
  </div>
</nav>
{% endblock %}
