{% extends "layouts/sample.layout.njk" %}

{% set sample_href = "0276--navbar-layout-fixed-bottom.html" %}
{% set sample_number = "#0276" %}
{% set sample_title = "navbar fixed to bottom" %}
{% set sample_markup = ".bsk-navbar.bsk-navbar-fixed-bottom" %}

{% block sample %}
<p class="bsk-text-info"><strong>Note</strong> this sample may break outside the default page layout.</p>

<nav class="bsk-navbar bsk-navbar-fixed-bottom">
  <div class="bsk-container-fluid">
  </div>
</nav>
{% endblock %}
