{% extends "layouts/sample.layout.njk" %}

{% set sample_href = "0279--input-group-select.html" %}
{% set sample_number = "#0279" %}
{% set sample_title = "select input group" %}
{% set sample_markup = ".input-group" %}

{% block sample %}
<h4 class="bsk-tb-margin-top bsk-tb-sample-sub-heading">Before input</h4>
<form>
  <fieldset class="form-group">
    <label class="control-label" for="form-input-group-example-1">Amount (sterling)</label>
    <div class="input-group">
      <span class="input-group-addon" id="form-input-group-example-1-addon-1">£</span>
      <select class="form-control" id="form-input-group-example-1">
        <option value="option-1">Option 1</option>
        <option value="option-2">Option 2</option>
        <option value="option-3">Option 3</option>
      </select>
    </div>
  </fieldset>
</form>

<h4 class="bsk-tb-margin-top bsk-tb-sample-sub-heading">After input</h4>
<form>
  <fieldset class="form-group">
    <label class="control-label" for="form-input-group-example-2">Amount (thousands)</label>
    <div class="input-group">
      <select class="form-control" id="form-input-group-example-2">
        <option value="option-1">Option 1</option>
        <option value="option-2">Option 2</option>
        <option value="option-3">Option 3</option>
      </select>
      <span class="input-group-addon" id="form-input-group-example-2-addon-1">000</span>
    </div>
  </fieldset>
</form>

<h4 class="bsk-tb-margin-top bsk-tb-sample-sub-heading">Before and after input</h4>
<form>
  <fieldset class="form-group">
    <label class="control-label" for="form-input-group-example-3">Amount (£, thousands)</label>
    <div class="input-group">
      <span class="input-group-addon" id="form-input-group-example-3-addon-1">£</span>
      <select class="form-control" id="form-input-group-example-3">
        <option value="option-1">Option 1</option>
        <option value="option-2">Option 2</option>
        <option value="option-3">Option 3</option>
      </select>
      <span class="input-group-addon" id="form-input-group-example-3-addon-2">000</span>
    </div>
  </fieldset>
</form>
{% endblock %}
