{% extends "layouts/sample.layout.njk" %}

{% set sample_href = "0281--input-group-checkbox.html" %}
{% set sample_number = "#0281" %}
{% set sample_title = "checkbox input group" %}
{% set sample_markup = ".input-group" %}

{% block sample %}
<h4 class="bsk-tb-margin-top bsk-tb-sample-sub-heading">Before input</h4>
<form>
  <fieldset class="form-group">
    <label class="control-label" for="form-input-group-example-1">Amount (sterling, optional surcharge)</label>
    <div class="input-group">
      <span class="input-group-addon" id="form-input-group-example-1-addon-1">
        <input type="checkbox" aria-label="checkbox">
      </span>
      <input type="text" class="form-control" placeholder="Amount (sterling, optional surcharge)" id="form-input-group-example-1" aria-describedby="form-input-group-example-1-addon-1">
    </div>
  </fieldset>
</form>

<h4 class="bsk-tb-margin-top bsk-tb-sample-sub-heading">After input</h4>
<form>
  <fieldset class="form-group">
    <label class="control-label" for="form-input-group-example-2">Amount (sterling, optional surcharge)</label>
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Amount (sterling, optional surcharge)" id="form-input-group-example-2" aria-describedby="form-input-group-example-2-addon-1">
      <span class="input-group-addon" id="form-input-group-example-2-addon-1">
        <input type="checkbox" aria-label="checkbox">
      </span>
    </div>
  </fieldset>
</form>

<h4 class="bsk-tb-margin-top bsk-tb-sample-sub-heading">Before and after input</h4>
<form>
  <fieldset class="form-group">
    <label class="control-label" for="form-input-group-example-3">Amount (sterling, optional surcharge)</label>
    <div class="input-group">
      <span class="input-group-addon" id="form-input-group-example-2-addon-1">
        <input type="checkbox" aria-label="checkbox">
      </span>
      <input type="text" class="form-control" placeholder="Amount (sterling, optional surcharge)" id="form-input-group-example-3" aria-describedby="form-input-group-example-3-addon-1">
      <span class="input-group-addon" id="form-input-group-example-2-addon-1">
        <input type="checkbox" aria-label="checkbox">
      </span>
    </div>
  </fieldset>
</form>
{% endblock %}
