{% extends "layouts/sample.layout.njk" %}

{% set sample_href = "0282--input-group-button.html" %}
{% set sample_number = "#0282" %}
{% set sample_title = "button input group" %}
{% set sample_markup = ".bsk-input-group-btn" %}

{% block sample %}
<h4 class="bsk-tb-margin-top bsk-tb-sample-sub-heading">Before input</h4>
<form>
  <fieldset class="bsk-form-group">
    <label class="bsk-control-label" for="form-input-group-example-1">Input group with button</label>
    <div class="bsk-input-group">
      <div class="bsk-input-group-btn">
        <button class="bsk-btn bsk-btn-default">Button</button>
      </div>
      <input type="text" class="bsk-form-control" placeholder="Text input" id="form-input-group-example-1">
    </div>
  </fieldset>
</form>

<h4 class="bsk-tb-margin-top bsk-tb-sample-sub-heading">After input</h4>
<form>
  <fieldset class="bsk-form-group">
    <label class="bsk-control-label" for="form-input-group-example-2">Input group with button</label>
    <div class="bsk-input-group">
      <input type="text" class="bsk-form-control" placeholder="Text input" id="form-input-group-example-2">
      <div class="bsk-input-group-btn">
        <button class="bsk-btn bsk-btn-default">Button</button>
      </div>
    </div>
  </fieldset>
</form>

<h4 class="bsk-tb-margin-top bsk-tb-sample-sub-heading">Before and after input</h4>
<form>
  <fieldset class="bsk-form-group">
    <label class="bsk-control-label" for="form-input-group-example-3">Input group with button</label>
    <div class="bsk-input-group">
      <div class="bsk-input-group-btn">
        <button class="bsk-btn bsk-btn-default">Button</button>
      </div>
      <input type="text" class="bsk-form-control" placeholder="Text input" id="form-input-group-example-3">
      <div class="bsk-input-group-btn">
        <button class="bsk-btn bsk-btn-default">Button</button>
      </div>
    </div>
  </fieldset>
</form>
{% endblock %}
