{% extends "layouts/sample.layout.njk" %}

{% set sample_href = "0283--input-group-drop-down.html" %}
{% set sample_number = "#0283" %}
{% set sample_title = "drop-down input group" %}
{% set sample_markup = ".bsk-input-group" %}

{% block sample %}
<h4 class="bsk-tb-margin-top bsk-tb-sample-sub-heading">Before input</h4>
<form>
  <fieldset class="bsk-form-group">
    <label class="bsk-control-label" for="form-input-group-example-1">Input group with button</label>
    <div class="bsk-input-group">
      <div class="bsk-input-group-btn">
        <div class="bsk-dropdown">
          <button class="bsk-btn btn-bsk bsk-btn-default bsk-dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Dropdown <span class="bsk-caret"></span>
          </button>
          <ul class="bsk-dropdown-menu" aria-labelledby="dropdown-menu-1">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
          </ul>
        </div>
      </div>
      <input type="text" class="bsk-form-control" placeholder="Text input" id="form-input-group-example-1">
    </div>
  </fieldset>
</form>

<h4 class="bsk-tb-margin-top bsk-tb-sample-sub-heading">After input</h4>
<form>
  <fieldset class="bsk-form-group">
    <label class="bsk-control-label" for="form-input-group-example-2">Input group with button</label>
    <div class="bsk-input-group">
      <input type="text" class="bsk-form-control" placeholder="Text input" id="form-input-group-example-2">
      <div class="bsk-input-group-btn">
        <div class="bsk-dropdown">
          <button class="bsk-btn btn-bsk bsk-btn-default bsk-dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Dropdown <span class="bsk-caret"></span>
          </button>
          <ul class="bsk-dropdown-menu" aria-labelledby="dropdown-menu-2">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
          </ul>
        </div>
      </div>
    </div>
  </fieldset>
</form>

<h4 class="bsk-tb-margin-top bsk-tb-sample-sub-heading">Before and after input</h4>
<form>
  <fieldset class="bsk-form-group">
    <label class="bsk-control-label" for="form-input-group-example-3">Input group with button</label>
    <div class="bsk-input-group">
      <div class="bsk-input-group-btn">
        <div class="bsk-dropdown">
          <button class="bsk-btn btn-bsk bsk-btn-default bsk-dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Dropdown <span class="bsk-caret"></span>
          </button>
          <ul class="bsk-dropdown-menu" aria-labelledby="dropdown-menu-4">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
          </ul>
        </div>
      </div>
      <input type="text" class="bsk-form-control" placeholder="Text input" id="form-input-group-example-3">
      <div class="bsk-input-group-btn">
        <div class="dropdown">
          <button class="bsk-btn btn-bsk bsk-btn-default bsk-dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Dropdown <span class="bsk-caret"></span>
          </button>
          <ul class="bsk-dropdown-menu" aria-labelledby="dropdown-menu-3">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
          </ul>
        </div>
      </div>
    </div>
  </fieldset>
</form>
{% endblock %}
