{% extends "layouts/sample.layout.njk" %}

{% set sample_href = "0284--input-group-split-button.html" %}
{% set sample_number = "#0284" %}
{% set sample_title = "split-button input group" %}
{% set sample_markup = ".input-group" %}

{% block sample %}
<h4 class="bsk-tb-margin-top bsk-tb-sample-sub-heading">Before input</h4>
<form>
  <fieldset class="form-group">
    <label class="control-label" for="form-input-group-example-1">Input group with button</label>
    <div class="input-group">
      <div class="input-group-btn">
        <div class="btn-group">
          <button class="btn btn-bsk btn-default" type="button">Dropdown</button>
          <button class="btn btn-bsk btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="caret"></span>
            <span class="sr-only">Toggle Dropdown</span>
          </button>
          <ul class="dropdown-menu dropdown-menu-bsk">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
          </ul>
        </div>
      </div>
      <input type="text" class="form-control" placeholder="Text input" id="form-input-group-example-1">
    </div>
  </fieldset>
</form>

<h4 class="bsk-tb-margin-top bsk-tb-sample-sub-heading">After input</h4>
<form>
  <fieldset class="form-group">
    <label class="control-label" for="form-input-group-example-2">Input group with button</label>
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Text input" id="form-input-group-example-2">
      <div class="input-group-btn">
        <div class="btn-group">
          <button class="btn btn-bsk btn-default" type="button">Dropdown</button>
          <button class="btn btn-bsk btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="caret"></span>
            <span class="sr-only">Toggle Dropdown</span>
          </button>
          <ul class="dropdown-menu dropdown-menu-bsk">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
          </ul>
        </div>
      </div>
    </div>
  </fieldset>
</form>

<h4 class="bsk-tb-margin-top bsk-tb-sample-sub-heading">Before and after input</h4>
<form>
  <fieldset class="form-group">
    <label class="control-label" for="form-input-group-example-3">Input group with button</label>
    <div class="input-group">
      <div class="input-group-btn">
        <div class="btn-group">
          <button class="btn btn-bsk btn-default" type="button">Dropdown</button>
          <button class="btn btn-bsk btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="caret"></span>
            <span class="sr-only">Toggle Dropdown</span>
          </button>
          <ul class="dropdown-menu dropdown-menu-bsk">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
          </ul>
        </div>
      </div>
      <input type="text" class="form-control" placeholder="Text input" id="form-input-group-example-3">
      <div class="input-group-btn">
        <div class="btn-group">
          <button class="btn btn-bsk btn-default" type="button">Dropdown</button>
          <button class="btn btn-bsk btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="caret"></span>
            <span class="sr-only">Toggle Dropdown</span>
          </button>
          <ul class="dropdown-menu dropdown-menu-bsk">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
          </ul>
        </div>
      </div>
    </div>
  </fieldset>
</form>
{% endblock %}
