{% extends "layouts/sample.layout.njk" %}

{% set sample_href = "0286--sidebar-default.html" %}
{% set sample_number = "#0286" %}
{% set sample_title = "default sidebar" %}
{% set sample_markup = ".bsk-sidebar.bsk-sidebar-default" %}

{% block sample %}
<div class="bsk-row">
  <div class="bsk-col-12-md-offset-9 bsk-col-12-md-3">
    <aside class="bsk-sidebar bsk-sidebar-default">
      Sidebar content
    </aside>
  </div>
</div>
{% endblock %}
