{% extends "layouts/sample.layout.njk" %}

{% set sample_href = "0287--sidebar-inverse.html" %}
{% set sample_number = "#0287" %}
{% set sample_title = "inverted sidebar" %}
{% set sample_markup = ".sidebar-bsk.sidebar-bsk-inverse" %}

{% block sample %}
<div class="row">
  <div class="col-md-offset-9 col-md-3">
    <aside class="sidebar-bsk sidebar-bsk-inverse">
      Sidebar content
    </aside>
  </div>
</div>
{% endblock %}
