{% extends "layouts/sample.layout.njk" %}

{% set sample_href = "0287--sidebar-inverse.html" %}
{% set sample_number = "#0287" %}
{% set sample_title = "inverted sidebar" %}
{% set sample_markup = ".bsk-sidebar.bsk-sidebar-inverse" %}

{% block sample %}
<div class="bsk-row">
  <div class="bsk-col-md-offset-9 bsk-col-md-3">
    <aside class="bsk-sidebar bsk-sidebar-inverse">
      Sidebar content
    </aside>
  </div>
</div>
{% endblock %}
