{% extends "layouts/sample.layout.njk" %}

{% set sample_href = "0288--sidebar-headings.html" %}
{% set sample_number = "#0288" %}
{% set sample_title = "sidebar headings" %}
{% set sample_markup = ".bsk-sidebar.bsk-sidebar-default h*" %}

{% block sample %}
<h4 class="bsk-tb-margin-top bsk-tb-sample-sub-heading"><code>h1</code></h4>
<div class="bsk-row">
  <div class="bsk-col-12-md-offset-9 bsk-col-12-md-3">
    <aside class="bsk-sidebar bsk-sidebar-default">
      <h1>Sidebar heading</h1>
      Sidebar content
    </aside>
  </div>
</div>

<h4 class="bsk-tb-margin-top bsk-tb-sample-sub-heading"><code>h2</code></h4>
<div class="bsk-row">
  <div class="bsk-col-12-md-offset-9 bsk-col-12-md-3">
    <aside class="bsk-sidebar bsk-sidebar-default">
      <h2>Sidebar heading</h2>
      Sidebar content
    </aside>
  </div>
</div>

<h4 class="bsk-tb-margin-top bsk-tb-sample-sub-heading"><code>h3</code></h4>
<div class="bsk-row">
  <div class="bsk-col-12-md-offset-9 bsk-col-12-md-3">
    <aside class="bsk-sidebar bsk-sidebar-default">
      <h3>Sidebar heading</h3>
      Sidebar content
    </aside>
  </div>
</div>

<h4 class="bsk-tb-margin-top bsk-tb-sample-sub-heading"><code>h4</code></h4>
<div class="bsk-row">
  <div class="bsk-col-12-md-offset-9 bsk-col-12-md-3">
    <aside class="bsk-sidebar bsk-sidebar-default">
      <h4>Sidebar heading</h4>
      Sidebar content
    </aside>
  </div>
</div>

<h4 class="bsk-tb-margin-top bsk-tb-sample-sub-heading"><code>h5</code></h4>
<div class="bsk-row">
  <div class="bsk-col-12-md-offset-9 bsk-col-12-md-3">
    <aside class="bsk-sidebar bsk-sidebar-default">
      <h5>Sidebar heading</h5>
      Sidebar content
    </aside>
  </div>
</div>

<h4 class="bsk-tb-margin-top bsk-tb-sample-sub-heading"><code>h6</code></h4>
<div class="row">
  <div class="bsk-col-12-md-offset-9 bsk-col-12-md-3">
    <aside class="bsk-sidebar bsk-sidebar-default">
      <h6>Sidebar heading</h6>
      Sidebar content
    </aside>
  </div>
</div>
{% endblock %}
