{% extends "layouts/sample.layout.njk" %}

{% set sample_href = "0290--sidebar-sizes.html" %}
{% set sample_number = "#0290" %}
{% set sample_title = "sidebar sizes" %}
{% set sample_markup = ".bsk-sidebar-*" %}

{% block sample %}
<div class="bsk-row">
  <div class="bsk-col-md-offset-9 bsk-col-md-3">
    <aside class="bsk-sidebar bsk-sidebar-default">
      Regular sidebar
    </aside>
  </div>
</div>

<div class="bsk-row">
  <div class="bsk-col-md-offset-9 bsk-col-md-3">
    <aside class="bsk-sidebar bsk-sidebar-default bsk-sidebar-lg">
      Large sidebar
    </aside>
  </div>
</div>
{% endblock %}
