{% extends "layouts/sample.layout.njk" %}

{% set sample_href = "0291--input-group-button-sizes.html" %}
{% set sample_number = "#0291" %}
{% set sample_title = "input group button sizes" %}
{% set sample_markup = ".bsk-input-group-btn" %}

{% block sample %}
<form>
  <fieldset class="bsk-form-group bsk-form-group-sm">
    <label class="bsk-control-label" for="form-input-group-example-1">Small input group with button</label>
    <div class="bsk-input-group">
      <div class="bsk-input-group-btn">
        <button class="bsk-btn bsk-btn-default">Button</button>
      </div>
      <input type="text" class="bsk-form-control" placeholder="Text input" id="form-input-group-example-1">
    </div>
  </fieldset>

  <fieldset class="bsk-form-group">
    <label class="bsk-control-label" for="form-input-group-example-1">Regular input group with button</label>
    <div class="bsk-input-group">
      <div class="bsk-input-group-btn">
        <button class="bsk-btn bsk-btn-default">Button</button>
      </div>
      <input type="text" class="bsk-form-control" placeholder="Text input" id="form-input-group-example-1">
    </div>
  </fieldset>

  <fieldset class="bsk-form-group bsk-form-group-lg">
    <label class="bsk-control-label" for="form-input-group-example-1">Large input group with button</label>
    <div class="bsk-input-group">
      <div class="bsk-input-group-btn">
        <button class="bsk-btn bsk-btn-default">Button</button>
      </div>
      <input type="text" class="bsk-form-control" placeholder="Text input" id="form-input-group-example-1">
    </div>
  </fieldset>
</form>
{% endblock %}
