{% extends "layouts/sample.layout.njk" %}

{% set sample_href = "0295--jumbotron-image.html" %}
{% set sample_number = "#0295" %}
{% set sample_title = "default jumbotron with image as background" %}
{% set sample_markup = ".bsk-jumbotron.bsk-jumbotron-default" %}

{% block sample %}
<div class="bsk-jumbotron bsk-jumbotron-default bsk-tb-jumbotron-background-image">
  Jumbotron content
</div>
{% endblock %}
