{% extends "layouts/sample.layout.njk" %}

{% set sample_href = "0296--jumbotron-overlay-text.html" %}
{% set sample_number = "#0296" %}
{% set sample_title = "default jumbotron with overlay text" %}
{% set sample_markup = ".bsk-jumbotron.bsk-jumbotron-default .bsk-jumbotron-overlay" %}

{% block sample %}
<div class="bsk-jumbotron bsk-jumbotron-default">
  <span class="bsk-jumbotron-overlay">Jumbotron content</span>
</div>
{% endblock %}
