{% extends "layouts/sample.layout.njk" %}

{% set sample_href = "0303--label-primary.html" %}
{% set sample_number = "#0303" %}
{% set sample_title = "success label" %}
{% set sample_markup = ".bsk-label.bsk-label-primary" %}

{% block sample %}
<p><span class="bsk-label bsk-label-primary">Label</span></p>
{% endblock %}
