{% extends "layouts/sample.layout.njk" %}

{% set sample_href = "0304--label-phase-discovery.html" %}
{% set sample_number = "#0304" %}
{% set sample_title = "discovery development phase label" %}
{% set sample_markup = ".bsk-label.bsk-label-phase-discovery" %}

{% block sample %}
<p><span class="bsk-label bsk-label-phase-discovery">Label</span></p>
{% endblock %}
