{% extends "layouts/sample.layout.njk" %}

{% set sample_href = "0305--label-phase-alpha.html" %}
{% set sample_number = "#0305" %}
{% set sample_title = "alpha development phase label" %}
{% set sample_markup = ".bsk-label.bsk-label-phase-alpha" %}

{% block sample %}
<p><span class="bsk-label bsk-label-phase-alpha">Label</span></p>
{% endblock %}
