{% extends "layouts/sample.layout.njk" %}

{% set sample_href = "0306--label-phase-beta.html" %}
{% set sample_number = "#0306" %}
{% set sample_title = "beta development phase label" %}
{% set sample_markup = ".bsk-label.bsk-label-phase-beta" %}

{% block sample %}
<p><span class="bsk-label bsk-label-phase-beta">Label</span></p>
{% endblock %}
