{% extends "layouts/sample.layout.njk" %}

{% set sample_href = "0307--label-phase-live.html" %}
{% set sample_number = "#0307" %}
{% set sample_title = "live development phase label" %}
{% set sample_markup = ".bsk-label.bsk-label-phase-live" %}

{% block sample %}
<p><span class="bsk-label bsk-label-phase-live">Label</span></p>
{% endblock %}
