{% extends "layouts/sample.layout.njk" %}

{% set sample_href = "0308--label-phase-retired.html" %}
{% set sample_number = "#0308" %}
{% set sample_title = "retired development phase label" %}
{% set sample_markup = ".bsk-label.bsk-label-phase-retired" %}

{% block sample %}
<p><span class="bsk-label bsk-label-phase-retired">Label</span></p>
{% endblock %}
