{% extends "layouts/sample.layout.njk" %}

{% set sample_href = "0135--alert-outline-warning.html" %}
{% set sample_number = "#0135" %}
{% set sample_title = "Outline warning alert" %}
{% set sample_markup = '.bsk-alert.bsk-alert-outline-warning' %}

{% block sample %}
<div class="bsk-alert bsk-alert-outline-warning" role="alert">Warning alert</div>

<h4 class="bsk-tb-margin-top bsk-tb-sample-sub-heading">With alert link</h4>
<div class="bsk-alert bsk-alert-outline-warning" role="alert">Warning alert with a <a href="#" class="bsk-alert-link">link</a></div>

<h4 class="bsk-tb-margin-top bsk-tb-sample-sub-heading">With contextual icon</h4>
<div class="bsk-alert bsk-alert-outline-warning bsk-alert-icon" role="alert">
  <i class="fa fa-exclamation-triangle bsk-alert-icon" aria-hidden="true"></i> Warning alert
</div>

<h4 class="bsk-tb-margin-top bsk-tb-sample-sub-heading">With contextual icon and lots of text</h4>
<div class="bsk-alert bsk-alert-outline-warning bsk-alert-icon" role="alert">
  <i class="fa fa-exclamation-triangle bsk-alert-icon" aria-hidden="true"></i> Warning alert - I hate the Wetlands. They're stupid and wet, and there are bugs everywhere, and I think I maced a crane.
  I hate the Wetlands. They're stupid and wet, and there are bugs everywhere, and I think I maced a crane.
</div>

<h4 class="bsk-tb-margin-top bsk-tb-sample-sub-heading">With contextual conventional dismiss icons</h4>
<div class="bsk-alert bsk-alert-outline-warning bsk-alert-dismissible" role="alert">
  <button type="button" class="bsk-close" data-dismiss="alert" aria-label="Close"><i class="fa fa-times-circle" aria-hidden="true"></i></button>
  <i class="fa fa-exclamation-triangle bsk-alert-icon" aria-hidden="true"></i> Warning alert
</div>
{% endblock %}
