{% extends "layouts/sample.layout.njk" %}

{% set sample_href = "0314--alert-highlight-success.html" %}
{% set sample_number = "#0314" %}
{% set sample_title = "Highlight successful alert" %}
{% set sample_markup = '.bsk-alert.bsk-alert-highlight-success' %}

{% block sample %}
<div class="bsk-alert bsk-alert-highlight-success" role="alert">Success alert</div>

<h4 class="bsk-tb-margin-top bsk-tb-sample-sub-heading">With alert link</h4>
<div class="bsk-alert bsk-alert-highlight-success" role="alert">Success alert with a <a href="#" class="bsk-alert-link">link</a></div>

<h4 class="bsk-tb-margin-top bsk-tb-sample-sub-heading">With contextual icon</h4>
<div class="bsk-alert bsk-alert-highlight-success" role="alert">
  <i class="fa fa-check bsk-alert-icon" aria-hidden="true"></i> Success alert
</div>

<h4 class="bsk-tb-margin-top bsk-tb-sample-sub-heading">With contextual icon and lots of text</h4>
<div class="bsk-alert bsk-alert-highlight-success" role="alert">
  <i class="fa fa-check bsk-alert-icon" aria-hidden="true"></i> Success alert - I hate the Wetlands. They're stupid and wet, and there are bugs everywhere, and I think I maced a crane.
  I hate the Wetlands. They're stupid and wet, and there are bugs everywhere, and I think I maced a crane.
</div>

<h4 class="bsk-tb-margin-top bsk-tb-sample-sub-heading">With contextual and conventional dismiss icons</h4>
<div class="bsk-alert bsk-alert-highlight-success bsk-alert-dismissible" role="alert">
  <button type="button" class="bsk-close" data-dismiss="alert" aria-label="Close"><i class="fa fa-times-circle" aria-hidden="true"></i></button>
  <i class="fa fa-check bsk-alert-icon" aria-hidden="true"></i> Success alert
</div>
{% endblock %}
