{% extends "layouts/sample.layout.njk" %}

{% set sample_href = "0322--alert-layout-static-top.html" %}
{% set sample_number = "#0322" %}
{% set sample_title = "Alert static top" %}
{% set sample_markup = '.bsk-alert.bsk-alert-static-top' %}

{% block sample %}
<p class="bsk-text-info"><strong>Note</strong> this sample may break outside the default page layout.</p>

<div class="bsk-alert bsk-alert-static-top bsk-alert-solid bsk-alert-info" role="alert">
  Info alert text
</div>
<div class="bsk-tb-visible-col-1"></div>

<h4 class="bsk-tb-margin-top bsk-tb-sample-sub-heading">Without class</h4>
<div class="bsk-alert bsk-alert-solid bsk-alert-info" role="alert">
  Info alert text
</div>
<div class="bsk-tb-visible-col-1"></div>

<h4 class="bsk-tb-margin-top bsk-tb-sample-sub-heading">With class and navbar</h4>
<div class="bsk-alert bsk-alert-static-top bsk-alert-solid bsk-alert-info" role="alert">
  Info alert text
</div>
<nav class="bsk-navbar bsk-navbar-static-top">
  <div class="bsk-container-fluid">
  </div>
</nav>
{% endblock %}
