{% extends "layouts/sample.layout.njk" %}

{% import "macros/logomark.njk" as logomark %}

{% set sample_href = "0333--logomark-bas-roundel-inverse.html" %}
{% set sample_number = "#0333" %}
{% set sample_title = "Logomark BAS inverse roundel (white)" %}
{% set sample_markup = 'img' %}

{% set img_path = 'dist/img/logos-symbols' %}
{% set img_file_base = 'bas-roundel-inverse-transparent-' %}
{% set img_file_ext = 'png' %}

{% block sample %}
{{ logomark.bsk_tb_logomark_standard_sizes_v1(img_path, img_file_base, img_file_ext, 'bsk-tb-logomark-bg-white') }}

{{ logomark.bsk_tb_logomark_standard_sizes_v1(img_path, img_file_base, img_file_ext, 'bsk-tb-logomark-bg-grey') }}

{{ logomark.bsk_tb_logomark_standard_sizes_v1(img_path, img_file_base, img_file_ext, 'bsk-tb-logomark-bg-black') }}
{% endblock %}
