{% extends "layouts/sample.layout.njk" %}

{% set sample_href = "0336--alert-solid-experimental.html" %}
{% set sample_number = "#0336" %}
{% set sample_title = "Solid epxerimental alert" %}
{% set sample_markup = '.bsk-alert.bsk-alert-solid-experimental' %}

{% block sample %}
<div class="bsk-alert bsk-alert-solid-experimental" role="alert">Experimental alert</div>

<h4 class="bsk-tb-margin-top bsk-tb-sample-sub-heading">With alert link</h4>
<div class="bsk-alert bsk-alert-solid-experimental" role="alert">Experimental alert with a <a href="#" class="bsk-alert-link">link</a></div>

<h4 class="bsk-tb-margin-top bsk-tb-sample-sub-heading">With contextual icon</h4>
<div class="bsk-alert bsk-alert-solid-experimental" role="alert">
  <i class="fa fa-fask bsk-alert-icon" aria-hidden="true"></i> Experimental alert
</div>

<h4 class="bsk-tb-margin-top bsk-tb-sample-sub-heading">With contextual icon and lots of text</h4>
<div class="bsk-alert bsk-alert-solid-experimental" role="alert">
  <i class="fa fa-flask bsk-alert-icon" aria-hidden="true"></i> Experimental alert - I hate the Wetlands. They're stupid and wet, and there are bugs everywhere, and I think I maced a crane.
  I hate the Wetlands. They're stupid and wet, and there are bugs everywhere, and I think I maced a crane.
</div>

<h4 class="bsk-tb-margin-top bsk-tb-sample-sub-heading">With contextual and conventional dismiss icons</h4>
<div class="bsk-alert bsk-alert-solid-experimental bsk-alert-dismissible" role="alert">
  <button type="button" class="bsk-close" data-dismiss="alert" aria-label="Close"><i class="fa fa-times-circle" aria-hidden="true"></i></button>
  <i class="fa fa-flask bsk-alert-icon" aria-hidden="true"></i> Experimental alert
</div>
{% endblock %}
