{% extends "layouts/sample.layout.njk" %}

{% set sample_href = "0339--alert-block-experimental.html" %}
{% set sample_number = "#0339" %}
{% set sample_title = "Experimental block alerts" %}
{% set sample_markup = '.bsk-alert.bsk-alert-block.bsk-alert-*-experimental' %}

{% block sample %}

<h4 class="bsk-tb-margin-top bsk-tb-sample-sub-heading">(solid)</h4>
<div class="bsk-alert bsk-alert-block bsk-alert-solid-experimental" role="alert">
  <div class="bsk-alert-body">
    Experimental alert text - Ann certainly has a great deal of Mass. I hate the Wetlands. They're stupid and wet,
    and there are bugs everywhere, and I think I maced a crane. This show was cancelled. I mean, COME ON.
    I could use a leather jacket for when I'm on my hog and have to go into a controlled slide.
  </div>
</div>

<h4 class="bsk-tb-margin-top bsk-tb-sample-sub-heading">With heading (solid)</h4>
<div class="bsk-alert bsk-alert-block bsk-alert-solid-experimental" role="alert">
  <header class="bsk-alert-heading">
    <h4>Experimental alert header</h4>
  </header>
  <div class="bsk-alert-body">
    Experimental alert text - Ann certainly has a great deal of Mass. I hate the Wetlands. They're stupid and wet,
    and there are bugs everywhere, and I think I maced a crane. This show was cancelled. I mean, COME ON.
    I could use a leather jacket for when I'm on my hog and have to go into a controlled slide.
  </div>
</div>

<h4 class="bsk-tb-margin-top bsk-tb-sample-sub-heading">With heading and conventional icon (solid)</h4>
<div class="bsk-alert bsk-alert-block bsk-alert-icon bsk-alert-solid-experimental" role="alert">
  <header class="bsk-alert-heading">
    <h4><i class="fa fa-fw fa-flask bsk-alert-icon" aria-hidden="true"></i> Experimental alert header</h4>
  </header>
  <div class="bsk-alert-body">
    Experimental alert text - Ann certainly has a great deal of Mass. I hate the Wetlands. They're stupid and wet,
    and there are bugs everywhere, and I think I maced a crane. This show was cancelled. I mean, COME ON.
    I could use a leather jacket for when I'm on my hog and have to go into a controlled slide.
  </div>
</div>

<h4 class="bsk-tb-margin-top bsk-tb-sample-sub-heading">With heading, conventional icon and list (solid)</h4>
<div class="bsk-alert bsk-alert-block bsk-alert-icon bsk-alert-solid-experimental" role="alert">
  <header class="bsk-alert-heading">
    <h4><i class="fa fa-fw fa-flask bsk-alert-icon" aria-hidden="true"></i> Experimental alert header</h4>
  </header>
  <div class="bsk-alert-body">
    A list
    <ul>
      <li>List item</li>
      <li>
        List item
        <ul>
          <li>List item</li>
          <li>List item</li>
        </ul>
      </li>
      <li>List item</li>
  </div>
</div>

<h4 class="bsk-tb-margin-top bsk-tb-sample-sub-heading">(outline)</h4>
<div class="bsk-alert bsk-alert-block bsk-alert-outline-experimental" role="alert">
  <div class="bsk-alert-body">
    Experimental alert text - Ann certainly has a great deal of Mass. I hate the Wetlands. They're stupid and wet,
    and there are bugs everywhere, and I think I maced a crane. This show was cancelled. I mean, COME ON.
    I could use a leather jacket for when I'm on my hog and have to go into a controlled slide.
  </div>
</div>

<h4 class="bsk-tb-margin-top bsk-tb-sample-sub-heading">With heading and conventional icon (outline)</h4>
<div class="bsk-alert bsk-alert-block bsk-alert-icon bsk-alert-outline-experimental" role="alert">
  <header class="bsk-alert-heading">
    <h4><i class="fa fa-fw fa-flask bsk-alert-icon" aria-hidden="true"></i> Experimental alert header</h4>
  </header>
  <div class="bsk-alert-body">
    Experimental alert text - Ann certainly has a great deal of Mass. I hate the Wetlands. They're stupid and wet,
    and there are bugs everywhere, and I think I maced a crane. This show was cancelled. I mean, COME ON.
    I could use a leather jacket for when I'm on my hog and have to go into a controlled slide.
  </div>
</div>

<h4 class="bsk-tb-margin-top bsk-tb-sample-sub-heading">With heading, conventional icon and list (outline)</h4>
<div class="bsk-alert bsk-alert-block bsk-alert-icon bsk-alert-outline-experimental" role="alert">
  <header class="bsk-alert-heading">
    <h4><i class="fa fa-fw fa-flask bsk-alert-icon" aria-hidden="true"></i> Experimental alert header</h4>
  </header>
  <div class="bsk-alert-body">
    A list
    <ul>
      <li>List item</li>
      <li>
        List item
        <ul>
          <li>List item</li>
          <li>List item</li>
        </ul>
      </li>
      <li>List item</li>
  </div>
</div>

<h4 class="bsk-tb-margin-top bsk-tb-sample-sub-heading">(highlight)</h4>
<div class="bsk-alert bsk-alert-block bsk-alert-highlight-experimental" role="alert">
  <div class="bsk-alert-body">
    Experimental alert text - Ann certainly has a great deal of Mass. I hate the Wetlands. They're stupid and wet,
    and there are bugs everywhere, and I think I maced a crane. This show was cancelled. I mean, COME ON.
    I could use a leather jacket for when I'm on my hog and have to go into a controlled slide.
  </div>
</div>

<h4 class="bsk-tb-margin-top bsk-tb-sample-sub-heading">With heading and conventional icon (highlight)</h4>
<div class="bsk-alert bsk-alert-block bsk-alert-icon bsk-alert-highlight-experimental" role="alert">
  <header class="bsk-alert-heading">
    <h4><i class="fa fa-fw fa-flask bsk-alert-icon" aria-hidden="true"></i> Experimental alert header</h4>
  </header>
  <div class="bsk-alert-body">
    Experimental alert text - Ann certainly has a great deal of Mass. I hate the Wetlands. They're stupid and wet,
    and there are bugs everywhere, and I think I maced a crane. This show was cancelled. I mean, COME ON.
    I could use a leather jacket for when I'm on my hog and have to go into a controlled slide.
  </div>
</div>

<h4 class="bsk-tb-margin-top bsk-tb-sample-sub-heading">With heading, conventional icon and list (highlight)</h4>
<div class="bsk-alert bsk-alert-block bsk-alert-icon bsk-alert-highlight-experimental" role="alert">
  <header class="bsk-alert-heading">
    <h4><i class="fa fa-fw fa-flask bsk-alert-icon" aria-hidden="true"></i> Experimental alert header</h4>
  </header>
  <div class="bsk-alert-body">
    A list
    <ul>
      <li>List item</li>
      <li>
        List item
        <ul>
          <li>List item</li>
          <li>List item</li>
        </ul>
      </li>
      <li>List item</li>
  </div>
</div>
{% endblock %}
