{% extends "layouts/sample.layout.njk" %}

{% set sample_href = "0340--label-experimental.html" %}
{% set sample_number = "#0340" %}
{% set sample_title = "experimental label" %}
{% set sample_markup = ".bsk-label.bsk-label-experimental" %}

{% block sample %}
<p><span class="bsk-label bsk-label-experimental">Label</span></p>
{% endblock %}
