{% extends "layouts/sample.layout.njk" %}

{% set sample_href = "0341--button-epxerimental.html" %}
{% set sample_number = "#0341" %}
{% set sample_title = "Experimental button" %}
{% set sample_markup = ".bsk-btn.bsk-btn-experimental" %}

{% block sample %}
<p class="bsk-text-info"><code>button</code> with various contents</p>
<p><button class="bsk-btn bsk-btn-experimental" type="submit"><!-- no value --></button></p>
<p><button class="bsk-btn bsk-btn-experimental" type="submit">Experimental button</button></p>
<p><button class="bsk-btn bsk-btn-experimental" type="submit">Da da da da da da da da BATMAN!</button></p>
<p><button class="bsk-btn bsk-btn-experimental" type="submit">Button with a <br /> line break</button></p>

<p class="bsk-text-info"><code>input</code></p>
<input class="bsk-btn bsk-btn-experimental" type="button" value="Success input button">

<p class="bsk-text-info"><code>a</code></p>
<a class="bsk-btn bsk-btn-experimental" href="#" role="button">Experimental link button</a>
{% endblock %}
