{% extends "layouts/sample.layout.njk" %}

{% set sample_href = "0345--javascript-collapse-plugin.html" %}
{% set sample_number = "#0327" %}
{% set sample_title = "Collapse plugin" %}
{% set sample_markup = '.bsk-navbar .bsk-collapse.bsk-navbar-collapse' %}
{% set sample_type_javascript = true %}

{% block sample %}
<script src="https://cdn.web.bas.ac.uk/js-libs/jquery-3.1.1.min.js"></script>
<script src="{{ main_base_path }}dist/js/bas-style-kit.js"></script>

<nav class="bsk-navbar">
  <div class="bsk-container-fluid">
    <!-- Site name and toggle get grouped for better mobile display -->
    <div class="bsk-navbar-header">
      <button type="button" class="bsk-navbar-toggle bsk-collapsed" data-toggle="collapse" data-target="#bsk-example-navbar-collapse-1" aria-expanded="false">
        <span class="bsk-sr-only">Toggle navigation</span>
        <span class="bsk-icon-bar"></span>
        <span class="bsk-icon-bar"></span>
        <span class="bsk-icon-bar"></span>
      </button>
      <a class="bsk-navbar-brand" href="#">Site Name</a>
    </div>
    <!-- Collect navigation links, forms, and other items for hiding at smaller screen sizes -->
    <div class="bsk-collapse bsk-navbar-collapse" id="bsk-example-navbar-collapse-1">
      <ul class="bsk-nav bsk-navbar-nav">
        <li class="bsk-active"><a href="#">Home <span class="bsk-sr-only">(current)</span></a></li>
        <li><a href="#">About</a></li>
        <li class="bsk-dropdown">
          <a href="#" class="bsk-dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
          Dropdown <span class="bsk-caret"></span></a>
          <ul class="bsk-dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="bsk-divider"></li>
            <li><a href="#">Separated link</a></li>
            <li role="separator" class="bsk-divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>
      </ul>
      <ul class="bsk-nav bsk-navbar-nav bsk-navbar-right">
        <li class="bsk-dropdown">
          <a href="#" class="bsk-dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
          Part of the British Antarctic Survey <span class="bsk-caret"></span></a>
          <ul class="bsk-dropdown-menu">
            <li><a href="https://www.bas.ac.uk">BAS Home</a></li>
            <li><a href="#">Another link</a></li>
            <li><a href="https://data.bas.ac.uk">Discover BAS data</a></li>
          </ul>
        </li>
        <li><a href="#">Feedback</a></li>
      </ul>
    </div><!-- /.bsk-navbar-collapse -->
  </div><!-- /.bsk-container-fluid -->
</nav>

<h4>Notes</h4>
<ul>
  <li>This sample loads <code>jQuery</code> library from the BAS CDN</li>
  <li>This sample loads the <code>collapse</code> (bootstrap-override) plugin from the testbed</code>
  <li>If working the navbar shown will collapse into a menu at smaller breakpoints</li>
</ul>
{% endblock %}
