{% extends "layouts/sample.layout.njk" %}

{% set sample_href = "0357--conventional-icon-back-to-top.html" %}
{% set sample_number = "#0357" %}
{% set sample_title = "back to top conventional icon" %}
{% set sample_markup = ".fa.fa-fw.fa-chevron-up" %}

{% block sample %}
<i class="fa fa-fw fa-chevron-up" aria-hidden="true"></i> Back to top
{% endblock %}
