{% extends "layouts/sample.layout.njk" %}

{% set sample_href = "0359--label-phase-backlog.html" %}
{% set sample_number = "#0359" %}
{% set sample_title = "backlog development phase label" %}
{% set sample_markup = ".bsk-label.bsk-label-phase-backlog" %}

{% block sample %}
<p><span class="bsk-label bsk-label-phase-backlog">Label</span></p>
{% endblock %}
