{% extends "layouts/sample.layout.njk" %}

{% set sample_href = "0360--colours-extended.html" %}
{% set sample_number = "#0360" %}
{% set sample_title = "Extended colours" %}

{% block sample %}
<p class="bsk-text-info">Grey lighter light - <var>$bsk-colour-tst-grey-lighter-light</var> - <code>#F7F7F7</code></p>
<div class="bsk-tb-colour-swatch bsk-tb-colour-swatch-bsk-colour-tst-grey-lighter-light"></div>
<p class="bsk-text-muted">This colour is required for contrast within tables</p>

<p class="bsk-text-info">Grey darker dark - <var>$bsk-colour-tst-grey-darker-dark</var> - <code>#222222</code></p>
<div class="bsk-tb-colour-swatch bsk-tb-colour-swatch-bsk-colour-tst-grey-darker-dark"></div>
<p class="bsk-text-muted">This colour is required for contrast within navbars</p>

<p class="bsk-text-info">Sky blue lighter light - <var>$bsk-colour-tst-sky-blue-lighter-light</var> - <code>#e6f1f8</code></p>
<div class="bsk-tb-colour-swatch bsk-tb-colour-swatch-bsk-colour-tst-sky-blue-lighter-light"></div>
<p class="bsk-text-muted">This colour is required for contrast within inline code elements</p>

<p class="bsk-text-info">Twitter base - <var>$bsk-colour-spc-twitter-base</var> - <code>#777777</code></p>
<div class="bsk-tb-colour-swatch bsk-tb-colour-swatch-bsk-colour-spc-twitter-base"></div>
<p class="bsk-text-muted">This colour is required to comply with Twitter brand guidelines</p>

<p class="bsk-text-info">Facebook base - <var>$bsk-colour-spc-facebook-base</var> - <code>#555555</code></p>
<div class="bsk-tb-colour-swatch bsk-tb-colour-swatch-bsk-colour-spc-facebook-base"></div>
<p class="bsk-text-muted">This colour is required to comply with Facebook brand guidelines</p>

<p class="bsk-text-info">YouTube base - <var>$bsk-colour-spc-youtube-base</var> - <code>#333333</code></p>
<div class="bsk-tb-colour-swatch bsk-tb-colour-swatch-bsk-colour-spc-youtube-base"></div>
<p class="bsk-text-muted">This colour is required to comply with YouTube brand guidelines</p>

<p class="bsk-text-info">RSS base - <var>$bsk-colour-spc-rss-base</var> - <code>#F26522</code></p>
<div class="bsk-tb-colour-swatch bsk-tb-colour-swatch-bsk-colour-rss-facebook-base"></div>
<p class="bsk-text-muted">This colour is required to comply with RSS brand guidelines</p>

<p class="bsk-text-info">Purpose base - <var>$bsk-colour-tst-purple-base</var> - <code>#2E358B</code></p>
<div class="bsk-tb-colour-swatch bsk-tb-colour-swatch-bsk-colour-tst-purple-base"></div>
<p class="bsk-text-muted">This colour is required for an additional development stage in the GDS lifecycle</p>
{% endblock %}
