//-
  sample:
    title: Definition list
    code: dl
  collections:
    - core--lists
  ---

extends ../layouts/app-sample.pug
include ../mixins/app/samples/lists.pug

block sample
  section.app-sample-section
    header Standard

    +dl
