//-
  sample:
    title: Colours - BAS brand
  collections:
    - core--colours
  ---

extends ../layouts/app-sample.pug
include ../mixins/app/samples/colours.pug

block sample
  section.app-sample-section
    div.bsk-row
      div.bsk-col-12-md-2
        +colour--swatch('BAS brand colour', '$bsk-colour-std-blue-base', '#003A5D')(class='app-colour-bsk-colour-std-blue-base')
