//-
  sample:
    title: Forms - tel input
    code: input[type="tel"]
  collections:
    - core--forms
  ---

extends ../layouts/app-sample.pug
include ../mixins/app/samples/forms.pug

block sample
  +form-input--collection(type='tel')
