//-
  sample:
    title: Twitter static social media icon
    code: .bsk-social-media-static.bsk-twitter
  collections:
    - components--social-media
  ---

extends ../layouts/app-sample.pug
include ../mixins/app/samples/social-media.pug

block sample
  +social-media--static('fa-twitter-square')(class='bsk-twitter')
