//
// Thumbnails
// --------------------------------------------------

.thumbnail-bsk {
  padding: @thumbnail-bsk-padding;
  border-radius: @thumbnail-bsk-border-radius;
}

.thumbnail-bsk-inverse {
  background-color: @thumbnail-bsk-inverse-bg;

  .caption {
    color: @thumbnail-bsk-inverse-caption-color;
  }
}
