//
// Thumbnails
// --------------------------------------------------

// Base class
.thumbnail-bsk {
  padding: @thumbnail-bsk-padding;
  border-radius: @thumbnail-bsk-border-radius;
}

// Variants

// Uncomment when styles are needed
//.thumbnail-bsk-default {}

.thumbnail-bsk-inverse {
  background-color: @thumbnail-bsk-inverse-bg;

  .caption {
    color: @thumbnail-bsk-inverse-caption-color;
  }
}
