//
// Variables
// --------------------------------------------------


//== Colors
//
//## Brand and background colors for use across the BAS Style Kit.

// Brand colour scheme
@bsk-blue-light:                            #7FCCFF;  // TODO: Can we use lighten for this?
@bsk-blue:                                  #25658f;
@bsk-blue-dark:                             darken(@bsk-blue, 10%);
@bsk-grey-lighter:                          lighten(@bsk-grey-light, 4%);
@bsk-grey-light:                            #E7EBF1;  // TODO: Can we use lighten for this?
@bsk-grey:                                  #E3E3E3;
@bsk-grey-dark:                             #4D5D66;  // TODO: Can we use darken for this?
@bsk-orange:                                #B93E14;  // TODO: Rename to red - since this isn't actually orange
@bsk-turquoise:                             #0DA59F;

// TODO: What about GDS colours?
// TODO: What about a BAS brand colour? (i.e. logo blue)

// Brands
@brands-twitter-primary:                    #55ACEE;  // as defined by brand
@brands-facebook-primary:                   #3B5998;  // as defined by brand
@brands-youtube-primary:                    #CD201F;  // as defined by brand
@brands-rss-primary:                        #f26522;  // as defined by convention


//== Scaffolding
//
//## Settings for some of the most global styles.

//** Global textual link color.
@link-color:                                lighten(@bsk-blue, 5%);

//== Typography
//
//##

// Font, line-height, and color for body text, headings, and more.
@font-family-sans-serif:                    "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

@semibold-font-weight:                      600;

// Description lists
@dl-bsk-padding:                            @padding-large-vertical;
@dl-bsk-horizontal-lg-offset:               (@dl-horizontal-offset * 1.5);

@dl-bsk-striped-bg:                         @bsk-grey-light;


//== Dropdowns
//
//## Dropdown menu container and contents.
@dropdown-menu-bsk-border-radius:           0;  // TODO: Set to @border-radius-base if this is general - this doesn't look nice and needs discusing with HT
@dropdown-menu-item-bsk-padding-vertical:   @padding-base-vertical;

//-- Z-index master list
//
// Warning: Avoid customizing these values. They're used for a bird's eye view
// of components dependent on the z-axis and are designed to all work together.

@zindex-footer:                             1000;
@zindex-footer-fixed:                       1030;
@zindex-bsl-image-purchase-symbol:          1030;


//== Media queries breakpoints
//
//## Define the breakpoints at which your layout will change, adapting to different screen sizes.

// Extra large screen / wider desktop
@screen-xl:                                 1800px;
@screen-xl-min:                             @screen-xl;

// So media queries don't overlap when required, provide a maximum
@screen-lg-max:                             (@screen-xl-min - 1);


//== Container sizes
//
//## Define the maximum width of `.container` for different screen sizes.

// Extra large screen / wider desktop
@container-extra-large-desktop:             ((1724px + @grid-gutter-width));
//** For `@screen-xl-min` and up.
@container-xl:                              @container-extra-large-desktop;


//== Grid system
//
//## Define your custom responsive grid.

//** Number of columns in the grid.
@grid-columns:                              12;


//== Buttons
//
//## For each of Bootstrap's buttons, define text, background and border color.

@btn-bsk-border-radius:                     0;  // TODO: Set to @border-radius-base if this is general - this doesn't look nice and needs discusing with HT

@btn-bsk-primary-color:                     #fff;
@btn-bsk-primary-bg:                        @bsk-turquoise;
@btn-bsk-primary-border:                    darken(@bsk-turquoise, 5%);

//== Navbar
//
//##

// BSK navbar
// Like an inverted navbar but a bit different
@navbar-bsk-border-radius:                  0;  // TODO: Set to @border-radius-base if this is general

@navbar-bsk-color:                          lighten(@gray-light, 15%);  // TODO: I added this style - check with HT
@navbar-bsk-bg:                             #111;  // TODO: Use lighten/darken functions to generate colour
@navbar-bsk-border:                         @navbar-bsk-bg;
@navbar-bsk-divider-color:                  darken(@navbar-bsk-bg, 10%);// TODO: I added this style- check with HT

@navbar-bsk-link-color:                     #fff;  // TODO: base + hover colours cannot be the same - need style from HT
@navbar-bsk-link-hover-color:               #fff;  // TODO: base + hover colours cannot be the same - need style from HT
@navbar-bsk-link-hover-bg:                  #444;
@navbar-bsk-link-active-color:              @navbar-bsk-link-hover-color;
@navbar-bsk-link-active-bg:                 darken(@navbar-bsk-link-hover-bg, 10%);  // TODO: See [1]
@navbar-bsk-link-disabled-color:            #444;  // TODO: I added this style - check with HT
@navbar-bsk-link-disabled-bg:               transparent;  // TODO: I added this style - check with HT

@navbar-bsk-toggle-hover-bg:                #444;  // TODO: See [2]
@navbar-bsk-toggle-icon-bar-bg:             #fff;
@navbar-bsk-toggle-border-color:            @navbar-bsk-bg;  // TODO: See [2]

// [1] I've overridden this from being exactly the same as the hover background. The Less styles explicitly make the
// active and hover pseudo-selectors the same colour (#444), however on the public website the active menu item is given
// a background of #535353 (i.e. darker) - presumably the Less styles were not updated to reflect this? - Check with HT

// [2] HT's styles effectively remove a hover state for the menu button - I think this is bad from a usability perspective
// so have used the same hover background used for menu items. I have disabled the icon border (though making the border
// colour the same as the navbar background) as this isn't such an issue in my view. Ideally the PW styles should adopt
// this change but if not this should be set in the PW override styles.

// BSK large navbar
// The same as a regular BSK navbar but thicker
@line-height-computed-x2:                   (@line-height-computed * 2);  // Hack, move to proper place if this works
@navbar-bsk-lg-height:                      100px;  // double normal
@navbar-bsk-lg-padding-horizontal:          floor((@grid-gutter-width / 2));  // Needs making bigger somehow
@navbar-bsk-lg-padding-vertical:            ((@navbar-bsk-lg-height - @line-height-computed-x2) / 2);


//== Navs
//
//##

//=== Shared nav styles
@nav-link-padding:                          15px 15px;

//== Pills
@nav-pills-bsk-border-radius:               0;  // TODO: Set to @border-radius-base if this is general
@nav-pills-bsk-link-bg:                     @gray-lighter;  // TODO: Look at a possible @component-bg variable?
@nav-pills-bsk-link-margin-right:           5px;

@nav-pills-bsk-active-link-hover-bg:        @bsk-blue;  // TODO: Set to @component-active-bg if this is general
@nav-pills-bsk-disabled-link-bg:            #fff;

//== Wrappers
@nav-wrapper-bsk-tab-pane-margin-top:       (@padding-large-vertical * 2);


//== Jumbotron
//
//##

@jumbotron-bsk-border-radius:               0;  // TODO: Set to @border-radius-base if this is general
@jumbotron-bsk-margin-bottom:               0;

@jumbotron-bsk-lg-padding:                  (@jumbotron-padding * 2);
@jumbotron-bsk-xl-padding:                  (@jumbotron-padding * 3);
@jumbotron-bsk-height:                      400px;

@jumbotron-bsk-default-color:               @gray-dark;
@jumbotron-bsk-default-bg:                  @gray-lighter;

@jumbotron-bsk-inverse-color:               #fff;
@jumbotron-bsk-inverse-bg:                  @gray;
@jumbotron-bsk-inverse-text-overlay-bg-fb:  #000;  // Read 'fb' as 'fall back', for older browsers that can't use RGBA
@jumbotron-bsk-inverse-text-overlay-bg:     rgba(0,0,0,0.7);
@jumbotron-bsk-inverse-text-overlay-shadow: rgba(0,0,0,0.9);


//== Thumbnails
//
//##

// BSK thumbnail
// Like a normal thumbnail but with straight edges and virtually no border

@thumbnail-bsk-padding:                     0;
@thumbnail-bsk-border-radius:               0;  // TODO: Set to @border-radius-base if this is general

@thumbnail-bsk-caption-padding:             10px;

// BSK inverted thumbnail
@thumbnail-bsk-inverse-bg:                  #444;  // TODO: Can we use one of the colours from the gray colour scheme? - check with HT

@thumbnail-bsk-inverse-caption-color:       #f8f8f8;


//== Image purchase
//
//##

@image-purchase-bsk-base-opacity:           0.8;
@image-purchase-bsk-hover-opacity:          1;

@image-purchase-bsk-on-image-color:         #fff;
@image-purchase-bsk-on-image-text-shadow:   @jumbotron-bsk-inverse-text-overlay-shadow;

@image-purchase-bsk-in-caption-default-color: #444;
@image-purchase-bsk-in-caption-inverse-color: #fff;


//== Font faces
//
//## Define the location of where font-face fonts are stored


// Sets the path to the open-sans font-face relative to the generated CSS file (i.e. /dist/css)

@OpenSansPath:                              "../fonts/open-sans";

// Sets the path to the font-awesome font-face relative to the generated CSS file (i.e. /dist/css)
@fa-font-path:                              "../fonts/font-awesome";

// Sets the path to the map-glyphs font-face relative to the generated CSS file (i.e. /dist/css)
@mg-font-path:                              "../fonts/map-glyphs";

// Sets the path to the devicons font-face relative to the generated CSS file (i.e. /dist/css)
@di-font-path:                              "../fonts/devicons";


//== Footers
//
//##

@footer-height:                             50px;
@footer-margin-top:                         ((@line-height-computed * 2) + 10px);
@footer-border-radius:                      0;  // TODO: Set to @border-radius-base if this is general
@footer-padding-top:                        @footer-margin-top;
@footer-padding-bottom:                     (@footer-padding-top - 10px);

@footer-bsk-default-color:                  #f8f8f8;  // TODO: Use lighten/darken functions to generate colour
@footer-bsk-default-bg:                     #333;  // TODO: Use lighten/darken functions to generate colour
@footer-bsk-default-border:                 @footer-bsk-default-bg;

@footer-bsk-default-divider:                #777;  // TODO: Use lighten/darken functions to generate colour
@navbar-bsk-default-link-color:             @bsk-blue-light;
@navbar-bsk-default-link-hover-color:       darken(@navbar-bsk-default-link-color, 15%);  // TODO: check with HT

@navbar-bsk-ogl-symbol-margin-right:        (@padding-large-horizontal * 2);
@navbar-bsk-ogl-symbol-width:               67px;  // As recommended by the National Archives see [1] for details
@navbar-bsk-ogl-text-max-height:            420px;
@navbar-bsk-ogl-text-line-height:           17px;

// [1] http://www.nationalarchives.gov.uk/documents/information-management/ogl-symbol-guidelines-v1.pdf [PDF!]


//== Headers
//
// This component is designed to replicate the visual appearance of a navbar so bases itself on its variables
//##

@header-height:                             @navbar-height;
@header-margin-bottom:                      @navbar-margin-bottom;
@header-border-radius:                      @navbar-bsk-border-radius;
@header-padding-vertical:                   @navbar-padding-vertical;

@header-bsk-default-bg:                     @navbar-bsk-bg;
@header-bsk-default-border:                 @header-bsk-default-bg;


//== Bands
//
//##

@band-bsk-padding-vertical:                 40px;

@band-bsk-md-padding-vertical:              30px;
@band-bsk-sm-padding-vertical:              10px;

@band-bsk-default-bg:                       #fff;  // TODO: Replace with variable
@band-bsk-inverse-bg:                       #444;  // TODO: Can we use one of the colours from the gray colour scheme? - check with HT


//== Sidebars
//
//##

@sidebar-bsk-base-padding:                  (10px * 2);  // TODO: Replace with variable
@sidebar-bsk-base-bottom-margin:            (@padding-large-vertical * 2);
@sidebar-bsk-border-radius:                 0;  // TODO: Set to @border-radius-base if this is general

// Sizes
@sidebar-bsk-lg-padding:                    (@sidebar-bsk-base-padding * 1.5);

// Variants
@sidebar-bsk-default-bg:                    @bsk-grey-light;

@sidebar-bsk-inverse-colour:                #fff;  // TODO: Create as variable?
@sidebar-bsk-inverse-bg:                    #444;  // TODO: Can we use one of the colours from the gray colour scheme? - check with HT
