# Remove files from uses of this project template when using `git archive`
.gitattributes export-ignore
.gitignore export-ignore
.npmignore export-ignore
.editorconfig export-ignore

testbed/assets export-ignore
testbed/collections export-ignore
testbed/layouts export-ignore
testbed/macros export-ignore
testbed/samples export-ignore
testbed/index.njk export-ignore

# Don't diff or textually merge source maps
*.map   binary
