//-
  sample:
    title: Ordered list
    code: ol
  collections:
    - core--lists
  ---

extends ../layouts/app-sample.pug

block sample
  section.app-sample-section
    header Standard
    ol
      li Popcorn
      li Jelly
      li Oat cakes

  section.app-sample-section
    header Nested

    ol
      li Popcorn
      li Jelly
      li Oat cakes
      li Sesame snaps
        ol
          li Chocolate cake
          li
            ol
              li Sherbet
              li Toffee apples

  section.app-sample-section
    header Nested, ordered/unordered mix

    ol
      li Popcorn
      li Jelly
      li Oat cakes
      li Sesame snaps
        ul
          li Chocolate cake
          li
            ol
              li Sherbet
              li Toffee apples
