//-
  sample:
    title: Inline list
    code: ul.bsk-list-inline
  collections:
    - core--lists
  ---

extends ../layouts/app-sample.pug
include ../mixins/app/samples/lists.pug
include ../mixins/app/samples/alerts.pug

block sample
  section.app-sample-section
    header Standard
    +alert('info', 'highlight', 'yes')
      | Class is #[strong not] supported with ordered list.

    +ul-ol('ul')(class='bsk-list-inline')

  section.app-sample-section
    header Nested (not applied)
    +alert('info', 'highlight', 'yes')
      ul
        li Class #[strong is] supported with nested unordered lists but will appear flattened.
        li Class is #[strong not] applied to nested lists.

    +ul-ol--nested('ul')(class='bsk-list-inline')

  section.app-sample-section
    header Nested (applied)
    +alert('info', 'highlight', 'yes')
      ul
        li Class is #[strong not] supported with nested lists.
        li Class #[strong applied] to nested lists.

    +ul-ol--nested-class('ul')(class='bsk-list-inline')
