//-
  sample:
    title: Horizontal definition list
    code: dl.bsk-dl-horizontal
  collections:
    - core--lists
  ---

extends ../layouts/app-sample.pug

block sample
  section.app-sample-section
    header Standard

    dl.bsk-dl-horizontal
      dt Emperor Penguin
      dd Aptenodytes forsteri
      dt King Penguin
      dd Aptenodytes patagonicus
      dt Adelie Penguin
      dd Pygoscelis adeliae
      dt Chinstrap Penguin
      dd Pygoscelis antarctica
      dt Gentoo Penguin
      dd Pygoscelis papua
