//-
  sample:
    title: Headings small
    code: h{1-6} small
  collections:
    - core--typography
  ---

extends ../layouts/app-sample.pug
include ../mixins/app/samples/typography.pug

block sample
  section.app-sample-section
    header Hierarchy

    +headings-small--list

  section.app-sample-section
    header Hierarchy (with paragraphs)

    +headings-small--paragraphs
