//-
  sample:
    title: Font face - Gill Sans book
  collections:
    - core--typography
  ---

extends ../layouts/app-sample.pug
include ../mixins/app/samples/typography.pug

block sample
  section.app-sample-section

    +font-face-sample(class='app-ff-gill-sans-book')
