//-
  sample:
    title: Left aligned text
    code: .bsk-text-left
  collections:
    - core--typography-utilities
  ---

extends ../layouts/app-sample.pug
include ../mixins/app/samples/typography.pug
include ../mixins/app/samples/alerts.pug

block sample
  section.app-sample-section
    header Standard
    +alert('info', 'highlight')
      | Left alignment is implied by default.

    +p--standard(class='bsk-text-left')

    +p--text-block(class='bsk-text-left')

    div.bsk-row
      div.bsk-col-12-md-6
        +p--text-block(class='bsk-text-left')
