//-
  sample:
    title: Address
    code: address
  collections:
    - core--typography
  ---

extends ../layouts/app-sample.pug

block sample
  section.app-sample-section
    header Name only

    div.bsk-row
      div.bsk-col-12-md-6
        address
          strong Mapping and Geographic Information Centre (MAGIC)
      div.bsk-col-12-md-6
        address
          strong Connie Watson

  section.app-sample-section
    header Name and position

    div.bsk-row
      div.bsk-col-12-md-6
        address
          strong Mapping and Geographic Information Centre (MAGIC)
      div.bsk-col-12-md-6
        address
          strong Connie Watson #[br]
          strong: em Atmospheric Chemist

  section.app-sample-section
    header Name and organisation

    div.bsk-row
      div.bsk-col-12-md-6
        address
          strong Mapping and Geographic Information Centre (MAGIC) #[br]
          strong British Antarctic Survey
      div.bsk-col-12-md-6
        address
          strong Connie Watson #[br]
          strong British Antarctic Survey

  section.app-sample-section
    header Name, position and organisation

    div.bsk-row
      div.bsk-col-12-md-6
        address
          strong Mapping and Geographic Information Centre (MAGIC) #[br]
          strong British Antarctic Survey
      div.bsk-col-12-md-6
        address
          strong Connie Watson #[br]
          strong: em Atmospheric Chemist #[br]
          strong British Antarctic Survey

  section.app-sample-section
    header Name and email

    div.bsk-row
      div.bsk-col-12-md-6
        address
          strong Mapping and Geographic Information Centre (MAGIC) #[br]
          a(href='mailto:#') magic@bas.ac.uk
      div.bsk-col-12-md-6
        address
          strong Connie Watson #[br]
          a(href='mailto:#') contwat@bas.ac.uk
    div.bsk-row
      div.bsk-col-12-md-6
        address
          strong Mapping and Geographic Information Centre (MAGIC) #[br]
          | #[abbr(title='Email address') Email:] #[a(href='mailto:#') magic@bas.ac.uk]
      div.bsk-col-12-md-6
        address
          strong Connie Watson #[br]
          | #[abbr(title='Email address') Email:] #[a(href='mailto:#') conwat@bas.ac.uk]
    div.bsk-row
      div.bsk-col-12-md-6
        address
          strong Mapping and Geographic Information Centre (MAGIC) #[br]
          | #[i.far.fa-fw.fa-at(aria-hidden='true')] #[abbr(title='Email address') Email:] #[a(href='mailto:#') magic@bas.ac.uk]
      div.bsk-col-12-md-6
        address
          strong Connie Watson #[br]
          | #[i.far.fa-fw.fa-at(aria-hidden='true')] #[abbr(title='Email address') Email:] #[a(href='mailto:#') conwat@bas.ac.uk]

  section.app-sample-section
    header Name and website

    div.bsk-row
      div.bsk-col-12-md-6
        address
          strong Mapping and Geographic Information Centre (MAGIC) #[br]
          | #[a(href='#') https://www.bas.ac.uk/team/magic]
      div.bsk-col-12-md-6
        address
          strong Connie Watson #[br]
          | #[a(href='#') https://www.bas.ac.uk/profile/conwat]
    div.bsk-row
      div.bsk-col-12-md-6
        address
          strong Mapping and Geographic Information Centre (MAGIC) #[br]
          | #[abbr(title='Website') Web:] #[a(href='#') https://www.bas.ac.uk/team/magic]
      div.bsk-col-12-md-6
        address
          strong Connie Watson #[br]
          | #[abbr(title='Website') Web:] #[a(href='#') https://www.bas.ac.uk/profile/conwat]
    div.bsk-row
      div.bsk-col-12-md-6
        address
          strong Mapping and Geographic Information Centre (MAGIC) #[br]
          | #[i.far.fa-fw.fa-globe(aria-hidden='true')] #[abbr(title='Website') Web:] #[a(href='#') https://www.bas.ac.uk/team/magic]
      div.bsk-col-12-md-6
        address
          strong Connie Watson #[br]
          | #[i.far.fa-fw.fa-globe(aria-hidden='true')] #[abbr(title='Website') Web:] #[a(href='#') https://www.bas.ac.uk/profile/conwat]

  section.app-sample-section
    header Name and phone

    div.bsk-row
      div.bsk-col-12-md-6
        address
          strong Mapping and Geographic Information Centre (MAGIC) #[br]
          | +44 (0)1223 221 400
      div.bsk-col-12-md-6
        address
          strong Connie Watson #[br]
          | +44 (0)1223 221 400
    div.bsk-row
      div.bsk-col-12-md-6
        address
          strong Mapping and Geographic Information Centre (MAGIC) #[br]
          | #[abbr(title='Telephone') Tel:] +44 (0)1223 221 400
      div.bsk-col-12-md-6
        address
          strong Connie Watson #[br]
          | #[abbr(title='Telephone') Tel:] +44 (0)1223 221 400
    div.bsk-row
      div.bsk-col-12-md-6
        address
          strong Mapping and Geographic Information Centre (MAGIC) #[br]
          | #[i.far.fa-fw.fa-phone-rotary(aria-hidden='true')] #[abbr(title='Telephone') Tel:] +44 (0)1223 221 400
      div.bsk-col-12-md-6
        address
          strong Connie Watson #[br]
          | #[i.far.fa-fw.fa-phone-rotary(aria-hidden='true')] #[abbr(title='Telephone') Tel:] +44 (0)1223 221 400

  section.app-sample-section
    header Name and ORCiD

    div.bsk-row
      div.bsk-col-12-md-6
        address
          strong Mapping and Geographic Information Centre (MAGIC)
      div.bsk-col-12-md-6
        address
          strong Connie Watson #[br]
          | #[a(href='#') https://sandbox.orcid.org/0000-0001-8373-6934]
    div.bsk-row
      div.bsk-col-12-md-6
        address
          strong Mapping and Geographic Information Centre (MAGIC)
      div.bsk-col-12-md-6
        address
          strong Connie Watson #[br]
          | #[abbr(title='ORCID iD') ORCiD:] #[a(href='#') https://sandbox.orcid.org/0000-0001-8373-6934]
    div.bsk-row
      div.bsk-col-12-md-6
        address
          strong Mapping and Geographic Information Centre (MAGIC)
      div.bsk-col-12-md-6
        address
          strong Connie Watson #[br]
          | #[i.fab.fa-fw.fa-orcid.bsk-orcid-id(aria-hidden='true')] #[abbr(title='ORCID iD') ORCiD:] #[a(href='#') https://sandbox.orcid.org/0000-0001-8373-6934]

  section.app-sample-section
    header Name and postal address

    div.bsk-row
      div.bsk-col-12-md-6
        address
          strong Mapping and Geographic Information Centre (MAGIC) #[br]
          strong British Antarctic Survey #[br]
          | High Cross, Madingley Road #[br]
          | CAMBRIDGE #[br]
          | CB3 0ET #[br]
          | United Kingdom
      div.bsk-col-12-md-6
        address
          strong Connie Watson #[br]
          strong British Antarctic Survey #[br]
          | High Cross, Madingley Road #[br]
          | CAMBRIDGE #[br]
          | CB3 0ET #[br]
          | United Kingdom

  section.app-sample-section
    header Name, position, organisation, postal address, telephone, email, website, ORCiD

    div.bsk-row
      div.bsk-col-12-md-6
        address
          strong Mapping and Geographic Information Centre (MAGIC) #[br]
          strong British Antarctic Survey #[br]
          | High Cross, Madingley Road #[br]
          | CAMBRIDGE #[br]
          | CB3 0ET #[br]
          | United Kingdom #[br]
          | #[i.far.fa-fw.fa-phone-rotary(aria-hidden='true')] #[abbr(title='Telephone') Tel:] +44 (0)1223 221 400 #[br]
          | #[i.far.fa-fw.fa-at(aria-hidden='true')] #[abbr(title='Email address') Email:] #[a(href='mailto:#') magic@bas.ac.uk] #[br]
          | #[i.far.fa-fw.fa-globe(aria-hidden='true')] #[abbr(title='Website') Web:] #[a(href='#') https://www.bas.ac.uk/team/magic]
      div.bsk-col-12-md-6
        address
          strong Connie Watson #[br]
          strong: em Atmospheric Chemist #[br]
          strong British Antarctic Survey #[br]
          | High Cross, Madingley Road #[br]
          | CAMBRIDGE #[br]
          | CB3 0ET #[br]
          | United Kingdom #[br]
          | #[i.far.fa-fw.fa-phone-rotary(aria-hidden='true')] #[abbr(title='Telephone') Tel:] +44 (0)1223 221 400 #[br]
          | #[i.far.fa-fw.fa-at(aria-hidden='true')] #[abbr(title='Email address') Email:] #[a(href='mailto:#') conwat@bas.ac.uk] #[br]
          | #[i.far.fa-fw.fa-globe(aria-hidden='true')] #[abbr(title='Website') Web:] #[a(href='#') https://www.bas.ac.uk/profile/conwat] #[br]
          | #[i.fab.fa-fw.fa-orcid.bsk-orcid-id(aria-hidden='true')] #[abbr(title='ORCID iD') ORCiD:] #[a(href='#') https://sandbox.orcid.org/0000-0001-8373-6934]

  section.app-sample-section
    header Name, position, organisation, (email), website, ORCiD

    div.bsk-row
      div.bsk-col-12-md-6
        address
          strong Mapping and Geographic Information Centre (MAGIC) #[br]
          strong British Antarctic Survey #[br]
          | #[i.far.fa-fw.fa-at(aria-hidden='true')] #[abbr(title='Email address') Email:] #[a(href='mailto:#') magic@bas.ac.uk] #[br]
          | #[i.far.fa-fw.fa-globe(aria-hidden='true')] #[abbr(title='Website') Web:] #[a(href='#') https://www.bas.ac.uk/team/magic]
      div.bsk-col-12-md-6
        address
          strong Connie Watson #[br]
          strong: em Atmospheric Chemist #[br]
          strong British Antarctic Survey #[br]
          | #[i.far.fa-fw.fa-globe(aria-hidden='true')] #[abbr(title='Website') Web:] #[a(href='#') https://www.bas.ac.uk/profile/conwat] #[br]
          | #[i.fab.fa-fw.fa-orcid.bsk-orcid-id(aria-hidden='true')] #[abbr(title='ORCID iD') ORCiD:] #[a(href='#') https://sandbox.orcid.org/0000-0001-8373-6934]

  section.app-sample-section
    header Name, position, (organisation), (website), ORCiD

    div.bsk-row
      div.bsk-col-12-md-6
        address
          strong Mapping and Geographic Information Centre (MAGIC) #[br]
          strong British Antarctic Survey #[br]
          | #[i.far.fa-fw.fa-globe(aria-hidden='true')] #[abbr(title='Website') Web:] #[a(href='#') https://www.bas.ac.uk/team/magic]
      div.bsk-col-12-md-6
        address
          strong Connie Watson #[br]
          strong: em Atmospheric Chemist #[br]
          | #[i.fab.fa-fw.fa-orcid.bsk-orcid-id(aria-hidden='true')] #[abbr(title='ORCID iD') ORCiD:] #[a(href='#') https://sandbox.orcid.org/0000-0001-8373-6934]
