//-
  sample:
    title: Code block
    code: pre
  collections:
    - code
  ---

extends ../layouts/app-sample.pug

block sample
  section.app-sample-section
    header Standard

    <pre>...</pre>
