//-
  sample:
    title: Input (code)
    code: kbd
  collections:
    - code
  ---

extends ../layouts/app-sample.pug

block sample
  section.app-sample-section
    header Standard

    p To quit press #[kbd ctrl] + #[kbd c].
