//-
  sample:
    title: Sample (code)
    code: samp
  collections:
    - code
  ---

extends ../layouts/app-sample.pug

block sample
  section.app-sample-section
    header Standard

    <samp>['0000', 'sample']</samp>
