//-
  sample:
    title: 12 column grid offsets
    code: .bsk-col-12-*-offset-*
  collections:
    - core--grid
  ---

extends ../layouts/app-sample.pug
include ../mixins/app/samples/alerts.pug
include ../mixins/app/samples/grid.pug

block append variables
  - attributes.main_content_classes = [];

block sample
  div.bsk-container-fluid
    +alert('warning', 'outline')
      div.bsk-text-center This sample isn't inside a container and may look strange.
    +alert('info', 'highlight')
      | Using the medium size 12 column grid, in a fixed-width container.

  section.app-sample-section
    div.bsk-container.app-visible-container.app-spacing-bottom
      +grid--columns-offset(12)
