//-
  sample:
    title: 12 column grid nesting (medium size)
    code: .bsk-col-12-md-* .bsk-col-12-md-*
  collections:
    - core--grid
  ---

extends ../layouts/app-sample.pug
include ../mixins/app/samples/alerts.pug
include ../mixins/app/samples/grid.pug

block append vars
  - bsk_attributes.container_class = '';

block sample
  div.bsk-container-fluid
    +alert('warning', 'outline', 'yes')
      div.bsk-text-center This sample isn't inside a container and may look strange.

  div.bsk-container.app-visible-container.app-spacing-bottom
    div.bsk-row
      div.bsk-col-12-md-12.app-visible-col-9
        div.bsk-col-12-md-6.app-visible-col-10
          div.bsk-col-12-md-3.app-visible-col-11
            div.bsk-col-12-md-1.app-visible-col-12
            div.bsk-col-12-md-1.app-visible-col-12
            div.bsk-col-12-md-1.app-visible-col-12

          div.bsk-col-12-md-3.app-visible-col-11
            div.bsk-col-12-md-1.app-visible-col-12
            div.bsk-col-12-md-1.app-visible-col-12
            div.bsk-col-12-md-1.app-visible-col-12

          div.bsk-col-12-md-3.app-visible-col-11
            div.bsk-col-12-md-1.app-visible-col-12
            div.bsk-col-12-md-1.app-visible-col-12
            div.bsk-col-12-md-1.app-visible-col-12

          div.bsk-col-12-md-3.app-visible-col-11
            div.bsk-col-12-md-1.app-visible-col-12
            div.bsk-col-12-md-1.app-visible-col-12
            div.bsk-col-12-md-1.app-visible-col-12

        div.bsk-col-12-md-6.app-visible-col-10
          div.bsk-col-12-md-3.app-visible-col-11
            div.bsk-col-12-md-1.app-visible-col-12
            div.bsk-col-12-md-1.app-visible-col-12
            div.bsk-col-12-md-1.app-visible-col-12

          div.bsk-col-12-md-3.app-visible-col-11
            div.bsk-col-12-md-1.app-visible-col-12
            div.bsk-col-12-md-1.app-visible-col-12
            div.bsk-col-12-md-1.app-visible-col-12

          div.bsk-col-12-md-3.app-visible-col-11
            div.bsk-col-12-md-1.app-visible-col-12
            div.bsk-col-12-md-1.app-visible-col-12
            div.bsk-col-12-md-1.app-visible-col-12

          div.bsk-col-12-md-3.app-visible-col-11
            div.bsk-col-12-md-1.app-visible-col-12
            div.bsk-col-12-md-1.app-visible-col-12
            div.bsk-col-12-md-1.app-visible-col-12
