//-
  sample:
    title: Fixed width container
    code: .bsk-container
  collections:
    - layout
  ---

extends ../layouts/app-sample.pug
include ../mixins/app/samples/alerts.pug

block append vars
  - bsk_attributes.container_class = '';

block sample
  div.bsk-container-fluid
    +alert('warning', 'outline', 'yes')
      div.bsk-text-center This sample isn't inside a container and may look strange.

  div.bsk-container.app-visible-container.app-spacing-bottom
    div.app-visible-col-1
