//-
  sample:
    title: Right floated block
    code: .bsk-pull-right
  collections:
    - core--layout
  ---

extends ../layouts/app-sample.pug

block sample
  section.app-sample-section
    div.bsk-col-12-md-3.bsk-pull-right.app-visible-col-1
    div.bsk-clearfix
