//-
  sample:
    title: Centred block
    code: .bsk-center-block
  collections:
    - layout
  ---

extends ../layouts/app-sample.pug

block sample
  section.app-sample-section
    div.bsk-center-block.app-visible-col-1(style="width:40%")
