//-
  sample:
    title: Visible block
    code: .bsk-show
  collections:
    - core--layout
  ---

extends ../layouts/app-sample.pug

block sample
  section.app-sample-section
    div.app-visible-col-1
    div.app-visible-col-2.bsk-show
    div.app-visible-col-3
