//-
  sample:
    title: Visibility breakpoints - visible
    code: .bsk-visible-*-block
  collections:
    - core--layout
  ---

extends ../layouts/app-sample.pug
include ../mixins/app/samples/alerts.pug

block sample
  section.app-sample-section
    +alert('success', 'highlight', 'yes')
      | Visible combinations are shown in #[strong green].
    +alert('info', 'highlight', 'yes')
      | The active breakpoint is indicated in the table header

    table.bsk-table.bsk-table-responsive
      thead
        tr
          th <!-- Intentionally blank -->
          th
            span.bsk-hidden-xs.bsk-text-muted
              i.fa.fa-square-o(aria-hidden="true")
              | Extra Small
            span.bsk-hidden-sm.bsk-hidden-md.bsk-hidden-lg.bsk-hidden-xl.bsk-hidden-fhd.bsk-visible-xs-inline
              i.fa.fa-check-square(aria-hidden="true")
              span.bsk-sr-only Active breakpoint
              | Extra Small
          th
            span.bsk-hidden-sm.bsk-text-muted
              i.fa.fa-square-o(aria-hidden="true")
              | Small
            span.bsk-hidden-xs.bsk-hidden-md.bsk-hidden-lg.bsk-hidden-xl.bsk-hidden-fhd.bsk-visible-sm-inline
              i.fa.fa-check-square(aria-hidden="true")
              span.bsk-sr-only Active breakpoint
              | Small
          th
            span.bsk-hidden-md.bsk-text-muted
              i.fa.fa-square-o(aria-hidden="true")
              | Medium
            span.bsk-hidden-xs.bsk-hidden-sm.bsk-hidden-lg.bsk-hidden-xl.bsk-hidden-fhd.bsk-visible-md-inline
              i.fa.fa-check-square(aria-hidden="true")
              span.bsk-sr-only Active breakpoint
              | Medium
          th
            span.bsk-hidden-lg.bsk-text-muted
              i.fa.fa-square-o(aria-hidden="true")
              | Large
            span.bsk-hidden-xs.bsk-hidden-sm.bsk-hidden-md.bsk-hidden-xl.bsk-hidden-fhd.bsk-visible-lg-inline
              i.fa.fa-check-square(aria-hidden="true")
              span.bsk-sr-only Active breakpoint
              | Large
          th
            span.bsk-hidden-xl.bsk-text-muted
              i.fa.fa-square-o(aria-hidden="true")
              | Extra Large
            span.bsk-hidden-xs.bsk-hidden-sm.bsk-hidden-md.bsk-hidden-lg.bsk-hidden-fhd.bsk-visible-xl-inline
              i.fa.fa-check-square(aria-hidden="true")
              span.bsk-sr-only Active breakpoint
              | Extra Large
          th
            span.bsk-hidden-fhd.bsk-text-muted
              i.fa.fa-square-o(aria-hidden="true")
              | Full HD
            span.bsk-hidden-xs.bsk-hidden-sm.bsk-hidden-md.bsk-hidden-lg.bsk-hidden-xl.bsk-visible-fhd-inline
              i.fa.fa-check-square(aria-hidden="true")
              span.bsk-sr-only Active breakpoint
              | Full HD
      tbody
        tr
          td: code bsk-visible-xs-block
          td.bsk-hidden-xs: span.bsk-text-muted #[i.fa.fa-eye(aria-hidden='true')] Visible
          td.bsk-hidden-sm.bsk-hidden-md.bsk-hidden-lg.bsk-hidden-xl.bsk-hidden-fhd.bsk-visible-xs-block
            span.bsk-text-success #[i.fa.fa-eye(aria-hidden='true')] Visible
          td: span.bsk-text-muted #[i.fa.fa-low-vision(aria-hidden='true')] Hidden
          td: span.bsk-text-muted #[i.fa.fa-low-vision(aria-hidden='true')] Hidden
          td: span.bsk-text-muted #[i.fa.fa-low-vision(aria-hidden='true')] Hidden
          td: span.bsk-text-muted #[i.fa.fa-low-vision(aria-hidden='true')] Hidden
          td: span.bsk-text-muted #[i.fa.fa-low-vision(aria-hidden='true')] Hidden
        tr
          td: code bsk-visible-sm-block</code></td>
          td: span.bsk-text-muted #[i.fa.fa-low-vision(aria-hidden='true')] Hidden
          td.bsk-hidden-sm: span.bsk-text-muted #[i.fa.fa-eye(aria-hidden='true')] Visible
          td.bsk-hidden-xs.bsk-hidden-md.bsk-hidden-lg.bsk-hidden-xl.bsk-hidden-fhd.bsk-visible-sm-block
            span.bsk-text-success #[i.fa.fa-eye(aria-hidden='true')] Visible
          td: span.bsk-text-muted #[i.fa.fa-low-vision(aria-hidden='true')] Hidden
          td: span.bsk-text-muted #[i.fa.fa-low-vision(aria-hidden='true')] Hidden
          td: span.bsk-text-muted #[i.fa.fa-low-vision(aria-hidden='true')] Hidden
          td: span.bsk-text-muted #[i.fa.fa-low-vision(aria-hidden='true')] Hidden
        tr
          td: code bsk-visible-md-block</code></td>
          td: span.bsk-text-muted #[i.fa.fa-low-vision(aria-hidden='true')] Hidden
          td: span.bsk-text-muted #[i.fa.fa-low-vision(aria-hidden='true')] Hidden
          td.bsk-hidden-md: span.bsk-text-muted #[i.fa.fa-eye(aria-hidden='true')] Visible
          td.bsk-hidden-xs.bsk-hidden-sm.bsk-hidden-lg.bsk-hidden-xl.bsk-hidden-fhd.bsk-visible-md-block
            span.bsk-text-success #[i.fa.fa-eye(aria-hidden='true')] Visible
          td: span.bsk-text-muted #[i.fa.fa-low-vision(aria-hidden='true')] Hidden
          td: span.bsk-text-muted #[i.fa.fa-low-vision(aria-hidden='true')] Hidden
          td: span.bsk-text-muted #[i.fa.fa-low-vision(aria-hidden='true')] Hidden
        tr
          td: code bsk-visible-lg-block</code></td>
          td: span.bsk-text-muted #[i.fa.fa-low-vision(aria-hidden='true')] Hidden
          td: span.bsk-text-muted #[i.fa.fa-low-vision(aria-hidden='true')] Hidden
          td: span.bsk-text-muted #[i.fa.fa-low-vision(aria-hidden='true')] Hidden
          td.bsk-hidden-lg: span.bsk-text-muted #[i.fa.fa-eye(aria-hidden='true')] Visible
          td.bsk-hidden-xs.bsk-hidden-sm.bsk-hidden-md.bsk-hidden-xl.bsk-hidden-fhd.bsk-visible-lg-block
            span.bsk-text-success #[i.fa.fa-eye(aria-hidden='true')] Visible
          td: span.bsk-text-muted #[i.fa.fa-low-vision(aria-hidden='true')] Hidden
          td: span.bsk-text-muted #[i.fa.fa-low-vision(aria-hidden='true')] Hidden
        tr
          td: code bsk-visible-xl-block</code></td>
          td: span.bsk-text-muted #[i.fa.fa-low-vision(aria-hidden='true')] Hidden
          td: span.bsk-text-muted #[i.fa.fa-low-vision(aria-hidden='true')] Hidden
          td: span.bsk-text-muted #[i.fa.fa-low-vision(aria-hidden='true')] Hidden
          td: span.bsk-text-muted #[i.fa.fa-low-vision(aria-hidden='true')] Hidden
          td.bsk-hidden-xl: span.bsk-text-muted #[i.fa.fa-eye(aria-hidden='true')] Visible
          td.bsk-hidden-xs.bsk-hidden-sm.bsk-hidden-md.bsk-hidden-lg.bsk-hidden-fhd.bsk-visible-xl-block
            span.bsk-text-success #[i.fa.fa-eye(aria-hidden='true')] Visible
          td: span.bsk-text-muted #[i.fa.fa-low-vision(aria-hidden='true')] Hidden
        tr
          td: code bsk-visible-fhd-block</code></td>
          td: span.bsk-text-muted #[i.fa.fa-low-vision(aria-hidden='true')] Hidden
          td: span.bsk-text-muted #[i.fa.fa-low-vision(aria-hidden='true')] Hidden
          td: span.bsk-text-muted #[i.fa.fa-low-vision(aria-hidden='true')] Hidden
          td: span.bsk-text-muted #[i.fa.fa-low-vision(aria-hidden='true')] Hidden
          td: span.bsk-text-muted #[i.fa.fa-low-vision(aria-hidden='true')] Hidden
          td.bsk-hidden-fhd: span.bsk-text-muted #[i.fa.fa-eye(aria-hidden='true')] Visible
          td.bsk-hidden-xs.bsk-hidden-sm.bsk-hidden-md.bsk-hidden-lg.bsk-hidden-xl.bsk-visible-fhd-block
            span.bsk-text-success #[i.fa.fa-eye(aria-hidden='true')] Visible
