//-
  sample:
    title: Visibility breakpoints - hidden
    code: .bsk-hidden-*
  collections:
    - core--layout
  ---

extends ../layouts/app-sample.pug
include ../mixins/app/samples/alerts.pug

block sample
  section.app-sample-section
    +alert('success', 'highlight')
      | Visible combinations are shown in #[strong green].
    +alert('info', 'highlight')
      | The active breakpoint is indicated in the table header

    table.bsk-table.bsk-table-responsive
      thead
        tr
          th <!-- Intentionally blank -->
          th
            span.bsk-hidden-xs.bsk-text-muted
              i.far.fa-square(aria-hidden="true")
              |
              | Extra Small
            span.bsk-hidden-sm.bsk-hidden-md.bsk-hidden-lg.bsk-hidden-xl.bsk-hidden-fhd.bsk-visible-xs-inline
              i.far.fa-check-square(aria-hidden="true")
              span.bsk-sr-only Active breakpoint
              |
              | Extra Small
          th
            span.bsk-hidden-sm.bsk-text-muted
              i.far.fa-square(aria-hidden="true")
              |
              | Small
            span.bsk-hidden-xs.bsk-hidden-md.bsk-hidden-lg.bsk-hidden-xl.bsk-hidden-fhd.bsk-visible-sm-inline
              i.far.fa-check-square(aria-hidden="true")
              span.bsk-sr-only Active breakpoint
              |
              | Small
          th
            span.bsk-hidden-md.bsk-text-muted
              i.far.fa-square(aria-hidden="true")
              |
              | Medium
            span.bsk-hidden-xs.bsk-hidden-sm.bsk-hidden-lg.bsk-hidden-xl.bsk-hidden-fhd.bsk-visible-md-inline
              i.far.fa-check-square(aria-hidden="true")
              span.bsk-sr-only Active breakpoint
              |
              | Medium
          th
            span.bsk-hidden-lg.bsk-text-muted
              i.far.fa-square(aria-hidden="true")
              |
              | Large
            span.bsk-hidden-xs.bsk-hidden-sm.bsk-hidden-md.bsk-hidden-xl.bsk-hidden-fhd.bsk-visible-lg-inline
              i.far.fa-check-square(aria-hidden="true")
              span.bsk-sr-only Active breakpoint
              |
              | Large
          th
            span.bsk-hidden-xl.bsk-text-muted
              i.far.fa-square(aria-hidden="true")
              |
              | Extra Large
            span.bsk-hidden-xs.bsk-hidden-sm.bsk-hidden-md.bsk-hidden-lg.bsk-hidden-fhd.bsk-visible-xl-inline
              i.far.fa-check-square(aria-hidden="true")
              span.bsk-sr-only Active breakpoint
              |
              | Extra Large
          th
            span.bsk-hidden-fhd.bsk-text-muted
              i.far.fa-square(aria-hidden="true")
              |
              | Full HD
            span.bsk-hidden-xs.bsk-hidden-sm.bsk-hidden-md.bsk-hidden-lg.bsk-hidden-xl.bsk-visible-fhd-inline
              i.far.fa-check-square(aria-hidden="true")
              span.bsk-sr-only Active breakpoint
              |
              | Full HD
      tbody
        tr
          td: code bsk-hidden-xs
          td: span.bsk-text-success #[i.far.fa-low-vision(aria-hidden='true')] Hidden
          td: span.bsk-text-muted #[i.far.fa-eye(aria-hidden='true')] Visible
          td: span.bsk-text-muted #[i.far.fa-eye(aria-hidden='true')] Visible
          td: span.bsk-text-muted #[i.far.fa-eye(aria-hidden='true')] Visible
          td: span.bsk-text-muted #[i.far.fa-eye(aria-hidden='true')] Visible
          td: span.bsk-text-muted #[i.far.fa-eye(aria-hidden='true')] Visible
        tr
          td: code bsk-hidden-sm
          td: span.bsk-text-muted #[i.far.fa-eye(aria-hidden='true')] Visible
          td: span.bsk-text-success #[i.far.fa-low-vision(aria-hidden='true')] Hidden
          td: span.bsk-text-muted #[i.far.fa-eye(aria-hidden='true')] Visible
          td: span.bsk-text-muted #[i.far.fa-eye(aria-hidden='true')] Visible
          td: span.bsk-text-muted #[i.far.fa-eye(aria-hidden='true')] Visible
          td: span.bsk-text-muted #[i.far.fa-eye(aria-hidden='true')] Visible
        tr
          td: code bsk-hidden-md
          td: span.bsk-text-muted #[i.far.fa-eye(aria-hidden='true')] Visible
          td: span.bsk-text-muted #[i.far.fa-eye(aria-hidden='true')] Visible
          td: span.bsk-text-success #[i.far.fa-low-vision(aria-hidden='true')] Hidden
          td: span.bsk-text-muted #[i.far.fa-eye(aria-hidden='true')] Visible
          td: span.bsk-text-muted #[i.far.fa-eye(aria-hidden='true')] Visible
          td: span.bsk-text-muted #[i.far.fa-eye(aria-hidden='true')] Visible
        tr
          td: code bsk-hidden-lg
          td: span.bsk-text-muted #[i.far.fa-eye(aria-hidden='true')] Visible
          td: span.bsk-text-muted #[i.far.fa-eye(aria-hidden='true')] Visible
          td: span.bsk-text-muted #[i.far.fa-eye(aria-hidden='true')] Visible
          td: span.bsk-text-success #[i.far.fa-low-vision(aria-hidden='true')] Hidden
          td: span.bsk-text-muted #[i.far.fa-eye(aria-hidden='true')] Visible
          td: span.bsk-text-muted #[i.far.fa-eye(aria-hidden='true')] Visible
        tr
          td: code bsk-hidden-xl
          td: span.bsk-text-muted #[i.far.fa-eye(aria-hidden='true')] Visible
          td: span.bsk-text-muted #[i.far.fa-eye(aria-hidden='true')] Visible
          td: span.bsk-text-muted #[i.far.fa-eye(aria-hidden='true')] Visible
          td: span.bsk-text-muted #[i.far.fa-eye(aria-hidden='true')] Visible
          td: span.bsk-text-success #[i.far.fa-low-vision(aria-hidden='true')] Hidden
          td: span.bsk-text-muted #[i.far.fa-eye(aria-hidden='true')] Visible
        tr
          td: code bsk-hidden-fhd
          td: span.bsk-text-muted #[i.far.fa-eye(aria-hidden='true')] Visible
          td: span.bsk-text-muted #[i.far.fa-eye(aria-hidden='true')] Visible
          td: span.bsk-text-muted #[i.far.fa-eye(aria-hidden='true')] Visible
          td: span.bsk-text-muted #[i.far.fa-eye(aria-hidden='true')] Visible
          td: span.bsk-text-muted #[i.far.fa-eye(aria-hidden='true')] Visible
          td: span.bsk-text-success #[i.far.fa-low-vision(aria-hidden='true')] Hidden

  hr

  h4 Notes
  ul: li This sample relies on the optional #[a(href='https://style-kit.web.bas.ac.uk/core/icons/#font-awesome') font awesome icon font]
