//-
  sample:
    title: Visibility breakpoints - visible inline block
    code: .bsk-visible-*-inline-block
  collections:
    - core--layout
  ---

extends ../layouts/app-sample.pug
include ../mixins/app/samples/alerts.pug

block sample
  section.app-sample-section
    +alert('success', 'highlight')
      | Visible combinations are shown in #[strong green].
    +alert('info', 'highlight')
      | The active breakpoint is indicated in the table header

    table.bsk-table.bsk-table-responsive
      thead
        tr
          th <!-- Intentionally blank -->
          th
            span.bsk-hidden-xs.bsk-text-muted
              i.fa.fa-square-o(aria-hidden="true")
              | Extra Small
            span.bsk-hidden-sm.bsk-hidden-md.bsk-hidden-lg.bsk-hidden-xl.bsk-hidden-fhd.bsk-visible-xs-inline
              i.fa.fa-check-square(aria-hidden="true")
              span.bsk-sr-only Active breakpoint
              | Extra Small
          th
            span.bsk-hidden-sm.bsk-text-muted
              i.fa.fa-square-o(aria-hidden="true")
              | Small
            span.bsk-hidden-xs.bsk-hidden-md.bsk-hidden-lg.bsk-hidden-xl.bsk-hidden-fhd.bsk-visible-sm-inline
              i.fa.fa-check-square(aria-hidden="true")
              span.bsk-sr-only Active breakpoint
              | Small
          th
            span.bsk-hidden-md.bsk-text-muted
              i.fa.fa-square-o(aria-hidden="true")
              | Medium
            span.bsk-hidden-xs.bsk-hidden-sm.bsk-hidden-lg.bsk-hidden-xl.bsk-hidden-fhd.bsk-visible-md-inline
              i.fa.fa-check-square(aria-hidden="true")
              span.bsk-sr-only Active breakpoint
              | Medium
          th
            span.bsk-hidden-lg.bsk-text-muted
              i.fa.fa-square-o(aria-hidden="true")
              | Large
            span.bsk-hidden-xs.bsk-hidden-sm.bsk-hidden-md.bsk-hidden-xl.bsk-hidden-fhd.bsk-visible-lg-inline
              i.fa.fa-check-square(aria-hidden="true")
              span.bsk-sr-only Active breakpoint
              | Large
          th
            span.bsk-hidden-xl.bsk-text-muted
              i.fa.fa-square-o(aria-hidden="true")
              | Extra Large
            span.bsk-hidden-xs.bsk-hidden-sm.bsk-hidden-md.bsk-hidden-lg.bsk-hidden-fhd.bsk-visible-xl-inline
              i.fa.fa-check-square(aria-hidden="true")
              span.bsk-sr-only Active breakpoint
              | Extra Large
          th
            span.bsk-hidden-fhd.bsk-text-muted
              i.fa.fa-square-o(aria-hidden="true")
              | Full HD
            span.bsk-hidden-xs.bsk-hidden-sm.bsk-hidden-md.bsk-hidden-lg.bsk-hidden-xl.bsk-visible-fhd-inline
              i.fa.fa-check-square(aria-hidden="true")
              span.bsk-sr-only Active breakpoint
              | Full HD
      tbody
        tr
          td: code bsk-visible-xs-inline
          td
            span.bsk-text-muted.bsk-hidden-xs #[i.fa.fa-eye(aria-hidden='true')] Visible
            span.bsk-text-success.bsk-hidden-sm.bsk-hidden-md.bsk-hidden-lg.bsk-hidden-xl.bsk-hidden-fhd.bsk-visible-xs-inline-block
              i.fa.fa-eye(aria-hidden='true') Visible
          td: span.bsk-text-muted #[i.fa.fa-low-vision(aria-hidden='true')] Hidden
          td: span.bsk-text-muted #[i.fa.fa-low-vision(aria-hidden='true')] Hidden
          td: span.bsk-text-muted #[i.fa.fa-low-vision(aria-hidden='true')] Hidden
          td: span.bsk-text-muted #[i.fa.fa-low-vision(aria-hidden='true')] Hidden
          td: span.bsk-text-muted #[i.fa.fa-low-vision(aria-hidden='true')] Hidden
        tr
          td: code bsk-visible-sm-*
          td: span.bsk-text-muted #[i.fa.fa-low-vision(aria-hidden='true')] Hidden
          td
            span.bsk-text-muted.bsk-hidden-sm #[i.fa.fa-eye(aria-hidden='true')] Visible
            span.bsk-text-success.bsk-hidden-xs.bsk-hidden-md.bsk-hidden-lg.bsk-hidden-xl.bsk-hidden-fhd.bsk-visible-sm-inline-block
              i.fa.fa-eye(aria-hidden='true') Visible
          td: span.bsk-text-muted #[i.fa.fa-low-vision(aria-hidden='true')] Hidden
          td: span.bsk-text-muted #[i.fa.fa-low-vision(aria-hidden='true')] Hidden
          td: span.bsk-text-muted #[i.fa.fa-low-vision(aria-hidden='true')] Hidden
          td: span.bsk-text-muted #[i.fa.fa-low-vision(aria-hidden='true')] Hidden
        tr
          td: code bsk-visible-md-*
          td: span.bsk-text-muted #[i.fa.fa-low-vision(aria-hidden='true')] Hidden
          td: span.bsk-text-muted #[i.fa.fa-low-vision(aria-hidden='true')] Hidden
          td
            span.bsk-text-muted.bsk-hidden-md #[i.fa.fa-eye(aria-hidden='true')] Visible
            span.bsk-text-success.bsk-hidden-xs.bsk-hidden-sm.bsk-hidden-lg.bsk-hidden-xl.bsk-hidden-fhd.bsk-visible-md-inline-block
              i.fa.fa-eye(aria-hidden='true') Visible
          td: span.bsk-text-muted #[i.fa.fa-low-vision(aria-hidden='true')] Hidden
          td: span.bsk-text-muted #[i.fa.fa-low-vision(aria-hidden='true')] Hidden
          td: span.bsk-text-muted #[i.fa.fa-low-vision(aria-hidden='true')] Hidden
        tr
          td: code bsk-visible-lg-*
          td: span.bsk-text-muted #[i.fa.fa-low-vision(aria-hidden='true')] Hidden
          td: span.bsk-text-muted #[i.fa.fa-low-vision(aria-hidden='true')] Hidden
          td: span.bsk-text-muted #[i.fa.fa-low-vision(aria-hidden='true')] Hidden
          td
            span.bsk-text-muted.bsk-hidden-lg #[i.fa.fa-eye(aria-hidden='true')] Visible
            span.bsk-text-success.bsk-hidden-xs.bsk-hidden-sm.bsk-hidden-md.bsk-hidden-xl.bsk-hidden-fhd.bsk-visible-lg-inline-block
              i.fa.fa-eye(aria-hidden='true') Visible
          td: span.bsk-text-muted #[i.fa.fa-low-vision(aria-hidden='true')] Hidden
          td: span.bsk-text-muted #[i.fa.fa-low-vision(aria-hidden='true')] Hidden
        tr
          td: code bsk-visible-xl-*
          td: span.bsk-text-muted #[i.fa.fa-low-vision(aria-hidden='true')] Hidden
          td: span.bsk-text-muted #[i.fa.fa-low-vision(aria-hidden='true')] Hidden
          td: span.bsk-text-muted #[i.fa.fa-low-vision(aria-hidden='true')] Hidden
          td: span.bsk-text-muted #[i.fa.fa-low-vision(aria-hidden='true')] Hidden
          td
            span.bsk-text-muted.bsk-hidden-xl #[i.fa.fa-eye(aria-hidden='true')] Visible
            span.bsk-text-success.bsk-hidden-xs.bsk-hidden-sm.bsk-hidden-md.bsk-hidden-lg.bsk-hidden-fhd.bsk-visible-xl-inline-block
              i.fa.fa-eye(aria-hidden='true') Visible
          td: span.bsk-text-muted #[i.fa.fa-low-vision(aria-hidden='true')] Hidden
      tr
          td: code bsk-visible-fhd-*
          td: span.bsk-text-muted #[i.fa.fa-low-vision(aria-hidden='true')] Hidden
          td: span.bsk-text-muted #[i.fa.fa-low-vision(aria-hidden='true')] Hidden
          td: span.bsk-text-muted #[i.fa.fa-low-vision(aria-hidden='true')] Hidden
          td: span.bsk-text-muted #[i.fa.fa-low-vision(aria-hidden='true')] Hidden
          td: span.bsk-text-muted #[i.fa.fa-low-vision(aria-hidden='true')] Hidden
          td
            span.bsk-text-muted.bsk-hidden-fhd #[i.fa.fa-eye(aria-hidden='true')] Visible
            span.bsk-text-success.bsk-hidden-xs.bsk-hidden-sm.bsk-hidden-md.bsk-hidden-lg.bsk-hidden-xl.bsk-visible-fhd-inline-block
              i.fa.fa-eye(aria-hidden='true') Visible
