//-
  sample:
    title: Contextual button - success
    code: .bsk-btn.bsk-btn-success
  collections:
    - core--buttons
  ---

extends ../layouts/app-sample.pug
include ../mixins/app/samples/buttons.pug

block sample
  section.app-sample-section
    header: code button

    +button--button('success')(class='bsk-btn bsk-btn-success')

  section.app-sample-section
    header: code input

    +button--input('success')(class='bsk-btn bsk-btn-success')

  section.app-sample-section
    header Link #[code a]

    +button--a('success')(class='bsk-btn bsk-btn-success')
