//-
  sample:
    title: Standard colours - greyscale
  collections:
    - core--colours
  ---

extends ../layouts/app-sample.pug
include ../mixins/app/samples/colours.pug

block sample
  section.app-sample-section
    header Primitives
    div.bsk-row
      div.bsk-col-12-md-2
        +colour--swatch('White', '$bsk-colour-std-white', '#FFFFFF')(class='app-colour-bsk-colour-std-white')
      div.bsk-col-12-md-2
        +colour--swatch('Black', '$bsk-colour-std-black', '#000000')(class='app-colour-bsk-colour-std-black')

  +colour--swatch-range('Grey', 'grey', '#EEEEEE', '#999999', '#777777', '#555555', '#333333')
