//-
  sample:
    title: Forms - password input
    code: input[type="password"]
  collections:
    - core--forms
  ---

extends ../layouts/app-sample.pug
include ../mixins/app/samples/forms.pug

block sample
  +form-input--collection(type='password')
