//-
  sample:
    title: Forms - number input
    code: input[type="number"]
  collections:
    - core--forms
  ---

extends ../layouts/app-sample.pug
include ../mixins/app/samples/forms.pug

block sample
  +form-input--collection(type='number')
