//-
  sample:
    title: Forms - month input
    code: input[type="month"]
  collections:
    - core--forms
  ---

extends ../layouts/app-sample.pug
include ../mixins/app/samples/forms.pug

block sample
  +form-input--collection(type='month')
