//-
  sample:
    title: Forms - button
    code: button.bsk-btn.bsk-btn-default
  collections:
    - core--forms
  ---

extends ../layouts/app-sample.pug

block sample
  section.app-sample-section
    header Submit
    form
      button.bsk-btn.bsk-btn-default(type='submit') Submit
