//-
  sample:
    title: Form input width - 12 column grid
    code: .bsk-row .bsk-form-group.bsk-col-12-md-*
  collections:
    - core--forms
  ---

extends ../layouts/app-sample.pug
include ../mixins/app/samples/forms.pug
include ../mixins/app/samples/alerts.pug

block append vars
  - bsk_attributes.container_class = '';

block sample
  div.bsk-container-fluid
    +alert('warning', 'outline', 'yes')
      div.bsk-text-center This sample isn't inside a container and may look strange.
    +alert('info', 'highlight', 'yes')
      | Using the medium size 12 column grid, in a fixed-width container. #[br]

  div.bsk-container.app-visible-container.app-spacing-bottom
    +form-grid--columns(12)
