//-
  sample:
    title: Form input height
    code: .bsk-form-group.bsk-form-group-*
  collections:
    - core--forms
  ---

extends ../layouts/app-sample.pug
include ../mixins/app/samples/forms.pug

block sample
  +form-size('Small')(class='bsk-form-group bsk-form-group-sm')
  +form-size('Regular')(class='bsk-form-group')
  +form-size('Large')(class='bsk-form-group bsk-form-group-lg')
