//-
  sample:
    title: Image - thumbnail
    code: .bsk-img-thumbnail
  collections:
    - core--images
  ---

extends ../layouts/app-sample.pug

block sample
  section.app-sample-section
    header Standard
    img.bsk-img-thumbnail(src='/' + testbed_version + '/assets/img/placeholder.png' alt='Thumbnail image')
