//-
  sample:
    title: Label - warning
    code: .bsk-label.bsk-label-warning
  collections:
    - components--labels
  ---

extends ../layouts/app-sample.pug
include ../mixins/app/samples/labels.pug

block sample
  section.app-sample-section
    header Standard
    +label('warning')
