//-
  sample:
    title: Inverse jumbotron
    code: .bsk-jumbotron.bsk-jumbotron-inverse
  collections:
    - components--jumbotrons
  ---

extends ../layouts/app-sample.pug
include ../mixins/app/samples/jumbotrons.pug

block sample
  section.app-sample-section
    header Standard

    +jumbotron(class='bsk-jumbotron-inverse')
      | Jumbotron content
