//-
  sample:
    title: Responsive embed - 6:9
    code: .bsk-embed-responsive.bsk-embed-responsive-6by9
  collections:
    - components--responsive-embeds
  ---

extends ../layouts/app-sample.pug
include ../mixins/app/samples/jumbotrons.pug

block sample
  section.app-sample-section
    header Standard

    div.bsk-embed-responsive.bsk-embed-responsive-16by9
      iframe.bsk-embed-responsive-item(src='https://player.vimeo.com/video/32397612' frameborder='0' webkitallowfullscreen mozallowfullscreen allowfullscreen)
