//-
  sample:
    title: Default thumbnail
    code: .bsk-thumbnail.bsk-thumbnail-default
  collections:
    - components--thumbnails
  ---

extends ../layouts/app-sample.pug
include ../mixins/app/samples/thumbnails.pug

block sample
  +thumbnail--collection()(class='bsk-thumbnail-default')
