//-
  sample:
    title: RSS linked social media icon
    code: .bsk-social-media-link.bsk-rss
  collections:
    - components--social-media
  ---

extends ../layouts/app-sample.pug
include ../mixins/app/samples/social-media.pug

block sample
  +social-media--linked('fa-rss-square')(class='bsk-rss')

  hr

  h4 Notes
  ul: li This sample relies on the optional #[a(href='https://style-kit.web.bas.ac.uk/core/icons/#font-awesome') font awesome icon font]
