//-
  sample:
    title: Drop down menu - header
    code: .bsk-dropdown .bsk-dropdown-menu .bsk-dropdown-header
  collections:
    - components--drop-downs
  ---

extends ../layouts/app-sample.pug
include ../mixins/app/samples/drop-downs.pug

block sample
  section.app-sample-section
    header Standard
    +dropdown--component
      li.bsk-dropdown-header Dropdown header
