//-
  sample:
    title: Linked list group
    code: .bsk-list-group a
  collections:
    - components--list-groups
  ---

extends ../layouts/app-sample.pug

block sample
  section.app-sample-section
    header Standard
    div.bsk-list-group
      a.bsk-list-group-item(href='#') List group item
      a.bsk-list-group-item(href='#') Another list group item
