//-
  sample:
    title: Pill navigation - drop-down item
    code: .bsk-nav.bsk-nav-pills .bsk-dropdown-menu
  collections:
    - components--navs
  ---

extends ../layouts/app-sample.pug
include ../mixins/app/samples/navs.pug

block sample
  section.app-sample-section
    header Standard
    +navs--drop-down('no_long_titles', 'non_interactive', 'no_fade_effect')(class='bsk-nav-pills')

  section.app-sample-section
    header Standard (long titles)
    +navs--drop-down('long_titles', 'non_interactive', 'no_fade_effect')(class='bsk-nav-pills')
