//-
  sample:
    title: Justified pill navigation
    code: .bsk-nav.bsk-nav-justified.bsk-nav-pills
  collections:
    - components--navs
  ---

extends ../layouts/app-sample.pug
include ../mixins/app/samples/navs.pug

block sample
  section.app-sample-section
    header Standard
    +navs--basic('no_long_titles', 'non_interactive', 'no_fade_effect')(class='bsk-nav-justified bsk-nav-pills')
    div.app-spacing-bottom
    +navs--drop-down('no_long_titles', 'non_interactive', 'no_fade_effect')(class='bsk-nav-justified bsk-nav-pills')
