//-
  sample:
    title: Tab navigation - disabled item
    code: .bsk-nav.bsk-nav-tabs .bsk-disabled
  collections:
    - components--navs
  ---

extends ../layouts/app-sample.pug
include ../mixins/app/samples/navs.pug

block sample
  section.app-sample-section
    header Standard
    +navs--variant('disabled')(class='bsk-nav-tabs')
