//-
  sample:
    title: Conventional down menu icon
    code: .bsk-caret
  collections:
    - components--icons
  ---

extends ../layouts/app-sample.pug
include ../mixins/app/samples/navs.pug

block sample
  section.app-sample-section
    span.bsk-caret
