//-
  sample:
    title: Conventional warning icon
    code: .fa.fa-exclamation-triangle
  collections:
    - components--icons
  ---

extends ../layouts/app-sample.pug

block sample
  section.app-sample-section
    span.fa.fa-exclamation-triangle
