//-
  sample:
    title: Conventional information icon
    code: .fa.fa-info
  collections:
    - components--icons
  ---

extends ../layouts/app-sample.pug

block sample
  section.app-sample-section
    span.fa.fa-info
