//-
  sample:
    title: Labelled progress bar
    code: .bsk-progress.bsk-progress-bar
  collections:
    - components--progress-bars
  ---

extends ../layouts/app-sample.pug
include ../mixins/app/samples/progress-bars.pug

block sample
  +progress-bar--sizes('yes')
