//-
  sample:
    title: Navbar - brand image and text
    code: .bsk-navbar .bsk-navbar-header .bsk-navbar-brand
  collections:
    - components--navbars
  ---

extends ../layouts/app-sample.pug
include ../mixins/app/samples/navbars.pug

block sample
  section.app-sample-section
    header 32 pixel image and text in regular navbar using #[code bsk-navbar-brand-image-32]

    +navbar--header
      div.bsk-navbar-brand.bsk-navbar-brand-image-32
        img.bsk-fix-navbar-brand-img-txt(src='/' + testbed_version + '/assets/img/placeholder-32.png' alt='placeholder')
        | Site Name

  section.app-sample-section
    header 48 pixel image and text in large navbar using #[code bsk-navbar-brand-image-48]

    +navbar--header(class='bsk-navbar-lg')
      div.bsk-navbar-brand.bsk-navbar-brand-image-48
        img.bsk-fix-navbar-brand-img-txt(src='/' + testbed_version + '/assets/img/placeholder-48.png' alt='placeholder')
        | Site Name
