//-
  sample:
    title: Fixed top navbar
    code: .bsk-navbar.bsk-navbar-fixed-top
  collections:
    - components--navbars
  ---

extends ../layouts/app-sample.pug
include ../mixins/app/samples/alerts.pug
include ../mixins/app/samples/navbars.pug

block sample
  +alert('warning', 'outline')
    div.bsk-text-center This sample uses absolute positioning and may look strange.

  section.app-sample-section
    header Standard

    +navbar--default(class='bsk-navbar-fixed-top')
      div.bsk-navbar-text Fixed top navbar
