//-
  sample:
    title: Input group - checkbox input
    code: .bsk-form-group .bsk-input-group input[type='checkbox']
  collections:
    - components--input-groups
  ---

extends ../layouts/app-sample.pug
include ../mixins/app/samples/forms.pug

block sample
  section.app-sample-section
    header Before control
    +form-input-group
      span.bsk-input-group-addon
        input(type='checkbox')
      input.bsk-form-control(type='number' placeholder='Amount (sterling, optional surcharge)')

  section.app-sample-section
    header After control
    +form-input-group
      input.bsk-form-control(type='number' placeholder='Amount (thousands)')
      span.bsk-input-group-addon
        input(type='checkbox')

  section.app-sample-section
    header Before and after control
    +form-input-group
      span.bsk-input-group-addon
        input(type='checkbox')
      input.bsk-form-control(type='number' placeholder='Amount (£, thousands)')
      span.bsk-input-group-addon
        input(type='checkbox')
