//-
  sample:
    title: Image copyright - linked
    code: .bsk-image-copyright
  collections:
    - components--image-copyright
  ---

extends ../layouts/app-sample.pug

block sample
  section.app-sample-section
    header Standard

    figure.bsk-image-copyright.app-spacing-bottom
      img.bsk-image-copyright-image(src='/' + testbed_version + '/assets/img/placeholder-800-600.png' alt='thumbnail')
      figcaption.bsk-image-copyright-attribution
        a(href='#') Copyright holder
