//-
  sample:
    title: Jumbotron (with background image) overlay text
    code: .bsk-jumbotron .bsk-jumbotron-overlay
  collections:
    - components--image-copyright
  ---

extends ../layouts/app-sample.pug

block sample
  section.app-sample-section
    header Standard

    div.bsk-jumbotron.bsk-jumbotron-default.app-jumbotron-background-image
      span.bsk-jumbotron-overlay Jumbotron content
