//-
  sample:
    title: GDS colour scheme
    type: experiment
  ---

extends ../layouts/app-sample.pug

block sample
  style.
    .bsk-tb-colour-swatch-EEEEEE {
      background-color: #eee;
    }
    .bsk-tb-colour-swatch-777777 {
      background-color: #777;
    }
    .bsk-tb-colour-swatch-555555 {
      background-color: #555;
    }
    .bsk-tb-colour-swatch-333333 {
      background-color: #333;
    }
    .bsk-tb-colour-swatch-222222 {
      background-color: #222;
    }
    .bsk-tb-colour-swatch-F4F6F9 {
      background-color: #f4f6f9;
    }
    .bsk-tb-colour-swatch-E7EBF1 {
      background-color: #e7ebf1;
    }
    .bsk-tb-colour-swatch-77CCFF {
      background-color: #7cf;
    }
    .bsk-tb-colour-swatch-006AAA {
      background-color: #006aaa;
    }
    .bsk-tb-colour-swatch-003A5D {
      background-color: #003a5d;
    }
    .bsk-tb-colour-swatch-B93E14 {
      background-color: #b93e14;
    }
    .bsk-tb-colour-swatch-0DA59F {
      background-color: #0da59f;
    }
    .bsk-tb-colour-swatch-C3C3C3 {
      background-color: #eee;
    }
    .bsk-tb-colour-swatch-8C8C8C {
      background-color: #eee;
    }
    .bsk-tb-colour-swatch-007AC3 {
      background-color: #007ac3;
    }
    .bsk-tb-colour-swatch-0B8D88 {
      background-color: #0b8d88;
    }
    .bsk-tb-colour-swatch-FFFFFF {
      background-color: #fff;
      border: 1px solid #eee;
    }
    .bsk-tb-colour-swatch-0B0C0C {
      background-color: #0b0c0c;
    }
    .bsk-tb-colour-swatch-6F777B {
      background-color: #6f777b;
    }
    .bsk-tb-colour-swatch-BFC1C3 {
      background-color: #bfc1c3;
    }
    .bsk-tb-colour-swatch-DEE0E2 {
      background-color: #dee0e2;
    }
    .bsk-tb-colour-swatch-F8F8F8 {
      background-color: #f8f8f8;
    }
    .bsk-tb-colour-swatch-2E358B {
      background-color: #2e358b;
    }
    .bsk-tb-colour-swatch-9799C4 {
      background-color: #9799c4;
    }
    .bsk-tb-colour-swatch-D5D6E7 {
      background-color: #d5d6e7;
    }
    .bsk-tb-colour-swatch-6F72AF {
      background-color: #6f72af;
    }
    .bsk-tb-colour-swatch-B7B9D7 {
      background-color: #b7b9d7;
    }
    .bsk-tb-colour-swatch-E2E2EF {
      background-color: #e2e2ef;
    }
    .bsk-tb-colour-swatch-912B88 {
      background-color: #912b88;
    }
    .bsk-tb-colour-swatch-C994C3 {
      background-color: #c994c3;
    }
    .bsk-tb-colour-swatch-E9D4E6 {
      background-color: #e9d4e6;
    }
    .bsk-tb-colour-swatch-D53880 {
      background-color: #d53880;
    }
    .bsk-tb-colour-swatch-EB9BBE {
      background-color: #eb9bbe;
    }
    .bsk-tb-colour-swatch-F6D7E5 {
      background-color: #f6d7e5;
    }
    .bsk-tb-colour-swatch-F499BE {
      background-color: #f499be;
    }
    .bsk-tb-colour-swatch-FACCDF {
      background-color: #faccdf;
    }
    .bsk-tb-colour-swatch-FDEBF2 {
      background-color: #fdebf2;
    }
    .bsk-tb-colour-swatch-B10E1E {
      background-color: #b10e1e;
    }
    .bsk-tb-colour-swatch-D9888C {
      background-color: #d9888c;
    }
    .bsk-tb-colour-swatch-EFCFD1 {
      background-color: #efcfd1;
    }
    .bsk-tb-colour-swatch-DF3034 {
      background-color: #df3034;
    }
    .bsk-tb-colour-swatch-EF9998 {
      background-color: #ef9998;
    }
    .bsk-tb-colour-swatch-F9D6D6 {
      background-color: #f9d6d6;
    }
    .bsk-tb-colour-swatch-F47738 {
      background-color: #f47738;
    }
    .bsk-tb-colour-swatch-FABB96 {
      background-color: #fabb96;
    }
    .bsk-tb-colour-swatch-FDE4D4 {
      background-color: #fde4d4;
    }
    .bsk-tb-colour-swatch-B58840 {
      background-color: #b58840;
    }
    .bsk-tb-colour-swatch-DAA39C {
      background-color: #daa39c;
    }
    .bsk-tb-colour-swatch-F0E7D7 {
      background-color: #f0e7d7;
    }
    .bsk-tb-colour-swatch-FFBF47 {
      background-color: #ffbf47;
    }
    .bsk-tb-colour-swatch-FFDF94 {
      background-color: #ffdf94;
    }
    .bsk-tb-colour-swatch-FFF2D3 {
      background-color: #fff2d3;
    }
    .bsk-tb-colour-swatch-85994B {
      background-color: #85994b;
    }
    .bsk-tb-colour-swatch-C2CCA3 {
      background-color: #c2cca3;
    }
    .bsk-tb-colour-swatch-E7EBDA {
      background-color: #e7ebda;
    }
    .bsk-tb-colour-swatch-006435 {
      background-color: #006435;
    }
    .bsk-tb-colour-swatch-7FB299 {
      background-color: #7fb299;
    }
    .bsk-tb-colour-swatch-CCE0D6 {
      background-color: #cce0d6;
    }
    .bsk-tb-colour-swatch-28A197 {
      background-color: #28a197;
    }
    .bsk-tb-colour-swatch-95D0CB {
      background-color: #95d0cb;
    }
    .bsk-tb-colour-swatch-D5ECEA {
      background-color: #d5ecea;
    }
    .bsk-tb-colour-swatch-2B8CC4 {
      background-color: #2b8cc4;
    }
    .bsk-tb-colour-swatch-95C6E2 {
      background-color: #95c6e2;
    }
    .bsk-tb-colour-swatch-D5E8F3 {
      background-color: #60a9d3;
    }
    .bsk-tb-colour-swatch-005EA5 {
      background-color: #005ea5;
    }
    .bsk-tb-colour-swatch-80AFD2 {
      background-color: #80afd2;
    }
    .bsk-tb-colour-swatch-4086BC {
      background-color: #4086bc;
    }
    .bsk-tb-colour-swatch-5CB85C {
      background-color: #5cb85c;
    }
    .bsk-tb-colour-swatch-F0AD4E {
      background-color: #f0ad4e;
    }
    .bsk-tb-colour-swatch-D9534F {
      background-color: #d9534f;
    }
    .bsk-tb-colour-swatch-5BC0DE {
      background-color: #5bc0de;
    }

  <div class="bsk-row">
    <div class="bsk-col-12-md-4">
      <h4 class="bsk-text-info">GDS Extended</h4>

      <p class="bsk-text-info">Blue - <var>$gds-es-light-blue;</var> - <code>#2B8CC4</code></p>
      <div class="app-colour-swatch bsk-tb-colour-swatch-2B8CC4"></div>

      <p class="bsk-text-info">Blue light - <var>$gds-es-light-blue-light;</var> - <code>#95C6E2</code></p>
      <div class="app-colour-swatch bsk-tb-colour-swatch-95C6E2"></div>

      <p class="bsk-text-info">Blue lighter - <var>$gds-es-light-blue-lighter;</var> - <code>#D5E8F3</code></p>
      <div class="app-colour-swatch bsk-tb-colour-swatch-D5E8F3"></div>

      <p class="bsk-text-info">Mellow Red - <var>$gds-es-mellow-red;</var> - <code>#DF3034</code></p>
      <div class="app-colour-swatch bsk-tb-colour-swatch-DF3034"></div>

      <p class="bsk-text-info">Mellow Red light - <var>$gds-es-mellow-red-light;</var> - <code>#EF9998</code></p>
      <div class="app-colour-swatch bsk-tb-colour-swatch-EF9998"></div>

      <p class="bsk-text-info">Mellow Red lighter - <var>$gds-es-mellow-red-lighter;</var> - <code>#F9D6D6</code></p>
      <div class="app-colour-swatch bsk-tb-colour-swatch-F9D6D6"></div>

      <p class="bsk-text-info">Red - <var>$gds-es-red;</var> - <code>#B10E1E</code></p>
      <div class="app-colour-swatch bsk-tb-colour-swatch-B10E1E"></div>

      <p class="bsk-text-info">Red light - <var>$gds-es-red-light;</var> - <code>#D9888C</code></p>
      <div class="app-colour-swatch bsk-tb-colour-swatch-D9888C"></div>

      <p class="bsk-text-info">Red lighter - <var>$gds-es-red-lighter;</var> - <code>#EFCFD1</code></p>
      <div class="app-colour-swatch bsk-tb-colour-swatch-EFCFD1"></div>

      <p class="bsk-text-info">Turqoise - <var>$gds-es-turquoise;</var> - <code>#28A197</code></p>
      <div class="app-colour-swatch bsk-tb-colour-swatch-28A197"></div>

      <p class="bsk-text-info">Turqoise light - <var>$gds-es-turquoise-light;</var> - <code>#95D0CB</code></p>
      <div class="app-colour-swatch bsk-tb-colour-swatch-95D0CB"></div>

      <p class="bsk-text-info">Turqoise lighter - <var>$gds-es-turquoise-lighter;</var> - <code>#D5ECEA</code></p>
      <div class="app-colour-swatch bsk-tb-colour-swatch-D5ECEA"></div>

      <p class="bsk-text-info">Purple - <var>$gds-es-purple</var> - <code>#2E358B</code></p>
      <div class="app-colour-swatch bsk-tb-colour-swatch-2E358B"></div>

      <p class="bsk-text-info">Purple light - <var>$gds-es-purple-light</var> - <code>#9799C4</code></p>
      <div class="app-colour-swatch bsk-tb-colour-swatch-9799C4"></div>

      <p class="bsk-text-info">Purple lighter - <var>$gds-es-purple-lighter</var> - <code>#D5D6E7</code></p>
      <div class="app-colour-swatch bsk-tb-colour-swatch-D5D6E7"></div>

      <p class="bsk-text-info">Mauve - <var>$gds-es-mauve</var> - <code>#6F72AF</code></p>
      <div class="app-colour-swatch bsk-tb-colour-swatch-6F72AF"></div>

      <p class="bsk-text-info">Mauve light - <var>$gds-es-mauve-light</var> - <code>#B7B9D7</code></p>
      <div class="app-colour-swatch bsk-tb-colour-swatch-B7B9D7"></div>

      <p class="bsk-text-info">Mauve lighter - <var>$gds-es-mauve-lighter</var> - <code>#E2E2EF</code></p>
      <div class="app-colour-swatch bsk-tb-colour-swatch-E2E2EF"></div>

      <p class="bsk-text-info">Fuschia - <var>$gds-es-fuschia;</var> - <code>#912B88</code></p>
      <div class="app-colour-swatch bsk-tb-colour-swatch-912B88"></div>

      <p class="bsk-text-info">Fuschia light - <var>$gds-es-fuschia-light;</var> - <code>#C994C3</code></p>
      <div class="app-colour-swatch bsk-tb-colour-swatch-C994C3"></div>

      <p class="bsk-text-info">Fushchia lighter - <var>$gds-es-fuschia-lighter;</var> - <code>#E9D4E6</code></p>
      <div class="app-colour-swatch bsk-tb-colour-swatch-E9D4E6"></div>

      <p class="bsk-text-info">Pink - <var>$gds-es-pink;</var> - <code>#D53880</code></p>
      <div class="app-colour-swatch bsk-tb-colour-swatch-D53880"></div>

      <p class="bsk-text-info">Pink light - <var>$gds-es-pink-light;</var> - <code>#EB9BBE</code></p>
      <div class="app-colour-swatch bsk-tb-colour-swatch-EB9BBE"></div>

      <p class="bsk-text-info">Pink lighter - <var>$gds-es-pink-lighter;</var> - <code>#F6D7E5</code></p>
      <div class="app-colour-swatch bsk-tb-colour-swatch-F6D7E5"></div>

      <p class="bsk-text-info">Baby Pink - <var>$gds-es-baby-pink;</var> - <code>#F499BE</code></p>
      <div class="app-colour-swatch bsk-tb-colour-swatch-F499BE"></div>

      <p class="bsk-text-info">Baby Pink light - <var>$gds-es-baby-pink-light;</var> - <code>#FACCDF</code></p>
      <div class="app-colour-swatch bsk-tb-colour-swatch-FACCDF"></div>

      <p class="bsk-text-info">Baby Pink lighter - <var>$gds-es-baby-pink-lighter;</var> - <code>#FDEBF2</code></p>
      <div class="app-colour-swatch bsk-tb-colour-swatch-FDEBF2"></div>

      <p class="bsk-text-info">Organge - <var>$gds-es-orange;</var> - <code>#F47738</code></p>
      <div class="app-colour-swatch bsk-tb-colour-swatch-F47738"></div>

      <p class="bsk-text-info">Organge light - <var>$gds-es-orange-light;</var> - <code>#FABB96</code></p>
      <div class="app-colour-swatch bsk-tb-colour-swatch-FABB96"></div>

      <p class="bsk-text-info">Organge lighter - <var>$gds-es-orange-lighter;</var> - <code>#FDE4D4</code></p>
      <div class="app-colour-swatch bsk-tb-colour-swatch-FDE4D4"></div>

      <p class="bsk-text-info">Brown - <var>$gds-es-brown;</var> - <code>#B58840</code></p>
      <div class="app-colour-swatch bsk-tb-colour-swatch-B58840"></div>

      <p class="bsk-text-info">Brown light - <var>$gds-es-brown-light;</var> - <code>#DAA39C</code></p>
      <div class="app-colour-swatch bsk-tb-colour-swatch-DAA39C"></div>

      <p class="bsk-text-info">Brown lighter - <var>$gds-es-brown-lighter;</var> - <code>#F0E7D7</code></p>
      <div class="app-colour-swatch bsk-tb-colour-swatch-F0E7D7"></div>

      <p class="bsk-text-info">Yellow - <var>$gds-es-yellow;</var> - <code>#F0E7D7</code></p>
      <div class="app-colour-swatch bsk-tb-colour-swatch-FFBF47"></div>

      <p class="bsk-text-info">Yellow light - <var>$gds-es-yellow-light;</var> - <code>#FFDF94</code></p>
      <div class="app-colour-swatch bsk-tb-colour-swatch-FFDF94"></div>

      <p class="bsk-text-info">Yellow lighter - <var>$gds-es-yellow-lighter;</var> - <code>#FFF2D3</code></p>
      <div class="app-colour-swatch bsk-tb-colour-swatch-FFF2D3"></div>

      <p class="bsk-text-info">Grass Green - <var>$gds-es-grass-green;</var> - <code>#85994B</code></p>
      <div class="app-colour-swatch bsk-tb-colour-swatch-85994B"></div>

      <p class="bsk-text-info">Grass Green light - <var>$gds-es-grass-green-light;</var> - <code>#C2CCA3</code></p>
      <div class="app-colour-swatch bsk-tb-colour-swatch-C2CCA3"></div>

      <p class="bsk-text-info">Grass Green lighter - <var>$gds-es-grass-green-lighter;</var> - <code>#E7EBDA</code></p>
      <div class="app-colour-swatch bsk-tb-colour-swatch-E7EBDA"></div>

      <p class="bsk-text-info">Green - <var>$gds-es-green;</var> - <code>#006435</code></p>
      <div class="app-colour-swatch bsk-tb-colour-swatch-006435"></div>

      <p class="bsk-text-info">Green light - <var>$gds-es-green-light;</var> - <code>#7FB299</code></p>
      <div class="app-colour-swatch bsk-tb-colour-swatch-7FB299"></div>

      <p class="bsk-text-info">Green lighter - <var>$gds-es-green-lighter;</var> - <code>#CCE0D6</code></p>
      <div class="app-colour-swatch bsk-tb-colour-swatch-CCE0D6"></div>

      <p class="bsk-text-info">Blue - <var>$gds-es-blue;</var> - <code>#005EA5</code></p>
      <div class="app-colour-swatch bsk-tb-colour-swatch-005EA5"></div>

      <p class="bsk-text-info">Blue light - <var>$gds-es-blue-light;</var> - <code>#80AFD2</code></p>
      <div class="app-colour-swatch bsk-tb-colour-swatch-80AFD2"></div>

      <p class="bsk-text-info">Blue lighter - <var>$gds-es-blue-lighter;</var> - <code>#4086BC</code></p>
      <div class="app-colour-swatch bsk-tb-colour-swatch-4086BC"></div>
    </div>
    <div class="bsk-col-12-md-4">
      <h4 class="bsk-text-info">Bootstrap Contextual</h4>

      <p class="bsk-text-info">Info - <var>$brand-info</var> - <code>#5BC0DE</code></p>
      <div class="app-colour-swatch bsk-tb-colour-swatch-5BC0DE"></div>
      <p class="bsk-text-info">(Spacer)</p>
      <div class="bsk-tb-colour-swatch"></div>
      <p class="bsk-text-info">(Spacer)</p>
      <div class="bsk-tb-colour-swatch"></div>

      <p class="bsk-text-info">Danger - <var>$brand-danger</var> - <code>#D9534F</code></p>
      <div class="app-colour-swatch bsk-tb-colour-swatch-D9534F"></div>
      <p class="bsk-text-info">(Spacer)</p>
      <div class="bsk-tb-colour-swatch"></div>
      <p class="bsk-text-info">(Spacer)</p>
      <div class="bsk-tb-colour-swatch"></div>

      <p class="bsk-text-info">(Spacer)</p>
      <div class="bsk-tb-colour-swatch"></div>
      <p class="bsk-text-info">(Spacer)</p>
      <div class="bsk-tb-colour-swatch"></div>
      <p class="bsk-text-info">(Spacer)</p>
      <div class="bsk-tb-colour-swatch"></div>

      <p class="bsk-text-info">(Spacer)</p>
      <div class="bsk-tb-colour-swatch"></div>
      <p class="bsk-text-info">(Spacer)</p>
      <div class="bsk-tb-colour-swatch"></div>
      <p class="bsk-text-info">(Spacer)</p>
      <div class="bsk-tb-colour-swatch"></div>

      <p class="bsk-text-info">(Spacer)</p>
      <div class="bsk-tb-colour-swatch"></div>
      <p class="bsk-text-info">(Spacer)</p>
      <div class="bsk-tb-colour-swatch"></div>
      <p class="bsk-text-info">(Spacer)</p>
      <div class="bsk-tb-colour-swatch"></div>

      <p class="bsk-text-info">(Spacer)</p>
      <div class="bsk-tb-colour-swatch"></div>
      <p class="bsk-text-info">(Spacer)</p>
      <div class="bsk-tb-colour-swatch"></div>
      <p class="bsk-text-info">(Spacer)</p>
      <div class="bsk-tb-colour-swatch"></div>

      <p class="bsk-text-info">(Spacer)</p>
      <div class="bsk-tb-colour-swatch"></div>
      <p class="bsk-text-info">(Spacer)</p>
      <div class="bsk-tb-colour-swatch"></div>
      <p class="bsk-text-info">(Spacer)</p>
      <div class="bsk-tb-colour-swatch"></div>

      <p class="bsk-text-info">(Spacer)</p>
      <div class="bsk-tb-colour-swatch"></div>
      <p class="bsk-text-info">(Spacer)</p>
      <div class="bsk-tb-colour-swatch"></div>
      <p class="bsk-text-info">(Spacer)</p>
      <div class="bsk-tb-colour-swatch"></div>

      <p class="bsk-text-info">(Spacer)</p>
      <div class="bsk-tb-colour-swatch"></div>
      <p class="bsk-text-info">(Spacer)</p>
      <div class="bsk-tb-colour-swatch"></div>
      <p class="bsk-text-info">(Spacer)</p>
      <div class="bsk-tb-colour-swatch"></div>

      <p class="bsk-text-info">(Spacer)</p>
      <div class="bsk-tb-colour-swatch"></div>
      <p class="bsk-text-info">(Spacer)</p>
      <div class="bsk-tb-colour-swatch"></div>
      <p class="bsk-text-info">(Spacer)</p>
      <div class="bsk-tb-colour-swatch"></div>

      <p class="bsk-text-info">(Spacer)</p>
      <div class="bsk-tb-colour-swatch"></div>
      <p class="bsk-text-info">(Spacer)</p>
      <div class="bsk-tb-colour-swatch"></div>
      <p class="bsk-text-info">(Spacer)</p>
      <div class="bsk-tb-colour-swatch"></div>

      <p class="bsk-text-info">Warning - <var>$brand-warning</var> - <code>#F0AD4E</code></p>
      <div class="app-colour-swatch bsk-tb-colour-swatch-F0AD4E"></div>
      <p class="bsk-text-info">(Spacer)</p>
      <div class="bsk-tb-colour-swatch"></div>
      <p class="bsk-text-info">(Spacer)</p>
      <div class="bsk-tb-colour-swatch"></div>

      <p class="bsk-text-info">Success - <var>$brand-success</var> - <code>#5CB85C</code></p>
      <div class="app-colour-swatch bsk-tb-colour-swatch-5CB85C"></div>
    </div>
    <div class="bsk-col-12-md-4">
      <h4 class="bsk-text-info">Style Kit Colour</h4>

      <p class="bsk-text-info">BAS blue light - <var>$bsk-blue-light</var> - <code>#77CCFF</code></p>
      <div class="app-colour-swatch bsk-tb-colour-swatch-77CCFF"></div>
      <p class="bsk-text-info">(Spacer)</p>
      <div class="bsk-tb-colour-swatch"></div>
      <p class="bsk-text-info">(Spacer)</p>
      <div class="bsk-tb-colour-swatch"></div>

      <p class="bsk-text-info">BAS red - <var>$bsk-red</var> - <code>#B93E14</code></p>
      <div class="app-colour-swatch bsk-tb-colour-swatch-B93E14"></div>
      <p class="bsk-text-info">(Spacer)</p>
      <div class="bsk-tb-colour-swatch"></div>
      <p class="bsk-text-info">(Spacer)</p>
      <div class="bsk-tb-colour-swatch"></div>

      <p class="bsk-text-info">(Spacer)</p>
      <div class="bsk-tb-colour-swatch"></div>
      <p class="bsk-text-info">(Spacer)</p>
      <div class="bsk-tb-colour-swatch"></div>
      <p class="bsk-text-info">(Spacer)</p>
      <div class="bsk-tb-colour-swatch"></div>

      <p class="bsk-text-info">BAS Turquoise - <var>$bsk-bas-turquoise</var> - <code>#0DA59F</code></p>
      <div class="app-colour-swatch bsk-tb-colour-swatch-0DA59F"></div>
      <p class="bsk-text-info">(Spacer)</p>
      <div class="bsk-tb-colour-swatch"></div>
      <p class="bsk-text-info">(Spacer)</p>
      <div class="bsk-tb-colour-swatch"></div>

      <p class="bsk-text-info">(Spacer)</p>
      <div class="bsk-tb-colour-swatch"></div>
      <p class="bsk-text-info">(Spacer)</p>
      <div class="bsk-tb-colour-swatch"></div>
      <p class="bsk-text-info">(Spacer)</p>
      <div class="bsk-tb-colour-swatch"></div>

      <p class="bsk-text-info">(Spacer)</p>
      <div class="bsk-tb-colour-swatch"></div>
      <p class="bsk-text-info">(Spacer)</p>
      <div class="bsk-tb-colour-swatch"></div>
      <p class="bsk-text-info">(Spacer)</p>
      <div class="bsk-tb-colour-swatch"></div>

      <p class="bsk-text-info">(Spacer)</p>
      <div class="bsk-tb-colour-swatch"></div>
      <p class="bsk-text-info">(Spacer)</p>
      <div class="bsk-tb-colour-swatch"></div>
      <p class="bsk-text-info">(Spacer)</p>
      <div class="bsk-tb-colour-swatch"></div>

      <p class="bsk-text-info">(Spacer)</p>
      <div class="bsk-tb-colour-swatch"></div>
      <p class="bsk-text-info">(Spacer)</p>
      <div class="bsk-tb-colour-swatch"></div>
      <p class="bsk-text-info">(Spacer)</p>
      <div class="bsk-tb-colour-swatch"></div>

      <p class="bsk-text-info">(Spacer)</p>
      <div class="bsk-tb-colour-swatch"></div>
      <p class="bsk-text-info">(Spacer)</p>
      <div class="bsk-tb-colour-swatch"></div>
      <p class="bsk-text-info">(Spacer)</p>
      <div class="bsk-tb-colour-swatch"></div>

      <p class="bsk-text-info">(Spacer)</p>
      <div class="bsk-tb-colour-swatch"></div>
      <p class="bsk-text-info">(Spacer)</p>
      <div class="bsk-tb-colour-swatch"></div>
      <p class="bsk-text-info">(Spacer)</p>
      <div class="bsk-tb-colour-swatch"></div>

      <p class="bsk-text-info">(Spacer)</p>
      <div class="bsk-tb-colour-swatch"></div>
      <p class="bsk-text-info">(Spacer)</p>
      <div class="bsk-tb-colour-swatch"></div>
      <p class="bsk-text-info">(Spacer)</p>
      <div class="bsk-tb-colour-swatch"></div>

      <p class="bsk-text-info">(Spacer)</p>
      <div class="bsk-tb-colour-swatch"></div>
      <p class="bsk-text-info">(Spacer)</p>
      <div class="bsk-tb-colour-swatch"></div>
      <p class="bsk-text-info">(Spacer)</p>
      <div class="bsk-tb-colour-swatch"></div>

      <p class="bsk-text-info">(Spacer)</p>
      <div class="bsk-tb-colour-swatch"></div>
      <p class="bsk-text-info">(Spacer)</p>
      <div class="bsk-tb-colour-swatch"></div>
      <p class="bsk-text-info">(Spacer)</p>
      <div class="bsk-tb-colour-swatch"></div>

      <p class="bsk-text-info">(Spacer)</p>
      <div class="bsk-tb-colour-swatch"></div>
      <p class="bsk-text-info">(Spacer)</p>
      <div class="bsk-tb-colour-swatch"></div>
      <p class="bsk-text-info">(Spacer)</p>
      <div class="bsk-tb-colour-swatch"></div>

      <p class="bsk-text-info">BAS blue - <var>$bsk-blue</var> - <code>#006AAA</code></p>
      <div class="app-colour-swatch bsk-tb-colour-swatch-006AAA"></div>
      <p class="bsk-text-info">(Spacer)</p>
      <div class="bsk-tb-colour-swatch"></div>
      <p class="bsk-text-info">(Spacer)</p>
      <div class="bsk-tb-colour-swatch"></div>

      <p class="bsk-text-info">BAS blue-dark (BAS Brand) - <var>$bsk-blue</var> - <code>#003A5D</code></p>
      <div class="app-colour-swatch bsk-tb-colour-swatch-003A5D"></div>
      <p class="bsk-text-info">(Spacer)</p>
      <div class="bsk-tb-colour-swatch"></div>
    </div>
  </div>

  <hr />
  <h4>Notes</h4>
  <ul>
    <li>This experiment was used to determine which colours and variants of the GDS, Bootstrap and Style Kit would be used to define the standard colour scheme</li>
  </ul>
