//-
  sample:
    title: Striped table with hover rows
    code: .bsk-table.bsk-table-striped.bsk-table-hover
  collections:
    - core--tables
  ---

extends ../layouts/app-sample.pug
include ../mixins/app/samples/tables.pug

block sample
  section.app-sample-section
    header Table only

    +table--body-only(class='bsk-table bsk-table-striped bsk-table-hover')

  section.app-sample-section
    header Table with header and body

    +table--header-body(class='bsk-table bsk-table-striped bsk-table-hover')

  section.app-sample-section
    header Table with header, body and footer

    +table--header-body-footer(class='bsk-table bsk-table-striped bsk-table-hover')
