//-
  sample:
    title: Label - beta development phase
    code: .bsk-label.bsk-label-phase-beta
  collections:
    - components--labels
  ---

extends ../layouts/app-sample.pug
include ../mixins/app/samples/labels.pug

block sample
  section.app-sample-section
    header Standard
    div
      +label('phase-beta')
        | Label
