//-
  sample:
    title: Label - live development phase
    code: .bsk-label.bsk-label-phase-live
  collections:
    - components--labels
  ---

extends ../layouts/app-sample.pug
include ../mixins/app/samples/labels.pug

block sample
  section.app-sample-section
    header Standard
    div
      +label('phase-live')
        | Label
