//-
  sample:
    title: Alert - highlight - info
    code: .bsk-alert.bsk-alert-highlight.bsk-alert-info
  collections:
    - components--alerts
  ---

extends ../layouts/app-sample.pug
include ../mixins/app/samples/alerts.pug

block sample
  +alert--collection('info', 'highlight')
