//-
  sample:
    title: Alert block - danger
    code: .bsk-alert.bsk-alert-block.bsk-alert-*.bsk-alert-danger
  collections:
    - components--alerts
  ---

extends ../layouts/app-sample.pug
include ../mixins/app/samples/alerts.pug

block sample
  +alert-block--collection('danger', 'fa-exclamation-circle')
