//-
  sample:
    title: Cookie alert banner
    code: .bsk-alert.bsk-alert-solid.bsk-alert-cookie-notice
    type: experiment
  collections:
    - components--alerts
  ---

extends ../layouts/app-sample.pug

block sample
  <h4 class="bsk-tb-margin-top bsk-tb-sample-sub-heading">Standalone</h4>
  <div class="bsk-alert bsk-alert-static-top bsk-alert-dismissible bsk-alert-solid bsk-alert-cookie-notice" role="alert" data-bsk-role="cookie-notice">
    <button type="button" class="bsk-close" data-dismiss="alert" aria-label="Close">&times;</button>
    This website uses cookies to help us make it better - <a href="#" class="bsk-alert-link">find out more</a>.
  </div>

  <h4 class="bsk-tb-margin-top bsk-tb-sample-sub-heading">With navbar</h4>
  <div class="bsk-alert bsk-alert-static-top bsk-alert-dismissible bsk-alert-solid bsk-alert-cookie-notice" role="alert">
    <button type="button" class="bsk-close" data-dismiss="alert" aria-label="Close">&times;</button>
    This website uses cookies to help us make it better - <a href="#" class="bsk-alert-link">find out more</a>.
  </div>
  <nav class="bsk-navbar bsk-navbar-static-top">
    <div class="bsk-container-fluid">
    </div>
  </nav>

  <h4>Notes</h4>
  <ul>
    <li>This sample loads <code>jQuery</code> and <code>js.cookie</code> libraries from the BAS CDN</li>
    <li>This sample loads the <code>alert</code> (bootstrap-override) and <code>cookie-notice</code> plugins from the BAS CDN (Dev)</code>
    <li>The standalone cookie notice (with the <code>data-bsk-role="cookie-notice"</code>) is the real cookie notice for this site</li>
    <li>Closing this cookie notice will trigger a cookie to be left, hiding the element from subsequent page until manually cleared, or after 30 days</li>
  </ul>
