//-
  sample:
    title: BAS inverse logo
  collections:
    - components--logos
  ---

extends ../layouts/app-sample.pug
include ../mixins/app/samples/logos.pug

block sample
  section.app-sample-section
    header White background
    +logomark--bas('bas-logo-inverse-transparent')(class='app-logomark-bg-white')

  section.app-sample-section
    header Black background
    +logomark--bas('bas-logo-inverse-transparent')(class='app-logomark-bg-black')

  section.app-sample-section
    header Transparent background
    +logomark--bas('bas-logo-inverse-transparent')(class='app-logomark-bg-transparent')
