//-
  sample:
    title: Label - experimental
    code: .bsk-label.bsk-label-experimental
  collections:
    - components--labels
  ---

extends ../layouts/app-sample.pug
include ../mixins/app/samples/labels.pug

block sample
  section.app-sample-section
    header Standard
    div
      +label('experimental')
        | Label
