//-
  sample:
    title: Contextual button - experimental
    code: .bsk-btn.bsk-btn-experimental
  collections:
    - core--buttons
  ---

extends ../layouts/app-sample.pug
include ../mixins/app/samples/buttons.pug

block sample
  section.app-sample-section
    header: code button

    +button--button('experimental')(class='bsk-btn bsk-btn-experimental')

  section.app-sample-section
    header: code input

    +button--input('experimental')(class='bsk-btn bsk-btn-experimental')

  section.app-sample-section
    header Link #[code a]

    +button--a('experimental')(class='bsk-btn bsk-btn-experimental')
