//-
  sample:
    title: Font styles non-minified
    type: experiment
  ---

extends ../layouts/app-sample.pug

block append variables
  - attributes.site_styles = [];
  - attributes.site_styles.push({href: '/' + testbed_version + '/dist/css/fonts-bsk.css'});

block sample
  style.
    .bsk-tb-ff-open-sans-regular {
      font-family: "Open Sans";
      font-weight: normal;
    }
    .bsk-tb-ff-gill-sans-book  {
      font-family: "Gill Sans";
      font-weight: 200;
    }
    .bsk-tb-ff-menlo-regular {
      font-family: Menlo;
    }
    .bsk-tb-ff-helvetica-neue-regular {
      font-family: "Helvetica Neue";
    }

  <h2 class="bsk-tb-ff-helvetica-neue-regular">Heading 2 - Helvetica Neue (local font)</h2>
  <h2 class="bsk-tb-ff-open-sans-regular">Heading 2 - Open Sans (remote font-face [by us])</h2>
  <h2 class="bsk-tb-ff-gill-sans-book">Heading 2 - Gill Sans (remote font-face [not by us])</h2>
  <h2 class="bsk-tb-ff-menlo-regular">Heading 2 - Menlo (local font)</h2>

  <hr />
  <h4>Notes</h4>
  <ul>
    <li>This experiment was used to check the minified and non-minified version of the <code>bsk-fonts.css</code> file work</li>
    <li>It was used when the minified version of these styles failed to work correctly (the font was not loaded)</li>
    <li>This sample tests the <strong>Un-minified</strong> version</li>
    <li>Where this test is working the 'Heading 2 - Helvetica Neue' and 'Heading 2 - Open Sans' will appear different</li>
    <li>This test overrides all testbed layouts to load a non-standard style-sheet combination</li>
    <li>Most typical styles are not applied in this sample, except for testing fonts</li>
  </ul>
