//-
  sample:
    title: Image copyright HTML elements
    type: experiment
  ---

extends ../layouts/app-sample.pug

block sample
  <h4 class="bsk-tb-margin-top bsk-tb-sample-sub-heading">Using <em>div</em> (original)</h4>
  <div class="bsk-image-copyright">
    <img class="bsk-image-copyright-image" src="https://placeholdit.imgix.net/~text?txtsize=38&txt=Media%20Item&w=800&h=500" alt="thumbnail">
    <div class="bsk-image-copyright-attribution">Copyright holder</div>
  </div>

  <h4 class="bsk-tb-margin-top bsk-tb-sample-sub-heading">Using <em>figure</em> and <em>figcaption</em></h4>
  <figure class="bsk-image-copyright">
    <img class="bsk-image-copyright-image" src="https://placeholdit.imgix.net/~text?txtsize=38&txt=Media%20Item&w=800&h=500" alt="thumbnail">
    <figcaption class="bsk-image-copyright-attribution">Copyright holder</figcaption>
  </figure>

  <hr />
  <h4>Notes</h4>
  <ul>
    <li>This experiment was used to see if the <em>figure</em> and <em>figcaption</em> HTML elements would be more
    suitable for an image copyright component (providing an image was being described)</li>
  </ul>
