//-
  sample:
    title: Conventional back to top icon
    code: .fa.fa-chevron-up
  collections:
    - components--icons
  ---

extends ../layouts/app-sample.pug

block sample
  section.app-sample-section
    span.fa.fa-chevron-up
