//-
  sample:
    title: Extended colours
  collections:
    - core--colours
  ---

extends ../layouts/app-sample.pug
include ../mixins/app/samples/colours.pug

block sample
  section.app-sample-section
    div.bsk-row
      div.bsk-col-12-md-2
        +colour--swatch('Grey lighter light', '$bsk-colour-ext-grey-lighter-light', '#F7F7F7')(class='app-colour-bsk-colour-ext-grey-lighter-light')
        p.bsk-text-info Required for contrast within tables
      div.bsk-col-12-md-2
        +colour--swatch('Grey darker dark', '$bsk-colour-ext-grey-darker-dark', '#222222')(class='app-colour-bsk-colour-ext-grey-darker-dark')
        p.bsk-text-info Required for contrast within navbars
      div.bsk-col-12-md-2
        +colour--swatch('Sky blue lighter light', '$bsk-colour-ext-sky-blue-lighter-light', '#E6F1F8')(class='app-colour-bsk-colour-ext-sky-blue-lighter-light')
        p.bsk-text-info Required for contrast within inline code element
    div.bsk-row
      div.bsk-col-12-md-2
        +colour--swatch('Twitter base', '$bsk-colour-ext-twitter-base', '#55ACEE')(class='app-colour-bsk-colour-ext-twitter-base')
        p.bsk-text-info Required to comply with third party branding guidelines
      div.bsk-col-12-md-2
        +colour--swatch('Facebook base', '$bsk-colour-ext-facebook-base', '#3B5998')(class='app-colour-bsk-colour-ext-facebook-base')
        p.bsk-text-info Required to comply with third party branding guidelines
      div.bsk-col-12-md-2
        +colour--swatch('YouTube base', '$bsk-colour-ext-youtube-base', '#CD201F')(class='app-colour-bsk-colour-ext-youtube-base')
        p.bsk-text-info Required to comply with third party branding guidelines
      div.bsk-col-12-md-2
        +colour--swatch('RSS base', '$bsk-colour-ext-rss-base', '#F26522')(class='app-colour-bsk-colour-ext-rss-base')
        p.bsk-text-info Required to comply with conventions around using RSS
    div.bsk-row
      div.bsk-col-12-md-2
        +colour--swatch('Purple base', '$bsk-colour-ext-purple-base', '#2E358B')(class='app-colour-bsk-colour-ext-purple-base')
        p.bsk-text-info Required for an additional development stage in the GDS lifecycle
