//-
  sample:
    title: Footer combinations
    type: experiment
  ---

extends ../layouts/app-sample.pug
include ../mixins/app/samples/footers.pug

block sample

  section.app-sample-section
    header Simple content

    | End of page content

    +footer--default
      | Footer content

  section.app-sample-section
    header Complex content

    | End of page content

    +footer--default
      div.bsk-footer-is-something-wrong
        a(href='#') Is something wrong with this page?
      div.bsk-footer-back-to-top
        a(href='#')
          i.fa.fa-fw.fa-chevron-up(aria-hidden='true')
          | Back to top
      div.bsk-footer-spacer
      div.bsk-row
        div.bsk-col-12-md-4
          h4 About BAS
          p The #[a(href='https://www.bas.ac.uk') British Antarctic Survey (BAS)] conducts world-leading
            |
            | interdisciplinary research in the Polar Regions.
        div.bsk-col-12-md-8.bsk-text-right
          h4 BAS Activities
          ul.bsk-list-unstyled
            li: a(href='#') Research projects
            li: a(href='#') Research opportunities
            li: a(href='#') Fieldwork opportunities
            li: a(href='#') Facilities, skills and logistics
      div.bsk-footer-divider(role='separator')
      div.bsk-footer-governance
        | The #[a(href='https://www.bas.ac.uk') British Antarctic Survey] (BAS) is part of the
        | #[a(href='https://nerc.ukri.org') Natural Environment Research Council] (NERC), which is in turn part of
        | #[a(href='https://www.ukri.org') UK Research and Innovation] (UKRI)
        div.bsk-footer-ogl.app-footer-ogl
          div.bsk-ogl-symbol.app-ogl-symbol: a(href='https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/' rel='license')
            span.bsk-ogl-symbol Open Government Licence
          | All content is available under the #[a(href='http://www.nationalarchives.gov.uk/doc/open-government-licence' rel='license') Open Government Licence v3.0], except where otherwise stated
      div.bsk-footer-policy-links
        ul.bsk-list-inline
          li: a(href='#') Cookies
          li: a(href='#') Copyright
          li: a(href='#') Privacy
        | © 2018 British Antarctic Survey

  section.app-sample-section
    header Complex content

    | No content

    +footer--default
      div.bsk-footer-is-something-wrong
        a(href='#') Is something wrong with this page?
      div.bsk-footer-back-to-top
        a(href='#')
          i.fa.fa-fw.fa-chevron-up(aria-hidden='true')
          | Back to top
      div.bsk-footer-divider(role='separator')
      div.bsk-footer-governance
        | The #[a(href='https://www.bas.ac.uk') British Antarctic Survey] (BAS) is part of the
        | #[a(href='https://nerc.ukri.org') Natural Environment Research Council] (NERC), which is in turn part of
        | #[a(href='https://www.ukri.org') UK Research and Innovation] (UKRI)
        div.bsk-footer-ogl.app-footer-ogl
          div.bsk-ogl-symbol.app-ogl-symbol: a(href='https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/' rel='license')
            span.bsk-ogl-symbol Open Government Licence
          | All content is available under the #[a(href='http://www.nationalarchives.gov.uk/doc/open-government-licence' rel='license') Open Government Licence v3.0], except where otherwise stated
      div.bsk-footer-policy-links
        ul.bsk-list-inline
          li: a(href='#') Cookies
          li: a(href='#') Copyright
          li: a(href='#') Privacy
        | © 2018 British Antarctic Survey

  hr

  h4 Notes
  ul
    li This experiment is used to test using various footer components together to ensure styles mesh together
    li This sample relies on the optional #[a(href='https://style-kit.web.bas.ac.uk/core/icons/#font-awesome') font awesome icon font]
