//-
  sample:
    title: Experimental text
    code: p.bsk-text-experimental
  collections:
    - core--typography
  ---

extends ../layouts/app-sample.pug
include ../mixins/app/samples/typography.pug

block sample
  section.app-sample-section
    header Standard

    +p--standard(class='bsk-text-experimental')

  section.app-sample-section
    header Mixed single line

    +p--mixed-single-line(class='bsk-text-experimental')

  section.app-sample-section
    header Split line (#[code br] separated)

    +p--split-line(class='bsk-text-experimental')

  section.app-sample-section
    header Mixed split line (#[code br] separated)

    +p--mixed-split-line(class='bsk-text-experimental')

  section.app-sample-section
    header Text block (approx 300 characters)

    +p--text-block(class='bsk-text-experimental')

  section.app-sample-section
    header Mixed text-block (approx 300 characters)

    +p--mixed-text-block(class='bsk-text-experimental')

  section.app-sample-section
    header Multiple text-blocks (#[code br] separated)

    +p--text-block-multiple(class='bsk-text-experimental')

  section.app-sample-section
    header Multiple mixed text-blocks (#[code br] separated)

    +p--mixed-text-block-multiple(class='bsk-text-experimental')
