//-
  sample:
    title: Warning contextual background
    code: .bsk-bg-warning
  collections:
    - core--colours
  ---

extends ../layouts/app-sample.pug
include ../mixins/app/samples/colours.pug

block sample
  section.app-sample-section
    header Colour swatch
    div.bsk-row
      div.bsk-col-12-md-4
        +colour--swatch('Warning contextual background', '$state-warning-bg', '#FFE9C0')(class='bsk-bg-warning')
