//-
  sample:
    title: Nav (interactive)
    code: data-toggle="tab"
    type: javascript
  collections:
    - components--navs
  ---

extends ../layouts/app-sample.pug
include ../mixins/app/samples/navs.pug

block sample
  section.app-sample-section
    header Standard (pill)
    +navs--basic('no_long_titles', 'interactive', 'no_fade_effect')(class='bsk-nav-pills')

  section.app-sample-section
    header Standard (tabs)
    +navs--basic('no_long_titles', 'interactive', 'no_fade_effect')(class='bsk-nav-tabs')

  section.app-sample-section
    header Standard (pill, with fade effect)
    +navs--basic('no_long_titles', 'interactive', 'with_fade_effect')(class='bsk-nav-pills')

  section.app-sample-section
    header Standard (tabs, with fade effect)
    +navs--basic('no_long_titles', 'interactive', 'with_fade_effect')(class='bsk-nav-tabs')

  section.app-sample-section
    header Drop-down (pill)
    +navs--drop-down('no_long_titles', 'interactive', 'no_fade_effect')(class='bsk-nav-pills')

  section.app-sample-section.app-spacing-bottom-xl
    header Drop-down (tabs)
    +navs--drop-down('no_long_titles', 'interactive', 'no_fade_effect')(class='bsk-nav-tabs')
