//-
  sample:
    title: Modal (interactive)
    code: .bsk-modal
    type: javascript
  collections:
    - components--modal
  ---

extends ../layouts/app-sample.pug

block sample
  section.app-sample-section
    header Static modal

    div.bsk-modal.app-modal-static(tabindex='-1' role='dialog')
      div.bsk-modal-dialog(role='document')
        div.bsk-modal-content
          div.bsk-modal-header
            button.bsk-close(type='button' data-dismiss='modal' aria-label='Close')
              span(aria-hidden='true') &times;
            h4.bsk-modal-title Modal title
          div.bsk-modal-body
            p Modal content
          div.bsk-modal-footer
            button.bsk-btn.bsk-btn-default(type='button' data-dismiss='modal') Close
            button.bsk-btn.bsk-btn-primary(type='button') Save changes

  section.app-sample-section
    header Interactive modal

    button.bsk-btn.bsk-btn-default(type='button' data-toggle='modal' data-target='#example-modal') Trigger modal window
    div.bsk-modal.bsk-fade#example-modal(tabindex='-1' role='dialog')
      div.bsk-modal-dialog(role='document')
        div.bsk-modal-content
          div.bsk-modal-header
            button.bsk-close(type='button' data-dismiss='modal' aria-label='Close')
              span(aria-hidden='true') &times;
            h4.bsk-modal-title Modal title
          div.bsk-modal-body
            p Modal content
          div.bsk-modal-footer
            button.bsk-btn.bsk-btn-default(type='button' data-dismiss='modal') Close
            button.bsk-btn.bsk-btn-primary(type='button') Save changes
