//-
  sample:
    title: Pop-Over
    code: data-toggle="popover"
    type: javascript
  collections:
    - components--popover
  ---

extends ../layouts/app-sample.pug
include ../mixins/app/samples/pop-overs.pug

block sample
  section.app-sample-section.app-spacing-bottom-xl
    header Standard (static)

    div.bsk-row
      div.bsk-col-12-md-3
        +pop-over--static('top')
      div.bsk-col-12-md-3
        +pop-over--static('bottom')
      div.bsk-col-12-md-3
        +pop-over--static('left')
      div.bsk-col-12-md-3
        +pop-over--static('right')

  +pop-over--standard('top')
  +pop-over--standard('left')
  +pop-over--standard('bottom')
  +pop-over--standard('right')

  hr

  h4 Notes
  ul
    li
      | To enable interactivity, run the following javascript in the browser console:
      |
      code $('[data-toggle="popover"]').popover()
