//-
  sample:
    title: Drop-zone designs
    type: experiment
  ---

extends ../layouts/app-sample.pug

block sample
  style.
    .x-dz-option .bsk-form-control {
      width: 100%;
      height: 200px;
      text-align: center;
      padding: 90px 0 110px;
    }
    .x-dz-option.x-dz-state-populated .bsk-form-control {
      height: 115px;
      text-align: left;
      padding: 10px 10px 30px;
    }

    .x-dz-option-1 .bsk-form-control {
      border-width: 2px;
      border-style: dashed;
    }

    .x-dz-option-2 .bsk-form-control {
      border-width: 2px;
      border-style: dashed;
      background-color: #eeeeee;
    }

    .x-dz-option-3 .bsk-form-control {
      height: 210px;
      border-width: 2px;
      border-style: dashed;
      padding: 10px 10px 30px;
    }
    .x-dz-option-3 .x-dz-option-3-inner {
      padding: 80px 0;
      background-color: #eeeeee;
    }

    .x-dz-option-4 .bsk-form-control {
      height: 210px;
      border-color: #eeeeee;
      padding: 10px 10px 30px;
      background-color: #eeeeee;
    }
    .x-dz-option-4 .x-dz-option-4-inner {
      padding: 80px 0;
      border: 2px dashed #cccccc;
      background-color: #eeeeee;
    }

    .x-dz-option-5 .bsk-form-control {
      height: 210px;
      border-color: #2B8CC4;
      padding: 10px 10px 30px;
      background-color: #2B8CC4;
      color: #ffffff;
    }
    .x-dz-option-5 .x-dz-option-5-inner {
      padding: 80px 0;
      border: 2px dashed #ffffff;
      background-color: #2B8CC4;
    }

    .x-dz-option-6 .bsk-form-control {
      height: 210px;
      border-color: #B7D8EB;
      padding: 10px 10px 30px;
      background-color: #B7D8EB;
      color: #1D5E83;
    }
    .x-dz-option-6 .x-dz-option-6-inner {
      padding: 80px 0;
      border: 2px dashed #1D5E83;
      background-color: #B7D8EB;
    }

    .x-dz-option-1p .bsk-form-control {
      border-width: 2px;
      border-style: dashed;
    }

    .x-dx-item-option-1 {
      background-color: #eeeeee;
    }

    .x-dx-item-option-1 .x-dz-item-ext {
      background-color: #cccc;
      text-transform: uppercase;
      height: 64px;
      padding: 25px 20px 0px 20px;
    }

  section.app-sample-section
    header Initial state - option 1 - in a #[code bsk-form-group]
    form
      fieldset.bsk-form-group.x-dz-option.x-dz-option-1
        label.bsk-control-label(for='init-opt1-fg') File upload (Drag and Drop)
        div#init-opt1-fg.bsk-form-control Click to select files or drag them here
      fieldset.bsk-form-group
        label.bsk-control-label(for='init-opt1-fg-cp') Textarea (for comparision)
        textarea#init-opt1-fg-cp.bsk-form-control(rows='9')

  section.app-sample-section
    header Initial state - option 2 - in a #[code bsk-form-group]
    form
      fieldset.bsk-form-group.x-dz-option.x-dz-option-2
        label.bsk-control-label(for='init-opt2-fg') File upload (Drag and Drop)
        div#init-opt2-fg.bsk-form-control Click to select files or drag them here

  section.app-sample-section
    header Initial state - option 3 - in a #[code bsk-form-group]
    form
      fieldset.bsk-form-group.x-dz-option.x-dz-option-3
        label.bsk-control-label(for='init-opt3-fg') File upload (Drag and Drop)
        div#init-opt3-fg.bsk-form-control
          div.x-dz-option-3-inner Click to select files or drag them here

  section.app-sample-section
    header Initial state - option 4 - in a #[code bsk-form-group]
    form
      fieldset.bsk-form-group.x-dz-option.x-dz-option-4
        label.bsk-control-label(for='init-opt4-fg') File upload (Drag and Drop)
        div#init-opt4-fg.bsk-form-control
          div.x-dz-option-4-inner Click to select files or drag them here

  section.app-sample-section
    header Initial state - option 5 - in a #[code bsk-form-group]
    form
      fieldset.bsk-form-group.x-dz-option.x-dz-option-5
        label.bsk-control-label(for='init-opt5-fg') File upload (Drag and Drop)
        div#init-opt5-fg.bsk-form-control
          div.x-dz-option-5-inner Click to select files or drag them here

  section.app-sample-section
    header Initial state - option 6 - in a #[code bsk-form-group]
    form
      fieldset.bsk-form-group.x-dz-option.x-dz-option-6
        label.bsk-control-label(for='init-opt6-fg') File upload (Drag and Drop)
        div#init-opt6-fg.bsk-form-control
          div.x-dz-option-6-inner Click to select files or drag them here

  section.app-sample-section
    header Populated state (single file) - option 1 - in a #[code bsk-form-group]
    form
      fieldset.bsk-form-group.x-dz-option.x-dz-state-populated.x-dz-option-1p
        label.bsk-control-label(for='init-opt1p-fg') File upload (Drag and Drop)
        div#init-opt1p-fg.bsk-form-control
          div.bsk-row
            div.bsk-col-12-md-2
              div.bsk-media.x-dz-item.x-dx-item-option-1
                div.bsk-media-left.x-dz-item-ext png
                div.bsk-media-body
                  div.bsk-h5.bsk-media-heading rock-outcrop.png
                  | 280kb

  hr

  h4 Notes
  ul
    li This experiment develops a number of different designs for dropzone file upload elements
    li This includes various states, defined statically this sample
