//-
  sample:
    title: Drop-zone
    code: .bsk-dropzone
    type: experiment
  ---

extends ../layouts/app-sample.pug

block sample
  script(type='text/javascript' src='https://cdn.web.bas.ac.uk/js-libs/jquery-3.3.1.min.js')
  script(type='text/javascript' src='https://cdn.web.bas.ac.uk/libs/dropzone/5.5.0/js/dropzone.min.js')

  section.app-sample-section
    header Standard
    form(
      method='POST'
      enctype='multipart/form-data'
      action='https://bas-style-kit-file-upload.herokuapp.com/upload-single'
    )
      fieldset.bsk-form-group
        label.bsk-control-label(for='dropzone-1') File upload (Drag and Drop)
        div#dropzone-1.bsk-form-control.bsk-dropzone
          div.bsk-dropzone-upload-message.bsk-message-initial: div.bsk-message-inner Click to select files or drag them here
          div.bsk-dropzone-file-list
            div.bsk-container-fluid
              header.bsk-row.bsk-dropzone-file-list-header
                div.bsk-col-24-md-17 File Name
                div.bsk-col-24-md-2 File Size
                div.bsk-col-24-md-3 File Status
                div.bsk-col-24-md-2.bsk-text-right Actions
              div.bsk-dropzone-file-list-items
                div.bsk-row.bsk-dropzone-file-list-item
                  div.bsk-col-24-md-17(data-dz-name)
                  div.bsk-col-24-md-2(data-dz-size)
                  div.bsk-col-24-md-3(data-bsk-dz-status)
                  div.bsk-col-24-md-2.bsk-text-right: a.bsk-text-danger.bsk-item-action-remove(href='#' data-dz-remove) Remove
                  div.bsk-item-progress-bar(style='width:0%;' data-dz-uploadprogress)
                  //- To be refactored
                  strong.error.text-danger(data-dz-errormessage)
          div.bsk-dropzone-upload-message.bsk-message-additional: div.bsk-message-inner Click to select more files or drag them here
          div.bsk-dropzone-upload-message.bsk-message-additional: div.bsk-message-inner Click to select more files or drag them here

  hr

  h4 TODO
  ul
    li upload errors
    li mobile first
    li part of existing form (delayed upload)
    li experiment removing default #[code dz] classes

  script.
    jQuery(function($){
      // Disable auto discover for all elements:
      Dropzone.autoDiscover = false;

      // Prepare the file list
      var previewsTemplate = $('#dropzone-1 .bsk-dropzone-file-list .bsk-dropzone-file-list-items').html();
      $('#dropzone-1 .bsk-dropzone-file-list .bsk-dropzone-file-list-items').empty();

      // Enable dropzone on specific element
      var dropzone = new Dropzone('#dropzone-1', {
        url: 'https://bas-style-kit-file-upload.herokuapp.com/upload-single',
        previewsContainer: '#dropzone-1 .bsk-dropzone-file-list-items',
        previewTemplate: previewsTemplate,
        createImageThumbnails: false,
        clickable: ".bsk-dropzone-upload-message"
      });

      // Add event listeners to add Style Kit specific classes
      dropzone.on("addedfile", function(file) {
        $('#' + dropzone.element.id).addClass('bsk-dropzone-started');
      });
      dropzone.on("reset", function(file) {
        $('#' + dropzone.element.id).removeClass('bsk-dropzone-started');
      });

      // Add event listeners to update file status for each file item
      dropzone.on("processing", function(file) {
        $(file.previewElement).find('[data-bsk-dz-status]').text('Pending...');
      });
      dropzone.on("uploadprogress", function(file, progress) {
        $(file.previewElement).find('[data-bsk-dz-status]').text('Uploading (' + Math.round(progress) + '%)');
      });
      dropzone.on("success", function(file, message) {
        $(file.previewElement).find('[data-bsk-dz-status]').addClass('bsk-text-success').text('Uploaded');
      });
    });
