extends ../../lib/bas-style-kit-pug-templates/layouts/bas-style-kit/bsk--standard.pug

block append variables
  - attributes.site_title = 'BAS Style Kit Testbed';
  - attributes.site_description = 'A website used by developers to test and develop parts of the BAS Style Kit';
  - bsk_attributes.site_nav_brand_text = 'Sample Service';
  - bsk_attributes.site_nav_brand_href = '#';
  - bsk_attributes.site_development_phase = 'custom';
  - bsk_attributes.site_development_phase_custom.label_classes.push('bsk-label')
  - bsk_attributes.site_development_phase_custom.label_classes.push('bsk-label-info')
  - bsk_attributes.site_development_phase_custom.label_text = 'Pattern';
  - bsk_attributes.site_development_phase_custom.message_text = 'This is an example of a (page) design pattern.';
  - bsk_attributes.site_feedback_href = '/' + testbed_version + '/#site-feedback';
  - bsk_attributes.cookie_notice_href = '/' + testbed_version + '/legal/cookies.html';
  - bsk_attributes.site_footer_policies_cookies_href = '/' + testbed_version + '/legal/cookies.html';
  - bsk_attributes.site_footer_policies_copyright_href = '/' + testbed_version + '/legal/copyright.html';
  - bsk_attributes.site_footer_policies_privacy_href = '/' + testbed_version + '/legal/privacy.html';
  - attributes.site_favicon_url = 'data:;base64,iVBORw0KGgo=';
  //- Navigation menu items
  include ../includes/app/nav-launcher.pug
  //- Custom CSS and JS
  include ../includes/app/assets.pug

block main_content
  block pattern
