{% extends "layouts/base.layout.njk" %}

{% set sample_is_embedded = samples_are_embedded | default(false) %}

{% if sample_is_embedded %}
  {% set _show_index_link = false %}
  {% set _use_container = false %}
  {% set _use_isolated_href = true %}
{% else %}
  {% set _show_index_link = true %}
  {% set _use_container = true %}
  {% set _use_isolated_href = false %}
{% endif %}

{% block main %}
{% call main.bsk_tb_section_v2(
  sample_title,
  title_prefix=sample_number,
  title_code=sample_markup,
  show_index_link = _show_index_link,
  use_container = _use_container,
  isolated_href = sample_href,
  use_isolated_href = _use_isolated_href,
  base_path=main_base_path
) %}
{% block sample %}
{% endblock %}
{% endcall %}
{% endblock %}
