//
// 'Page not found' page pattern
// --------------------------------------------------
// Page pattern for 'page not found' pages where a page or URL cannot be found (AKA 404 error)
//
// Patterns are best practice design solutions for specific user-focused tasks and page types. They combine the
// low level styles, components and interactive elements provided by the Style Kit into higher level solutions.
//
// Page patterns are designed to act as whole, complete, pages or views.
//
// Patterns are not part of Bootstrap and only available in the Style Kit.


.pattern-page-not-found {
  // Ensures there is suitable minimum whitespace under the page content.
  // A scaling factor is used based on breakpoints, as these are width (not height) based, values are approximate.
  min-height: 0;

  @media (min-width: $screen-lg-min) {
    min-height: 40vh;
  }
  @media (min-width: $screen-xl-min) {
    min-height: 55vh;
  }
}
