extends ./layouts/app.pug

include ./mixins/app/samples/labels.pug

block main_content
  h1.bsk-page-header Page not found
  p If you typed the web address, check it is correct.
  p If you pasted the web address, check you copied the entire address.
  p If the web address is correct or you selected a link or button, #[a(href='/' + testbed_version + '/#site-feedback') contact us] to let us know.
