section {
  margin-top: 40px;
  margin-bottom: 40px;

  border-bottom: 1px solid rgba(86,61,124,.2);
}
section:last-of-type {
  border-bottom: none;
}

.bsk-open-sans-light {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
}
.bsk-open-sans-regular {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
}
.bsk-open-sans-bold {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
}
.bsk-gill-sans-light {
  font-family: "Gill Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 100;
}
.bsk-gill-sans-book  {
  font-family: "Gill Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 200;
}
.bsk-gill-sans-roman {
  font-family: "Gill Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
}
