extends ../layouts/app.pug

block page
  h1.bsk-page-header Copyright notice

  p
    | Except where otherwise stated, the materials that make up this website are subject to copyright, and are owned by
    | the Natural Environment Research Council (NERC), of which the British Antarctic Survey (BAS) is a component body.

  p
    | Except where otherwise stated, content published on this website is made available under the
    | #[a(href='http://www.nationalarchives.gov.uk/doc/open-government-licence') Open Government Licence (version 3)]
    | and can be reproduced subject to the terms of that license.

  p Except where otherwise stated, please attribute the use of any content as:
  blockquote Contains British Antarctic Survey materials, copyright NERC [Year].

  hr

  h2 Changes to this policy

  h3 16th June 2016
  ul
    li initial policy
