extends ../layouts/app.pug

block page
  h1.bsk-page-header Privacy policy

  p We collect information or data about you when you use this website.
  p This includes:
  ul
    li any feedback you leave, including your name and email address, if you choose to provide it
    li part of your computers IP address
    li details about which web browser and device you are using (e.g. the version and screen size)
    li information on how you use this website, including the pages you visit, using analytics and cookies

  p This enables us to:
  ul
    li respond to any feedback you send us, if you’ve asked us to
    li learn where visitors to this website came from
    li ensure this website works correctly for as many devices as possible
    li learn which parts of this website are more or less popular to help focus on what’s most useful for most people

  p #[strong We cannot personally identify you with this information, unless you provide it yourself directly]
  p
    | We use IP address anonymisation to prevent your full IP address being stored. Please see
    | #[a(href='support.google.com/analytics/answer/2763052') support.google.com/analytics/answer/2763052] for more information.

  h2 Keeping your information secure
  p Transmitting information over the internet is generally not completely secure, and we can’t guarantee the security of your data.
  p #[strong Any data you transmit is at your own risk]
  p We have procedures and security features in place to try and keep your data secure once we receive it.

  h2 Processing your information
  p
    | We handle personal data in compliance with the Data Protection Act 1998, and recognise the importance of the
    | correct and lawful processing of personal data in maintaining confidence in our operations. Further information
    | can be found in our #[a(href='http://www.nerc.ac.uk/about/policy/foi/information/') Parent Body’s information notice].

  h2 Where your information is stored
  p
    | We will store your data to ensure an adequate level of protection for your data protection rights and freedoms.
    | This sometimes may involve the use of assured third-party systems.

  h2 Disclosing your information
  p
    | We won’t pass on your details to other websites, unless you provide your consent for us to do so, and we won’t
    | share your information with any other organisations for marketing, market research or commercial purposes.

  p We may pass on your personal information if we have a legal obligation to do so.

  h2 Your rights
  p You can find out what information we hold about you, and ask us not use any of the information we collect.
  p Our contact information is: #[a(href='mailto:foi@bas.ac.uk') foi@bas.ac.uk].
  p
    | If you are not happy with the response you receive, or do not hear back, please follow the
    | #[a(href='https://www.bas.ac.uk/about/contact-bas/complaints/') BAS complaints procedure].

  h2 Links to other websites
  p This website has links to other websites for which we are not responsible.
  p This privacy policy only applies to this website.

  h2 Following a link to another website
  p If you go to another website from this one, read the privacy policy on that website to find out what it does with your information.

  hr

  h2 Changes to this policy

  h3 16th June 2016
  ul
    li initial policy
