
body {
  color: white;
  background-color: #912B88;
}

.jumbotron-bsk-default, .band-bsk-default, .header-bsk-default, .dl-bsk-striped dt {
  background-color: transparent;
}
.jumbotron-bsk-default {
  color: white;
}
.header-bsk-default {
  border-color: transparent;
}
.monotype {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}
