// Alerts

@mixin make-alert($variant, $base-color, $highlight-color, $solid-variant-text-color) {
  .alert-solid.alert-#{$variant} {
    background-color: $base-color;
    color: $solid-variant-text-color;

    .alert-icon {
      color: $solid-variant-text-color;
    }

    .alert-link {
      color: $solid-variant-text-color;
    }

    // Dismissible alerts
    &.alert-dismissible {
      .close {
        color: $solid-variant-text-color;
      }
    }
  }

  .alert-#{$variant} {
    border-color: $base-color;

    .alert-icon {
      color: $highlight-color;
    }

    .alert-link {
      color: $highlight-color;
    }
  }
}
