// Alerts

@mixin make-alert($variant, $base-color, $highlight-color, $solid-variant-text-color: $alert-solid-text-color, $solid-variant-text-size: 120%) {
  .alert-solid-#{$variant} {
    @include alert-solid-variant($base-color, $solid-variant-text-color, $solid-variant-text-size);
  }

  .alert-outline-#{$variant} {
    @include alert-outline-variant($base-color, $highlight-color);
  }

  .alert-highlight-#{$variant} {
    @include alert-highlight-variant($base-color, $highlight-color);
  }
}

@mixin alert-solid-variant($background-color, $text-color, $text-size) {
  font-size: $text-size;
  background-color: $background-color;
  color: $text-color;

  .alert-link {
    color: $text-color;
  }

  // Dismissible alerts
  &.alert-dismissible {
    .close {
      color: $alert-solid-close-color;
    }
  }
}

@mixin alert-outline-variant($border-color, $highlight-color) {
  border: 5px solid $border-color;

  .alert-icon {
    color: $highlight-color;
  }

  .alert-link {
    color: $highlight-color;
  }
}

@mixin alert-highlight-variant($border-color, $highlight-color) {
  border-left: 5px solid $border-color;

  .alert-icon {
    color: $highlight-color;
  }

  .alert-link {
    color: $highlight-color;
  }
}
