// Form control focus state
//
@mixin form-control-focus($colour: $input-border-focus) {
  &:focus {
    border-color: $colour;
    outline: 3px solid $colour;
    box-shadow: none;
  }
}

// Form control validation states
//
@mixin form-control-validation($x-text-color: $text-color, $border-color: #ccc, $background-color: #f5f5f5) {
  // Redefine the focus state
  .form-control {
    @include form-control-focus($border-color);
  }
}
