// Jumbotron
//
// Generate a jumbotron size based on a on a padding value

@mixin make-jumbotron-size($padding) {
  padding-top:    $padding;
  padding-bottom: $padding;
  padding-left:   ($padding / 2);
  padding-right:  ($padding / 2);

  @media screen and (min-width: $screen-sm-min) {
    padding: ($padding * 1.6) 0;

    .container &,
    .container-fluid & {
      padding-left:  ($padding * 2);
      padding-right: ($padding * 2);
    }
  }
}
