/* Custom Bootstrap Docs styles for the BAS Style Kit */

/*
 * Main navigation
 *
 * Turn the `.navbar` at the top of the docs purple.
 */

.navbar-bsk-docs {
  margin-bottom: 0;
}

/*
 * Footer
 *
 * Separated section of content at the bottom of all pages, save the homepage.
 */

.bsk-docs-footer-project-links,
.bsk-docs-footer-version {
  font-size: 120%;
}
.bsk-docs-footer-project-links {
  float: left !important;
}
.bsk-docs-footer-project-links .list-inline {
  margin-bottom: 0;
}
.bsk-docs-footer-project-links .list-inline li {
  padding-right: 0;
}
.bsk-docs-footer-version {
  float: right !important;
  text-align: right;
}

.bsk-docs-footer-licensing,
.bsk-docs-footer-licensing .osi-symbol,
.bsk-docs-footer-licensing .cc-symbol,
.bs-docs-footer-licensing .license-text {
  float: left !important;
}
.bsk-docs-footer-licensing .osi-symbol,
.bsk-docs-footer-licensing .cc-symbol {
  color: #f8f8f8;
}
.bsk-docs-footer-licensing .osi-symbol {
  margin-left: 5px;
}
.bsk-docs-footer-licensing .cc-symbol {
  margin-right: 15px;
}
.bsk-docs-footer-licensing .osi-symbol i,
.bsk-docs-footer-licensing .cc-symbol i{
  font-size: 3em;
}
@media (min-width: 768px) {
  .bsk-docs-footer-licensing .license-text {
    width: 600px;
  }
}

/*
 * Side navigation
 *
 * Scrollspy and affixed enhanced navigation to highlight sections and secondary
 * sections of docs content.
 */

.bs-docs-sidebar .nav > li > a:hover,
.bs-docs-sidebar .nav > li > a:focus {
  padding-left: 19px;
  color: #25658F;
  text-decoration: none;
  background-color: transparent;
  border-left: 1px solid #25658F;
}
.bs-docs-sidebar .nav > .active > a,
.bs-docs-sidebar .nav > .active:hover > a,
.bs-docs-sidebar .nav > .active:focus > a {
  padding-left: 18px;
  font-weight: bold;
  color: #25658F;
  background-color: transparent;
  border-left: 2px solid #25658F;
}

/*
 * Callouts
 *
 * Not quite alerts, but custom and helpful notes for folks reading the docs.
 * Requires a base and modifier class.
 */

/* Common styles for all types */
.bs-callout {
  border-top: 1px solid #eee;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
  border-left-style: solid;
  border-radius: 0;
}

/*
 * General
 */

.text-2x {
  font-size: 150%;
}

.list-2x {
  font-size: 150%;
}
.list-2x li {
  margin-top: 10px;
  margin-bottom: 10px;
}

.bsk-docs-open-sans-light {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
}
.bsk-docs-open-sans-regular {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
}
.bsk-docs-open-sans-bold {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
}
.bsk-docs-gill-sans-light {
  font-family: "Gill Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 100;
}
.bsk-docs-gill-sans-book  {
  font-family: "Gill Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 200;
}
.bsk-docs-gill-sans-roman {
  font-family: "Gill Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
}

/* Use to indicate content that needs to be reviewed, either to update wording or remove entirely */
.bsk-u-mark-todo-update {
  background-color: #F9AFAF;
}

/* Use to indicate new content that needs to be added */
.bsk-u-mark-todo-add {
  background-color: #E6FCE3;
}

/* As the first element in the first feature block on the home page is an alert there's too much top padding */
.bs-docs-featurette:first-of-type {
  padding-top: 50px;
}
/* As the first element after a page header is an alert there's too much top margin */
.bs-docs-header {
  margin-bottom: 20px;
}

/*
 * Font icons
 *
 * Special styles for displaying various font icons and their classes in the docs.
 */

.bsk-icons {
  margin: 0 -10px 20px;
  overflow: hidden;
}
.bsk-icons-list {
  padding-left: 0;
  list-style: none;
}
.bsk-icons-list li {
  float: left;
  width: 25%;
  height: 115px;
  padding: 10px;
  font-size: 10px;
  line-height: 1.4;
  text-align: center;
  background-color: #e7ebf1;
  border: 1px solid #fff;
}
.bsk-icons-list li a {
  color: #333333;
}
.bsk-icons-list .icon {
  margin-top: 5px;
  margin-bottom: 10px;
  font-size: 24px;
}
.bsk-icons-list .icon-class {
  display: block;
  text-align: center;
  word-wrap: break-word; /* Help out IE10+ with class names */
}
.bsk-icons-list li a:hover {
  color: #ffffff;
}
.bsk-icons-list li:hover,
.bsk-icons-list li:hover a {
  color: #fff;
  background-color: #555;
}

@media (min-width: 768px) {
  .bsk-icons {
    margin-right: 0;
    margin-left: 0;
  }
  .bsk-icons li {
    width: 12.5%;
    font-size: 12px;
  }
}

/*
 * Homepage
 *
 * Tweaks to the custom homepage and the masthead (main jumbotron).
 */

/* Share masthead with page headers */
.bsk-docs-masthead {
  position: relative;
  padding: 30px 0;
  text-align: center;
  background-image: url('../../img/ice-berg-header.jpg');
}

/* Masthead (headings and download button) */
.bsk-docs-masthead .bs-docs-booticon {
  margin: 0 auto 30px;
}
.bsk-docs-masthead h1 {
  font-weight: 300;
  line-height: 1;
  color: #fff;
}
.bsk-docs-masthead .lead {
  margin: 0 auto 30px;
  font-size: 20px;
  color: #fff;
}
.bsk-docs-masthead .version {
  margin-top: -15px;
  margin-bottom: 30px;
}
.bsk-docs-masthead .btn {
  width: 100%;
  padding: 15px 30px;
  font-size: 20px;
}

@media (min-width: 480px) {
  .bsk-docs-masthead .btn {
    width: auto;
  }
}

@media (min-width: 768px) {
  .bsk-docs-masthead {
    padding: 80px 0;
  }
  .bsk-docs-masthead h1 {
    font-size: 60px;
  }
  .bsk-docs-masthead .lead {
    font-size: 24px;
  }
}

@media (min-width: 992px) {
  .bsk-docs-masthead .lead {
    width: 80%;
    font-size: 30px;
  }
}

/* BAS Style Kit icon */
.bsk-docs-symbol {
  display: block;
  font-weight: 500;
  color: #fff;
  text-align: center;
  cursor: default;
  border-radius: 100%;
  line-height: 1.5;
  border-width: 3px;
  margin: 30px auto;
}
.bsk-docs-symbol-sm {
  width: 30px;
  height: 30px;
  font-size: 20px;
  line-height: 28px;
}
.bsk-docs-symbol-lg {
  width: 216px;
  height: 216px;
  font-size: 160px;
}
.bsk-docs-symbol-outline {
  background-color: transparent;
  border: 3px solid #fff;
}

.bs-docs-featurette-title {
  margin-bottom: 20px;
}

/*
 * Color swatches
 *
 * Color swatches and associated values for BAS Style Kit specific colours.
 */

/* BSK colors */
.color-swatches .bsk-grey-lighter {
  background-color: #F4F6F9;
}
.color-swatches .bsk-grey-light {
  background-color: #E7EBF1;
}

.color-swatches .bsk-blue-light {
  background-color: #77CCFF;
}
.color-swatches .bsk-blue {
  background-color: #006AAA;
}
.color-swatches .bsk-blue-dark {
  background-color: #003A5D;
}
.color-swatches .bsk-red {
  background-color: #B93E14;
}
.color-swatches .bsk-turquoise {
  background-color:  #0DA59F;
}

/*
 * Code snippets
 *
 * Generated via Pygments and Jekyll, these are snippets of HTML, CSS, and JS.
 */

.highlight {
  border-radius: 0px;
}

/*
 * Examples
 *
 * Isolated sections of example content for each component or feature. Usually
 * followed by a code snippet.
 */

/* Make the examples and snippets not full-width */
@media (min-width: 768px) {
  .bs-example {
    border-radius: 0;
  }
  .bs-example + .highlight,
  .bs-example + .zero-clipboard + .highlight {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  .bs-example-standalone {
    border-radius: 0px;
  }
}

/* Footer */
.bs-footer-bottom-example .footer-bsk-fixed-bottom {
  position: relative;
  margin-right: 0;
  margin-left: 0;
}

/* Image purchase */
.background-img-sample {
  background-image: url('../../img/polar-bears.jpg');
}
