/* Custom Bootstrap Docs styles for the BAS Style Kit */

/*
 * General
 */

/* Use to indicate content that needs to be reviewed, either to update wording or remove entirely */
.bsk-u-mark-todo-update {
	background-color: #F9AFAF;
}

/* Use to indicate new content that needs to be added */
.bsk-u-mark-todo-add {
	background-color: #E6FCE3;
}

/* As the first element in the first feature block on the home page is an alert there's too much top padding */
.bs-docs-featurette:first-of-type {
	padding-top: 50px;
}
/* As the first element after a page header is an alert there's too much top margin */
.bs-docs-header {
  margin-bottom: 20px;
}

/* The logo on the homepage emulates the BAS logo but using web-fonts/CSS rather than an image - these styles support this */
.bs-docs-booticon {
  border-radius: 100%;
  line-height: 1.5;
  border-width: 3px;
}

/* Make the logo on the homepage even more in your face */
.bs-docs-booticon-lg {
  width: 216px;
  height: 216px;
  font-size: 160px;
}

/*
 * Font icons
 *
 * Special styles for displaying various font icons and their classes in the docs.
 */

.bsk-icons {
  margin: 0 -10px 20px;
  overflow: hidden;
}
.bsk-icons-list {
  padding-left: 0;
  list-style: none;
}
.bsk-icons-list li {
  float: left;
  width: 25%;
  height: 115px;
  padding: 10px;
  font-size: 10px;
  line-height: 1.4;
  text-align: center;
  background-color: #f9f9f9;
  border: 1px solid #fff;
}
.bsk-icons-list li a {
  color: #333333;
}
.bsk-icons-list li a:hover {
  color: #ffffff;
}
.bsk-icons-list .icon {
  margin-top: 5px;
  margin-bottom: 10px;
  font-size: 24px;
}
.bsk-icons-list .icon-class {
  display: block;
  text-align: center;
  word-wrap: break-word; /* Help out IE10+ with class names */
}
.bsk-icons-list li:hover {
  color: #fff;
  background-color: #563d7c;
}

@media (min-width: 768px) {
  .bsk-icons {
    margin-right: 0;
    margin-left: 0;
  }
  .bsk-icons li {
    width: 12.5%;
    font-size: 12px;
  }
}