mixin colour--swatch(colour_title, colour_variable, colour_value)
  div
    div.app-colour-swatch(class!=attributes.class)
    p.bsk-text-info #{ colour_title } #[br] #[var #{ colour_variable }] #[br] #[code #{ colour_value }]

mixin colour--swatch-range(colour_title, colour_variable, colour_lighter_value, colour_light_value, colour_base_value, colour_dark_value, colour_darker_value)
  section.app-sample-section
    header #{ colour_title }
    div.bsk-row
      div.bsk-col-12-md-2
        +colour--swatch(colour_title + ' lighter', '$bsk-colour-std-' + colour_variable + '-lighter', colour_lighter_value)(class='app-colour-bsk-colour-std-' + colour_variable + '-lighter')
      div.bsk-col-12-md-2
        +colour--swatch(colour_title + ' light', '$bsk-colour-std-' + colour_variable + '-light', colour_light_value)(class='app-colour-bsk-colour-std-' + colour_variable + '-light')
      div.bsk-col-12-md-2
        +colour--swatch(colour_title + ' base', '$bsk-colour-std-' + colour_variable + '-base', colour_base_value)(class='app-colour-bsk-colour-std-' + colour_variable + '-base')
      div.bsk-col-12-md-2
        +colour--swatch(colour_title + ' dark', '$bsk-colour-std-' + colour_variable + '-dark', colour_dark_value)(class='app-colour-bsk-colour-std-' + colour_variable + '-dark')
      div.bsk-col-12-md-2
        +colour--swatch(colour_title + ' darker', '$bsk-colour-std-' + colour_variable + '-darker', colour_darker_value)(class='app-colour-bsk-colour-std-' + colour_variable + '-darker')
