mixin social-media--static(icon_classes)
  div.bsk-social-media-static(class!=attributes.class)
    unless icon_classes == 'fa-rss-square'
      i.fa-3x.fab(class=icon_classes)
    else
      i.fa-3x.fas(class=icon_classes)

mixin social-media--linked(icon_classes)
  a.bsk-social-media-link(href='#' class!=attributes.class)
    unless icon_classes == 'fa-rss-square'
      i.fa-3x.fab(class=icon_classes)
    else
      i.fa-3x.fas(class=icon_classes)
