mixin table--body-only()
  table(class!=attributes.class)
    tr
      td Ny-Ålesund
      td Svalbard, High Arctic
      td 150
    tr
      td Rothera
      td Adelaide Island, Antarctica
      td 20 to 100
    tr
      td Halley VI
      td Brunt Ice Shelf, Antarctica
      td 16 to 70

mixin table--header-body()
  table(class!=attributes.class)
    thead
      tr
        th Name
        th Location
        th Personnel
    tbody
      tr
        td Ny-Ålesund
        td Svalbard, High Arctic
        td 150
      tr
        td Rothera
        td Adelaide Island, Antarctica
        td 20 to 100
      tr
        td Halley VI
        td Brunt Ice Shelf, Antarctica
        td 16 to 70

mixin table--header-body-footer()
  table(class!=attributes.class)
    thead
      tr
        th Name
        th Location
        th Personnel
    tfoot
      tr
        td -
        td -
        td 186 to 320
    tbody
      tr
        td Ny-Ålesund
        td Svalbard, High Arctic
        td 150
      tr
        td Rothera
        td Adelaide Island, Antarctica
        td 20 to 100
      tr
        td Halley VI
        td Brunt Ice Shelf, Antarctica
        td 16 to 70

mixin table--contextual-row(context)
  table.bsk-table
    tr
      td standard row
    tr(class!=attributes.class)
      td #{ context } row
