/* BAS Style Kit - Testbed Styles */

// These are additional styles needed for the testbed, built using vriables and styles from the main Style Kit styles.

// Core bootstrap variables
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/variables";

// Core BAS Style Kit variables to override Bootstrap
// Note: This file **MUST** be loaded after Bootstrap's variables, and before other all other styles
@import "bas-style-kit/variables";


// Layout - General

.tb-margin-top {
  margin-top: 20px;
}

.tb-margin-top-ul {
  margin-top: 80px;
}

.tb-margin-top-sl {
  margin-top: 120px;
}

// Layout - Container visibility classes

.tb-visible-container {
  border: 2px solid $bsk-colour-std-grey-base;
}

// Layout - Grid visibility classes

.tb-visible-col-1,
.tb-visible-col-2,
.tb-visible-col-3,
.tb-visible-col-4,
.tb-visible-col-5,
.tb-visible-col-6,
.tb-visible-col-7,
.tb-visible-col-8,
.tb-visible-col-9,
.tb-visible-col-10,
.tb-visible-col-11,
.tb-visible-col-12,
.tb-visible-col-13,
.tb-visible-col-14,
.tb-visible-col-15,
.tb-visible-col-16,
.tb-visible-col-17,
.tb-visible-col-18,
.tb-visible-col-19,
.tb-visible-col-20,
.tb-visible-col-21,
.tb-visible-col-22,
.tb-visible-col-23,
.tb-visible-col-24 {
  padding-top: 15px;
  padding-bottom: 15px;
}

.tb-visible-col-1 {
  background: #2E358B;
}

.tb-visible-col-2 {
  background: #D53880;
}

.tb-visible-col-3 {
  background: #B10E1E;
}

.tb-visible-col-4 {
  background: #F47738;
}

.tb-visible-col-5 {
  background: #006435;
}

.tb-visible-col-6 {
  background: #005EA5;
}

.tb-visible-col-7 {
background: #6F72AF;
}

.tb-visible-col-8 {
background: #F499BE;
}

.tb-visible-col-9 {
background: #DF3034;
}

.tb-visible-col-10 {
background: #FFBF47;
}

.tb-visible-col-11 {
background: #85994B;
}

.tb-visible-col-12 {
  background: #2B8CC4;
}

.tb-visible-col-13 {
  background: #2E358B;
}

.tb-visible-col-14 {
  background: #D53880;
}

.tb-visible-col-15 {
  background: #B10E1E;
}

.tb-visible-col-16 {
  background: #F47738;
}

.tb-visible-col-17 {
  background: #006435;
}

.tb-visible-col-18 {
  background: #005EA5;
}

.tb-visible-col-19 {
background: #6F72AF;
}

.tb-visible-col-20 {
background: #F499BE;
}

.tb-visible-col-21 {
background: #DF3034;
}

.tb-visible-col-22 {
background: #FFBF47;
}

.tb-visible-col-23 {
background: #85994B;
}

.tb-visible-col-24 {
  background: #2B8CC4;
}

// Typography - Headings

.tb-page-header {
  margin-top: 0;
}

.tb-sample-sub-heading {
  color: $bsk-colour-std-turquoise-base;
}

.tb-sample-sub-heading-experiment {
  color: $bsk-colour-std-sky-blue-base;
}

.tb-sample-sub-heading-javascript {
  color: $bsk-colour-std-orange-base;
}

// Typography - Font-face samples

.tb-ff-open-sans-light {
  font-family: "Open Sans";
  font-weight: 300;
}

.tb-ff-open-sans-regular {
  font-family: "Open Sans";
  font-weight: normal;
}

.tb-ff-open-sans-bold {
  font-family: "Open Sans";
  font-weight: bold;
}

.tb-ff-gill-sans-light {
  font-family: "Gill Sans";
  font-weight: 100;
}

.tb-ff-gill-sans-book  {
  font-family: "Gill Sans";
  font-weight: 200;
}

.tb-ff-gill-sans-roman {
  font-family: "Gill Sans";
  font-weight: 300;
}

.tb-ff-menlo-regular {
  font-family: Menlo;
}

.tb-ff-helvetica-neue-regular {
  font-family: "Helvetica Neue";
}

// Core - Colour swatches

.tb-colour-swatch {
  width: 75px;
  height: 75px;
}

.tb-colour-swatch-bsk-colour-std-white {
  background-color: $bsk-colour-std-white;
  border: 1px solid $bsk-colour-std-grey-lighter;
}

.tb-colour-swatch-bsk-colour-std-grey-lighter {
  background-color: $bsk-colour-std-grey-lighter;
}

.tb-colour-swatch-bsk-colour-std-grey-light {
  background-color: $bsk-colour-std-grey-light;
}

.tb-colour-swatch-bsk-colour-std-grey-base {
  background-color: $bsk-colour-std-grey-base;
}

.tb-colour-swatch-bsk-colour-std-grey-dark {
  background-color: $bsk-colour-std-grey-dark;
}
.tb-colour-swatch-bsk-colour-std-grey-darker {
  background-color: $bsk-colour-std-grey-darker;
}

.tb-colour-swatch-bsk-colour-std-black {
  background-color: $bsk-colour-std-black;
}

.tb-colour-swatch-bsk-colour-std-yellow-lighter {
  background-color: $bsk-colour-std-yellow-lighter;
}

.tb-colour-swatch-bsk-colour-std-yellow-light {
  background-color: $bsk-colour-std-yellow-light;
}

.tb-colour-swatch-bsk-colour-std-yellow-base {
  background-color: $bsk-colour-std-yellow-base;
}

.tb-colour-swatch-bsk-colour-std-yellow-dark {
  background-color: $bsk-colour-std-yellow-dark;
}

.tb-colour-swatch-bsk-colour-std-yellow-darker {
  background-color: $bsk-colour-std-yellow-darker;
}

.tb-colour-swatch-bsk-colour-std-orange-lighter {
  background-color: $bsk-colour-std-orange-lighter;
}

.tb-colour-swatch-bsk-colour-std-orange-light {
  background-color: $bsk-colour-std-orange-light;
}

.tb-colour-swatch-bsk-colour-std-orange-base {
  background-color: $bsk-colour-std-orange-base;
}

.tb-colour-swatch-bsk-colour-std-orange-dark {
  background-color: $bsk-colour-std-orange-dark;
}

.tb-colour-swatch-bsk-colour-std-orange-darker {
  background-color: $bsk-colour-std-orange-darker;
}

.tb-colour-swatch-bsk-colour-std-aircraft-red-lighter {
  background-color: $bsk-colour-std-aircraft-red-lighter;
}

.tb-colour-swatch-bsk-colour-std-aircraft-red-light {
  background-color: $bsk-colour-std-aircraft-red-light;
}

.tb-colour-swatch-bsk-colour-std-aircraft-red-base {
  background-color: $bsk-colour-std-aircraft-red-base;
}

.tb-colour-swatch-bsk-colour-std-aircraft-red-dark {
  background-color: $bsk-colour-std-aircraft-red-dark;
}

.tb-colour-swatch-bsk-colour-std-aircraft-red-darker {
  background-color: $bsk-colour-std-aircraft-red-darker;
}

.tb-colour-swatch-bsk-colour-std-red-lighter {
  background-color: $bsk-colour-std-red-lighter;
}

.tb-colour-swatch-bsk-colour-std-red-light {
  background-color: $bsk-colour-std-red-light;
}

.tb-colour-swatch-bsk-colour-std-red-base {
  background-color: $bsk-colour-std-red-base;
}

.tb-colour-swatch-bsk-colour-std-red-dark {
  background-color: $bsk-colour-std-red-dark;
}

.tb-colour-swatch-bsk-colour-std-red-darker {
  background-color: $bsk-colour-std-red-darker;
}

.tb-colour-swatch-bsk-colour-std-baby-pink-lighter {
  background-color: $bsk-colour-std-baby-pink-lighter;
}

.tb-colour-swatch-bsk-colour-std-baby-pink-light {
  background-color: $bsk-colour-std-baby-pink-light;
}

.tb-colour-swatch-bsk-colour-std-baby-pink-base {
  background-color: $bsk-colour-std-baby-pink-base;
}

.tb-colour-swatch-bsk-colour-std-baby-pink-dark {
  background-color: $bsk-colour-std-baby-pink-dark;
}

.tb-colour-swatch-bsk-colour-std-baby-pink-darker {
  background-color: $bsk-colour-std-baby-pink-darker;
}

.tb-colour-swatch-bsk-colour-std-pink-lighter {
  background-color: $bsk-colour-std-pink-lighter;
}

.tb-colour-swatch-bsk-colour-std-pink-light {
  background-color: $bsk-colour-std-pink-light;
}

.tb-colour-swatch-bsk-colour-std-pink-base {
  background-color: $bsk-colour-std-pink-base;
}

.tb-colour-swatch-bsk-colour-std-pink-dark {
  background-color: $bsk-colour-std-pink-dark;
}

.tb-colour-swatch-bsk-colour-std-pink-darker {
  background-color: $bsk-colour-std-pink-darker;
}

.tb-colour-swatch-bsk-colour-std-fuschia-lighter {
  background-color: $bsk-colour-std-fuschia-lighter;
}

.tb-colour-swatch-bsk-colour-std-fuschia-light {
  background-color: $bsk-colour-std-fuschia-light;
}

.tb-colour-swatch-bsk-colour-std-fuschia-base {
  background-color: $bsk-colour-std-fuschia-base;
}

.tb-colour-swatch-bsk-colour-std-fuschia-dark {
  background-color: $bsk-colour-std-fuschia-dark;
}

.tb-colour-swatch-bsk-colour-std-fuschia-darker {
  background-color: $bsk-colour-std-fuschia-darker;
}

.tb-colour-swatch-bsk-colour-std-mauve-lighter {
  background-color: $bsk-colour-std-mauve-lighter;
}

.tb-colour-swatch-bsk-colour-std-mauve-light {
  background-color: $bsk-colour-std-mauve-light;
}

.tb-colour-swatch-bsk-colour-std-mauve-base {
  background-color: $bsk-colour-std-mauve-base;
}

.tb-colour-swatch-bsk-colour-std-mauve-dark {
  background-color: $bsk-colour-std-mauve-dark;
}

.tb-colour-swatch-bsk-colour-std-mauve-darker {
  background-color: $bsk-colour-std-mauve-darker;
}

.tb-colour-swatch-bsk-colour-std-sky-blue-lighter {
  background-color: $bsk-colour-std-sky-blue-lighter;
}

.tb-colour-swatch-bsk-colour-std-sky-blue-light {
  background-color: $bsk-colour-std-sky-blue-light;
}

.tb-colour-swatch-bsk-colour-std-sky-blue-base {
  background-color: $bsk-colour-std-sky-blue-base;
}

.tb-colour-swatch-bsk-colour-std-sky-blue-dark {
  background-color: $bsk-colour-std-sky-blue-dark;
}

.tb-colour-swatch-bsk-colour-std-sky-blue-darker {
  background-color: $bsk-colour-std-sky-blue-darker;
}

.tb-colour-swatch-bsk-colour-std-blue-lighter {
  background-color: $bsk-colour-std-blue-lighter;
}

.tb-colour-swatch-bsk-colour-std-blue-light {
  background-color: $bsk-colour-std-blue-light;
}

.tb-colour-swatch-bsk-colour-std-blue-base {
  background-color: $bsk-colour-std-blue-base;
}

.tb-colour-swatch-bsk-colour-std-blue-dark {
  background-color: $bsk-colour-std-blue-dark;
}

.tb-colour-swatch-bsk-colour-std-blue-darker {
  background-color: $bsk-colour-std-blue-darker;
}

.tb-colour-swatch-bsk-colour-std-turquoise-lighter {
  background-color: $bsk-colour-std-turquoise-lighter;
}

.tb-colour-swatch-bsk-colour-std-turquoise-light {
  background-color: $bsk-colour-std-turquoise-light;
}

.tb-colour-swatch-bsk-colour-std-turquoise-base {
  background-color: $bsk-colour-std-turquoise-base;
}

.tb-colour-swatch-bsk-colour-std-turquoise-dark {
  background-color: $bsk-colour-std-turquoise-dark;
}

.tb-colour-swatch-bsk-colour-std-turquoise-darker {
  background-color: $bsk-colour-std-turquoise-darker;
}

.tb-colour-swatch-bsk-colour-std-green-lighter {
  background-color: $bsk-colour-std-green-lighter;
}

.tb-colour-swatch-bsk-colour-std-green-light {
  background-color: $bsk-colour-std-green-light;
}

.tb-colour-swatch-bsk-colour-std-green-base {
  background-color: $bsk-colour-std-green-base;
}

.tb-colour-swatch-bsk-colour-std-green-dark {
  background-color: $bsk-colour-std-green-dark;
}

.tb-colour-swatch-bsk-colour-std-green-darker {
  background-color: $bsk-colour-std-green-darker;
}

.tb-colour-swatch-bsk-colour-std-nerc-green-lighter {
  background-color: $bsk-colour-std-nerc-green-lighter;
}

.tb-colour-swatch-bsk-colour-std-nerc-green-light {
  background-color: $bsk-colour-std-nerc-green-light;
}

.tb-colour-swatch-bsk-colour-std-nerc-green-base {
  background-color: $bsk-colour-std-nerc-green-base;
}

.tb-colour-swatch-bsk-colour-std-nerc-green-dark {
  background-color: $bsk-colour-std-nerc-green-dark;
}

.tb-colour-swatch-bsk-colour-std-nerc-green-darker {
  background-color: $bsk-colour-std-nerc-green-darker;
}

.tb-colour-swatch-bsk-colour-std-brown-lighter {
  background-color: $bsk-colour-std-brown-lighter;
}

.tb-colour-swatch-bsk-colour-std-brown-light {
  background-color: $bsk-colour-std-brown-light;
}

.tb-colour-swatch-bsk-colour-std-brown-base {
  background-color: $bsk-colour-std-brown-base;
}

.tb-colour-swatch-bsk-colour-std-brown-dark {
  background-color: $bsk-colour-std-brown-dark;
}

.tb-colour-swatch-bsk-colour-std-brown-darker {
  background-color: $bsk-colour-std-brown-darker;
}

.tb-colour-swatch-btn-default-bg {
  background-color: $btn-default-bg;
}

.tb-colour-swatch-btn-default-border {
  background-color: $btn-default-border;
}

.tb-colour-swatch-btn-primary-border {
  background-color: $btn-primary-border;
}

.tb-colour-swatch-link-colour {
  background-color: $link-color;
}

// Core - Forms

.tb-simulated-state-focus {
  border-color: #ccc;
  border-color: rgba(82, 168, 236, .8);
  outline: 0;
  outline: thin dotted \9;
  -webkit-box-shadow: 0 0 8px rgba(82, 168, 236, .6);
  box-shadow: 0 0 8px rgba(82, 168, 236, .6)
}

// Component - Drop-downs

.tb-simulated-state-open {
  display: block;
}

// Component - Navbars

.tb-navbar-lg {
  min-height: 100px;
}

.tb-navbar-brand-image-32 {
  padding-top: 9px;
}

.tb-navbar-brand-image-48,
.tb-navbar-brand-image-96 {
  padding-top: 1px !important;
}

.tb-navbar-brand-image-48-lg {
  padding-top: 25px !important;
}

.tb-navbar-brand-image-64 {
  padding-top: 17px !important;
}

.tb-navbar-brand-image-48 img,
.tb-navbar-brand-image-48-lg img {
  max-width: 48px;
}

.tb-navbar-brand-image-64 img {
  max-width: 64px;
}

.tb-navbar-brand-image-96 img {
  max-width: 96px;
}

.tb-navbar-brand-image-128 img {
  max-width: 128px;
}

.tb-simulated-state-uncollapsed {
  position: relative;
  float: right;
  padding: 9px 10px;
  margin-top: 8px;
  margin-right: 15px;
  margin-bottom: 8px;
  background-color: transparent;
  background-image: none;
  border-color: #222;
  border: 1px solid transparent;
  border-radius: 0;

  &:hover, &:focus {
    background-color: #555;
  }

  &:focus {
    outline: 0;
  }

  .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
    background-color: #fff;
  }
}

.tb-simulated-state-uncollapsed .icon-bar + .icon-bar {
  margin-top: 4px; }

// Component - Jumbotrons

.tb-jumbotron-background-image {
  background-image: url('/testbed/testbed-assets/img/responsive-image.jpg');
  background-repeat: no-repeat;
}

// Logomark backrgrounds

.tb-logomark-wrapper {
  margin-bottom: 10px;
}

.tb-logomark-instance {
  padding-top: 15px;
  padding-bottom: 15px;
}

.tb-logomark-bg-white {
  background-color: $bsk-colour-std-white;
  border: 1px solid $bsk-colour-std-grey-lighter;
}

.tb-logomark-bg-grey {
  background-color: $bsk-colour-std-grey-light;
}

.tb-logomark-bg-black {
  background-color: $bsk-colour-std-black;
}
