{% extends "layouts/collection.layout.njk" %}

{% set collection_title = "12 column grid (layout)" %}
{% set collection_samples = [
  "0049--grid-12-basic",
  "0051--grid-12-offset",
  "0053--grid-12-sizes",
  "0055--grid-12-nested"
] %}
