{% extends "layouts/collection.layout.njk" %}

{% set collection_title = "24 column grid (layout)" %}
{% set collection_samples = [
  "0050--grid-24-basic",
  "0052--grid-24-offset",
  "0054--grid-24-sizes",
  "0056--grid-24-nested"
] %}
