{% extends "layouts/collection.layout.njk" %}

{% set collection_title = "Alerts" %}
{% set collection_samples = [
  "0134--alert-success",
  "0135--alert-warning",
  "0136--alert-danger",
  "0137--alert-info"
] %}
