{% extends "layouts/collection.layout.njk" %}

{% set collection_title = "Alerts" %}
{% set collection_samples = [
  "0323--alert-solid-primary",
  "0324--alert-outline-primary",
  "0325--alert-highlight-primary",
  "0326--alert-block-primary",
  "0134--alert-solid-success",
  "0309--alert-outline-success",
  "0314--alert-highlight-success",
  "0318--alert-block-success",
  "0135--alert-solid-warning",
  "0310--alert-outline-warning",
  "0315--alert-highlight-warning",
  "0319--alert-block-warning",
  "0136--alert-solid-danger",
  "0311--alert-outline-danger",
  "0316--alert-highlight-danger",
  "0320--alert-block-danger",
  "0137--alert-solid-info",
  "0312--alert-outline-info",
  "0317--alert-highlight-info",
  "0321--alert-block-info",
  "0336--alert-solid-experimental",
  "0337--alert-outline-experimental",
  "0338--alert-highlight-experimental",
  "0339--alert-block-experimental",
  "0322--alert-layout-static-top",
  "0327--alert-solid-cookie-notice"
] %}
