{% extends "layouts/collection.layout.njk" %}

{% set collection_title = "Alternative grid (layout)" %}
{% set collection_samples = [
  "0050--grid-alt-basic",
  "0052--grid-alt-offsets",
  "0054--grid-alt-sizes",
  "0056--grid-alt-nested"
] %}
