{% extends "layouts/collection.layout.njk" %}

{% set collection_title = "BAS logomark (images)" %}
{% set collection_samples = [
  "0328--logomark-bas-logo-default",
  "0329--logomark-bas-logo-mono",
  "0330--logomark-bas-logo-inverse",
  "0331--logomark-bas-roundel-default",
  "0332--logomark-bas-roundel-mono",
  "0333--logomark-bas-roundel-inverse"
] %}
