{% extends "layouts/collection.layout.njk" %}

{% set collection_title = "Buttons" %}
{% set collection_samples = [
  "0080--button-default",
  "0081--button-primary",
  "0082--button-contextual-success",
  "0083--button-contextual-warning",
  "0084--button-contextual-danger",
  "0085--button-contextual-info",
  "0341--button-experimental",
  "0086--button-link",
  "0087--button-state-active",
  "0088--button-state-disabled",
  "0089--button-sizes",
  "0090--button-block"
] %}
