{% extends "layouts/collection.layout.njk" %}

{% set collection_title = "Button groups (layout)" %}
{% set collection_samples = [
  "0203--button-group",
  "0204--button-group-toolbar",
  "0205--button-group-sizes",
  "0206--button-group-layout-nested",
  "0207--button-group-layout-vertical",
  "0208--button-group-layout-justified"
] %}
