{% extends "layouts/collection.layout.njk" %}

{% set collection_title = "Colours (core)" %}
{% set collection_samples = [
  "0097--colours-page-background",
  "0096--colours-action-typography",
  "0094--colours-action-default",
  "0095--colours-action-primary",
  "0092--colours-scheme-brand",
  "0092--colours-scheme-brand",
  "0091--colours-scheme-greyscale"
] %}
