{% extends "layouts/collection.layout.njk" %}

{% set collection_title = "Inline components (controls)" %}
{% set collection_samples = [
  "0138--badge",
  "0139--label-default",
  "0140--label-success",
  "0141--label-warning",
  "0142--label-danger",
  "0143--label-info"
] %}
