{% extends "layouts/collection.layout.njk" %}

{% set collection_title = "Inline components (controls)" %}
{% set collection_samples = [
  "0138--badge",
  "0139--label-default",
  "0303--label-primary",
  "0140--label-success",
  "0141--label-warning",
  "0142--label-danger",
  "0143--label-info",
  "0304--label-phase-discovery",
  "0305--label-phase-alpha",
  "0306--label-phase-beta",
  "0307--label-phase-live",
  "0308--label-phase-retired",
  "0340--label-experimental"
] %}
