{% extends "layouts/collection.layout.njk" %}

{% set collection_title = "Inline components (typography)" %}
{% set collection_samples = [
  "0025--small",
  "0026--bold",
  "0027--italic",
  "0028--underlined",
  "0029--marked",
  "0030--strike",
  "0031--deleted",
  "0032--inserted",
  "0044--code-inline",
  "0046--code-variable",
  "0047--code-input",
  "0301--link",
  "0351--text-contextual-success",
  "0352--text-contextual-warning",
  "0353--text-contextual-danger",
  "0354--text-contextual-info"
] %}
