{% extends "layouts/collection.layout.njk" %}

{% set collection_title = "Block components (typography)" %}
{% set collection_samples = [
  "0035--abbrevation",
  "0036--address",
  "0037--blockquote",
  "0045--code-block",
  "0048--code-sample"
] %}
