{% extends "layouts/collection.layout.njk" %}

{% set collection_title = "Core (typography)" %}
{% set collection_samples = [
  "0011--text-raw",
  "0012--paragraph",
  "0016--paragraph-lead",
  "0014--headings",
  "0015--headings-small"
] %}
