{% extends "layouts/collection.layout.njk" %}

{% set collection_title = "Description Lists (typography)" %}
{% set collection_samples = [
  "0005--dl",
  "0006--dl-horizontal",
  "0007--dl-dl-bsk",
  "0008--dl-dl-bsk-dl-bsk-striped",
  "0009--dl-dl-bsk-dl-horizontal-dl-bsk-horizontal-lg",
  "0010--dl-dl-bsk-dl-horizontal-dl-bsk-horizontal-lg-dl-bsk-striped"
] %}
