{% extends "layouts/collection.layout.njk" %}

{% set collection_title = "Description Lists (typography)" %}
{% set collection_samples = [
  "0005--dl",
  "0006--dl-horizontal",
  "0007--dl-dl-lg",
  "0008--dl-dl-lg-dl-striped",
  "0009--dl-dl-lg-dl-horizontal-dl-horizontal-lg",
  "0010--dl-dl-lg-dl-horizontal-dl-horizontal-lg-dl-striped"
] %}
