{% extends "layouts/collection.layout.njk" %}

{% set collection_title = "Drop-downs (controls)" %}
{% set collection_samples = [
  "0186--drop-down-button",
  "0187--drop-down-button-split",
  "0188--drop-down-button-reverse",
  "0189--drop-down-component-divider",
  "0190--drop-down-component-header",
  "0191--drop-down-state-active",
  "0192--drop-down-state-disabled",
  "0193--drop-down-layout-right-aligned"
] %}
