{% extends "layouts/collection.layout.njk" %}

{% set collection_title = "Font faces (typography)" %}
{% set collection_samples = [
  "0013--fonts",
  "0017--font-comparisons",
  "0018--font-open-sans-light",
  "0019--font-open-sans-regular",
  "0020--font-open-sans-bold",
  "0021--font-gill-sans-light",
  "0022--font-gill-sans-book",
  "0023--font-gill-sans-roman",
  "0024--font-menlo-regular"
] %}
