{% extends "layouts/collection.layout.njk" %}

{% set collection_title = "Form sizes (forms)" %}
{% set collection_samples = [
  "0126--form-size-width-grid-12",
  "0127--form-size-width-grid-24",
  "0128--form-size-height"
] %}

