{% extends "layouts/collection.layout.njk" %}

{% set collection_title = "Other form inputs (forms)" %}
{% set collection_samples = [
  "0115--form-control-radio",
  "0116--form-control-checkbox",
  "0117--form-control-radio-inline",
  "0118--form-control-checkbox-inline"
] %}
