{% extends "layouts/collection.layout.njk" %}

{% set collection_title = "Form layouts (forms)" %}
{% set collection_samples = [
  "0121--form-layout-group-single",
  "0122--form-layout-group-multiple",
  "0123--form-layout-horizontal",
  "0124--form-layout-inline-labels-visible",
  "0125--form-layout-inline-labels-invisible"
] %}
