{% extends "layouts/collection.layout.njk" %}

{% set collection_title = "Other form inputs (forms)" %}
{% set collection_samples = [
  "0111--form-control-textarea",
  "0112--form-control-select",
  "0113--form-control-select-multiple",
  "0119--form-control-button",
  "0129--form-help-block"
] %}
