{% extends "layouts/collection.layout.njk" %}

{% set collection_title = "Text related form inputs (forms)" %}
{% set collection_samples = [
  "0098--form-control-input-text",
  "0099--form-control-input-password",
  "0100--form-control-input-email",
  "0101--form-control-input-number",
  "0102--form-control-input-time",
  "0103--form-control-input-date",
  "0104--form-control-input-month",
  "0105--form-control-input-week",
  "0106--form-control-input-datetime-local",
  "0107--form-control-input-url",
  "0108--form-control-input-search",
  "0109--form-control-input-tel",
  "0110--form-control-input-color",
  "0114--form-control-file",
  "0120--form-control-static"
] %}
