{% extends "layouts/collection.layout.njk" %}

{% set collection_title = "Header & footers" %}
{% set collection_samples = [
  "0144--header-default",
  "0145--footer-default",
  "0146--footer-divider",
  "0147--footer-ogl",
  "0148--footer-policy-links",
  "0149--footer-layout-fixed-bottom",
  "0150--footer-layout-static-bottom"
] %}
