{% extends "layouts/collection.layout.njk" %}

{% set collection_title = "Icons (core)" %}
{% set collection_samples = [
  "0233--conventional-icon-drop-down-caret",
  "0234--conventional-icon-close",
  "0235--conventional-icon-image-purchase",
  "0236--conventional-icon-context-success",
  "0237--conventional-icon-context-warning",
  "0238--conventional-icon-context-danger",
  "0239--conventional-icon-context-info"
] %}
