{% extends "layouts/collection.layout.njk" %}

{% set collection_title = "Image copyright (controls)" %}
{% set collection_samples = [
  "0293--image-copyright",
  "0294--image-copyright-a",
  "0210--image-copyright-thumbnail",
  "0209--image-copyright-thumbnail-caption",
  "0211--image-copyright-jumbotron"
] %}
