{% extends "layouts/collection.layout.njk" %}

{% set collection_title = "Image purchase (controls)" %}
{% set collection_samples = [
  "0209--image-purchase-thumbnail-caption",
  "0210--image-purchase-thumbnail",
  "0211--image-purchase-jumbotron"
] %}
