{% extends "layouts/collection.layout.njk" %}

{% set collection_title = "Images" %}
{% set collection_samples = [
  "0130--img-shape-rounded",
  "0131--img-shape-circle",
  "0132--img-shape-thumbnail",
  "0133--img-shape-responsive"
] %}
