{% extends "layouts/collection.layout.njk" %}

{% set collection_title = "Input groups (controls)" %}
{% set collection_samples = [
  "0278--input-group-input",
  "0279--input-group-select",
  "0280--input-group-radio",
  "0281--input-group-checkbox",
  "0282--input-group-button",
  "0283--input-group-drop-down",
  "0284--input-group-split-button",
  "0285--input-group-sizes"
] %}
