{% extends "layouts/collection.layout.njk" %}

{% set collection_title = "Jumbotron (layout)" %}
{% set collection_samples = [
  "0169--jumbotron-default",
  "0170--jumbotron-style-inverse",
  "0171--jumbotron-sizes"
] %}
