{% extends "layouts/collection.layout.njk" %}

{% set collection_title = "Lists (typography)" %}
{% set collection_samples = [
  "0001--list-unordered",
  "0002--list-ordered",
  "0003--list-unstyled",
  "0004--list-inline"]
%}
