{% extends "layouts/collection.layout.njk" %}

{% set collection_title = "List group" %}
{% set collection_samples = [
  "0212--list-group",
  "0213--list-group-item-linked",
  "0218--list-group-item-button",
  "0221--list-group-item-badge",
  "0219--list-group-item-state-active",
  "0220--list-group-item-state-disabled",
  "0214--list-group-item-contextual-success",
  "0215--list-group-item-contextual-warning",
  "0216--list-group-item-contextual-danger",
  "0217--list-group-item-contextual-info"
] %}
