{% extends "layouts/collection.layout.njk" %}

{% set collection_title = "Lists (typography)" %}
{% set collection_samples = [
  "0001--ul",
  "0002--ol",
  "0003--ul-unstyled",
  "0004--ul-inline"
] %}
