{% extends "layouts/collection.layout.njk" %}

{% set collection_title = "Media objects (layout)" %}
{% set collection_samples = [
  "0194--media-object",
  "0195--media-object-headings",
  "0196--media-object-images",
  "0197--media-object-layout-list",
  "0198--media-object-layout-nested",
  "0199--media-object-alignment-left",
  "0200--media-object-alignment-right",
  "0201--media-object-alignment-middle",
  "0202--media-object-alignment-bottom"
] %}
