{% extends "layouts/collection.layout.njk" %}

{% set collection_title = "Navbars (layout)" %}
{% set collection_samples = [
  "0247--navbar",
  "0248--navbar-layout-collapsed-items",
  "0249--navbar-component-collapse-menu",
  "0250--navbar-component-brand-text",
  "0251--navbar-component-brand-image",
  "0252--navbar-component-brand-text-image",
  "0253--navbar-component-items",
  "0254--navbar-component-text",
  "0255--navbar-component-button-default",
  "0256--navbar-component-button-primary",
  "0257--navbar-component-button-contextual-success",
  "0258--navbar-component-button-contextual-warning",
  "0259--navbar-component-button-contextual-danger",
  "0260--navbar-component-button-contextual-info",
  "0261--navbar-component-items-overflow",
  "0262--navbar-component-form-input",
  "0263--navbar-component-form-submit",
  "0264--navbar-component-form-select",
  "0265--navbar-component-form-radio-inline",
  "0266--navbar-component-form-checkbox-inline",
  "0267--navbar-component-drop-down",
  "0268--navbar-component-link",
  "0269--navbar-sizes",
  "0270--navbar-state-items-active",
  "0271--navbar-state-items-disabled",
  "0272--navbar-layout-collapsed-items",
  "0273--navbar-alignment-left",
  "0274--navbar-alignment-right",
  "0275--navbar-layout-fixed-top",
  "0276--navbar-layout-fixed-bottom",
  "0277--navbar-layout-static-top",
  "0345--javascript-collapse-plugin"
] %}
