{% extends "layouts/collection.layout.njk" %}

{% set collection_title = "Navs (layout)" %}
{% set collection_samples = [
  "0222--pill-nav",
  "0223--pill-nav-drop-down",
  "0224--pill-nav-state-active",
  "0225--pill-nav-state-disabled",
  "0226--pill-nav-layout-stacked",
  "0227--pill-nav-layout-justified",
  "0228--tab-nav",
  "0229--tab-nav-drop-down",
  "0230--tab-nav-state-active",
  "0231--tab-nav-state-disabled",
  "0232--tab-nav-layout-justified"
] %}
