{% extends "layouts/collection.layout.njk" %}

{% set collection_title = "OGL logomark (images)" %}
{% set collection_samples = [
  "0334--logomark-ogl-symbol-default",
  "0335--logomark-ogl-symbol-inverse"
] %}
