{% extends "layouts/collection.layout.njk" %}

{% set collection_title = "Pagination and Pager (controls)" %}
{% set collection_samples = [
  "0160--pagination",
  "0161--pagination-state-active",
  "0162--pagination-state-disabled",
  "0163--pagination-sizes",
  "0164--pager",
  "0165--pager-state-disabled",
  "0166--pager-sizes",
  "0167--pager-layout-aligned"
] %}
