{% extends "layouts/collection.layout.njk" %}

{% set collection_title = "Panels (layout)" %}
{% set collection_samples = [
  "0153--panel-default",
  "0154--panel-primary",
  "0155--panel-success",
  "0156--panel-warning",
  "0157--panel-danger",
  "0158--panel-info"
] %}
