{% extends "layouts/collection.layout.njk" %}

{% set collection_title = "Progress bar (controls)" %}
{% set collection_samples = [
  "0240--progress-bar",
  "0241--progress-bar-labelled",
  "0242--progress-bar-contextual-success",
  "0243--progress-bar-contextual-warning",
  "0244--progress-bar-contextual-danger",
  "0245--progress-bar-contextual-info",
  "0246--progress-bar-layout-stacked"
] %}
