{% extends "layouts/collection.layout.njk" %}

{% set collection_title = "Responsive embed (layout)" %}
{% set collection_samples = [
  "0173--responsive-embed-6-9",
  "0174--responsive-embed-4-3"
] %}
