{% extends "layouts/collection.layout.njk" %}

{% set collection_title = "Sidebar (layout)" %}
{% set collection_samples = [
  "0286--sidebar-default",
  "0287--sidebar-inverse",
  "0288--sidebar-headings",
  "0289--sidebar-no-heading",
  "0290--sidebar-sizes"
] %}
