{% extends "layouts/collection.layout.njk" %}

{% set collection_title = "Social media (controls)" %}
{% set collection_samples = [
  "0177--social-media-static-symbol-twitter",
  "0178--social-media-static-symbol-facebook",
  "0179--social-media-static-symbol-youtube",
  "0180--social-media-static-symbol-rss",
  "0181--social-media-linked-symbol-twitter",
  "0182--social-media-linked-symbol-facebook",
  "0183--social-media-linked-symbol-youtube",
  "0184--social-media-linked-symbol-rss",
  "0185--social-media-layout-list-inline"
] %}
