{% extends "layouts/collection.layout.njk" %}

{% set collection_title = "Standard grid (layout)" %}
{% set collection_samples = [
  "0049--grid-standard-basic",
  "0051--grid-standard-offsets",
  "0053--grid-standard-sizes",
  "0055--grid-standard-nested"
] %}
