{% extends "layouts/collection.layout.njk" %}

{% set collection_title = "Tables" %}
{% set collection_samples = [
  "0071--table",
  "0072--table-striped",
  "0073--table-bordered",
  "0074--table-hover",
  "0302--table-striped-hover",
  "0076--table-condensed",
  "0075--table-rows-contextual-success",
  "0077--table-rows-contextual-warning",
  "0078--table-rows-contextual-danger",
  "0079--table-rows-contextual-info",
  "0292--table-responsive"
] %}
