{% extends "layouts/collection.layout.njk" %}

{% set collection_title = "Utilities (typography)" %}
{% set collection_samples = [
  "0033--text-alignment-left",
  "0038--text-alignment-right",
  "0039--text-alignment-center",
  "0040--text-alignment-justify",
  "0041--text-alignment-no-wrapping",
  "0034--text-transformation-lower-case",
  "0043--text-transformation-upper-case",
  "0042--text-transformation-title-case"
] %}
