{% extends "layouts/collection.layout.njk" %}

{% set collection_title = "Visibility (layout)" %}
{% set collection_samples = [
  "0059--float-left",
  "0060--float-right",
  "0061--position-center",
  "0062--visibility-show",
  "0063--visibility-hidden",
  "0064--visibility-invisible",
  "0065--visibility-sr-only",
  "0066--visibility-breakpoints-visible-block",
  "0067--visibility-breakpoints-hidden",
  "0068--visibility-breakpoints-visible-inline",
  "0069--visibility-breakpoints-visible-inline-block",
  "0070--clearfix"
] %}
