header.site-header
  include ../../includes/bas-style-kit/header--cookie-notice.pug
  include ../../includes/bas-style-kit/header--site-navigation.pug
  include ../../includes/bas-style-kit/header--development-phase.pug
