header.site-header
    include ../../../node_modules/@antarctica/bas-style-kit-pug-templates/includes/bas-style-kit/bsk--header--cookie-notice.pug
    include ../../../node_modules/@antarctica/bas-style-kit-pug-templates/includes/bas-style-kit/bsk--header--site-navigation.pug
    include ./bsk--header--development-phase.pug
