div.bsk-fix-alert-static-top-fixed-container-wrapper
  div.bsk-container
    div.bsk-alert.bsk-alert-static-top.bsk-alert-dismissible.bsk-alert-solid.bsk-alert-cookie-notice(role-bsk-role='cookie-notice')
      button.bsk-close(type='button' data-dismiss='alert' aria-label='Close')
        i.fa.fa-times(aria-hidden='true')
      | This website uses cookies to help us make it better - #[a.bsk-alert-link(href=bsk_attributes.cookie_notice_href) find out more].
