//
// Alerts
// --------------------------------------------------


// Alert components
//

// Conventional and Contextual icons
//
// Expand the right padding to better position the icon for an alert
//
// This uses a double definition so that '.bsk-alert-icon' can be placed on the alert container to act as a
// marker/trigger for other styles - i.e. '.bsk-alert-body' does something different if an icon is used in the
// same alert. The inner '.bsk-alert-icon' holds the styles we want to apply to the actual icon.

.alert-icon {
  .alert-icon {
    padding-right: $alert-block-icon-padding-right;
  }
}


// Alert styles
//
// Note there is no class for the 'solid' variant as it simply sets a background colour

.alert-outline {
  border-width: $alert-border-width;
  border-style: solid;
  background-color: transparent;
}

.alert-highlight {
  border: none;
  border-left-width: $alert-border-width;
  border-left-style: solid;
  background-color: transparent;
}


// Alert variants
//

@include make-alert('primary', $alert-primary-base, $alert-primary-highlight, $alert-solid-text-color);
@include make-alert('experimental', $alert-experimental-base, $alert-experimental-highlight, $alert-solid-text-color);
@include make-alert('cookie-notice', $alert-cookie-notice-base, $alert-cookie-notice-highlight, $alert-solid-text-color);
@include make-alert('success', $alert-success-base, $alert-success-highlight, $alert-solid-text-color);
@include make-alert('warning', $alert-warning-base, $alert-warning-highlight, $alert-warning-solid-text);
@include make-alert('danger', $alert-danger-base, $alert-danger-highlight, $alert-solid-text-color);
@include make-alert('info', $alert-info-base, $alert-info-highlight, $alert-solid-text-color);


// Alert sizes
//

.alert-lg {
  font-size: $alert-lg-font-size;
}


// Alert layouts
//

// Block alerts

.alert-block {
  font-size: 100%;

  .alert-heading {
    padding-bottom: 15px;

    h4 {
      margin-top: 0;
      color: inherit;  // To prevent conflicts of changing $headings-color
    }
  }

  .alert-body {
    > ol,
    > ul {
      margin-left: -25px;
      margin-bottom: 0;
    }
  }

  &.alert-icon {
    .alert-body {
      padding-left: $alert-block-icon-body-padding-left;
    }
  }
}

// Adjusts positioning of alerts for use as banners

.alert-static-top {
  margin-top: 0;
  margin-bottom: 0;
  border: none;
}


// Fixes
// ----------------------

// Adjusts padding of alerts when aligned with navbars as part of a site header in a fixed width container
.fix-alert-static-top-fixed-container-wrapper {
  background-color: $alert-cookie-notice-base;

  .container {
    .alert-cookie-notice {
      padding-left: 0;
      padding-right: 0;

      .close {
        right: 0;
      }
    }
  }
}

// Adjusts padding of alerts when aligned with navbars as part of a site header in a fluid width container
.fix-alert-static-top-fluid-container-wrapper {
  background-color: $alert-cookie-notice-base;

  .container-fluid {
    .alert-cookie-notice {
      padding-left: 0;

      .close {
        right: -35px;
      }
    }
  }
}
