//
// Bands
// --------------------------------------------------
//
// Note: No equivalent of this component exists within Bootstrap, these styles are only found in the BAS Style Kit.

// Base class
//

.band-bsk {
  padding-top: $band-padding-vertical;
  padding-bottom: $band-padding-vertical;

  @media (max-width: $grid-float-breakpoint-max) {
    padding-top: ($band-padding-vertical / 2);
    padding-bottom: ($band-padding-vertical / 2);
  }
}


// Band sizes
//

.band-bsk-md {
  padding-top: $band-md-padding-vertical;
  padding-bottom: $band-md-padding-vertical;

  @media (max-width: $grid-float-breakpoint-max) {
    padding-top: ($band-md-padding-vertical / 2);
    padding-bottom: ($band-md-padding-vertical / 2);
  }
}

.band-bsk-sm {
  padding-top: $band-sm-padding-vertical;
  padding-bottom: $band-sm-padding-vertical;
}


// Band variants
//

.band-bsk-default {
  background-color: $band-default-bg;
}

.band-bsk-inverse {
  background-color: $band-inverse-bg;
}
