//
// Dropdown menus
// --------------------------------------------------

// The dropdown menu (ul)
.dropdown-menu-bsk {
  padding:       $dropdown-menu-bsk-padding-vertical;
  border-radius: $dropdown-menu-bsk-border-radius;

  // Links within the dropdown menu
  > li > a {
    padding-top:    $dropdown-menu-bsk-item-padding-vertical;
    padding-bottom: $dropdown-menu-bsk-item-padding-vertical;
    padding-left:   $dropdown-menu-bsk-item-padding-horizontal;
    padding-right:  $dropdown-menu-bsk-item-padding-horizontal;
  }
}
