//
// Footers
// --------------------------------------------------
// Footers are modelled on navbars, but designed as a more general container, meaning they don't make assumptions about
// their contents for example.
//
// Note: No equivalent of this component exists within Bootstrap, these styles are only found in the BAS Style Kit.
//
// Note: Unlike navbars, you can use text and other elements without footer specific classes. Suitable styles will be
// applied as needed and is why a 'color' is set at the root of a footer, unlike in navbars which set this in classes
// for specific elements (i.e. navbar-text).

// Base class
//
// Provide a static footer from which we expand to create full-width, fixed, and
// other footer variations.

.footer {
  font-family:    $footer-font-family;
  font-weight:    $footer-font-weight;
  font-size:      $footer-font-size;
  position:       relative;
  min-height:     $footer-height; // Ensure a footer always shows
  margin-top:     $footer-margin-top;
  padding-top:    $footer-padding-top;
  padding-bottom: $footer-padding-bottom;
  border:         1px solid transparent;

  @media (min-width: $grid-float-breakpoint) {
    border-radius: $footer-border-radius;
  }
}


// Footer alignment options
//
// Display the footer across the entirety of the page or fixed it to the top or
// bottom of the page.

// Common styles
.footer-static-bottom,
.footer-fixed-bottom {
  border-width: 1px 0 0;

  // Undo the rounded corners
  @media (min-width: $grid-float-breakpoint) {
    border-radius: 0;
  }
}

// Static bottom (unfixed, but 100% wide) footer
.footer-static-bottom {
  z-index: $zindex-footer;
}

// Fix the bottom footer when screen real estate supports it
.footer-fixed-bottom {
  position:      fixed;
  right:         0;
  left:          0;
  bottom:        0;
  z-index:       $zindex-navbar-fixed;
  margin-bottom: 0; // override .navbar defaults
}


// Spacer
//
// Used to separate rows of content non-visually

.footer-spacer {
  clear:         both;
  margin-bottom: $line-height-computed;
}


// Divider
//
// Used to separate rows of content visually

.footer-divider {
  clear:         both;
  margin-top:    $line-height-computed;
  margin-bottom: $line-height-computed;
  border:        0;
  border-top:    1px solid;
}

// Ensures correct padding above dividers where a footer has no content, just standard links and licensing statements
.footer-is-something-wrong + .footer-divider,
.footer-back-to-top + .footer-divider {
  margin-top: 60px;
}


// Is something wrong link
//
// Permanent link for gathering user feedback

.footer-is-something-wrong {
  text-align:    center;
  margin-top:    $footer-is-something-wrong-margin-top;
  margin-bottom: $footer-is-something-wrong-margin-bottom;

  @media (min-width: $screen-md-min) {
    float:         left !important;
    text-align:    left;
    margin-bottom: 0;
  }
}


// Back to top link
//
// Permanent link to the #site-top element

.footer-back-to-top {
  text-align: center;
  margin-top: $footer-back-to-top-margin-top;

  @media (min-width: $screen-md-min) {
    float:      right !important;
    text-align: right;
  }
}


// Governance
//
// Proper positioning for statement explaining BAS' relationship to NERC and UKRI

.footer-governance {
  text-align: center;
  margin-bottom: $footer-governance-margin-bottom;

  @media (min-width: $screen-md-min) {
    float: left !important;
    text-align: left;
    margin-bottom: 0;
  }
}


// OGL symbol and descriptive text
//
// Proper sizing and positioning to give an attractive and usable licensing statement for the Open Government License

.footer-ogl {
  text-align: center;
  margin-top: $footer-ogl-margin-top;

  @media (min-width: $screen-md-min) {
    position:     relative;
    margin-top:   0;
    padding-left: $footer-ogl-padding-left;
    text-align:   left;
  }

  .ogl-symbol {
    @include center-block();

    margin-bottom: $footer-ogl-symbol-margin-bottom;

    a {
      display:             block;
      width:               $footer-ogl-symbol-a-width;
      height:              $footer-ogl-symbol-a-height;
      overflow:            hidden;
      text-indent:         $footer-ogl-symbol-a-text-indent;
      background:          $footer-ogl-symbol-a-background;
      background-repeat:   no-repeat;
      background-position: 50% 0;
    }

    @media (min-width: $screen-md-min) {
      position: absolute;
      left:     $footer-ogl-symbol-left;
      top:      $footer-ogl-symbol-top;
      width:    $footer-ogl-symbol-width;
      height:   $footer-ogl-symbol-height;

      a {
        width:               $footer-ogl-symbol-a-width-fw;
        background-position: 0 0;
      }
    }
  }
}


// Legal polices
//
// Proper positioning for an inline list so that it sits flush with the split line OGL licensing statement

.footer-policy-links {
  text-align: center;

  @media (min-width: $screen-md-min) {
    float:      right !important;
    text-align: right;
  }

  .list-inline {
    margin-bottom: 0;

    li {
      padding-right: 0;
    }
  }
}


// Footer variants
//

.footer-default {
  color:            $footer-default-color;
  background-color: $footer-default-bg;
  border-color:     $footer-default-border;

  .footer-divider {
    border-top-color: $footer-default-divider;
  }

  a {
    color: $footer-default-link-color;

    &:hover {
      color: $footer-default-link-hover-color;
    }
  }
}
