//
// Headers
// --------------------------------------------------
// Headers are modelled on navbars, but designed as a lighter weight alternative for use in integrating non-BAS systems
// with the BAS design. A good example of this is an Eventbrite template, where a full blown navbar would be both
// unnecessary, and too unwieldy to implement due to its complex structure.
//
// Note: No equivalent of this component exists within Bootstrap, these styles are only found in the BAS Style Kit.
//
// Note: Unlike navbars, you can use text and other elements without header specific classes.
// However it is only really designed to hold an image element for the BAS logo.

// Base class
//

.header {
  font-family:    $header-font-family;
  font-weight:    $header-font-weight;
  font-size:      $header-font-size;
  position:       relative;
  min-height:     $header-height;
  margin-bottom:  $header-margin-bottom;
  padding-top:    $header-padding-vertical;
  padding-bottom: $header-padding-vertical;
  border:         1px solid transparent;

  @media (min-width: $grid-float-breakpoint) {
    border-radius: $header-border-radius;
  }
}


// Header container
//
// Replicates the styles from .container-fluid but ensures everything is self contained

.header-container-fluid {
  padding-right: 15px;
  padding-left:  15px;
  margin-right:  auto;
  margin-left:   auto;
}


// Header image
//

.header-image-64 {
  height: 64px;
  padding: ($header-padding-vertical /2) 0;
}


// Header variants
//

.header-default {
  background-color: $header-default-bg;
  border-color:     $header-default-border;
}
