//
// Identifiers
// --------------------------------------------------

// ORCID
//
.orcid-id {
  i.orcid-id-icon {
    color: $bsk-colour-ext-orcid-base;
    font-size: 125%;
  }
}

.orcid-id-icon {
  color: $bsk-colour-ext-orcid-base;
  font-size: 175%;
}
