//
// Image Copyright
// --------------------------------------------------
//
// These styles focus on providing copyright attribution for images. These styles can be used with multiple components
// or standalone.
//
// Note: No equivalent of this component exists within Bootstrap, these styles are only found in the BAS Style Kit.

.image-copyright {

  // Base class
  //

  position: relative;

  .image-copyright-image {
    width: 100%;
  }

  .image-copyright-attribution {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: $zindex-image-copyright;
    padding: $image-copyright-base-padding;
    color: $image-copyright-base-color;
    background: $image-copyright-base-background;
    font-size: $component-font-size-small;
    text-transform: uppercase;
  }


  // Element modifiers
  //
  // Adapt the base class based the element it is contained within

  &.thumbnail {
    .caption {
      .image-copyright-attribution {
        position: initial;
        z-index: initial;
        padding: 0;
        color: inherit;
        background: none;
        font-size: inherit;
      }
    }
  }
}
