//
// Input groups
// --------------------------------------------------

// Button input groups
// -------------------------
.input-group > .btn,
.input-group > .input-group-btn > .btn,
.input-group > .input-group-btn > .dropdown > .btn {
  padding-top: 8px;
  padding-bottom: 7px;
}

// Sizes
// -------------------------
.form-group-sm {
  .input-group > .btn,
  .input-group > .input-group-btn > .btn,
  .input-group > .input-group-btn > .dropdown > .btn {
    padding-top: 6px;
    padding-bottom: 5px;
  }
}

.form-group-lg {
  .input-group > .btn,
  .input-group > .input-group-btn > .btn,
  .input-group > .input-group-btn > .dropdown > .btn {
    padding-top: 14px;
    padding-bottom: 13px;
  }
}
