//
// Jumbotron
// --------------------------------------------------


.jumbotron {

  // Base class

  margin-bottom:   $jumbotron-margin-bottom;
  background:      no-repeat center center;
  background-size: cover;

  .container &,
  .container-fluid & {
    // Only round corners at higher resolutions if contained in a container
    border-radius: $jumbotron-border-radius;
  }

  // Sub-components
  .jumbotron-overlay {
    padding:          $jumbotron-overlay-padding;
    color:            $jumbotron-overlay-color;
    background-color: $jumbotron-overlay-bg;
  }
}


// Sizes

.jumbotron-lg {
  @include make-jumbotron-size($jumbotron-lg-padding);
}

.jumbotron-xl {
  @include make-jumbotron-size($jumbotron-xl-padding);
}


// Variants

.jumbotron-default {
  color:            $jumbotron-default-color;
  background-color: $jumbotron-default-bg;
}

.jumbotron-inverse {
  color:            $jumbotron-inverse-color;
  background-color: $jumbotron-inverse-bg;
}
