//
// Jumbotron
// --------------------------------------------------

// Base class
.jumbotron-bsk {
  margin-bottom:   $jumbotron-bsk-margin-bottom;
  background:      no-repeat center center;
  background-size: cover;

  .container &,
  .container-fluid & {
    // Only round corners at higher resolutions if contained in a container
    border-radius: $jumbotron-bsk-border-radius;
  }
}

// Sizes
.jumbotron-bsk-lg {
  @include make-jumbotron-size($jumbotron-bsk-lg-padding);
}
.jumbotron-bsk-xl {
  @include make-jumbotron-size($jumbotron-bsk-xl-padding);
}

// Variants
.jumbotron-bsk-default {
  color:            $jumbotron-bsk-default-color;
  background-color: $jumbotron-bsk-default-bg;
}
.jumbotron-bsk-inverse {
  color:            $jumbotron-bsk-inverse-color;
  background-color: $jumbotron-bsk-inverse-bg;
}

// Sub-components
.jumbotron-bsk {
  .text-overlay {
    text-shadow:      1px 1px 2px $jumbotron-bsk-inverse-text-overlay-shadow;
    box-shadow:       10px 0 0 $jumbotron-bsk-inverse-text-overlay-bg, -10px 0 0 $jumbotron-bsk-inverse-text-overlay-bg;
    background-color: $jumbotron-bsk-inverse-text-overlay-bg-fb;
    background-color: $jumbotron-bsk-inverse-text-overlay-bg;
  }
}
