//
// Labels
// --------------------------------------------------

.label {
  color: $label-color;
  font-weight: normal;
  border-radius: $label-border-radius;
}

// Colors
// Contextual variations (linked labels get darker on :hover)

.label-default {
  @include label-variant($label-default-bg);
}

.label-primary {
  @include label-variant($label-primary-bg);
}

.label-success {
  @include label-variant($label-success-bg);
}

.label-info {
  @include label-variant($label-info-bg);
}

.label-warning {
  @include label-variant($label-warning-bg, $label-warning-color);
}

.label-danger {
  @include label-variant($label-danger-bg);
}

// Development phase variations (linked labels get darker on :hover)
.label-phase-backlog {
  @include label-variant($label-phase-backlog-bg);
}

.label-phase-discovery {
  @include label-variant($label-phase-discovery-bg);
}

.label-phase-alpha {
  @include label-variant($label-phase-alpha-bg);
}

.label-phase-beta {
  @include label-variant($label-phase-beta-bg);
}

.label-phase-live {
  @include label-variant($label-phase-live-bg);
}

.label-phase-retired {
  @include label-variant($label-phase-retired-bg);
}

// Experimental style (linked labels get darker on :hover)

.label-experimental {
  @include label-variant($label-experimental-bg);
}
