//
// Popovers
// --------------------------------------------------

.popover {
  padding: 0;
  background-color: $popover-default-bg;
  color: $popover-default-color;
  border: none;
  box-shadow: none;
}

.popover-title {
  padding: $popover-title-padding;  // 10px 15px - make as variable
  margin: 0;
  font-size: $pover-title-font-size;  // 24px - check for variable (h4)
  background-color: $popover-title-bg;  // transparent
  border-bottom: none;
}

.popover-content {
  padding: $popover-content-padding;  // 10px 15px 15px - make as variable
}

// Arrows
//
// .arrow is outer, .arrow:after is inner

.popover {
  &.top > .arrow {
    border: none;

    &:after {
      border-top-color: $popover-default-arrow-color;
    }
  }
  &.bottom > .arrow {
    border: none;

    &:after {
      border-bottom-color: $popover-default-arrow-color;
    }
  }
  &.left > .arrow {
    border: none;

    &:after {
      border-left-color: $popover-default-arrow-color;
    }
  }
  &.right > .arrow {
    border: none;

    &:after {
      border-right-color: $popover-default-arrow-color;
    }
  }
}
