//
// Scaffolding
// --------------------------------------------------


// Body reset

html {
  background-color: $html-bg;
}

body {
  [tabindex]:focus {
    outline: none;
  }
}

// Images

// Rounded corners
.img-rounded {
  border-radius: $border-radius-rounded;
}

// Horizontal rules

hr {
  &.hr-dashed {
    border-top-style: dashed;
    border-top-width: $hr-dashed-border-width;
  }
}
