//
// Scaffolding
// --------------------------------------------------


// Body reset

html {
  background-color: $html-bg;
}

body {
  [tabindex]:focus {
    outline: none;
  }
}

// Images

// Rounded corners
.img-rounded {
  border-radius: $border-radius-rounded;
}
