//
// Social Media
// --------------------------------------------------
//
// Note: No equivalent of this component exists within Bootstrap, these styles are only found in the BAS Style Kit.

// Base class
//

.social-media-static {
  @include make-social-media-static(
    twitter,
    $bsk-colour-ext-twitter-base
  );
  @include make-social-media-static(
    facebook,
    $bsk-colour-ext-facebook-base
  );
  @include make-social-media-static(
    youtube,
    $bsk-colour-ext-youtube-base
  );
  @include make-social-media-static(
    rss,
    $bsk-colour-ext-rss-base
  );
}


// Media link
//
// Expects a containing element with a series of links each containing an icon for a different website/service

// Services
.social-media-link {
  @include make-social-media-link(
    twitter,
    $bsk-colour-ext-twitter-base
  );
  @include make-social-media-link(
    facebook,
    $bsk-colour-ext-facebook-base
  );
  @include make-social-media-link(
    youtube,
    $bsk-colour-ext-youtube-base
  );
  @include make-social-media-link(
    rss,
    $bsk-colour-ext-rss-base
  );
}

// Wrapper
.social-media-list {
  li {
    padding-right: 0;
  }
}
