//
// Thumbnails
// --------------------------------------------------

// Base class
//

.thumbnail {
  border: none;

  > img {
    margin-left:  0;
    margin-right: 0;
    width:        100%;
  }
}


// Thumbnail variants
//

.thumbnail-default {
  background-color: $thumbnail-default-bg;
}

.thumbnail-inverse {
  background-color: $thumbnail-inverse-bg;

  .caption {
    color: $thumbnail-inverse-caption-color;

    a {
      color: $thumbnail-inverse-link-color;

      &:hover {
        color: $thumbnail-inverse-link-hover-color;
      }
    }
  }
}
