//
// Typography
// --------------------------------------------------

// Emphasis & misc
// -------------------------

.light {
  font-weight: lighter;
}

// Colour
.text-inverse {
  color: $bsk-component-inverse-color;
}


// Lists
// -------------------------

// Description Lists
.dl-lg {
  dt,
  dd {
    padding: $dl-bsk-padding;
  }
}

.dl-horizontal-lg {
  @media (min-width: $grid-float-breakpoint) {
    dt {
      width: ($dl-bsk-horizontal-lg-offset - 20);
    }

    dd {
      margin-left: $dl-bsk-horizontal-lg-offset;
    }
  }
}

.dl-striped {
  dt {
    background: $dl-bsk-striped-bg;
  }
}
