//
// Typography
// --------------------------------------------------


// Emphasis & misc
// -------------------------

@include text-emphasis-variant('.text-experimental', $brand-experimental);

// Contextual backgrounds
// For now we'll leave these alongside the text classes until v4 when we can
// safely shift things around (per SemVer rules).

@include bg-variant('.bg-experimental', $state-experimental-bg);


// Page header
// -------------------------

.page-header {
  margin-bottom: ($line-height-computed * 3);
}


// Lists
// -------------------------

// Description Lists
.dl-lg {
  dt,
  dd {
    padding: $dl-padding;
  }
}

.dl-horizontal-lg {
  @media (min-width: $grid-float-breakpoint) {
    dt {
      width: ($dl-horizontal-lg-offset - 20);
    }

    dd {
      margin-left: $dl-horizontal-lg-offset;
    }
  }
}

.dl-striped {
  dt {
    background: $dl-striped-bg;
  }
}
