//
// Typography
// --------------------------------------------------

// Lists
// -------------------------

// Description Lists
.dl-lg {
  dt,
  dd {
    padding: $dl-padding;
  }
}

.dl-horizontal-lg {
  @media (min-width: $grid-float-breakpoint) {
    dt {
      width: ($dl-horizontal-lg-offset - 20);
    }

    dd {
      margin-left: $dl-horizontal-lg-offset;
    }
  }
}

.dl-striped {
  dt {
    background: $dl-striped-bg;
  }
}
