//
// Variables
// --------------------------------------------------

@import "../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/variables";


// Colours
//
// Brand and background colours for use across the BAS Style Kit.

// Generic colours
$white:                                       #FFFFFF;

// Brand colour scheme
$bsk-bas-brand:                               #003A5D;

// Grey-scale colour scheme
$bsk-grey-light:                              #E7EBF1;
$bsk-grey-lighter:                            lighten($bsk-grey-light, 4%);


// 'colour' colour scheme
// All shades of blue should be based off of the BAS brand colour
$bsk-blue-light:                              lighten($bsk-bas-brand, 55%);
$bsk-blue:                                    lighten($bsk-bas-brand, 15%);
$bsk-blue-dark:                               $bsk-bas-brand;
$bsk-red:                                     #B93E14;
$bsk-turquoise:                               #0DA59F;

// Brands
$brands-twitter-primary:                      #55ACEE;  // as defined by brand
$brands-facebook-primary:                     #3B5998;  // as defined by brand
$brands-youtube-primary:                      #CD201F;  // as defined by brand
$brands-rss-primary:                          #F26522;  // as defined by convention


// Z-index master list
//
// Warning: Avoid customizing these values. They're used for a bird's eye view
// of components dependent on the z-axis and are designed to all work together.

$zindex-footer:                               1000;
$zindex-footer-fixed:                         1030;
$zindex-bsl-image-purchase-symbol:            900;


// Scaffolding
//
// Settings for some of the most global styles.

//** Background colour for `<body>`.
$page-background:                             $white !default;
$body-bg:                                     $page-background;
//** Global text colour on `<body>`.
$page-text:                                   $gray-dark !default;
$text-color:                                  $page-text;

// Global textual link colour.
$link-color:                                  lighten($bsk-blue, 5%);


//== Typography
//

// Font, line-height, and colour for body text, headings, and more.
$font-family-sans-serif:                      "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-base:                            $font-family-sans-serif;

// Use the BAS logo font for select elements and styles
$font-family-brand:                           "Gill Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

$headings-font-family:                        $font-family-brand;
$headings-font-weight:                        200;


// Font faces
//
// Define the location of where font-face fonts are stored

// Path to the font-awesome font-face relative to the generated CSS file (i.e. /dist/css)
$fa-font-path:                                "../fonts/font-awesome";

// Path to the open-sans font-face relative to the generated CSS file (i.e. /dist/css)
$OpenSansPath:                                "../fonts/open-sans";

// Path to the gill-sans font-face relate to the generated CSS file (i.e. /dist/css)
$gs-font-path:                                "../fonts/gill-sans";


// Media queries breakpoints
//
// Define the breakpoints at which your layout will change, adapting to different screen sizes.

// Extra large screen / wider desktop
$screen-xl:                                   1800px;
$screen-xl-min:                               $screen-xl;

// So media queries don't overlap when required, provide a maximum
$screen-lg-max:                               ($screen-xl-min - 1);


// Container sizes
//
// Define the maximum width of `.container` for different screen sizes.

// Extra large screen / wider desktop
$container-extra-large-desktop:               (1724px + $grid-gutter-width);

// For `$screen-xl-min` and up.
$container-xl:                                $container-extra-large-desktop;


// Grid system
//
// Define custom responsive grid.

$grid-bsk-columns:                            24;


// Description lists
//
// For each of Bootstrap's buttons, define text, background and border color.

$dl-bsk-padding:                              $padding-large-vertical;
$dl-bsk-horizontal-lg-offset:                 ($dl-horizontal-offset * 1.5);

$dl-bsk-striped-bg:                           $bsk-grey-light;


// Components
//
// Common, base, default variables for components

$border-radius-base:                          0;
$border-radius-large:                         $border-radius-base;
$border-radius-small:                         $border-radius-base;

$line-height-computed-x2:                     ($line-height-computed * 2);

$bsk-component-default-color:                 $gray-dark;
$bsk-component-default-bg:                    $gray-lighter;

$bsk-component-inverse-color:                 #F8F8F8;  // TODO: Use lighten/darken functions to generate colour
$bsk-component-inverse-bg:                    $gray;

$bsk-component-active-bg:                     $bsk-blue;

$bsk-component-inverse-link-color:            $bsk-blue-light;
$bsk-component-inverse-link-hover-color:      darken($bsk-component-inverse-link-color, 15%);


// Tables
//
// Customizes the `.table` component with basic values, each used across all table variations.

//** Default background color used for all tables
$table-bg:                                    transparent;
//** Background color used for `.table-striped`
$table-bg-accent:                             $bsk-grey-lighter;
//** Background color used for `.table-hover`
$table-bg-hover:                              $bsk-grey-light;
$table-bg-active:                             $table-bg-hover;

//** Border color for table and cell borders
$table-border-color:                          $bsk-grey-light;


//== Forms
//
//##

// TODO: Rename `$input-border-radius` to `$input-border-radius-base` in v4
//** Default `.form-control` border radius
// This has no effect on `<select>`s in some browsers, due to the limited stylability of `<select>`s in CSS.

$input-border-radius:                         $border-radius-base;
$input-border-radius-base:                    $border-radius-base;
//** Large `.form-control` border radius
$input-border-radius-large:                   $border-radius-large;
//** Small `.form-control` border radius
$input-border-radius-small:                   $border-radius-small;


// Buttons
//
// For each of Bootstrap's buttons, define text, background and border-color.

$btn-bsk-border:                              none;
$btn-bsk-border-radius:                       $border-radius-base;
$btn-bsk-default-bg:                          $bsk-component-default-bg;

$btn-bsk-primary-color:                       $white;
$btn-bsk-primary-bg:                          $bsk-turquoise;
$btn-bsk-primary-border:                      darken($bsk-turquoise, 5%);


// Dropdowns
//
// Dropdown menu container and contents.

$dropdown-menu-bsk-border-radius:             $border-radius-base;
$dropdown-menu-bsk-padding-vertical:          0;

$dropdown-menu-bsk-item-padding-vertical:     $padding-base-vertical;
$dropdown-menu-bsk-item-padding-horizontal:   ($padding-small-horizontal * 2);


// Navbar
//

// BSK navbar - Like an inverted navbar but a bit different
$navbar-bsk-border-radius:                    $border-radius-base;
$navbar-bsk-font-family:                      $font-family-brand;
$navbar-bsk-font-weight:                      200;
$navbar-bsk-font-size:                        ($font-size-base + 1px);

$navbar-bsk-color:                            lighten($gray-light, 15%);
$navbar-bsk-bg:                               $gray-darker;
$navbar-bsk-border:                           $navbar-bsk-bg;
$navbar-bsk-divider-color:                    darken($navbar-bsk-bg, 10%);

$navbar-bsk-brand-font-family:                $font-family-sans-serif;
$navbar-bsk-brand-font-weight:                bold;
$navbar-bsk-brand-color:                      $white;

$navbar-bsk-link-color:                       $bsk-component-inverse-color;
$navbar-bsk-link-hover-color:                 lighten($bsk-component-inverse-color, 10%);
$navbar-bsk-link-hover-bg:                    $bsk-component-inverse-bg;
$navbar-bsk-link-active-color:                $white;
$navbar-bsk-link-active-bg:                   darken($navbar-bsk-link-hover-bg, 10%);
$navbar-bsk-link-disabled-color:              $bsk-component-inverse-bg;
$navbar-bsk-link-disabled-bg:                 transparent;

$navbar-bsk-toggle-hover-bg:                  $bsk-component-inverse-bg;
$navbar-bsk-toggle-icon-bar-bg:               $white;
$navbar-bsk-toggle-border-color:              $navbar-bsk-bg;

$navbar-bsk-dropdown-font-family:             $font-family-sans-serif;

// BSK large navbar - The same as a regular BSK navbar but thicker
$navbar-bsk-lg-height:                        ($navbar-height * 2);
$navbar-bsk-lg-padding-horizontal:            floor(($grid-gutter-width / 2));
$navbar-bsk-lg-padding-vertical:              (($navbar-bsk-lg-height - $line-height-computed-x2) / 2);


// Navs
//

// Shared nav styles
$nav-link-padding:                            15px 15px;

// Pills
$nav-pills-bsk-border-radius:                 $border-radius-base;
$nav-pills-bsk-link-bg:                       $bsk-component-default-bg;
$nav-pills-bsk-link-margin-right:             $padding-xs-horizontal;

$nav-pills-bsk-active-link-hover-bg:          $bsk-component-active-bg;
$nav-pills-bsk-disabled-link-bg:              $white;

// Wrappers
$nav-wrapper-bsk-tab-pane-margin-top:         ($padding-large-vertical * 2);


// Jumbotron
//

$jumbotron-bsk-border-radius:                 $border-radius-base;
$jumbotron-bsk-margin-bottom:                 0;

$jumbotron-bsk-lg-padding:                    ($jumbotron-padding * 2);
$jumbotron-bsk-xl-padding:                    ($jumbotron-padding * 3);

$jumbotron-bsk-default-color:                 $bsk-component-default-color;
$jumbotron-bsk-default-bg:                    $bsk-component-default-bg;

$jumbotron-bsk-inverse-color:                 $white;
$jumbotron-bsk-inverse-bg:                    $gray;
// Read 'fb' as 'fall back', for older browsers that can't use RGBA
$jumbotron-bsk-inverse-text-overlay-bg-fb:    #000000;
$jumbotron-bsk-inverse-text-overlay-bg:       rgba(0, 0, 0, 0.7);
$jumbotron-bsk-inverse-text-overlay-shadow:   rgba(0, 0, 0, 0.9);


// Thumbnails
//

// BSK thumbnail - Like a normal thumbnail but with straight edges and virtually no border
$thumbnail-bsk-padding:                       0;
$thumbnail-bsk-border-radius:                 $border-radius-base;

$thumbnail-bsk-caption-padding:               $padding-large-vertical;

// BSK default thumbnail
$thumbnail-bsk-default-bg:                    $bsk-component-default-bg;

// BSK inverted thumbnail
$thumbnail-bsk-inverse-bg:                    $bsk-component-inverse-bg;
$thumbnail-bsk-inverse-link-color:            $bsk-component-inverse-link-color;
$thumbnail-bsk-inverse-link-hover-color:      $bsk-component-inverse-link-hover-color;

$thumbnail-bsk-inverse-caption-color:         $bsk-component-inverse-color;


// Footers
//

$footer-font-family:                          $font-family-brand;
$footer-font-weight:                          100;
$footer-font-size:                            ($font-size-base + 1px);

$footer-height:                               $navbar-height;
$footer-margin-top:                           ($line-height-computed-x2 + 10px);
$footer-padding-top:                          $footer-margin-top;
$footer-padding-bottom:                       ($footer-padding-top - 10px);
$footer-border-radius:                        $border-radius-base;

$footer-bsk-default-color:                    $bsk-component-inverse-color;
$footer-bsk-default-bg:                       $gray-dark;
$footer-bsk-default-border:                   $footer-bsk-default-bg;

$footer-bsk-default-divider:                  $gray-light;
$footer-bsk-default-link-color:               $bsk-component-inverse-link-color;
$footer-bsk-default-link-hover-color:         $bsk-component-inverse-link-hover-color;

$footer-bsk-ogl-symbol-margin-right:          ($padding-large-horizontal * 2);
$footer-bsk-ogl-symbol-margin-bottom:         ($padding-large-vertical);
$footer-bsk-ogl-symbol-width:                 67px;  // As recommended by the National Archives see [1] for details
$footer-bsk-ogl-text-max-height:              420px;
$footer-bsk-ogl-text-line-height:             17px;
$footer-bsk-olg-text-margin-bottom:           ($padding-large-vertical * 2);

// [1] http://www.nationalarchives.gov.uk/documents/information-management/ogl-symbol-guidelines-v1.pdf [PDF!]


// Headers
//
// Custom component - designed to replicate the visual appearance of a navbar with minimal markup

$header-font-family:                          $navbar-bsk-font-family;
$header-font-weight:                          $navbar-bsk-font-weight;
$header-font-size:                            $navbar-bsk-font-size;

$header-height:                               $navbar-height;
$header-margin-bottom:                        $navbar-margin-bottom;
$header-border-radius:                        $navbar-bsk-border-radius;
$header-padding-vertical:                     $navbar-padding-vertical;

$header-bsk-default-bg:                       $navbar-bsk-bg;
$header-bsk-default-border:                   $header-bsk-default-bg;


// Sidebars
//
// Custom component - based loosely on the well component

$sidebar-bsk-base-padding:                    ($padding-large-vertical * 2);
$sidebar-bsk-base-bottom-margin:              $sidebar-bsk-base-padding;
$sidebar-bsk-border-radius:                   $border-radius-base;

$sidebar-bsk-lg-padding:                      ($sidebar-bsk-base-padding * 1.5);

$sidebar-bsk-default-bg:                      $bsk-grey-light;

$sidebar-bsk-inverse-colour:                  $bsk-component-inverse-color;
$sidebar-bsk-inverse-bg:                      $bsk-component-inverse-bg;


// Bands
//
// Custom component - based loosely on the well component

$band-bsk-padding-vertical:                   ($padding-large-vertical * 4);

$band-bsk-md-padding-vertical:                ($padding-large-vertical * 3);
$band-bsk-sm-padding-vertical:                $padding-large-vertical;

$band-bsk-default-bg:                         $white;
$band-bsk-inverse-bg:                         $bsk-component-inverse-bg;


// Image purchase
//
// Custom component

$image-purchase-bsk-base-opacity:             0.8;
$image-purchase-bsk-hover-opacity:            1;

$image-purchase-bsk-on-image-color:           $white;
$image-purchase-bsk-on-image-text-shadow:     $jumbotron-bsk-inverse-text-overlay-shadow;

$image-purchase-bsk-in-caption-default-color: $bsk-component-inverse-bg;
$image-purchase-bsk-in-caption-inverse-color: $white;
