//
// Variables
// --------------------------------------------------

@import "../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/variables";


// Colours
//
// Brand and background colours for use across the BAS Style Kit.

// Generic colours
$white:                                       #FFFFFF;

// Brand colour scheme
$bsk-bas-brand:                               #003A5D;

// Grey-scale colour scheme
$bsk-grey-light:                              #E7EBF1;
$bsk-grey-lighter:                            lighten($bsk-grey-light, 4%);  // #F4F6F9


// 'colour' colour scheme
// All shades of blue should be based off of the BAS brand colour
$bsk-blue-light:                              lighten($bsk-bas-brand, 55%);  // #77CCFF
$bsk-blue:                                    lighten($bsk-bas-brand, 15%);  // #006AAA
$bsk-blue-dark:                               $bsk-bas-brand;
$bsk-red:                                     #B93E14;
$bsk-turquoise:                               #0DA59F;

// Brands
$brands-twitter-primary:                      #55ACEE;  // as defined by brand
$brands-facebook-primary:                     #3B5998;  // as defined by brand
$brands-youtube-primary:                      #CD201F;  // as defined by brand
$brands-rss-primary:                          #F26522;  // as defined by convention


// Z-index master list
//
// Warning: Avoid customizing these values. They're used for a bird's eye view
// of components dependent on the z-axis and are designed to all work together.

$zindex-footer:                               1000;
$zindex-footer-fixed:                         1030;
$zindex-image-purchase-symbol:                900;


// Scaffolding
//
// Settings for some of the most global styles.

// Background colour for `<body>`.
$page-background:                             $white !default;
$body-bg:                                     $page-background;

// Global text colour on `<body>`.
$page-text:                                   $gray-dark !default;
$text-color:                                  $page-text;

// Global textual link colour.
$link-color:                                  lighten($bsk-blue, 5%);  // #007AC3


//== Typography
//

// Font, line-height, and colour for body text, headings, and more.
$font-family-sans-serif:                      "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-base:                            $font-family-sans-serif;

$font-size-base:                              16px;

$font-size-h1:                                40px;
$font-size-h2:                                32px;
$font-size-h3:                                28px;
$font-size-h4:                                24px;
$font-size-h5:                                20px;
$font-size-h6:                                16px;

// Use the BAS logo font for select elements and styles
$font-family-brand:                           "Gill Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

$headings-font-family:                        $font-family-brand;
$headings-font-weight:                        200;


// Font faces
//
// Define the location of where font-face fonts are stored

// Path to the font-awesome font-face relative to the generated CSS file (i.e. /dist/css)
$fa-font-path:                                "../fonts/font-awesome";

// Path to the open-sans font-face relative to the generated CSS file (i.e. /dist/css)
$OpenSansPath:                                "../fonts/open-sans";

// Path to the gill-sans font-face relate to the generated CSS file (i.e. /dist/css)
$gs-font-path:                                "../fonts/gill-sans";


// Media queries breakpoints
//
// Define the breakpoints at which your layout will change, adapting to different screen sizes.

// Extra large screen / wider desktop
$screen-xl:                                   1800px;
$screen-xl-min:                               $screen-xl;

// So media queries don't overlap when required, provide a maximum
$screen-lg-max:                               ($screen-xl-min - 1);

// Full HD (1080p) / television
$screen-fhd:                                   1920px;
$screen-fhd-min:                               $screen-fhd;

// So media queries don't overlap when required, provide a maximum
$screen-xl-max:                               ($screen-fhd-min - 1);


// Container sizes
//
// Define the maximum width of `.container` for different screen sizes.

// Extra large screen / wider desktop
$container-extra-large-desktop:               (1724px + $grid-gutter-width);

// Full HD (1080p) / television
$container-full-hd:                           (1888px + $grid-gutter-width);

// For `$screen-xl-min` and up.
$container-xl:                                $container-extra-large-desktop;

// For `$screen-fhd-min` and up.
$container-fhd:                               $container-full-hd;


// Grid system
//
// Define responsive grid columns

$grid-12-columns:                            12;
$grid-24-columns:                            24;


// Description lists
//
// For each of Bootstrap's buttons, define text, background and border color.

$dl-padding:                                  $padding-large-vertical;
$dl-horizontal-lg-offset:                     ($dl-horizontal-offset * 1.5);

$dl-striped-bg:                               $bsk-grey-light;


// Components
//
// Common, base, default variables for components

$border-radius-base:                          0;
$border-radius-large:                         $border-radius-base;
$border-radius-small:                         $border-radius-base;

$line-height-computed-x2:                     ($line-height-computed * 2);

$component-default-color:                     $gray-dark;
$component-default-bg:                        $gray-lighter;

$component-inverse-color:                     #F8F8F8;  // TODO: Use lighten/darken functions to generate colour
$component-inverse-bg:                        $gray;

$component-active-bg:                         $bsk-blue;

$component-inverse-link-color:                $bsk-blue-light;
$component-inverse-link-hover-color:          darken($component-inverse-link-color, 15%);


// Tables
//
// Customizes the `.table` component with basic values, each used across all table variations.

// Default background color used for all tables
$table-bg:                                    transparent;

// Background color used for `.table-striped`
$table-bg-accent:                             $bsk-grey-lighter;

// Background color used for `.table-hover`
$table-bg-hover:                              $bsk-grey-light;
$table-bg-active:                             $table-bg-hover;

//** Border color for table and cell borders
$table-border-color:                          $bsk-grey-light;


//== Forms
//
// Default `.form-control` border radius
// This has no effect on `<select>`s in some browsers, due to the limited stylability of `<select>`s in CSS.
//
// TODO: Rename `$input-border-radius` to `$input-border-radius-base` in Bootstrap v4

$input-border-radius:                         $border-radius-base;
$input-border-radius-base:                    $border-radius-base;

// Large `.form-control` border radius
$input-border-radius-large:                   $border-radius-large;

// Small `.form-control` border radius
$input-border-radius-small:                   $border-radius-small;


// Buttons
//
// For each of Bootstrap's buttons, define text, background and border-color.
//
// TODO: Rename `$btn-border-radius` to `$input-border-radius-base` in Bootstrap v4

$btn-border-radius:                           $border-radius-base;
$btn-border-radius-base:                      $border-radius-base;

$btn-default-color:                           $component-default-color;
$btn-default-bg:                              $component-default-bg;
$btn-default-border:                          $component-default-bg;

$btn-primary-color:                           $white;
$btn-primary-bg:                              $bsk-turquoise;
$btn-primary-border:                          $bsk-turquoise;

$btn-border-radius-large:                     $btn-border-radius-base;
$btn-border-radius-small:                     $btn-border-radius-base;

// Dropdowns
//
// Dropdown menu container and contents.

$dropdown-menu-border-radius:                 $border-radius-base;
$dropdown-menu-padding-vertical:              0;

$dropdown-menu-item-padding-vertical:         $padding-base-vertical;
$dropdown-menu-item-padding-horizontal:       ($padding-small-horizontal * 2);


// Navbar
//
// BSK navbar - Like an inverted navbar but a bit different

$navbar-border-radius:                        $border-radius-base;
$navbar-font-family:                          $font-family-brand;
$navbar-font-weight:                          200;
$navbar-font-size:                            ($font-size-base + 1px);

$navbar-color:                                lighten($gray-light, 15%);
$navbar-bg:                                   $gray-darker;
$navbar-border:                               $navbar-bg;
$navbar-divider-color:                        darken($navbar-bg, 10%);

$navbar-brand-font-family:                    $font-family-sans-serif;
$navbar-brand-font-weight:                    bold;
$navbar-brand-color:                          $white;

$navbar-link-color:                           $component-inverse-color;
$navbar-link-hover-color:                     lighten($component-inverse-color, 10%);
$navbar-link-hover-bg:                        $component-inverse-bg;
$navbar-link-active-color:                    $white;
$navbar-link-active-bg:                       darken($navbar-link-hover-bg, 10%);
$navbar-link-disabled-color:                  $component-inverse-bg;
$navbar-link-disabled-bg:                     transparent;

$navbar-toggle-hover-bg:                      $component-inverse-bg;
$navbar-toggle-icon-bar-bg:                   $white;
$navbar-toggle-border-color:                  $navbar-bg;

$navbar-dropdown-font-family:                 $font-family-sans-serif;

// BSK large navbar - The same as a regular BSK navbar but thicker
$navbar-lg-height:                            ($navbar-height * 2);
$navbar-lg-padding-horizontal:                floor(($grid-gutter-width / 2));
$navbar-lg-padding-vertical:                  (($navbar-lg-height - $line-height-computed-x2) / 2);


// Navs
//

// Shared nav styles
$nav-link-padding:                            15px 15px;

// Pills
$nav-pills-border-radius:                     $border-radius-base;
$nav-pills-link-bg:                           $component-default-bg;
$nav-pills-link-margin-right:                 $padding-xs-horizontal;

$nav-pills-active-link-hover-bg:              $component-active-bg;
$nav-pills-disabled-link-bg:                  $white;

// Wrappers
$nav-wrapper-tab-pane-margin-top:             ($padding-large-vertical * 2);


// Jumbotron
//

$jumbotron-border-radius:                     $border-radius-base;
$jumbotron-margin-bottom:                     0;

$jumbotron-lg-padding:                        ($jumbotron-padding * 2);
$jumbotron-xl-padding:                        ($jumbotron-padding * 3);

$jumbotron-default-color:                     $component-default-color;
$jumbotron-default-bg:                        $component-default-bg;

$jumbotron-inverse-color:                     $white;
$jumbotron-inverse-bg:                        $gray;
// Read 'fb' as 'fall back', for older browsers that can't use RGBA
$jumbotron-inverse-text-overlay-bg-fb:        #000000;
$jumbotron-inverse-text-overlay-bg:           rgba(0, 0, 0, 0.7);
$jumbotron-inverse-text-overlay-shadow:       rgba(0, 0, 0, 0.9);


// Thumbnails
//

// BSK thumbnail - Like a normal thumbnail but with straight edges and virtually no border
$thumbnail-padding:                           0;
$thumbnail-border-radius:                     $border-radius-base;

$thumbnail-caption-padding:                   $padding-large-vertical;

// BSK default thumbnail
$thumbnail-default-bg:                        $component-default-bg;

// BSK inverted thumbnail
$thumbnail-inverse-bg:                        $component-inverse-bg;
$thumbnail-inverse-link-color:                $component-inverse-link-color;
$thumbnail-inverse-link-hover-color:          $component-inverse-link-hover-color;

$thumbnail-inverse-caption-color:             $component-inverse-color;


// Footers
//
// Custom component

$footer-font-family:                          $font-family-brand;
$footer-font-weight:                          100;
$footer-font-size:                            ($font-size-base + 1px);

$footer-height:                               $navbar-height;
$footer-margin-top:                           ($line-height-computed-x2 + 10px);
$footer-padding-top:                          $footer-margin-top;
$footer-padding-bottom:                       ($footer-padding-top - 10px);
$footer-border-radius:                        $border-radius-base;

$footer-default-color:                        $component-inverse-color;
$footer-default-bg:                           $gray-dark;
$footer-default-border:                       $footer-default-bg;

$footer-default-divider:                      $gray-light;
$footer-default-link-color:                   $component-inverse-link-color;
$footer-default-link-hover-color:             $component-inverse-link-hover-color;

$footer-ogl-symbol-margin-right:              ($padding-large-horizontal * 2);
$footer-ogl-symbol-margin-bottom:             ($padding-large-vertical);
$footer-ogl-symbol-width:                     67px;  // As recommended by the National Archives see [1] for details
$footer-ogl-text-max-height:                  420px;
$footer-ogl-text-line-height:                 17px;
$footer-olg-text-margin-bottom:               ($padding-large-vertical * 2);

// [1] http://www.nationalarchives.gov.uk/documents/information-management/ogl-symbol-guidelines-v1.pdf [PDF!]


// Headers
//
// Custom component - designed to replicate the visual appearance of a navbar with minimal markup

$header-font-family:                          $navbar-font-family;
$header-font-weight:                          $navbar-font-weight;
$header-font-size:                            $navbar-font-size;

$header-height:                               $navbar-height;
$header-margin-bottom:                        $navbar-margin-bottom;
$header-border-radius:                        $navbar-border-radius;
$header-padding-vertical:                     $navbar-padding-vertical;

$header-default-bg:                           $navbar-bg;
$header-default-border:                       $header-default-bg;


// Sidebars
//
// Custom component - based loosely on the well component

$sidebar-base-padding:                        ($padding-large-vertical * 2);
$sidebar-base-bottom-margin:                  $sidebar-base-padding;
$sidebar-border-radius:                       $border-radius-base;

$sidebar-lg-padding:                          ($sidebar-base-padding * 1.5);

$sidebar-default-bg:                          $bsk-grey-light;

$sidebar-inverse-colour:                      $component-inverse-color;
$sidebar-inverse-bg:                          $component-inverse-bg;


// Bands
//
// Custom component - based loosely on the well component

$band-padding-vertical:                       ($padding-large-vertical * 4);

$band-md-padding-vertical:                    ($padding-large-vertical * 3);
$band-sm-padding-vertical:                    $padding-large-vertical;

$band-default-bg:                             $white;
$band-inverse-bg:                             $component-inverse-bg;


// Image purchase
//
// Custom component

$image-purchase-base-opacity:                 0.8;
$image-purchase-hover-opacity:                1;

$image-purchase-on-image-color:               $white;
$image-purchase-on-image-text-shadow:         $jumbotron-inverse-text-overlay-shadow;

$image-purchase-in-caption-default-color:     $component-inverse-bg;
$image-purchase-in-caption-inverse-color:     $white;
