//
// Variables
// --------------------------------------------------

@import "../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/variables";


// Environment
//
// Meta information about the Style Kit

// Version
$bsk-version:                                 '0.4.0-beta';


// Colours
//
// Brand and background colours for use across the BAS Style Kit.

// Control variables
$bsk-colour-x-mix-1st-fundermental:           33%;
$bsk-colour-x-mix-2rd-fundermental:           66%;

// Generic colours
$bsk-colour-gen-white:                        #FFFFFF;
$bsk-colour-gen-black:                        #000000;

// Special colours
$bsk-colour-spc-bas-blue:                     #003A5D;
$bsk-colour-spc-nerc-green:                   #AAB437;
$bsk-colour-spc-bas-aircraft-red:             #CC0033;

// Standard colours - base colours
$bsk-colour-std-white:                        mix($bsk-colour-gen-black, $bsk-colour-gen-white, 0%);     // #FFFFFF (GDS: $white)
$bsk-colour-std-grey-base:                    mix($bsk-colour-gen-black, $bsk-colour-gen-white, 53.3%);  // #777777 (Bootstrap: $gray-light)
$bsk-colour-std-black:                        mix($bsk-colour-gen-black, $bsk-colour-gen-white, 100%);   // #00000

$bsk-colour-std-yellow-base:                  #FFBF47;  // (GDS: Yellow, Bootstrap: Warning)
$bsk-colour-std-orange-base:                  #F47738;  // (GDS: Orange)
$bsk-colour-std-aircraft-red-base:            $bsk-colour-spc-bas-aircraft-red;  // (BAS: Aircraft Red, Bootstrap: Danger)
$bsk-colour-std-red-base:                     #B10E1E;  // (GDS: Red)
$bsk-colour-std-baby-pink-base:               #F499BE;  // (GDS: Baby Pink)
$bsk-colour-std-pink-base:                    #D53880;  // (GDS: Pink)
$bsk-colour-std-fuschia-base:                 #912B88;  // (GDS: Fuschia)
$bsk-colour-std-mauve-base:                   #6F72AF;  // (GDS: Mauve)
$bsk-colour-std-sky-blue-base:                #2B8CC4;  // (GDS: Light Blue, Bootstrap: Info)
$bsk-colour-std-blue-base:                    $bsk-colour-spc-bas-blue;  // (BAS: BAS Brand Colour)
$bsk-colour-std-turquoise-base:               #28A197;  // (GDS: Turquoise)
$bsk-colour-std-green-base:                   #379245;  // (BAS: Picked Colour)
$bsk-colour-std-nerc-green-base:              $bsk-colour-spc-nerc-green;  // (BAS: NERC Brand Colour)
$bsk-colour-std-brown-base:                   #B58840;  // (GDS: Brown)

// Standard colours - base variants (mixes of base colours with white and black to produce lighter and darker variants)
$bsk-colour-std-grey-lighter:                 mix($bsk-colour-gen-black, $bsk-colour-gen-white, 6.5%);   // #EEEEEE (Bootstrap: $gray-lighter)
$bsk-colour-std-grey-light:                   mix($bsk-colour-gen-black, $bsk-colour-gen-white, 40.1%);  // #999999
$bsk-colour-std-grey-dark:                    mix($bsk-colour-gen-black, $bsk-colour-gen-white, 66.5%);  // #555555 (Bootstrap: $gray)
$bsk-colour-std-grey-darker:                  mix($bsk-colour-gen-black, $bsk-colour-gen-white, 80%);    // #333333 (Bootstrap: $gray-dark)

$bsk-colour-std-yellow-lighter:               mix($bsk-colour-gen-white, $bsk-colour-std-yellow-base, $bsk-colour-x-mix-2rd-fundermental);  // #FFE9C0
$bsk-colour-std-yellow-light:                 mix($bsk-colour-gen-white, $bsk-colour-std-yellow-base, $bsk-colour-x-mix-1st-fundermental);  // #FFD484
$bsk-colour-std-yellow-dark:                  mix($bsk-colour-gen-black, $bsk-colour-std-yellow-base, $bsk-colour-x-mix-1st-fundermental);  // #AB8030
$bsk-colour-std-yellow-darker:                mix($bsk-colour-gen-black, $bsk-colour-std-yellow-base, $bsk-colour-x-mix-2rd-fundermental);  // #574118

$bsk-colour-std-orange-lighter:              mix($bsk-colour-gen-white, $bsk-colour-std-orange-base, $bsk-colour-x-mix-2rd-fundermental);  // #FBD1BB
$bsk-colour-std-orange-light:                mix($bsk-colour-gen-white, $bsk-colour-std-orange-base, $bsk-colour-x-mix-1st-fundermental);  // #F8A47A
$bsk-colour-std-orange-dark:                 mix($bsk-colour-gen-black, $bsk-colour-std-orange-base, $bsk-colour-x-mix-1st-fundermental);  // #A35026
$bsk-colour-std-orange-darker:               mix($bsk-colour-gen-black, $bsk-colour-std-orange-base, $bsk-colour-x-mix-2rd-fundermental);  // #532813

$bsk-colour-std-aircraft-red-lighter:         mix($bsk-colour-gen-white, $bsk-colour-std-aircraft-red-base, $bsk-colour-x-mix-2rd-fundermental);  // #EEA8BA
$bsk-colour-std-aircraft-red-light:           mix($bsk-colour-gen-white, $bsk-colour-std-aircraft-red-base, $bsk-colour-x-mix-1st-fundermental);  // #DD5476
$bsk-colour-std-aircraft-red-dark:            mix($bsk-colour-gen-black, $bsk-colour-std-aircraft-red-base, $bsk-colour-x-mix-1st-fundermental);  // #890022
$bsk-colour-std-aircraft-red-darker:          mix($bsk-colour-gen-black, $bsk-colour-std-aircraft-red-base, $bsk-colour-x-mix-2rd-fundermental);  // #450011

$bsk-colour-std-red-lighter:                  mix($bsk-colour-gen-white, $bsk-colour-std-red-base, $bsk-colour-x-mix-2rd-fundermental);  // #E4ADB3
$bsk-colour-std-red-light:                    mix($bsk-colour-gen-white, $bsk-colour-std-red-base, $bsk-colour-x-mix-1st-fundermental);  // #CB5E68
$bsk-colour-std-red-dark:                     mix($bsk-colour-gen-black, $bsk-colour-std-red-base, $bsk-colour-x-mix-1st-fundermental);  // #770914
$bsk-colour-std-red-darker:                   mix($bsk-colour-gen-black, $bsk-colour-std-red-base, $bsk-colour-x-mix-2rd-fundermental);  // #3C050A

$bsk-colour-std-baby-pink-lighter:            mix($bsk-colour-gen-white, $bsk-colour-std-baby-pink-base, $bsk-colour-x-mix-2rd-fundermental);  // #FBDCE9
$bsk-colour-std-baby-pink-light:              mix($bsk-colour-gen-white, $bsk-colour-std-baby-pink-base, $bsk-colour-x-mix-1st-fundermental);  // #F8BBD3
$bsk-colour-std-baby-pink-dark:               mix($bsk-colour-gen-black, $bsk-colour-std-baby-pink-base, $bsk-colour-x-mix-1st-fundermental);  // #A3677F
$bsk-colour-std-baby-pink-darker:             mix($bsk-colour-gen-black, $bsk-colour-std-baby-pink-base, $bsk-colour-x-mix-2rd-fundermental);  // #533441

$bsk-colour-std-pink-lighter:                 mix($bsk-colour-gen-white, $bsk-colour-std-pink-base, $bsk-colour-x-mix-2rd-fundermental);  // #F1BBD4
$bsk-colour-std-pink-light:                   mix($bsk-colour-gen-white, $bsk-colour-std-pink-base, $bsk-colour-x-mix-1st-fundermental);  // #E37AAA
$bsk-colour-std-pink-dark:                    mix($bsk-colour-gen-black, $bsk-colour-std-pink-base, $bsk-colour-x-mix-1st-fundermental);  // #8F2656
$bsk-colour-std-pink-darker:                  mix($bsk-colour-gen-black, $bsk-colour-std-pink-base, $bsk-colour-x-mix-2rd-fundermental);  // #48132C

$bsk-colour-std-fuschia-lighter:              mix($bsk-colour-gen-white, $bsk-colour-std-fuschia-base, $bsk-colour-x-mix-2rd-fundermental);  // #DAB7D7
$bsk-colour-std-fuschia-light:                mix($bsk-colour-gen-white, $bsk-colour-std-fuschia-base, $bsk-colour-x-mix-1st-fundermental);  // #B571AF
$bsk-colour-std-fuschia-dark:                 mix($bsk-colour-gen-black, $bsk-colour-std-fuschia-base, $bsk-colour-x-mix-1st-fundermental);  // #611D5B
$bsk-colour-std-fuschia-darker:               mix($bsk-colour-gen-black, $bsk-colour-std-fuschia-base, $bsk-colour-x-mix-2rd-fundermental);  // #310F2E

$bsk-colour-std-mauve-lighter:                mix($bsk-colour-gen-white, $bsk-colour-std-mauve-base, $bsk-colour-x-mix-2rd-fundermental);  // #CECFE4
$bsk-colour-std-mauve-light:                  mix($bsk-colour-gen-white, $bsk-colour-std-mauve-base, $bsk-colour-x-mix-1st-fundermental);  // #9FA1C9
$bsk-colour-std-mauve-dark:                   mix($bsk-colour-gen-black, $bsk-colour-std-mauve-base, $bsk-colour-x-mix-1st-fundermental);  // #4A4C75
$bsk-colour-std-mauve-darker:                 mix($bsk-colour-gen-black, $bsk-colour-std-mauve-base, $bsk-colour-x-mix-2rd-fundermental);  // #26273C

$bsk-colour-std-sky-blue-lighter:             mix($bsk-colour-gen-white, $bsk-colour-std-sky-blue-base, $bsk-colour-x-mix-2rd-fundermental);  // #B7D8EB
$bsk-colour-std-sky-blue-light:               mix($bsk-colour-gen-white, $bsk-colour-std-sky-blue-base, $bsk-colour-x-mix-1st-fundermental);  // #71B2D7
$bsk-colour-std-sky-blue-dark:                mix($bsk-colour-gen-black, $bsk-colour-std-sky-blue-base, $bsk-colour-x-mix-1st-fundermental);  // #1D5E83
$bsk-colour-std-sky-blue-darker:              mix($bsk-colour-gen-black, $bsk-colour-std-sky-blue-base, $bsk-colour-x-mix-2rd-fundermental);  // #0F3043

$bsk-colour-std-blue-lighter:                 mix($bsk-colour-gen-white, $bsk-colour-std-blue-base, $bsk-colour-x-mix-2rd-fundermental);  // #A8BCC8
$bsk-colour-std-blue-light:                   mix($bsk-colour-gen-white, $bsk-colour-std-blue-base, $bsk-colour-x-mix-1st-fundermental);  // #547B92
$bsk-colour-std-blue-dark:                    mix($bsk-colour-gen-black, $bsk-colour-std-blue-base, $bsk-colour-x-mix-1st-fundermental);  // #00273E
$bsk-colour-std-blue-darker:                  mix($bsk-colour-gen-black, $bsk-colour-std-blue-base, $bsk-colour-x-mix-2rd-fundermental);  // #001420

$bsk-colour-std-turquoise-lighter:            mix($bsk-colour-gen-white, $bsk-colour-std-turquoise-base, $bsk-colour-x-mix-2rd-fundermental);  // #B6DFDC
$bsk-colour-std-turquoise-light:              mix($bsk-colour-gen-white, $bsk-colour-std-turquoise-base, $bsk-colour-x-mix-1st-fundermental);  // #6FC0B9
$bsk-colour-std-turquoise-dark:               mix($bsk-colour-gen-black, $bsk-colour-std-turquoise-base, $bsk-colour-x-mix-1st-fundermental);  // #1B6C65
$bsk-colour-std-turquoise-darker:             mix($bsk-colour-gen-black, $bsk-colour-std-turquoise-base, $bsk-colour-x-mix-2rd-fundermental);  // #0E3733

$bsk-colour-std-green-lighter:                mix($bsk-colour-gen-white, $bsk-colour-std-green-base, $bsk-colour-x-mix-2rd-fundermental);  // #BBDAC0
$bsk-colour-std-green-light:                  mix($bsk-colour-gen-white, $bsk-colour-std-green-base, $bsk-colour-x-mix-1st-fundermental);  // #79B682
$bsk-colour-std-green-dark:                   mix($bsk-colour-gen-black, $bsk-colour-std-green-base, $bsk-colour-x-mix-1st-fundermental);  // #25622E
$bsk-colour-std-green-darker:                 mix($bsk-colour-gen-black, $bsk-colour-std-green-base, $bsk-colour-x-mix-2rd-fundermental);  // #133217

$bsk-colour-std-nerc-green-lighter:           mix($bsk-colour-gen-white, $bsk-colour-std-nerc-green-base, $bsk-colour-x-mix-2rd-fundermental);  // #E2E6BB
$bsk-colour-std-nerc-green-light:             mix($bsk-colour-gen-white, $bsk-colour-std-nerc-green-base, $bsk-colour-x-mix-1st-fundermental);  // #C6CD79
$bsk-colour-std-nerc-green-dark:              mix($bsk-colour-gen-black, $bsk-colour-std-nerc-green-base, $bsk-colour-x-mix-1st-fundermental);  // #727925
$bsk-colour-std-nerc-green-darker:            mix($bsk-colour-gen-black, $bsk-colour-std-nerc-green-base, $bsk-colour-x-mix-2rd-fundermental);  // #3A3D13

$bsk-colour-std-brown-lighter:                mix($bsk-colour-gen-white, $bsk-colour-std-brown-base, $bsk-colour-x-mix-2rd-fundermental);  // #E6D7BE
$bsk-colour-std-brown-light:                  mix($bsk-colour-gen-white, $bsk-colour-std-brown-base, $bsk-colour-x-mix-1st-fundermental);  // #CDAF7F
$bsk-colour-std-brown-dark:                   mix($bsk-colour-gen-black, $bsk-colour-std-brown-base, $bsk-colour-x-mix-1st-fundermental);  // #795B2B
$bsk-colour-std-brown-darker:                 mix($bsk-colour-gen-black, $bsk-colour-std-brown-base, $bsk-colour-x-mix-2rd-fundermental);  // #3E2E16

// Extended colours - contrast
$bsk-colour-ext-grey-lighter-light:           mix($bsk-colour-gen-black, $bsk-colour-gen-white, 3.25%);  // #F7F7F7
$bsk-colour-ext-grey-darker-dark:             mix($bsk-colour-gen-black, $bsk-colour-gen-white, 86.75);  // #222222
$bsk-colour-ext-sky-blue-lighter-light:       mix($bsk-colour-gen-white, $bsk-colour-std-sky-blue-base, 88%);  // #E6F1F8

// Extended colours - development phases
$bsk-colour-ext-purple-base:                  #2E358B;

// Extended colours - brand colours
$bsk-colour-ext-twitter-base:                 #55ACEE;  // as defined by brand
$bsk-colour-ext-facebook-base:                #3B5998;  // as defined by brand
$bsk-colour-ext-youtube-base:                 #CD201F;  // as defined by brand
$bsk-colour-ext-rss-base:                     #F26522;  // as defined by convention

// Bootstrap colour overrides
$brand-primary:                               $bsk-colour-std-turquoise-base;
$brand-success:                               $bsk-colour-std-green-base;
$brand-info:                                  $bsk-colour-std-sky-blue-base;
$brand-warning:                               $bsk-colour-std-yellow-base;
$brand-danger:                                $bsk-colour-std-red-base;

$brand-experimental:                          $bsk-colour-std-mauve-base;

// GDS agile development phases
$development-phase-backlog:                   $bsk-colour-ext-purple-base;
$development-phase-discovery:                 $bsk-colour-std-fuschia-base;
$development-phase-alpha:                     $bsk-colour-std-pink-base;
$development-phase-beta:                      $bsk-colour-std-orange-base;
$development-phase-live:                      $bsk-colour-std-nerc-green-base;
$development-phase-retired:                   $bsk-colour-std-grey-dark;

// Z-index master list
//
// Warning: Avoid customizing these values. They're used for a bird's eye view
// of components dependent on the z-axis and are designed to all work together.

$zindex-footer:                               1000;
$zindex-footer-fixed:                         1030;
$zindex-image-copyright:                      900;


// Scaffolding
//
// Settings for some of the most global styles.

// Background colour for `<body>`.
$html-bg:                                     $bsk-colour-std-grey-darker;
$body-bg:                                     $bsk-colour-std-white !default;

// Global text colour on `<body>`.
$page-text:                                   $bsk-colour-std-grey-darker !default;
$text-color:                                  $page-text;

// Global textual link colour.
$link-color:                                  $bsk-colour-std-sky-blue-base;


//== Typography
//

// Font, line-height, and colour for body text, headings, and more.
$font-family-sans-serif:                      "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-base:                            $font-family-sans-serif;

$font-size-base:                              16px;

$font-size-h1:                                40px;
$font-size-h2:                                32px;
$font-size-h3:                                28px;
$font-size-h4:                                24px;
$font-size-h5:                                20px;
$font-size-h6:                                16px;

// Use the BAS logo font for select elements and styles
$font-family-brand:                           "Gill Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

$headings-font-family:                        $font-family-brand;
$headings-font-weight:                        200;


// Font faces
//
// Define the location of where font-face fonts are stored

// Path to the font-awesome font-face relative to the generated CSS file (i.e. /dist/css)
$fa-font-path:                                "../fonts/font-awesome";

// Path to the open-sans font-face relative to the generated CSS file (i.e. /dist/css)
$OpenSansPath:                                "../fonts/open-sans";

// Path to the gill-sans font-face relate to the generated CSS file (i.e. /dist/css)
$gs-font-path:                                "../fonts/gill-sans";


// Media queries breakpoints
//
// Define the breakpoints at which your layout will change, adapting to different screen sizes.

// Extra large screen / wider desktop
$screen-xl:                                   1800px;
$screen-xl-min:                               $screen-xl;

// So media queries don't overlap when required, provide a maximum
$screen-lg-max:                               ($screen-xl-min - 1);

// Full HD (1080p) / television
$screen-fhd:                                   1920px;
$screen-fhd-min:                               $screen-fhd;

// So media queries don't overlap when required, provide a maximum
$screen-xl-max:                               ($screen-fhd-min - 1);


// Container sizes
//
// Define the maximum width of `.container` for different screen sizes.

// Extra large screen / wider desktop
$container-extra-large-desktop:               (1724px + $grid-gutter-width);

// Full HD (1080p) / television
$container-full-hd:                           (1812px + $grid-gutter-width);

// For `$screen-xl-min` and up.
$container-xl:                                $container-extra-large-desktop;

// For `$screen-fhd-min` and up.
$container-fhd:                               $container-full-hd;


// Grid system
//
// Define responsive grid columns

$grid-12-columns:                             12;
$grid-24-columns:                             24;


// Description lists
//
// For each of Bootstrap's buttons, define text, background and border color.

$dl-padding:                                  $padding-large-vertical;
$dl-horizontal-lg-offset:                     ($dl-horizontal-offset * 1.5);

$dl-striped-bg:                               $bsk-colour-std-grey-lighter;


// Components
//
// Common, base, default variables for components

$border-radius-base:                          0;
$border-radius-large:                         $border-radius-base;
$border-radius-small:                         $border-radius-base;
$border-radius-rounded:                       6px;

$component-font-size-small:                   14px;

$line-height-computed-x2:                     ($line-height-computed * 2);

$component-default-color:                     $bsk-colour-std-grey-darker;
$component-default-bg:                        $bsk-colour-std-grey-lighter;

$component-inverse-color:                     $bsk-colour-std-grey-lighter;
$component-inverse-bg:                        $bsk-colour-std-grey-dark;

$component-overlay-color:                     $bsk-colour-std-white;
$component-overlay-bg:                        $bsk-colour-std-grey-darker;

$component-active-bg:                         $bsk-colour-std-sky-blue-base;

$component-inverse-link-color:                $bsk-colour-std-sky-blue-light;
$component-inverse-link-hover-color:          darken($component-inverse-link-color, 15%);


//== Form states and alerts
//
//## Define colors for form feedback states and, by default, alerts.

$state-primary-base:                          $bsk-colour-std-turquoise-base;
$state-primary-text:                          $bsk-colour-std-turquoise-dark;
$state-primary-bg:                            $bsk-colour-std-turquoise-lighter;
$state-primary-border:                        darken(adjust-hue($state-primary-bg, -10), 5%) !default;

$state-success-base:                          $bsk-colour-std-green-base;
$state-success-text:                          $bsk-colour-std-green-dark;
$state-success-bg:                            $bsk-colour-std-green-lighter;
$state-success-border:                        darken(adjust-hue($state-success-bg, -10), 5%) !default;

$state-info-base:                             $bsk-colour-std-sky-blue-base;
$state-info-text:                             $bsk-colour-std-sky-blue-dark;
$state-info-bg:                               $bsk-colour-std-sky-blue-lighter;
$state-info-border:                           darken(adjust-hue($state-info-bg, -10), 7%) !default;

$state-warning-base:                          $bsk-colour-std-yellow-base;
$state-warning-text:                          $bsk-colour-std-yellow-dark;
$state-warning-bg:                            $bsk-colour-std-yellow-lighter;
$state-warning-border:                        darken(adjust-hue($state-warning-bg, -10), 5%) !default;

$state-danger-base:                           $bsk-colour-std-red-base;
$state-danger-text:                           $bsk-colour-std-red-dark;
$state-danger-bg:                             $bsk-colour-std-red-lighter;
$state-danger-border:                         darken(adjust-hue($state-danger-bg, -10), 5%) !default;

$state-experimental-base:                     $bsk-colour-std-mauve-base;
$state-experimental-text:                     $bsk-colour-std-mauve-dark;
$state-experimental-bg:                       $bsk-colour-std-mauve-lighter;
$state-experimental-border:                   darken(adjust-hue($state-experimental-bg, -10), 5%) !default;


// Tables
//
// Customizes the `.table` component with basic values, each used across all table variations.

// Default background color used for all tables
$table-bg:                                    transparent;

// Background color used for `.table-striped`
$table-bg-accent:                             $bsk-colour-std-grey-lighter;

// Background color used for `.table-hover`
$table-bg-hover:                              $bsk-colour-ext-grey-lighter-light;
$table-bg-active:                             $table-bg-hover;

//** Border color for table and cell borders
$table-border-color:                          $bsk-colour-std-grey-light;


//== Forms
//
// Default `.form-control` border radius
// This has no effect on `<select>`s in some browsers, due to the limited stylability of `<select>`s in CSS.
//
// TODO: Rename `$input-border-radius` to `$input-border-radius-base` in Bootstrap v4

$input-border-radius:                         $border-radius-base;
$input-border-radius-base:                    $border-radius-base;

// Large `.form-control` border radius
$input-border-radius-large:                   $border-radius-large;

// Small `.form-control` border radius
$input-border-radius-small:                   $border-radius-small;


// Buttons
//
// For each of Bootstrap's buttons, define text, background and border-color.
//
// TODO: Rename `$btn-border-radius` to `$input-border-radius-base` in Bootstrap v4

$btn-border-radius:                           $border-radius-base;
$btn-border-radius-base:                      $border-radius-base;

$btn-default-color:                           $component-default-color;
$btn-default-bg:                              $component-default-bg;
$btn-default-border:                          $component-default-bg;

$btn-primary-color:                           $bsk-colour-std-white;
$btn-primary-bg:                              $brand-primary;
$btn-primary-border:                          $btn-primary-bg;

$btn-success-color:                           $bsk-colour-std-white;
$btn-success-bg:                              $brand-success;
$btn-success-border:                          $btn-success-bg;

$btn-info-color:                              $bsk-colour-std-white;
$btn-info-bg:                                 $brand-info;
$btn-info-border:                             $btn-info-bg;

$btn-warning-color:                           $bsk-colour-std-grey-darker;
$btn-warning-bg:                              $brand-warning;
$btn-warning-border:                          $btn-warning-bg;

$btn-danger-color:                            $bsk-colour-std-white;
$btn-danger-bg:                               $brand-danger;
$btn-danger-border:                           $btn-danger-bg;

$btn-experimental-color:                      $bsk-colour-std-white;
$btn-experimental-bg:                         $brand-experimental;
$btn-experimental-border:                     $btn-experimental-bg;

$btn-border-radius-large:                     $btn-border-radius-base;
$btn-border-radius-small:                     $btn-border-radius-base;


// Dropdowns
//
// Dropdown menu container and contents.

$dropdown-menu-border-radius:                 $border-radius-base;
$dropdown-menu-padding-vertical:              0;

$dropdown-menu-item-padding-vertical:         $padding-base-vertical;
$dropdown-menu-item-padding-horizontal:       ($padding-small-horizontal * 2);

//** Active dropdown menu item background color.
$dropdown-link-active-bg:                     $bsk-colour-std-grey-dark;

// Navbar
//
// BSK navbar - Like an inverted navbar but a bit different

$navbar-border-radius:                        $border-radius-base;
$navbar-font-family:                          $font-family-brand;
$navbar-font-weight:                          200;
$navbar-font-size:                            ($font-size-base + 1px);

// This colour does not use a $component to give a distinction between links and text (see sample #0254)
// & to give a distinction active and inactive navbar items
$navbar-color:                                $bsk-colour-std-grey-light;  // colour-check-10
// This colour does not use a $component to give a distinction between footer and header/navbar
// & to give distiction between hover and non-hover items (otherwise either no difference or much lighter navbar/header)
$navbar-bg:                                   $bsk-colour-ext-grey-darker-dark;
$navbar-border:                               $navbar-bg;
$navbar-divider-color:                        $bsk-colour-std-grey-lighter;
$navbar-link-color:                           $component-inverse-color;

$navbar-brand-font-family:                    $font-family-sans-serif;
$navbar-brand-font-weight:                    bold;
$navbar-brand-color:                          $bsk-colour-std-white;

$navbar-link-hover-color:                     $bsk-colour-std-white;
$navbar-link-hover-bg:                        $bsk-colour-std-grey-base;

$navbar-link-active-color:                    $bsk-colour-std-white;
$navbar-link-active-bg:                       $bsk-colour-std-grey-dark;

$navbar-link-disabled-color:                  $bsk-colour-std-grey-dark;
$navbar-link-disabled-bg:                     transparent;

$navbar-toggle-hover-bg:                      $component-inverse-bg;
// This colour does not use a $component to give (colour) symmetry with brand text
$navbar-toggle-icon-bar-bg:                   $navbar-brand-color;
$navbar-toggle-border-color:                  $navbar-bg;

$navbar-dropdown-font-family:                 $font-family-sans-serif;

// BSK large navbar - The same as a regular BSK navbar but thicker
$navbar-lg-height:                            ($navbar-height * 2);
$navbar-lg-padding-horizontal:                floor(($grid-gutter-width / 2));
$navbar-lg-padding-vertical:                  (($navbar-lg-height - $line-height-computed-x2) / 2);


// Navs
//

// Shared nav styles
$nav-link-padding:                            15px 15px;

// Pills
$nav-pills-border-radius:                     $border-radius-base;
$nav-pills-link-bg:                           $component-default-bg;
$nav-pills-link-margin-right:                 $padding-xs-horizontal;

$nav-pills-active-link-hover-bg:              $component-active-bg;
$nav-pills-disabled-link-bg:                  $bsk-colour-std-white;

// Wrappers
$nav-wrapper-tab-pane-margin-top:             ($padding-large-vertical * 2);


// Jumbotron
//

$jumbotron-border-radius:                     $border-radius-base;
$jumbotron-margin-bottom:                     0;

$jumbotron-lg-padding:                        ($jumbotron-padding * 2);
$jumbotron-xl-padding:                        ($jumbotron-padding * 3);

$jumbotron-default-color:                     $component-default-color;
$jumbotron-default-bg:                        $component-default-bg;

$jumbotron-inverse-color:                     $component-inverse-color;
$jumbotron-inverse-bg:                        $component-inverse-bg;

$jumbotron-overlay-color:                     $component-overlay-color;
$jumbotron-overlay-bg:                        $component-overlay-bg;
$jumbotron-overlay-padding:                   0 5px 5px 10px;


// Labels
//
//

$label-color:                                 $bsk-colour-std-white;
$label-border-radius:                         $border-radius-base;

$label-default-bg:                            $bsk-colour-std-grey-base;
$label-primary-bg:                            $brand-primary;
$label-success-bg:                            $brand-success;
$label-info-bg:                               $brand-info;
$label-danger-bg:                             $brand-danger;

$label-warning-color:                         $bsk-colour-std-grey-darker;
$label-warning-bg:                            $brand-warning;

$label-phase-backlog-bg:                      $development-phase-backlog;
$label-phase-discovery-bg:                    $development-phase-discovery;
$label-phase-alpha-bg:                        $development-phase-alpha;
$label-phase-beta-bg:                         $development-phase-beta;
$label-phase-live-bg:                         $development-phase-live;
$label-phase-retired-bg:                      $development-phase-retired;

$label-experimental-bg:                       $brand-experimental;


// Alerts
//
// Define alert colours, border radius, and padding.

$alert-border-radius:                         $border-radius-base;
$alert-border-width:                          5px;

$alert-block-icon-padding-right:              15px;
$alert-block-icon-body-padding-left:          25px + $alert-block-icon-padding-right;

$alert-solid-text-color:                      $bsk-colour-std-white;
$alert-solid-close-color:                     $alert-solid-text-color;

$alert-lg-font-size:                          120%;

$alert-primary-base:                          $state-primary-base;
$alert-primary-highlight:                     $state-primary-text;

$alert-success-base:                          $state-success-base;
$alert-success-highlight:                     $state-success-text;

$alert-warning-base:                          $state-warning-base;
$alert-warning-highlight:                     $state-warning-text;
$alert-warning-solid-text:                    $bsk-colour-std-grey-darker;

$alert-danger-base:                           $state-danger-base;
$alert-danger-highlight:                      $state-danger-text;

$alert-info-base:                             $state-info-base;
$alert-info-highlight:                        $state-info-text;

$alert-cookie-notice-base:                    $bsk-colour-std-blue-base;
$alert-cookie-notice-highlight:               $bsk-colour-std-blue-base;

$alert-experimental-base:                     $state-experimental-base;
$alert-experimental-highlight:                $state-experimental-text;


// Progress bars
//
//

$progress-border-radius:                      $border-radius-base;

$progress-bar-bg:                             $brand-primary;
$progress-bar-success-bg:                     $brand-success;
$progress-bar-warning-bg:                     $brand-warning;
$progress-bar-danger-bg:                      $brand-danger;
$progress-bar-info-bg:                        $brand-info;


// Thumbnails
//

// BSK thumbnail - Like a normal thumbnail but with straight edges and virtually no border
$thumbnail-padding:                           0;
$thumbnail-border-radius:                     $border-radius-base;

$thumbnail-caption-padding:                   $padding-large-vertical;

// BSK default thumbnail
$thumbnail-default-bg:                        $component-default-bg;

// BSK inverted thumbnail
$thumbnail-inverse-bg:                        $component-inverse-bg;
$thumbnail-inverse-link-color:                $component-inverse-link-color;
$thumbnail-inverse-link-hover-color:          $component-inverse-link-hover-color;

$thumbnail-inverse-caption-color:             $component-inverse-color;


// Close button
//
//

$close-text-shadow:                           none;


// Code
//
//

$code-color:                                  $bsk-colour-std-sky-blue-dark;
$code-bg:                                     $bsk-colour-ext-sky-blue-lighter-light;


// Type
//
//

$hr-dashed-border-width:                      2px;

// Footers
//
// Custom component

$footer-font-family:                          $font-family-brand;
$footer-font-weight:                          100;
$footer-font-size:                            ($font-size-base + 1px);

$footer-height:                               $navbar-height;
$footer-margin-top:                           ($line-height-computed-x2 + 10px);
$footer-padding-top:                          $line-height-computed;
$footer-padding-bottom:                       ($footer-padding-top * 2);
$footer-border-radius:                        $border-radius-base;

$footer-default-color:                        $component-inverse-color;
$footer-default-bg:                           $bsk-colour-std-grey-darker;
$footer-default-border:                       $footer-default-bg;

$footer-default-divider:                      $bsk-colour-std-grey-light;
$footer-default-link-color:                   $component-inverse-link-color;
$footer-default-link-hover-color:             $component-inverse-link-hover-color;

$footer-is-something-wrong-margin-top:        $padding-large-vertical;
$footer-is-something-wrong-margin-bottom:     $padding-large-vertical;

$footer-back-to-top-margin-top:               $padding-large-vertical;

$footer-ogl-margin-top:                       ($padding-large-vertical *2);
$footer-ogl-padding-left:                     53px;

$footer-ogl-symbol-margin-bottom:             $padding-large-vertical;
$footer-ogl-symbol-left:                      0;
$footer-ogl-symbol-top:                       3px;
$footer-ogl-symbol-width:                     100%;
$footer-ogl-symbol-height:                    100%;
$footer-ogl-symbol-a-width:                   100%;
$footer-ogl-symbol-a-width-fw:                41px;  // As recommended by the National Archives see [1] for details
$footer-ogl-symbol-a-height:                  17px;
$footer-ogl-symbol-a-text-indent:             -999em;
$footer-ogl-symbol-a-background:              url('https://cdn.web.bas.ac.uk/bas-style-kit/#{$bsk-version}/img/logos-symbols/ogl-symbol-inverse-transparent-17.png');

$footer-governance-margin-bottom:             ($padding-large-vertical *2);

// [1] http://www.nationalarchives.gov.uk/documents/information-management/ogl-symbol-guidelines-v1.pdf - Page 8


// Headers
//
// Custom component - designed to replicate the visual appearance of a navbar with minimal markup

$header-font-family:                          $navbar-font-family;
$header-font-weight:                          $navbar-font-weight;
$header-font-size:                            $navbar-font-size;

$header-height:                               $navbar-lg-height;
$header-margin-bottom:                        $navbar-margin-bottom;
$header-border-radius:                        $navbar-border-radius;
$header-padding-vertical:                     $navbar-padding-vertical;

$header-default-bg:                           $navbar-bg;
$header-default-border:                       $header-default-bg;


// Sidebars
//
// Custom component - based loosely on the well component

$sidebar-base-padding:                        ($padding-large-vertical * 2);
$sidebar-base-bottom-margin:                  $sidebar-base-padding;
$sidebar-border-radius:                       $border-radius-base;

$sidebar-lg-padding:                          ($sidebar-base-padding * 1.5);

$sidebar-default-bg:                          $bsk-colour-std-grey-lighter;

$sidebar-inverse-colour:                      $component-inverse-color;
$sidebar-inverse-bg:                          $component-inverse-bg;


// Bands
//
// Custom component - based loosely on the well component

$band-padding-vertical:                       ($padding-large-vertical * 4);

$band-md-padding-vertical:                    ($padding-large-vertical * 3);
$band-sm-padding-vertical:                    $padding-large-vertical;

$band-default-bg:                             $bsk-colour-std-white;
$band-inverse-bg:                             $component-inverse-bg;


// Image Copyright
//
// Custom component

$image-copyright-base-padding:                3px 8px 1px;

$image-copyright-base-color:                  $component-overlay-color;
$image-copyright-base-background:             $component-overlay-bg;
