//
// Gill Sans - Font file paths
// --------------------------------------------------

// Gill Sans - Light
@font-face {
  font-family: "Gill Sans";
  src:
    url("#{$gs-font-path}/Light/a2926047-aec5-42f4-b352-e593469518be.woff2") format("woff2"),
    url("#{$gs-font-path}/Light/c56da29d-9c5b-4d94-900f-770cde3dd317.woff") format("woff"),
    url("#{$gs-font-path}/Light/378182d1-8021-4674-a814-cc8f01f9a937.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

// Gill Sans - Light Italic
@font-face {
  font-family: "Gill Sans";
  src:
    url("#{$gs-font-path}/LightItalic/de4e6ee5-4bb3-4aa3-b76b-8400446faf5e.woff2") format("woff2"),
    url("#{$gs-font-path}/LightItalic/fc0d04fc-d4ff-4958-a236-3ae4c3758bb7.woff") format("woff"),
    url("#{$gs-font-path}/LightItalic/c28733d9-2865-43c4-ae96-6f3342a7b31d.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}

// Gill Sans - Book (midway between Light and Regular)
@font-face {
  font-family: "Gill Sans";
  src:
    url("#{$gs-font-path}/Book/51318b0e-57fc-4136-b7d1-46aee6c2b565.woff2") format("woff2"),
    url("#{$gs-font-path}/Book/2bc69477-90c2-4415-a51f-36e36eee3d5e.woff") format("woff"),
    url("#{$gs-font-path}/Book/33447d8d-d920-48e7-b0a9-1d3dda80d6a6.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

// Gill Sans - Book Italic
@font-face {
  font-family: "Gill Sans";
  src:
    url("#{$gs-font-path}/BookItalic/26c330ee-d1db-484c-9a72-4cba86aba8e5.woff2") format("woff2"),
    url("#{$gs-font-path}/BookItalic/8d3f1c3a-e26d-4dd7-ac5b-4b0bc68dccaa.woff") format("woff"),
    url("#{$gs-font-path}/BookItalic/3d012c73-3418-43c1-8252-3d65991a551a.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
}

// Gill Sans - Regular
@font-face {
  font-family: "Gill Sans";
  src:
    url("#{$gs-font-path}/Regular/d9f9decc-5fa8-4390-a105-4f89f6b7b055.woff2") format("woff2"),
    url("#{$gs-font-path}/Regular/cd5a93fc-2bb1-48df-8982-11119cd6e270.woff") format("woff"),
    url("#{$gs-font-path}/Regular/b6bdc93b-2720-4c92-b68d-48499456178e.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

// Gill Sans - Regular Italic
@font-face {
  font-family: "Gill Sans";
  src:
    url("#{$gs-font-path}/RegularItalic/b01b8a8a-cb45-4c4e-b2bb-e5b8853e6fe6.woff2") format("woff2"),
    url("#{$gs-font-path}/RegularItalic/3e18b964-7a6f-4828-8e18-5cc698e1051f.woff") format("woff"),
    url("#{$gs-font-path}/RegularItalic/a7622e06-0cde-414a-a25d-5e5f6f5bfcaa.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}
