// ✘ - Though I can see the point of this I feel the band component is purely a layout component.
// If this is needed in future it should be implemented within the band component as:
/*
.band-bsk {
  h1, etc. {
    *styles*
  }
}
// As it stands, candidate for PW overrides.
*/

.bandTitle {
  margin-top: 10px;
  margin-bottom: 35px;
  font-size: 2.1em;
}

// ✔︎ - Implemented as .navbar-bsk to apply to all elements within navbars
.navbar-header {
  font-family:'Gill Sans W01 Book';
  em {
    font-family:'GillSansW01-BookItalic';
  }
}

// ✘ - Not implemented - too simplistic for style kit, candidate for PW overrides if needed
.gsLight {
  font-family:'Gill Sans W01 Light';
  em {
    font-family:'GillSansW01-LightItalic';
  }
}
// ✘ - Not implemented - too simplistic for style kit, candidate for PW overrides if needed
.gsBook {
  font-family:'Gill Sans W01 Book';
  em {
    font-family:'GillSansW01-BookItalic';
  }
}
// ✘ - Not implemented - too simplistic for style kit, candidate for PW overrides if needed
.gsMedium {
  font-family:'Gill Sans W01 Medium';
  em {
    font-family:'GillSansW01-MediumItali';
  }
}
// ✘ - Not implemented - too simplistic for style kit, candidate for PW overrides if needed
.gsBold {
  font-family:'Gill Sans W01 Bold';
  em {
    font-family:'GillSansW01-BoldItalic';
  }
}

// ✘ - Not implemented - relevant only to the public website, therefore candidate for PW overrides
.navbar.megamenu, .latestTabList li {
  font-family:'Gill Sans W01 Book';
  em {
    font-family:'GillSansW01-BookItalic';
  }
}

// ✘ - Not implemented - For the sake of not having to include another font variant I'm not going to do this, especially
// as the impact is likely to be minimal, candidate for PW overrides if needed
.btn {
  font-family: 'Gill Sans W01 Bold';
}

h1, h2, h3, h4, h5, h6 {
  font-family:'Gill Sans W01 Book';  // ✔︎ - Implemented

  // ✘ - Not implemented - I don't want to mess with bootstrap's sizing unless we really have to - candidate for PW overrides
  line-height: 1.4em;
  @media (max-width: 767px) {
    line-height: 1em;
  }
}

// ✘ - Not implemented - due to the need to include another font variant, however something is needed for this.
// See https://jira.ceh.ac.uk/browse/BSK-46 for details.
.navbar-brand {
  font-family: 'Gill Sans W01 Bold';
}
