//-
  pattern:
    title: Page not found
  ---

extends ../layouts/app-pattern-page.pug

block append variables
  - attributes.main_content_classes.push('bsk-pattern-page-not-found');

block pattern
  h1.bsk-page-header Page not found
  p If you typed the web address, check it is correct.
  p If you pasted the web address, check you copied the entire address.
  p If the web address is correct or you selected a link or button, #[a(href='/' + testbed_version + '/#site-feedback') contact us] to let us know.

  p.bsk-text-muted (#[a.bsk-text-experimental(href='/' + testbed_version + '/') Back to testbed index])
