//-
  pattern_variant:
    title: Service unavailable (basic)
  pattern:
    title: Service unavailable
  ---

extends ../layouts/app-pattern-page.pug

block append variables
  - bsk_attributes.main_content_classes.push('bsk-pattern-service-unavailable');

block pattern
  h1.bsk-page-header Service unavailable
  p.bsk-lead You will be able to use the service later.
