//-
  pattern_variant:
    title: Problem with this service (basic)
  pattern:
    title: Problem with this service
  ---

extends ../layouts/app-pattern-page.pug

block append variables
  - attributes.main_content_classes.push('bsk-pattern-problem-with-service');

block pattern
  h1.bsk-page-header Sorry, there is a problem with this service
  p.bsk-lead Please try again later.
  p #[a(href='#') Contact the Sample Team] if you need to do something.

  p.bsk-text-muted (#[a.bsk-text-experimental(href='/' + testbed_version + '/') Back to testbed index])
