//-
  pattern_variant:
    title: Start (before you start)
  pattern:
    title: Start
  ---

extends ../layouts/app-pattern-page.pug

block append variables
  - attributes.main_content_classes.push('bsk-pattern-start');

block pattern
  h1.bsk-page-header Sample Service

  section.bsk-service-uses
    h2.bsk-h3 Use this service to:
    ul
      li access some information
      li perform an action
      li etc.

  section.bsk-call-to-action
    button.bsk-btn.bsk-btn-primary.bsk-btn-lg
      | Start Now
      i.fa-fw.fas.fa-chevron-right

  section.bsk-before-you-start
    h2.bsk-h3 Before you start
    p You need some information to use this service.
    p You will need to #[a(href='#') contact the Sample Team] to be allowed to perform an action.
    p You can also use #[a(href='#') Another service] to do something similar.
    P It typically takes 30 minutes to perform an action.
    p You can save your progress and continue later if needed.

  section.bsk-more-information
    h2.bsk-h3 More information
    p See the #[a(href='#') BAS Digital Workplace] for information on how to use this service.
    p You can also #[a(href='#') contact the Sample Team] for additional support.

  p.bsk-text-muted (#[a.bsk-text-experimental(href='/' + testbed_version + '/') Back to testbed index])
