//-
  pattern_variant:
    title: Sign In (microsoft)
  pattern:
    title: Sign In
  ---

extends ../layouts/app-pattern-page.pug

block append variables
  - attributes.main_content_classes.push('bsk-pattern-sign-in');

block pattern
  h1.bsk-page-header Please sign-in to continue
  p.bsk-lead We need to check you are allowed to use this part of this service.

  section.bsk-call-to-action
    button.bsk-btn.bsk-btn-ms-account.bsk-btn-lg
      object.bsk-ms-pictogram(type='image/svg+xml' data='/' + testbed_version + '/dist/img/logos-symbols/ms-pictogram.svg')
      |
      | Sign in to Continue

  section.bsk-sign-in-information
    p Use the account you use for your NERC email to sign into this service.
    p #[a(href='mailto:servicedesk@bas.ac.uk') Contact the IT Service Desk] if you are unable to sign in.

    p.bsk-text-muted (#[a.bsk-text-experimental(href='/' + testbed_version + '/') Back to testbed index])
