//-
  pattern:
    title: Item page
  ---

extends ../layouts/app-pattern-component.pug

block pattern
  header.bsk-page-header.bsk-page-header-stacked
    h1
      small Item type
      br
      | Item title

  p Page content ...
