//-
  pattern:
    title: ORCID iD
  ---

extends ../layouts/app-pattern-component.pug

block pattern
  a(href='https://sandbox.orcid.org/0000-0001-8373-6934')
    i.fab.fa-orcid.bsk-orcid-id
    |
    | https://sandbox.orcid.org/0000-0001-8373-6934
