{% macro bsk_tb_form_control_input_v1(type=false, values=["Value"]) %}
<form>
  <fieldset class="bsk-form-group">
    <label class="bsk-control-label">{{ type | title }} input</label>
    <input type="{{ type }}" class="bsk-form-control">
  </fieldset>
</form>

{% for value in values %}
<p class="bsk-text-info">{{ type | title }} input with a <code>value</code> attribute of <samp>{{ value }}</samp></p>
<form>
  <fieldset class="bsk-form-group">
    <label class="bsk-control-label">{{ type | title }} input</label>
    <input type="{{ type }}" class="bsk-form-control" value="{{ value }}">
  </fieldset>
</form>
{% endfor %}

<p class="bsk-text-info">{{ type | title }} input with the <code>placeholder</code> attribute</p>
<form>
  <fieldset class="bsk-form-group">
    <label class="bsk-control-label">{{ type | title }} input</label>
    <input type="{{ type }}" class="bsk-form-control" placeholder="Placeholder">
  </fieldset>
</form>

{% for value in values %}
<p class="bsk-text-info">{{ type | title }} input with the <code>placeholder</code> attribute and a <code>value</code> attribute of <samp>{{ value }}</samp></p>
<form>
  <fieldset class="bsk-form-group">
    <label class="bsk-control-label">{{ type | title }} input</label>
    <input type="{{ type }}" class="bsk-form-control" placeholder="Placeholder" value="{{ value }}">
  </fieldset>
</form>
{% endfor %}

<h4 class="bsk-tb-margin-top bsk-tb-sample-sub-heading">Required state</h4>
<p class="bsk-text-info">{{ type | title }}input with the <code>required</code> attribute</p>
<form>
  <fieldset class="bsk-form-group">
    <label class="bsk-control-label">{{ type | title }} input</label>
    <input type="{{ type }}" class="bsk-form-control" required>
  </fieldset>
</form>

<p class="bsk-text-info">{{ type | title }} input with the <code>disabled</code> attribute</p>
<form>
  <fieldset class="bsk-form-group">
    <label class="bsk-control-label">{{ type | title }} input</label>
    <input type="{{ type }}" class="bsk-form-control" disabled>
  </fieldset>
</form>

<p class="text-info">{{ type | title }} input with the <code>disabled</code> and <code>placeholder</code> attributes</p>
<form>
  <fieldset class="bsk-form-group">
    <label class="bsk-control-label">{{ type | title }} input</label>
    <input type="{{ type }}" class="bsk-form-control" placeholder="Placeholder" disabled>
  </fieldset>
</form>

<h4 class="bsk-tb-margin-top bsk-tb-sample-sub-heading">Readonly state</h4>
<p class="bsk-text-info">{{ type | title }} input with the <code>readonly</code> attribute</p>
<form>
  <fieldset class="bsk-form-group">
    <label class="bsk-control-label">{{ type | title }} input</label>
    <input type="{{ type }}" class="bsk-form-control" readonly>
  </fieldset>
</form>

{% for value in values %}
<p class="bsk-text-info">{{ type | title }} input with the <code>readonly</code>, <code>placeholder</code> attributes and a <code>value</code> attribute of <samp>{{ value }}</samp></p>
<form>
  <fieldset class="bsk-form-group">
    <label class="bsk-control-label">{{ type | title }} input</label>
    <input type="{{ type }}" class="bsk-form-control" placeholder="Placeholder" value="{{ value }}" readonly>
  </fieldset>
</form>
{% endfor %}

<h4 class="bsk-tb-margin-top bsk-tb-sample-sub-heading">Focus state (simulated)</h4>
<form>
  <fieldset class="bsk-form-group">
    <label class="bsk-control-label">{{ type | title }} input</label>
    <input type="{{ type }}" class="bsk-form-control bsk-tb-simulated-state-focus">
  </fieldset>
</form>

<h4 class="bsk-tb-margin-top bsk-tb-sample-sub-heading">Validation states</h4>
<p class="bsk-text-info">{{ type | title }} input with the <code>.has-success</code>
(<strong class="bsk-text-success">Success</strong>) validation state statically applied.</p>
<form>
  <fieldset class="bsk-form-group bsk-has-success">
    <label class="bsk-control-label">{{ type | title }} input</label>
    <input type="{{ type }}" class="bsk-form-control">
  </fieldset>
</form>

<p class="bsk-text-info">{{ type | title }} input with the <code>.has-warning</code>
(<strong class="bsk-text-warning">Warning</strong>) validation state statically applied.</p>
<form>
  <fieldset class="bsk-form-group bsk-has-warning">
    <label class="bsk-control-label">{{ type | title }} input</label>
    <input type="{{ type }}" class="bsk-form-control">
  </fieldset>
</form>

<p class="bsk-text-info">{{ type | title }} input with the <code>.has-error</code>
(<strong class="bsk-text-danger">Error</strong>) validation state statically applied.</p>
<form>
  <fieldset class="bsk-form-group bsk-has-error">
    <label class="bsk-control-label">{{ type | title }} input</label>
    <input type="{{ type }}" class="bsk-form-control">
  </fieldset>
</form>
{% endmacro %}
