{% macro bsk_tb_logomark_standard_sizes_v1(base_path, img_path, img_file_base, img_file_ext, background_class) %}
<h4 class="bsk-tb-margin-top bsk-tb-sample-sub-heading"><code>{{ image_file_base }}*.{{ img_file_ext }}</code> at standard image sizes (classes applied: <code>{{ background_class }}</code>)</h4>

{% for img_size in [512, 256, 128, 64, 32, 16] %}
<div class="bsk-tb-logomark-wrapper">
  <div class="bsk-tb-logomark-instance {{ background_class }}">
    <img src="{{ base_path }}{{ img_path }}/{{ img_file_base }}{{ img_size }}.{{ img_file_ext }}" />
  </div>
  <p class="bsk-text-info">{{ img_size }}px square or high</p>
</div>
{% endfor %}
{% endmacro %}
