{% macro bsk_tb_main_heading_v1(title, show_index_link=true) %}
<header class="page-header bsk-tb-page-header">
  <div class="container-fluid">
    <h1>
      <strong>BAS Style Kit Testbed</strong> {{ title }}
      {% if show_index_link %}<small><a href="/testbed/">Back to index</a></small>{% endif %}
    </h1>
  </div>
</header>
{% endmacro %}

{% macro _bsk_tb_section_heading_v1(title, _subtitle=false, _title_prefix=false, _heading_level=2) %}
<header {% if _heading_level == 2 %}class="container-fluid"{% endif %}>
  <div class="page-header">
    <h{{ _heading_level }}>
      {% if _title_prefix %}<strong>{{ _title_prefix }}</strong>{% endif %} {{ title }}
      {% if _subtitle %}<small>{{ _subtitle }}</small>{% endif %}
    </h{{ _heading_level }}>
  </div>
</header>
{% endmacro %}

{% macro bsk_tb_section_v1(title, subtitle=false, title_prefix=false, heading_level=3) %}
<section>
  {{ _bsk_tb_section_heading_v1(title, _subtitle=subtitle, _title_prefix=title_prefix, _heading_level=heading_level) }}
  <main {% if heading_level == 2 %}class="container-fluid"{% endif %}>
    {{ caller() }}
  </main>
</section>
{% endmacro %}
