{% macro bsk_tb_main_heading_v2(
  title,
  show_index_link=true,
  title_prefix="BAS Style Kit Testbed",
  title_code=false,
  title_experimental=false
) %}
<header class="bsk-page-header bsk-tb-page-header">
  <div class="bsk-container-fluid">
    <h1>
      {% if title_prefix %}<strong>{{ title_prefix }}</strong>{% endif %}
      {% if title_experimental %}<span class="bsk-tb-sample-sub-heading-experiment">(Experiment)</span>{% endif %}
      {{ title }}
      {% if title_code %}<small><code>{{ title_code }}</code></small>{% endif %}
      {% if show_index_link %}<small><a href="/testbed/">Back to index</a></small>{% endif %}
    </h1>
    <div class="bsk-lead">
      <span class="bsk-hidden-xs bsk-text-muted">Extra small</span>
      <span class="bsk-hidden-sm bsk-hidden-md bsk-hidden-lg bsk-hidden-xl bsk-hidden-fhd bsk-visible-xs-inline"><strong>Extra small</strong></span>
      ·
      <span class="bsk-hidden-sm bsk-text-muted">Small</span>
      <span class="bsk-hidden-xs bsk-hidden-md bsk-hidden-lg bsk-hidden-xl bsk-hidden-fhd bsk-visible-sm-inline"><strong>Small</strong></span>
      ·
      <span class="bsk-hidden-md bsk-text-muted">Medium</span>
      <span class="bsk-hidden-xs bsk-hidden-sm bsk-hidden-lg bsk-hidden-xl bsk-hidden-fhd bsk-visible-md-inline"><strong>Medium</strong></span>
      ·
      <span class="bsk-hidden-lg bsk-text-muted">Large</span>
      <span class="bsk-hidden-xs bsk-hidden-sm bsk-hidden-md bsk-hidden-xl bsk-hidden-fhd bsk-visible-lg-inline"><strong>Large</strong></span>
      ·
      <span class="bsk-hidden-xl bsk-text-muted">Extra large (custom size)</span>
      <span class="bsk-hidden-xs bsk-hidden-sm bsk-hidden-md bsk-hidden-lg bsk-hidden-fhd bsk-visible-xl-inline"><strong>Extra large (custom size)</strong></span>
      ·
      <span class="bsk-hidden-fhd bsk-text-muted">Full HD (custom size)</span>
      <span class="bsk-hidden-xs bsk-hidden-sm bsk-hidden-md bsk-hidden-lg bsk-hidden-xl bsk-visible-fhd-inline"><strong>Full HD (custom size)</strong></span>
    </div>
  </div>
</header>
{% endmacro %}

{% macro bsk_tb_section_heading_v2(
  title,
  _subtitle=false,
  _title_prefix=false,
  _title_code=false,
  _title_experimental=false,
  _heading_level=2,
  _use_container=true,
  _show_index_link=true,
  _isolated_href=false,
  _use_isolated_href=false,
  _base_path="/"
) %}
<header {% if _use_container %}class="bsk-container-fluid"{% endif %}>
  <div class="page-header">
    <h{{ _heading_level }}>
      {% if _title_prefix %}<strong>{{ _title_prefix }}</strong>{% endif %} {% if _title_experimental %}<span class="bsk-tb-sample-sub-heading-experiment">(Experiment)</span>{% endif %} {{ title }} {% if _title_code %}<code>{{ _title_code }}</code>{% endif %}
      {% if _subtitle %}<small>{{ _subtitle }}</small>{% endif %}
      {% if _show_index_link %}<small><a href="{{ _base_path }}testbed/">Back to index</a></small>{% endif %}
      {% if _use_isolated_href %}<small><a href="{{ _base_path }}testbed/samples/{{ _isolated_href }}">View isolated</a></small>{% endif %}
    </h{{ _heading_level }}>
  </div>
</header>
{% endmacro %}

{% macro bsk_tb_section_v2(
  title,
  subtitle=false,
  title_prefix=false,
  title_code=false,
  title_experimental=false,
  heading_level=3,
  use_container=true,
  show_index_link=true,
  isolated_href=false,
  use_isolated_href=false,
  base_path="/"
) %}
<section>
  {{ bsk_tb_section_heading_v2(
    title,
    _subtitle=subtitle,
    _title_prefix=title_prefix,
    _title_code=title_code,
    _title_experimental=title_experimental,
    _heading_level=heading_level,
    _use_container=use_container,
    _show_index_link=show_index_link,
    _isolated_href=isolated_href,
    _use_isolated_href=use_isolated_href,
    _base_path=base_path
  ) }}
  <main {% if use_container %}class="bsk-container-fluid"{% endif %}>
    {{ caller() }}
  </main>
</section>
{% endmacro %}

{% macro bsk_tb_experimental_sample_intro_message_v1() %}
<div class="bsk-alert bsk-alert-block bsk-alert-solid-info" role="alert">
  <header class="bsk-alert-heading">
    <h4><i class="fa fa-info bsk-alert-icon" aria-hidden="true"></i> This sample relates to an experiment at a specific point in time</h4>
  </header>
  <p>Such samples likely won't be useful beyond their original purpose, and will degrade over time
  as the Style Kit evolves. <br/> Experimental samples are given a permenant sample number and kept in case they are useful
  to others in the future.</p>
</div>
<hr />
{% endmacro %}
