{% macro bsk_tb_panel_v1(
  panel_modifier="default",
  with_body=false,
  with_header=false,
  with_footer=false,
  with_title=false
) %}
<div class="bsk-panel bsk-panel-{{ panel_modifier }}">
  {% if with_header %}
  <header class="bsk-panel-heading">
    <h3 class="{% if with_title %}bsk-panel-title{% endif %}">{{ panel_modifier | title }} panel header {% if with_title %}with title{% endif %}</h3>
  </header>
  {% endif %}
  {% if with_body %}<main class="bsk-panel-body">{% endif %}
    {{ panel_modifier | title }} panel content
  {% if with_body %}</main>{% endif %}
  {% if with_footer %}
  <footer class="bsk-panel-footer">
    {{ panel_modifier | title }} panel footer
  </footer>
  {% endif %}
</div>
{% endmacro %}
