- bsk_attributes.site_nav_launcher.push({title: 'Style Kit Documentation', href: 'https://style-kit.web.bas.ac.uk'});
- bsk_attributes.site_nav_launcher.push({title: 'Style Kit Documentation (Testing)', href: 'https://style-kit-testing.web.bas.ac.uk'});
