if attributes.main_content_classes.length == 0
  div.bsk-container-fluid
    header.bsk-page-header.app-sample-header
      include ./header--basic.pug
      include ./header--breakpoint.pug
else
  header.bsk-page-header.app-sample-header
    include ./header--basic.pug
    include ./header--breakpoint.pug
