header.bsk-page-header.app-sample-header
  h1 #[strong ##{ sample.sample_number }] #{ sample.title } #[small #[code #{ sample.code }]] #[small #[a(href='/' + testbed_version + '/') Back to index]]

  include ./header--breakpoint.pug
