if bsk_attributes.container_class == ''
  div.bsk-container-fluid
    header.bsk-page-header.app-sample-header
      include ./header--basic.pug
      include ./header--breakpoint.pug

else
  header.bsk-page-header.app-sample-header
    include ./header--basic.pug
    include ./header--breakpoint.pug
