.bsk-tb-page-header {
  margin-top: 0;
}

.bsk-tb-margin-top {
  margin-top: 20px;
}

.bsk-tb-margin-top-ul {
  margin-top: 80px;
}

.bsk-tb-margin-top-sl {
  margin-top: 120px;
}

.bsk-tb-sample-sub-heading {
  color: #0DA59F;
}

.bsk-tb-ff-open-sans-light {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
}

.bsk-tb-ff-open-sans-regular {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
}

.bsk-tb-ff-open-sans-bold {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
}

.bsk-tb-ff-gill-sans-light {
  font-family: "Gill Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 100;
}

.bsk-tb-ff-gill-sans-book  {
  font-family: "Gill Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 200;
}

.bsk-tb-ff-gill-sans-roman {
  font-family: "Gill Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
}

.bsk-tb-ff-menlo-regular {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}

.bsk-tb-visible-col-1,
.bsk-tb-visible-col-2,
.bsk-tb-visible-col-3,
.bsk-tb-visible-col-4,
.bsk-tb-visible-col-5,
.bsk-tb-visible-col-6,
.bsk-tb-visible-col-7,
.bsk-tb-visible-col-8,
.bsk-tb-visible-col-9,
.bsk-tb-visible-col-10,
.bsk-tb-visible-col-11,
.bsk-tb-visible-col-12,
.bsk-tb-visible-col-13,
.bsk-tb-visible-col-14,
.bsk-tb-visible-col-15,
.bsk-tb-visible-col-16,
.bsk-tb-visible-col-17,
.bsk-tb-visible-col-18,
.bsk-tb-visible-col-19,
.bsk-tb-visible-col-20,
.bsk-tb-visible-col-21,
.bsk-tb-visible-col-22,
.bsk-tb-visible-col-23,
.bsk-tb-visible-col-24 {
  padding-top: 15px;
  padding-bottom: 15px;
}

.bsk-tb-visible-col-1 {
  background: #2E358B;
}

.bsk-tb-visible-col-2 {
  background: #D53880;
}

.bsk-tb-visible-col-3 {
  background: #B10E1E;
}

.bsk-tb-visible-col-4 {
  background: #F47738;
}

.bsk-tb-visible-col-5 {
  background: #006435;
}

.bsk-tb-visible-col-6 {
  background: #005EA5;
}

.bsk-tb-visible-col-7 {
background: #6F72AF;
}

.bsk-tb-visible-col-8 {
background: #F499BE;
}

.bsk-tb-visible-col-9 {
background: #DF3034;
}

.bsk-tb-visible-col-10 {
background: #FFBF47;
}

.bsk-tb-visible-col-11 {
background: #85994B;
}

.bsk-tb-visible-col-12 {
  background: #2B8CC4;
}

.bsk-tb-visible-col-13 {
  background: #2E358B;
}

.bsk-tb-visible-col-14 {
  background: #D53880;
}

.bsk-tb-visible-col-15 {
  background: #B10E1E;
}

.bsk-tb-visible-col-16 {
  background: #F47738;
}

.bsk-tb-visible-col-17 {
  background: #006435;
}

.bsk-tb-visible-col-18 {
  background: #005EA5;
}

.bsk-tb-visible-col-19 {
background: #6F72AF;
}

.bsk-tb-visible-col-20 {
background: #F499BE;
}

.bsk-tb-visible-col-21 {
background: #DF3034;
}

.bsk-tb-visible-col-22 {
background: #FFBF47;
}

.bsk-tb-visible-col-23 {
background: #85994B;
}

.bsk-tb-visible-col-24 {
  background: #2B8CC4;
}

.bsk-tb-visible-container {
  border: 2px solid gray;
}

.bsk-tb-colour-swatch {
  width: 75px;
  height: 75px;
}

.bsk-tb-colour-swatch-EEEEEE {
  background-color: #EEEEEE;
}

.bsk-tb-colour-swatch-777777 {
  background-color: #777777;
}

.bsk-tb-colour-swatch-555555 {
  background-color: #555555;
}

.bsk-tb-colour-swatch-333333 {
  background-color: #333333;
}

.bsk-tb-colour-swatch-222222 {
  background-color: #222222;
}

.bsk-tb-colour-swatch-EEEEEE {
  background-color: #EEEEEE;
}

.bsk-tb-colour-swatch-F4F6F9 {
  background-color: #F4F6F9;
}

.bsk-tb-colour-swatch-E7EBF1 {
  background-color: #E7EBF1;
}

.bsk-tb-colour-swatch-77CCFF {
  background-color: #77CCFF;
}

.bsk-tb-colour-swatch-006AAA {
  background-color: #006AAA;
}

.bsk-tb-colour-swatch-003A5D {
  background-color: #003A5D;
}

.bsk-tb-colour-swatch-B93E14 {
  background-color: #B93E14;
}

.bsk-tb-colour-swatch-0DA59F {
  background-color: #0DA59F;
}

.bsk-tb-colour-swatch-C3C3C3 {
  background-color: #C3C3C3;
}

.bsk-tb-colour-swatch-8C8C8C {
  background-color: #8C8C8C;
}

.bsk-tb-colour-swatch-007AC3 {
  background-color: #007AC3;
}

.bsk-tb-colour-swatch-0DA59F {
  background-color: #0DA59F;
}

.bsk-tb-colour-swatch-0B8D88 {
  background-color: #0B8D88;
}

.bsk-tb-colour-swatch-007AC3 {
  background-color: #007AC3;
}

.bsk-tb-colour-swatch-FFFFFF {
  background-color: #FFFFFF;
  border: 1px solid #EEEEEE;
}

.bsk-tb-simulated-state-focus {
  border-color: #ccc;
  border-color: rgba(82, 168, 236, .8);
  outline: 0;
  outline: thin dotted \9;
  -webkit-box-shadow: 0 0 8px rgba(82, 168, 236, .6);
  box-shadow: 0 0 8px rgba(82, 168, 236, .6)
}
.bsk-tb-simulated-state-open {
  display: block;
}
.bsk-tb-simulated-state-uncollapsed {
  position: relative;
  float: right;
  padding: 9px 10px;
  margin-top: 8px;
  margin-right: 15px;
  margin-bottom: 8px;
  background-color: transparent;
  background-image: none;
  border-color: #222;
  border: 1px solid transparent;
  border-radius: 0;
}
.bsk-tb-simulated-state-uncollapsed:hover, .bsk-tb-simulated-state-uncollapsed:focus {
  background-color: #555; }
.bsk-tb-simulated-state-uncollapsed:focus {
  outline: 0; }
.bsk-tb-simulated-state-uncollapsed .bsk-icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
  background-color: #fff; }
.bsk-tb-simulated-state-uncollapsed .bsk-icon-bar + .bsk-icon-bar {
  margin-top: 4px; }

/* No sure why this isn't needed generally */
.bsk-tb-navbar-lg {
  min-height: 100px;
}

.bsk-tb-navbar-brand-image-32 {
  padding-top: 9px;
}
.bsk-tb-navbar-brand-image-48,
.bsk-tb-navbar-brand-image-96 {
  padding-top: 1px !important;
}
.bsk-tb-navbar-brand-image-48-lg {
  padding-top: 25px !important;
}
.bsk-tb-navbar-brand-image-64 {
  padding-top: 17px !important;
}
.bsk-tb-navbar-brand-image-48 img,
.bsk-tb-navbar-brand-image-48-lg img {
  max-width: 48px;
}
.bsk-tb-navbar-brand-image-64 img {
  max-width: 64px;
}
.bsk-tb-navbar-brand-image-96 img {
  max-width: 96px;
}
.bsk-tb-navbar-brand-image-128 img {
  max-width: 128px;
}
