/* BAS Style Kit - Testbed Sample Styles */

// These are additional styles needed for testbed samples,
// built using variables and styles from the main Style Kit styles.

// Style Kit imports
//

// Bootstrap variables
@import "../../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/variables";

// BAS Style Kit variables to override Bootstrap
// Note: This file **MUST** be loaded after Bootstrap's variables, and before other all other styles
@import "../../../../assets/stylesheets/bas-style-kit/variables";

// Testbed variables to override the Style Kit
// Note: This file **MUST** be loaded after the Style Kit's variables, and before other all other styles
@import "testbed/_variables";


// Core CSS
@import "testbed/scaffolding";
@import "testbed/grid";
@import "testbed/layout";
@import "testbed/colours";
@import "testbed/logos";
@import "testbed/forms";
@import "testbed/type";

// Components
@import "testbed/dropdowns";
@import "testbed/labels";
@import "testbed/jumbotron";
@import "testbed/navbar";
@import "testbed/footer";
@import "testbed/popovers";

// Interactive components
@import "testbed/modals.scss";

// Design

html {
  // Overrides Style Kit default
  background-color: $bsk-colour-gen-white;
}

// Structure

.sample-section {
  margin-top: 60px;

  border-top: 4px dotted $bsk-colour-std-grey-lighter;

  > header {
    font-size: 24px;
    color: $bsk-colour-std-grey-light;

    margin-top: 10px;
    margin-bottom: 20px;
  }

  .sample-section-header {
    font-size: 24px;
    color: $bsk-colour-std-grey-light;

    margin-top: 10px;
    margin-bottom: 20px;
  }

  &:first-of-type {
    margin-top: 0;
    border-top: none;
  }
}
